<h2 id="#id($path)">$!webwork.htmlEncode($id)</h2>

<p></p>

#macro(actionHeader $id $action $img $onclick)
    <th><img alt="$action" src="$base/images/${img}.gif"/> <a href="#" onclick="#html($onclick); return false" id="$id">$action</a></th>
    <td style="width: 25px"><a href="#" class="unadorned" onclick="showFieldHelp('$id'); return false"><img alt="show help" src="$base/images/help.gif"/></a></td>
#end

<table id="template-actions" class="template-actions" cellspacing="5px">
    <tr>
        #actionHeader("configure" "configure" "pencil" "configureRecord('#jss($path)')")
        <td>jump to the configuration for this #i18n("key=label") #if(!$concrete) template #end</td>
    </tr>
#if(!$rootTemplate)
#auth("path=$path" "action=create")
    <tr>
        #actionHeader("clone" "clone" "page_copy" "actionPath('#jss(${path})', 'clone', false, false)")
        <td>clone this #i18n("key=label") and optionally its descendants</td>
    </tr>
    <tr>
        #actionHeader("smartclone" "smart clone" "smart-clone" "actionPath('#jss(${path})', 'smartclone', false, false)")
        <td>smart clone this #i18n("key=label") by extracting a template parent and optionally clone its descendants</td>
    </tr>
#end
#end
#if(!$concrete)
#auth("path=$path" "action=create")
    <tr>
        #actionHeader("add.new" "add new" "add" "addToPath('#jss($path)', false)")
        <td>add a new #i18n("key=label") as a child of this template</td>
    </tr>
    <tr>
        #actionHeader("add.template" "add new template" "add" "addToPath('#jss($path)', true)")
        <td>add a new #i18n("key=label") template as a child of this template</td>
    </tr>
#end
#end
#if(!$permanent && $node.children.size() == 0)
#auth("path=$path" "action=delete")
    <tr>
        #actionHeader("delete" "delete" "delete" "deletePath('#jss($path)')")
        <td>delete this #i18n("key=label") #if(!$concrete) template #end</td>
    </tr>
#end
#end
</table>

<script type="text/javascript">
    detailPanel.setHelp('#jss(${path})', 'template');
</script>
