<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="initContext" class="com.cinnamonbob.bootstrap.SpringContextInitialisation">
        <property name="initBeans">
            <list>
                <ref bean="threadPool"/>
            </list>
        </property>
    </bean>

    <bean id="databaseBootstrap" class="com.cinnamonbob.bootstrap.DatabaseBootstrap" init-method="initialiseDatabase">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>

    <bean id="threadPool" class="com.cinnamonbob.slave.SlaveThreadPool" autowire="byName"/>

    <bean id="slaveRecipeProcessor" class="com.cinnamonbob.slave.SlaveRecipeProcessor" autowire="byName"/>

    <bean id="recipeProcessor" class="com.cinnamonbob.core.RecipeProcessor" autowire="byName" init-method="init"/>

    <bean id="eventManager" class="com.cinnamonbob.events.DefaultEventManager" autowire="byName"/>

    <bean id="fileResourceRepository" class="com.cinnamonbob.core.FileResourceRepository" autowire="byName"
          init-method="initialise"/>

    <bean id="resourceRepository" class="com.cinnamonbob.model.DatabaseResourceRepository" autowire="byName">
        <property name="parent">
            <ref bean="fileResourceRepository"/>
        </property>
    </bean>

    <bean id="userConfigRoot" class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
        <property name="targetBeanName">
            <value>configurationManager</value>
        </property>
        <property name="propertyPath">
            <value>userPaths.userConfigRoot</value>
        </property>
    </bean>

    <bean id="customSerialiserFactory" class="com.cinnamonbob.hessian.CustomSerialiserFactory"/>

    <bean id="hessianProxyFactory" class="com.cinnamonbob.hessian.CustomHessianProxyFactory" autowire="byName"/>

    <bean id="masterProxyFactory" class="com.cinnamonbob.slave.MasterProxyFactory" autowire="byName"/>

</beans>
