<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="com.zutubi.pulse.core.scms">
        <scm name="p4" config-class="com.zutubi.pulse.scm.p4.config.PerforceConfiguration" factory-class="com.zutubi.pulse.scm.p4.PerforceClientFactory"/>
    </extension>
</plugin>
