#helpTag("Email+Configuration")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=smtp.config")</title>

    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript">
        #ajaxError("test-results")

        function testSettings()
        {
            #testInProgress("test-results")

            var host = escape($F("editSmtp!save_smtp_host"));
            var from = escape($F("editSmtp!save_smtp_from"));
            var username = escape($F("editSmtp!save_smtp_username"));
            var password = escape($F("editSmtp!save_smtp_password"));
            var prefix = escape($F("editSmtp!save_smtp_prefix"));
            var to = escape($F("test.address"));

            var params = "host=" + host + "&from=" + from + "&username=" + username + "&password=" + password + "&prefix=" + prefix + "&to=" + to;

            var updater = new Ajax.Updater({success: 'test-results'},
                                           "/ajax/testSmtp.action",
                                           {
                                               method: 'get',
                                               parameters: params,
                                               onFailure: reportError
                                           });

        }
    </script>
</head>
<body>
    #adminTabs("settings")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editSmtp!save.action" "heading=%{getText('smtp.config')}" "method=post")

    #wwtextfield("name=smtp.host" "label=%{getText('smtp.host')}" "required=true" "tabindex=1")
    #inlineHelp("smtp.host.help")
    #wwtextfield("name=smtp.from" "label=%{getText('smtp.from')}" "required=true" "tabindex=2")
    #inlineHelp("smtp.from.help")
    #wwtextfield("name=smtp.username" "label=%{getText('smtp.username')}" "tabindex=3")
    #inlineHelp("smtp.username.help")
    #wwpassword("name=smtp.password" "label=%{getText('smtp.password')}" "showPassword=true" "tabindex=4")
    #inlineHelp("smtp.password.help")
    #wwtextfield("name=smtp.prefix" "label=%{getText('smtp.prefix')}" "tabindex=5")
    #inlineHelp("smtp.prefix.help")

    #saveCancel(6)
#end

    <table class="content">
        #headingRow("settings.test" 2)
        <tr>
            <th class="label">
                <label for="test.address" class="label">test address <span class="required">*</span></label>:
            </th>
            <td class="field">
                <input type="text" name="test address" id="test.address"/>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td style="padding: 6px;">
                <p>
                    <a href="#" onclick="testSettings(); return false;">#wwtext("name=smtp.settings.test")</a>
                </p>
                <div id="test-results">
                </div>
            </td>
        </tr>
    </table>

    #tabEnd()
</body>
</html>
