#helpTag("Commit+Message+Links")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=edit.commit.message.transformer")</title>
</head>
<body>
    #adminTabs("settings")

        #form("object=state")

    #tabEnd()
</body>
</html>
