#helpTag("Resource+Repository")
#authorisationTags($principle)
#agentTags($slave)
<html>
<head>
    <title>#wwtext("name=version.edit")</title>
</head>
<body>
    #agentTabs("resources")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editResourceVersion.action" "heading=%{getText('version.edit')}" "method=post")
    #wwhidden("name=resourceId")
    #wwhidden("name=versionId")

    #wwtextfield("name=newValue" "label=%{getText('version.value')}" "required=true"  "tabindex=1")

    #saveCancel(2)
#end

    #tabEnd()
</body>
</html>
