#helpTag("Users")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=user.edit")</title>
</head>
<body>
    #adminTabs("users")

    #parse("/template/includes/actionerrors.vm")

<table class="columns" width="90%">
    <tr>
        <td class="columns" width="40%">
            <table class="fill-content">
                #wwcform("action=editUser.action" "heading=%{getText('user.edit')}" "id=user.edit" "method=post")
                    #wwhidden("name=userId")
                    #wwhidden("name=startPage")
                    #wwtextfield("name=newLogin" "label=%{getText('user.login')}" "tabindex=1" "required=true")
                    #wwtextfield("name=newName" "label=%{getText('user.name')}" "tabindex=2" "required=true")
#if($action.isAdminUser($user))
                    #saveCancel(3)
#else
                    #wwcheckbox("name=ldapAuthentication" "label=%{getText('user.ldap.authentication')}" "tabindex=3" "onclick=setFormEnableState('password.edit', 'user.edit_ldapAuthentication', true, true)")
                    #saveCancel(4)
#end
                #end
            </table>
            <table class="fill-content">
                #wwcform("action=editPassword.action" "id=password.edit" "heading=%{getText('password.edit')}" "method=post")
                    #wwhidden("name=userId")
                    #wwhidden("name=startPage")
                    #wwpassword("name=password" "label=%{getText('password.new')}" "required=true" "tabindex=3")
                    #wwpassword("name=confirm" "label=%{getText('password.confirm')}" "required=true" "tabindex=4")
                    #saveCancel(5)
                #end
            </table>
        </td>
        <td class="columns" width="40%">
            <table class="fill-content">
                &nbsp;
            </table>
        </td>
    </tr>
</table>

#if(!$action.isAdminUser($user))
    <script type="text/javascript">
        setFormEnableState('password.edit', 'user.edit_ldapAuthentication', true, true);
    </script>
#end

    #tabEnd()
</body>
</html>
