<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>file browser</title>

    <link rel="stylesheet" type="text/css" href="/popups/tree/tree.css"/>
    <script type="text/javascript" src="/prototype.js"></script>
    <script type="text/javascript" src="tree/tree.js"></script>
    <script type="text/javascript">
        <!--
                // define the init properties that control the tree.
                //TODO: This works, but there must be a better way to handle the initialisation process.
                window.myTree = new Object();
                window.myTree.url = "http://localhost:8080/ajax/list.action";
                window.myTree.type = "flat";
                window.myTree.anchor = "browse";

                window.onload = init;

                function copySelectedToParentForm()
                {
                    // - we need to be able to query the state of the tree.
                    // -> a) get path
                    // -> b) get selected
                    var displayPath = window.myTree.displayPath;
                    var selectedValue = window.myTree.selectedValue;

                    var formFieldObject = opener.document.forms['$formname'].elements['$fieldname'];
                    formFieldObject.value = displayPath + '\\' + selectedValue;
                    window.close();
                }
        // -->
    </script>

    <style type="text/css">
        .viewport{
            border-width:1px;
            border-color:blue;
            border-style:solid;
            overflow:auto;
        }
    </style>

</head>

<body>

    <p id="pathElement">
        Path:&nbsp;<span id="path"></span>
    </p>

    <!--
    is it possible to tie the viewport size to the size
    of the popup window? preferably it would take up the room not used
    by the toolbar top and form at the base of the page.
    -->
    <div class="viewport" id="view" style="width:30em; height:20em;">
        <div id="browse" class="tree">
        </div>
    </div>

    <p></p>

    <div id="selectForm">
        <form name="form" action="" onsubmit="window.close();">
            <table>
                <tr>
                    <td nowrap>Selected:</td>
                    <td><input id="selected" type="text" size="40"/></td>
                    <td><input type="submit" value="select" onclick="copySelectedToParentForm();"/></td>
                    <td><input type="submit" value="cancel"/></td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>
