<html>
<head>
    <title>New folder</title>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript" src="$base/js/main.js"></script>
    <script type="text/javascript">
        <!--
            function addNewFolder()
            {
                var folderName = document.forms['newfolder'].elements['newfolder'].value;
                if (folderName)
                {
                    opener.triggerMkdir(folderName);
                }
            }

/*
            window.onunload = function()
            {
                alert('action %s' + action);
                if (action == 'submit')
                {
                    addNewFolder();
                }
            };
*/
        //-->
    </script>
</head>
<body>
<p>Please enter the name of the new folder:</p>
<table>
    <form id="newfolder" action="" onSubmit="window.close();">
    <tr>
        <td>
            <input type="text" name="newfolder" value="New folder" size="40"/>
        </td>
    </tr>
    <tr>
        <td align="right">
            <input type="submit" value="okay" onclick="addNewFolder(); return true;"/>
            <input type="submit" value="cancel"/>
        </td>
    </tr>
    </form>
</table>
</body>
</html>