<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>file browser</title>
    <link rel="stylesheet" type="text/css" href="/popups/tree/tree.css"/>
    <script type="text/javascript" src="/prototype.js"></script>
    <script type="text/javascript" src="tree/tree.js"></script>
    <script type="text/javascript">
        <!--
        window.onload = init;
        // -->
    </script>

    <style type="text/css">
        .viewport{
            border-width:1px;
            border-color:blue;
            border-style:solid;
            overflow:auto;
        }
    </style>
</head>

<body>


    <p id="pathElement">
        Path:<span id="path"></span>
    </p>

    <!--
    is it possible to tie the viewport size to the size
    of the window? preferably it would take up the room not used
    by the toolbar top and form at the base of the page.
    -->
    <div class="viewport" id="view" style="width:480px; height:150px;">
        <div id="browse" class="tree">
        </div>
    </div>

    <p></p>

    <div id="selectForm">
        <form action="" onsubmit="window.close();">
            <table>
                <tr>
                    <td nowrap>Selected:</td>
                    <td><input id="selected" type="text" size="45"/></td>
                    <td><input type="submit" value="select"/></td>
                    <td><input type="submit" value="cancel"/></td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>
