.tree ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-repeat: no-repeat;
    background-position: 0 .2em;
    padding-left: 1.6em;
}

.selected {
    color:white;
    background-color:blue;
    border-width:1px;
    border-color:#000;
    border-style:solid;
}

span.node {
    background-repeat: no-repeat;
    background-position: 0 .2em;
    padding-left: 1.6em;
}

span.folder {
    background-image: url(../../images/tree/foldericon.png);
}

span.openfolder {
    background-image: url(../../images/tree/openfoldericon.png);
}

span.file {
    background-image: url(../../images/tree/file.png);
}

li.opened {
    background-image: url(../../images/tree/opened.PNG);
}

li.closed {
    background-image: url(../../images/tree/closed.png);
}

li.empty {
    background-image: url(../../images/tree/empty.png);
}
