.tree ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-repeat: no-repeat;
    background-position: 0 .2em;
    padding-left: 1.6em;
}

.selected {
    background-color:#eee;
}

li.file {
    background-image: url(../../images/tree/page_white.png);
}

li.folder, li.root {
    background-image: url(../../images/tree/foldericon.png);
}

li.openfolder {
    background-image: url(../../images/tree/openfoldericon.png);
}

/* sample node type rendering */

li.txt {
    background-image: url(../../images/tree/page_white.png);
}

