<html>
<head>
    <link rel="stylesheet" type="text/css" href="$base/css/setup.css?#version()"/>
</head>
<body>

<div id="leftcolumn">

    <h1 id="upgrade.complete">Upgrade#if ($monitor.isSuccessful()) Complete #else Failed #end</h1>

    <p>
        The upgrade has been#if ($monitor.isSuccessful()) successful.#else unsuccessful#end
    </p>

    #taskProgressUI($monitor)

    <p>
    #if ($monitor.isSuccessful())
        The upgrade has completed. <a id="continue" href="continue.action">continue</a>.
    #else
        The upgrade has failed. Please report this failure to <a href="mailto:support@zutubi.com">zutubi support</a>,
        including a screenshot of this page and your server log files.
    #end
    </p>
</div>

</body>
</html>