<html>
<head>
    <script type="text/javascript">
        Ext.onReady(function() {
            var button = new Ext.Button({
                id: 'continue',
                text: 'continue',
                renderTo: 'continue-anchor',
                listeners: {
                    click: function() {
                        document.location = 'execute.action';
                    }
                }
            });
            button.render();
        });
    </script>
</head>
<body>
<h1 id="upgrade.preview">Upgrade Preview</h1>
<p>
    The data directory being used by this installation of pulse contains an existing data directory from an older installation.
    <table class="columns" width="40%">
        <tr>
            <td class="columns" width="45%">
                <table id="upgrade.target.details" class="fill-content">
                    <th colspan="2">Existing installation</th>
                    #dynamicRow("install.builddate" $targetVersion.buildDate)
                    #dynamicRow("install.buildnumber" $targetVersion.buildNumber)
                    #dynamicRow("install.versionnumber" $targetVersion.versionNumber)
                </table>
            </td>
            <td class="columns" width="45%">
                <table id="upgrade.new.details" class="fill-content">
                    <th colspan="2">New installation</th>
                    #dynamicRow("install.builddate" $newVersion.buildDate)
                    #dynamicRow("install.buildnumber" $newVersion.buildNumber)
                    #dynamicRow("install.versionnumber" $newVersion.versionNumber)
                </table>
            </td>
        </tr>
    </table>
</p>

#if($upgradeGroupPreview.size() > 0)
<p>
    Before pulse can use this data directory, it will need to run the following upgrade tasks.
    #foreach($upgradePreview in $upgradeGroupPreview)
    <table class="columns" width="40%">
        <tr>
            <td class="columns" width="90%">
                <table id="upgrade.task.details" class="fill-content">
                    #foreach($upgradeTask in $upgradePreview.tasks)
                    #dynamicRow($upgradeTask.name $upgradeTask.description)
                    #end
                </table>
            </td>
        </tr>
    </table>
    #end
</p>
#end

<div style="width: 50%">
    <p>
        Please be aware that pulse cannot continue without running these upgrade tasks.  If you do not wish to continue with
        this upgrade, shutdown this installation of pulse.  Otherwise, please click continue to run the upgrade.
    </p>

    <div style="text-align: center; margin-top: 20px">
        <div id="continue-anchor" style="margin: 0 auto; width: 100px">
        </div>
    </div>
</div>

</body>
</html>