<div id="config-help">
    <h1 id="help-title">#i18n("key=wizard.step.select.label")</h1>
    <div class="type-details">
        #i18n("key=wizard.step.select.description")
    </div>
#if($selections.size() > 0)
    <table class="help-fields">
        <tr><th>fields</th></tr>
    #foreach($docs in $selections)
        <tr id="field-row-$docs.name" class="field-row #if($action.isExpandable($docs)) field-expandable #end ">
            <td>
                <div id="field-title-$docs.name" class="field-header">
                    <strong>$docs.label</strong>
                </div>
                <div class="field-details">
                    <div class="field-brief">
                        $action.safeDetails($docs.brief)
                    </div>
            #if($action.isExpandable($docs))
                    <div class="field-rest">
                #if($docs.verbose)
                        <div class="field-verbose">
                            $docs.verbose
                        </div>
                #end
                    </div>
            #end
                </div>
            </td>
        </tr>
    #end
    </table>
#end
</div>
