<html>
<head></head>

<body>
<h1 id="restore.preview">Restore Preview</h1>

<p>
    blurb about restore, including details of the data to be restored.
    <table border="1">
        <tr>
            <td>Date</td>
            <td>$info.created</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>$info.version</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>$info.original.name</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>$info.original.parentFile.absolutePath</td>
        </tr>
    </table>
</p>

<p style="width:50%">
    Please be aware that this restore will overwrite all of your existing configuration and settings.
</p>
<p style="width:50%">
    Warning: a restore will drop all of the tables in your specified pulse database.  If you have any custom
    tables in the same database as Pulse, please ensure that you back them up before continuing with this restore.
</p>

<table class="form">
    <tr width="2">
        <form id="execute" name="execute" action="$base/restore/execute.action" method="post">
            <td class="submit" colspan="1"><input type="submit" name="continue" value="continue" class="submit"tabindex="1"/></td>
        </form>

        <form id="abort" name="abort" action="$base/restore/abort.action" method="post">
            <td class="submit" colspan="1"><input type="submit" name="abort" value="cancel" class="submit" tabindex="2"/>
            </td>
        </form>
    </tr>
</table>

</body>
</html>