<html>
<head></head>

<body>
<h1 id="restore.preview">Restore Preview</h1>

<p>
    blurb about restore, including details of the data to be restored.
    <ul>
        <li>Date: $info.date</li>
        <li>Version: $info.version</li>
        <li>File: $info.source</li>
    </ul>
</p>

<p style="width:50%">
    Please be aware that this restore will overwrite all of your existing configuration and settings.
</p>


<table class="form">
    <tr width="2">
        <form id="execute" name="execute" action="$base/restore/execute.action" method="post">
            <td class="submit" colspan="1"><input type="submit" name="continue" value="continue" class="submit"tabindex="1"/></td>
        </form>

        <form id="abort" name="abort" action="$base/restore/abort.action" method="post">
            <td class="submit" colspan="1"><input type="submit" name="abort" value="cancel" class="submit" tabindex="2"/>
            </td>
        </form>
    </tr>
</table>

</body>
</html>