<html>
<head>
    <meta http-equiv="refresh" content='5;url=#wwurl("includeParams=all")'/>
</head>

<body>

<h1 id="restore.progress">Restore Progress</h1>

<p>
    Overall progress:
    <ul>
        <li>Percentage complete: $monitor.percentageComplete</li>        
        <li>Elapsed time: $monitor.elapsedTimePretty</li>        
    </ul>
</p>

#set($overallPercentageComplete = $monitor.percentageComplete)
#set($overallPercentageRemaining = 100 - $overallPercentageComplete)

<p>
    <table width=500>
        <tr width="40%">
            <td width="$overallPercentageComplete%" class="okaybar">&nbsp;</td><td width="$overallPercentageRemaining%" class="clearbar">&nbsp;</td>
        </tr>
    </table>
</p>

<p>
    &nbsp;
</p>
#set($currentTask = $monitor.currentTask)
#set($currentFeedback = $monitor.currentTaskProgress)
<p>
    <ul>
        <li>Current task: $currentTask.name</li>
        <li>Percentage complete: $currentFeedback.percentageCompletePretty</li>
        <li>Elapsed time: $currentFeedback.elapsedTimePretty</li>
        <li>Estimated time: $currentFeedback.estimatedTimePretty</li>
        <li>Status message: $currentFeedback.statusMessage</li>
    </ul>
</p>

<p>
    Task overview:
    <table width=500>
        #foreach($task in $tasks)
            #set($feedback = $monitor.getProgress($task))
        <tr width="40%">
            <td>$task.name</td>
            #if ($feedback.getPercentageComplete() <= 0)
                <td width="100%" colspan=2 class="clearbar">&nbsp;</td>
            #elseif ($feedback.getPercentageComplete() == 100)
                <td width="100%" colspan=2 class="okaybar">&nbsp;</td>
            #else
                <td width="$feedback.getPercentageComplete()%" class="okaybar">&nbsp;</td>
                <td width="$feedback.getPercentageRemaining()%" class="clearbar">&nbsp;</td>
            #end
        </tr>
        #end
    </table>

</p>

</body>
</html>