    #if ($config.configurationCheckAvailable)
    <div class="frame">
        <h3 class="header">#i18n("key=test.heading")</h3>
        <p class="description">
            #i18n("key=test.description")
        </p>
        <p>
            #checkform("path=$config.path" "mainFormName=mainform" "checkFormName=checkform")
        </p>

    <script type="text/javascript">
        checkform.on('actioncomplete', function(form, action)
        {
            if(action.result.success)
            {
                Ext.get('check.result').update(action.result.panel, true);
            }
            else
            {
                console.dir(action.result);
                alert('badness');
            }
        });
    </script>
    </div>
    #end
