#if ($config.configurationCheckAvailable)
<div class="frame">
    #i18nexists("key=test.heading")<h3 class="header">#i18n("key=test.heading")</h3>#end
    #i18nexists("key=test.description")<p class="description">#i18n("key=test.description")</p>#end
    <div class="form-container">
        #checkform("path=$config.path" "mainFormName=mainform" "checkFormName=checkform")
    </div>
    <script type="text/javascript">
        checkform.on('actioncomplete', function(form, action)
        {
            if(action.result.success)
            {
                Ext.get('check.result').update(action.result.panel, true);
            }
            else
            {
                console.dir(action.result);
                alert('badness');
            }
        });
    </script>
</div>
#end
