<div class="config-panel">
    <h3 class="config-header">clone #i18n("key=label")</h3>
    <div class="config-container">
        $formSource
    </div>
    <script type="text/javascript">
        form.on('actioncomplete', function(form, action)
        {
            handleConfigurationResponse(action.result);
        });
    </script>
</div>
