#set($config = $action.configuration)

#macro(renderform)
    <div class="config-panel">
        <h3 class="config-header">${config.formHeading}</h3>
        ##<!-- add some space around the form so that it does not sit directly on the border. -->
        <div class="config-form-container">
            #pform("path=$config.path" "formName=mainform" "displayMode=$config.displayMode" "ajax=true" "namespace=aconfig")
        </div>
        <script type="text/javascript">
            mainform.on('actioncomplete', function(form, action)
            {
                handleConfigurationResponse(action.result);
            });
        </script>
        #parse("/aconfig/check.vm")
    </div>
#end

#macro(renderstate)
    <div class="config-panel">
        #i18nexists("key=state.heading")<h3 class="config-header">#i18n("key=state.heading")</h3>#end
        <table class="config-state-table">
            #i18nexists("key=state.table.heading")<th colspan="2">#i18n("key=state.table.heading")</th>#end
            #set($odd = true)
            #foreach($field in $config.displayFields)
            <tr>
                <td class="label" width="20%">#i18n("key=${field}.label")</td>
                <td class="value #if($odd) odd #else even #end">$config.format($field)</td>
            </tr>
                #if($odd) #set($odd = false) #else #set($odd = true) #end
            #end
        </table>
    </div>
#end

<h2>$!webwork.htmlEncode($config.displayName)</h2>
<p class="introduction">
    #i18n("key=introduction")
</p>
<table>
    <tr>
#if($config.record || $config.extensions.size() == 0)
        <td id="left-column">
            #if ($config.displayFields.size() > 0)
                #renderstate()
            #end
            #if( $config.simpleProperties.size() > 0)
                #renderform()
            #end
        </td>
        
        <td id="right-column">
            #if ($config.actions.size() > 0)
            <div style="padding-bottom:15px;">
            <h3>actions</h3>
            <p>
            <ul>
                #foreach($action in $config.actions)
                    <li>+ <a href="#" onclick="actionPath('${config.path}?${action}'); return false;">#i18n("key=${action}.label")</a></li>
                #end
            </ul>
            </p>
            </div>
            #end

            #if( $config.nestedProperties.size() > 0)
            <div>
            <h3>links</h3>
            <p>
            <ul>
                #foreach($prop in $config.nestedProperties)
                    <li>+ <a href="#" onclick="selectPath('${config.path}/${prop}'); return false;">#displayname("path=${config.path}/${prop}")</a></li>
                #end
            </ul>
            </p>
            </div>
            #end
        </td>
#else
    ## We don't know what type we are dealing with, it needs to be configured
    ## by a wizard.
    <table class="template-actions" cellspacing="5px">
        <tr>
            <th><a href="#" class="unadorned" onclick="addToPath('${config.path}'); return false"><img alt="configure" src="$base/images/pencil.gif"/></a> <a href="#" onclick="addToPath('${config.path}'); return false">configure</a></th>
            <td>configure a #i18n("key=label") using the wizard</td>
        </tr>
    </table>
#end

    </tr>
</table>