#set($config = $action.configuration)
<h2>#i18n("key=label")</h2>
<div style="color:gray">
    #i18n("key=introduction")
</div>

#if ($config.displayFields.size() > 0)
<p>&nbsp;</p>
<h2>state</h2>
<p>
<table>
    #foreach($field in $config.displayFields)
    <tr>
        <td><b>#i18n("key=${field}.label")</b></td>
        <td>$config.format($field)</td>
    </tr>
    #end
</table>
</p>
#end

#if( $config.record )
    #if( $config.simpleProperties.size() > 0)
        <!-- this configuration definition contains fields to be configured. -->
        <p>
            #pform("path=$config.path" "formName=mainform" "displayMode=true" "ajax=true")
        </p>

        <script type="text/javascript">
            mainform.on('actioncomplete', function(form, action)
            {
                handleConfigurationResponse(action.result);
            });
        </script>

        #parse("/aconfig/check.vm")
    #end
#else
    #if( $config.extensions.size() > 0)
        <p>To create the #i18n("key=label") please use the <a href="#" onclick="addToPath('${config.path}'); return false">wizard</a>.</p>
    #else
        <!-- this configuration definition contains fields to be configured. -->
        <p>
            #pform("path=$config.path" "formName=mainform" "displayMode=true" "ajax=true")
        </p>

        <script type="text/javascript">
            mainform.on('actioncomplete', function(form, action)
            {
                handleConfigurationResponse(action.result);
            });
        </script>

        #parse("/aconfig/check.vm")
    #end
#end

#if( $config.simpleProperties.size() > 0)
        
#end

#if( $config.nestedProperties.size() > 0)
<p>&nbsp;</p>
<h4>Nested configurations</h4>
<p>&nbsp;&nbsp;the following nested configurations are also available:</p>
<ul>
    #foreach($prop in $config.nestedProperties)
        <li>+ #i18n("property=$prop" "key=label") <a href="#" onclick="selectPath('${config.path}/${prop}'); return false;">(+)</a>  </li>
    #end
</ul>
#end
