<p>
    #pwizard("path=$action.path" "ajax=true" "namespace=aconfig")
</p>
<script type="text/javascript">
    wizardForm.on('actioncomplete', function(form, action)
    {
        handleConfigurationResponse(action.result);
    });
</script>
