<div class="config-panel">
    #pwizard("path=$action.path" "ajax=true" "namespace=aconfig")
#if($state.hasConfigurationCheck())
    #checkForm($action.path $state.type "wizardForm" "aconfig")
#end
</div>
#standardFormEvents("wizardForm")
<script type="text/javascript">
    detailPanel.setHelp('#jss(${path})', 'wizard');
</script>
