<h2>#i18n("key=label")</h2>
<div style="color:gray">
    #i18n("key=introduction")
</div>
<p>
    #pwizard("path=$action.path" "ajax=true")
</p>
<script type="text/javascript">
    wizardForm.on('actioncomplete', function(form, action)
    {
        handleConfigurationResponse(action.result);
    });
</script>
