*.iml
*.DS_Store
/local.properties
/plugins
/classes
/build/
*/build/
*/*/build/
/com.zutubi.pulse.master/etc/osgi/org.eclipse.*
/data/
/working/
/velocity.log
pulse.ipr
pulse.iws
com.zutubi.pulse.master/etc/admin.token
com.zutubi.pulse.master/etc/runtime.properties
com.zutubi.pulse.slave/etc/admin.token
com.zutubi.pulse.slave/etc/runtime.properties
com.zutubi.pulse.master/system/
