<html>
<head>

</head>

<body>

<h1>Upgrade Complete</h1>

<p>
    The upgrade has been#if ($monitor.isSuccessful()) successful.#else unsuccessful#end
</p>

<p>
    <table width=500>
        <tr width="40%">
            #if ($monitor.isSuccessful())
                #set($styleClass = "okaybar")
            #elseif($monitor.isError())
                #set($styleClass = "errorbar")
            #else
                #set($styleClass = "clearbar")
            #end
            <td width="100%" class="$styleClass">&nbsp;</td>
        </tr>
    </table>
</p>

<p>
    The following upgrade tasks were executed with there status indicated.
    <table class="columns" width="40%">
        <tr>
            <td class="columns" width="90%">
                <table id="upgrade.task.details" class="fill-content">
                    #foreach($task in $monitor.taskProgress)
                    #dynamicRow($task.name $task.status)
                    #end
                </table>
            </td>
        </tr>
    </table>
</p>

<p>
    Total time: $monitor.getElaspedTime()
</p>

The upgrade has completed. <a href="continue.action">continue</a> or <a href="preview.action">restart</a>.

</body>
</html>