<html>
<head></head>

<body>
<h1>Upgrade Preview</h1>

<p>
    The data directory you have selected contains an existing installation that differs from the version of the
    new installation.
    <table class="columns" width="40%">
        <tr>
            <td class="columns" width="45%">
                <table id="upgrade.target.details" class="fill-content">
                    <th colspan="2">Existing installation</th>
                    #dynamicRow("install.builddate" $targetVersion.buildDate)
                    #dynamicRow("install.buildnumber" $targetVersion.buildNumber)
                    #dynamicRow("install.versionnumber" $targetVersion.versionNumber)
##                    #dynamicRow("install.lastused" "")
                </table>
            </td>
            <td class="columns" width="45%">
                <table id="upgrade.new.details" class="fill-content">
                    <th colspan="2">New installation</th>
                    #dynamicRow("install.builddate" $newVersion.buildDate)
                    #dynamicRow("install.buildnumber" $newVersion.buildNumber)
                    #dynamicRow("install.versionnumber" $newVersion.versionNumber)
                </table>
            </td>
        </tr>
    </table>
</p>

#if($upgradePreview.size() > 0)
<p>
    To use this directory we will need to execute the following upgrade tasks.
    <table class="columns" width="40%">
        <tr>
            <td class="columns" width="90%">
                <table id="upgrade.task.details" class="fill-content">
                    #foreach($upgradeTask in $upgradePreview)
                    #dynamicRow($upgradeTask.name $upgradeTask.description)
                    #end
                </table>
            </td>
        </tr>
    </table>
</p>
#end
<p>
    Do you wish to continue?
</p>
#wwform("action=execute.action" "method=post")
#continueCancel(1)
#end



</body>
</html>