<html>
<head></head>

<body>
<h1 id="upgrade.preview">Upgrade Preview</h1>

<p>
    The data directory being used by this installation of pulse contains an existing data directory from an older installation.
    <table class="columns" width="40%">
        <tr>
            <td class="columns" width="45%">
                <table id="upgrade.target.details" class="fill-content">
                    <th colspan="2">Existing installation</th>
                    #dynamicRow("install.builddate" $targetVersion.buildDate)
                    #dynamicRow("install.buildnumber" $targetVersion.buildNumber)
                    #dynamicRow("install.versionnumber" $targetVersion.versionNumber)
                </table>
            </td>
            <td class="columns" width="45%">
                <table id="upgrade.new.details" class="fill-content">
                    <th colspan="2">New installation</th>
                    #dynamicRow("install.builddate" $newVersion.buildDate)
                    #dynamicRow("install.buildnumber" $newVersion.buildNumber)
                    #dynamicRow("install.versionnumber" $newVersion.versionNumber)
                </table>
            </td>
        </tr>
    </table>
</p>

#if($upgradeGroupPreview.size() > 0)
<p>
    Before pulse can use this data directory, it will need to run the following upgrade tasks.
    #foreach($upgradePreview in $upgradeGroupPreview)
    <table class="columns" width="40%">
        <tr>
            <td class="columns" width="90%">
                <table id="upgrade.task.details" class="fill-content">
                    #foreach($upgradeTask in $upgradePreview.tasks)
                    #dynamicRow($upgradeTask.name $upgradeTask.description)
                    #end
                </table>
            </td>
        </tr>
    </table>
    #end
</p>
#end
<p style="width:50%">
    Please be aware that pulse can not continue without running these upgrade tasks.  If you do not wish to continue with
    this upgrade, shutdown this installation of pulse.  Otherwise, please click continue to run the upgrade.
</p>
#wwform("action=execute" "method=post")
#continue(1)
#end
<!--
<p style="width:50%; color: red; font-size: 125%">
   This is an experimental release of Pulse 2.0 that <strong>does not</strong> support
   an upgrade path.  Please modify your config.properties file to use a fresh
   data path.  <strong>DO NOT</strong> attempt to use this version of Pulse with
   production data.
</p>
-->
</body>
</html>