<html>
<head>
    <title>$!webwork.htmlEncode($path)</title>
    <link href="$base/main2.css" rel="stylesheet" type="text/css" media="screen"/>
    <script type="text/javascript" src="/prototype.js"></script>
    <script type="text/javascript">
        function selectFile(value)
        {
            var prefix = "${prefix}/";
            var prefixLength = prefix.length;
            if(value.length > prefixLength && value.substring(0, prefixLength) == prefix)
            {
                value = value.substring(prefixLength);
            }

            var field = opener.document.getElementById("$elementId");
		    field.value = value;
		    window.close();
        }
    </script>
</head>
<body>
    <div class="content">
#if($selectDir)
    <h1>:: #wwtext("name=select.dir") ::</h1>
    #set($dirAction = "selectFile")
    #set($fileAction = false)
#else
    <h1>:: #wwtext("name=select.file") ::</h1>
    #set($fileAction = "selectFile")
    #set($dirAction = false)
#end

    #set($url = "browseScm.action?selectDir=$selectDir&amp;elementId=$elementId&amp;")
#if($prefix)
    #set($url = "${url}prefix=$prefix&amp;")
#end
#if($id)
    #set($url = "${url}id=$id&amp;")
#end

        #showDirectoryListing("$!webwork.htmlEncode($location)" $url $dirAction $fileAction)
    </div>
</body>
</html>
