<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="com.zutubi.pulse.core.postprocessors">
        <post-processor name="visualstudio.pp" display-name="visual studio output processor"
                        default-processor="true" class="com.zutubi.pulse.core.postprocessors.visualstudio.VisualStudioPostProcessorConfiguration"/>
    </extension>
</plugin>
