#helpTag("Groups")
#authorisationTags($principle)
<html>
<head>
    <title>#wwtext("name=group.members.add")</title>
</head>
<body>
    #adminTabs("groups")

    #parse("/template/includes/actionerrors.vm")
#set($title = $action.getText('group.members.add.to', [$group.name]))
#wwcform("action=addGroupMembers.action" "heading=$title" "method=post")
    #wwhidden("name=groupId")

    #wwselect("name=members" "label=%{getText('group.new.members')}" "labelposition=top" "list=nonMembers" "multiple=true" "size=10" "tabindex=1")

    #saveCancel(2)
#end


</body>
</html>
