#helpTag("Resource+Repository")
#authorisationTags($principle)
#agentTags($slave)
<html>
<head>
    <title>#wwtext("name=add.ant.resource")</title>
    <script type="text/javascript">
    <!--
    	function openBrowseFileDialog()
    	{
    	    openResourceDialog('$base', $agentId, 'resource.add.ant', 'dir');
    	    return false;
    	}
    -->
    </script>
</head>
<body>
    #agentTabs("resources")

    <h1>:: #wwtext("name=add.ant.resource") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addResource.action" "id=resource.add.ant" "heading=%{getText('resource.add.ant')}" "method=post")
    #wwhidden("name=state")
    #wwhidden("name=submit")
    #wwtextfield("name=dir" "label=%{getText('base.dir')}" "size=40" "tabindex=1" "after= <a href='#' onclick='return openBrowseFileDialog();'>browse</a>" "onkeypress=return submitenter(this,event)")
    #previousFinishCancel(2)
#end


</body>
</html>
