<html>
<head>
    <title>#wwtext("name=smtp.setup")</title>
</head>

<body>
    <h1>:: #wwtext("name=smtp.setup") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=smtp!save.action" "heading=%{getText('smtp.setup')}" "method=post")

    #wwtextfield("name=smtp.from" "label=%{getText('smtp.from')}" "required=true" "size=60" "tabindex=1")
    #wwtextfield("name=smtp.prefix" "label=%{getText('smtp.prefix')}" "required=true" "size=60" "tabindex=2")
    #wwtextfield("name=smtp.host" "label=%{getText('smtp.host')}" "required=true" "size=60" "tabindex=3")
    #wwtextfield("name=smtp.username" "label=%{getText('smtp.username')}" "required=true" "tabindex=4")
    #wwpassword("name=smtp.password" "label=%{getText('smtp.password')}" "required=true" "tabindex=5")

    #openSubmit()
        #wwsubmit("name=save" "value=%{getText('save.name')}" "tabindex=6")
        #wwsubmit("name=cancel" "value=%{getText('cancel.name')}" "tabindex=7")
    #closeSubmit()
#end

</body>
</html>
