#helpTag("General+Configuration")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=general.config")</title>
</head>
<body>
    #adminTabs("settings")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editGeneral!save.action" "heading=%{getText('general.config')}" "method=post" "id=general.config")

    #wwtextfield("name=hostName" "label=%{getText('general.host')}" "required=true" "size=60" "tabindex=1")
    #inlineHelp("general.host.help")
    #wwtextfield("name=helpUrl" "label=%{getText('general.help.url')}" "required=true" "size=60" "tabindex=2")
    #wwcheckbox("name=rssEnabled" "label=%{getText('general.rss.enabled')}" "tabindex=3")
    #inlineHelp("general.rss.enabled.help")
    #wwcheckbox("name=anonEnabled" "label=%{getText('general.anonymous.enable')}" "tabindex=4")

    #saveCancel("5")
#end

    #tabEnd()
</body>
</html>
