#helpTag("Email+Configuration")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=smtp.config")</title>
</head>
<body>
    #adminTabs("settings")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editSmtp!save.action" "heading=%{getText('smtp.config')}" "method=post")

    #wwtextfield("name=smtp.host" "label=%{getText('smtp.host')}" "required=true" "tabindex=1")
    #inlineHelp("smtp.host.help")
    #wwtextfield("name=smtp.from" "label=%{getText('smtp.from')}" "required=true" "tabindex=2")
    #inlineHelp("smtp.from.help")
    #wwtextfield("name=smtp.username" "label=%{getText('smtp.username')}" "tabindex=3")
    #inlineHelp("smtp.username.help")
    #wwpassword("name=smtp.password" "label=%{getText('smtp.password')}" "showPassword=true" "tabindex=4")
    #inlineHelp("smtp.password.help")
    #wwtextfield("name=smtp.prefix" "label=%{getText('smtp.prefix')}" "tabindex=5")
    #inlineHelp("smtp.prefix.help")

    #openSubmit()
        #wwsubmit("name=save" "value=%{getText('save.name')}" "tabindex=6")
        #wwsubmit("name=cancel" "value=%{getText('cancel.name')}" "tabindex=7")
    #closeSubmit()
#end

    #tabEnd()
</body>
</html>
