#helpTag("Resource+Repository")
#authorisationTags($principle)
#resourceTags($resource)
<html>
<head>
    <title>#wwtext("name=version.add")</title>
</head>
<body>
    #serverTabs("resources")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=createResourceVersion.action" "heading=%{getText('version.add')}" "method=post")
    #wwhidden("name=resourceId")
    #wwtextfield("name=resourceVersion.value" "label=%{getText('version.value')}" "required=true"  "tabindex=1")

    #saveCancel(2)
#end

   #tabEnd()
</body>
</html>
