#helpTag("Users")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=user.edit")</title>
</head>
<body>
    #adminTabs("users")

    #parse("/template/includes/actionerrors.vm")

<table class="columns" width="90%">
    <tr>
        <td class="columns" width="40%">
            <table class="fill-content">
                #wwcform("action=editUser.action" "heading=%{getText('user.edit')}" "method=post")
                    #wwhidden("name=userId")
                    #wwhidden("name=startPage")
                    #wwcheckbox("name=ldapAuthentication" "label=%{getText('user.ldap.authentication')}" "tabindex=1" "onclick=setFormEnableState('password.edit', 'editUser_ldapAuthentication', true, true)")
                    #wwcheckbox("name=admin" "label=%{getText('user.admin')}" "tabindex=2")
                    #saveCancel(3)
                #end
            </table>
            <table class="fill-content">
                #wwcform("action=editPassword.action" "id=password.edit" "heading=%{getText('password.edit')}" "method=post")
                    #wwhidden("name=userId")
                    #wwhidden("name=startPage")
                    #wwpassword("name=password" "label=%{getText('password.new')}" "required=true" "tabindex=4")
                    #wwpassword("name=confirm" "label=%{getText('password.confirm')}" "required=true" "tabindex=5")
                    #saveCancel(6)
                #end
            </table>
        </td>
        <td class="columns" width="40%">
            <table class="fill-content">
                &nbsp;
            </table>
        </td>
    </tr>
</table>

    <script type="text/javascript">
        setFormEnableState('password.edit', 'editUser_ldapAuthentication', true, true);
    </script>

    #tabEnd()
</body>
</html>
