#helpTag("License+Management")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=license.edit")</title>
</head>

<body>
    #adminTabs("settings")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editLicense!save.action" "heading=%{getText('license.edit')}" "method=post" "id=license.edit")
    #wwtextarea("name=license" "labelCssClass=textarea" "label=%{getText('license.key.field')}" "required=true" "rows=10" "cols=65" "tabindex=1")
    #saveCancel("2")
#end


</body>
</html>
