#helpTag("Resource+Repository")
#authorisationTags($principle)
#resourceTags($slave $resource)
<html>
<head>
    <title>#wwtext("name=property.edit")</title>
</head>
<body>
    #agentTabs("resources")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editProperty.action" "heading=%{getText('property.edit')}" "method=post")
    #wwhidden("name=resourceId")
    #wwhidden("name=versionId")
    #wwhidden("name=name")

    #wwtextfield("name=newName" "label=%{getText('property.name')}" "required=true" "tabindex=1")
    #wwtextfield("name=newValue" "label=%{getText('property.value')}" "size=60" "tabindex=2")
    #wwcheckbox("name=newAddToEnvironment" "label=%{getText('property.add.to.environment')}" "tabindex=3")
    #inlineHelp("property.add.to.environment.help")
    #wwcheckbox("name=newAddToPath" "label=%{getText('property.add.to.path')}" "tabindex=4")
    #inlineHelp("property.add.to.path.help")
    #wwcheckbox("name=newResolveVariables" "label=%{getText('property.resolve.variables')}" "tabindex=5")
    #inlineHelp("property.resolve.variables.help")

    #saveCancel(6)
#end


</body>
</html>
