<html>
<head>
    <title>#wwtext("name=email.edit")</title>
</head>
<body>
<h1>:: #wwtext("name=email.edit") ::</h1>

    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=editEmailContactPoint.action" "heading=%{getText('email.edit')}" "method=post")
        #wwhidden("name=id")
        #wwhidden("name=user")
        #wwtextfield("name=contact.name" "label=%{getText('contact.name')}" "required=true" "tabindex=1")
        #wwtextfield("name=contact.email" "label=%{getText('contact.email')}" "required=true" "tabindex=2")
        #openSubmit()
            #wwsubmit("name=save" "value=%{getText('save.name')}" "tabindex=3")
            #wwsubmit("name=cancel" "value=%{getText('cancel.name')}" "tabindex=4")
        #closeSubmit()
    #end

</body>
</html>
