#helpTag("Resource+Repository")
#authorisationTags($principle)
#agentTags($slave)
<html>
<head>
    <title>#wwtext("name=resource.edit")</title>
</head>
<body>
    #agentTabs("resources")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editResource.action" "heading=%{getText('resource.edit')}" "method=post")
    #wwhidden("name=resourceId")
    
    #wwtextfield("name=newName" "label=%{getText('resource.name')}" "required=true"  "tabindex=1")
    #wwselect("name=defaultVersion" "label=%{getText('resource.default.version')}" "list=versions"  "tabindex=2")

    #saveCancel(3)
#end


</body>
</html>
