#helpTag("Commit+Message+Links")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=edit.commit.message.link")</title>
</head>
<body>
    #adminTabs("settings")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editCommitMessageLink.action" "heading=%{getText('edit.commit.message.link')}" "method=post" "id=edit.commit.message.link")
    #wwhidden("name=id")
    
    #wwtextfield("name=newName" "label=%{getText('commit.message.link.name')}" "required=true" "tabindex=1")
    #wwtextfield("name=transformer.expression" "label=%{getText('commit.message.link.expression')}" "required=true" "size=60" "tabindex=2")
    #inlineHelp("commit.message.link.expression.help")
    #wwtextfield("name=transformer.replacement" "label=%{getText('commit.message.link.url')}" "required=true" "size=60" "tabindex=3")
    #inlineHelp("commit.message.link.url.help")
    #wwselect("name=selectedProjects" "label=%{getText('commit.message.link.projects')}" "list=allProjects" "multiple=true" "tabindex=4")
    #inlineHelp("commit.message.link.projects.help")

    #saveCancel("5")
#end

    #tabEnd()
</body>
</html>
