<html>
<head>
    <title></title>
</head>

<body>

    <p><a href="/admin/smtp.action">smtp configuration</a></p>
    <p><a href="/admin/general.action">general configuration</a></p>

</body>
</html>
