#helpTag("Groups")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
  <head>
    <title>#wwtext("name=groups")</title>
    <link href="$base/css/build.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      #adminTabs("groups")

      #parse("/template/includes/actionerrors.vm")

                  <table class="fill-content" id="groups">
                      #headingRow("groups" 7)
                      <tr>
                          #contentHeading("group.name" 1)
                          #contentHeading("group.members" 1)
                          #contentHeading("group.server.permissions" 1)
                          #contentHeading("group.personal.permissions" 1)
                          #contentHeading("group.project.permissions" 1)
                          #contentHeading("actions" 2)
                      </tr>
                      #foreach($group in $groups)
                      <tr>
                          #set($confirmMessage = $action.getText("group.delete.confirm", [$group.name]))

                          #dynamicCell($group.name)
                          <td class="content">
                              <a id="members_$!webwork.htmlEncode($group.name)" href="viewGroupMembers.action?groupId=$group.id">$action.getText("group.members.count", [$group.users.size()])</a>
                          </td>
                          #dynamicLinkCell( )
#if($action.hasAdminAuthority($group))
                          #contentCell("group.server.admin")
#else
                          #contentCell("group.permissions.none")
#end
#if($action.hasPersonalAuthority($group))
                          #contentCell("group.personal.allowed")
#else
                          #contentCell("group.permissions.none")
#end
#if($group.adminAllProjects)
                          #contentCell("group.all.projects.admin")
#else
    #set($adminProjects = $action.getAdminProjects($group))
    #if($adminProjects.size() > 0)
                          #staticCell($action.getText("group.projects.admin", [$adminProjects.size()]))
    #else
                          #contentCell("group.permissions.none")
    #end
#end
                          #editCell("editGroup!input.action?groupId=$group.id" "edit_$group.id")
                          #deleteCell("delete_$group.id" "deleteGroup.action?groupId=$group.id&amp;startPage=$startPage" $confirmMessage)
                      </tr>
                      #end
                      #addRow("group.add" 7 "createGroup!input.action" "group.add")
                  </table>
#if($groups.size() > 0)
                  <table class="fill-content">
                      #pagingRow("viewGroups.action?" $pagingSupport)
                      <tr><th class="content centre" colspan="5">$action.getText("groups.count", [$pagingSupport.totalItems])</td></tr>
                  </table>
#end


    
  </body>
</html>
