#helpTag("Users")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
  <head>
    <title>users</title>
    <link href="build.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      #adminTabs("users")

      #parse("/template/includes/actionerrors.vm")

      <table class="columns" width="90%">
          <tr>
              #wwaction("name=viewUsers" "id=a" "executeResult=false")

              <td class="columns" width="40%">
                  <table class="fill-content">
                      #headingRow("users" 5)
                      <tr>
                          #contentHeading("user.login" 1)
                          #contentHeading("user.name" 1)
                          #contentHeading("actions" 3)
                      </tr>
                      #foreach($user in $a.users)
                      <tr>
                          #set($confirmMessage = $action.getText("user.delete.confirm", [$user.name]))

                          #dynamicLinkCell($user.login "viewUser.action?userId=$user.id")
                          #dynamicCell($user.name)
                          #editCell("editUser!input.action?userId=$user.id" "edit_$!webwork.htmlEncode($user.login)")
                          #deleteCell($confirmMessage "deleteUser.action?userId=$user.id" "delete_$!webwork.htmlEncode($user.login)")
                          <!--
                          #actionCell2("password.edit" "editPassword!input.action?userId=$user.id")
                          #actionCell2("password.reset" "editPassword!reset.action?userId=$user.id")
                          -->
                      </tr>
                      #end
                  </table>
              </td>
              <td class="columns" width="40%">
                  #wwcform("action=createUser.action" "name=newUser.create" "heading=%{getText('user.create')}" "method=post")
                      #wwtextfield("name=newUser.login" "label=%{getText('user.login')}" "required=true" "tabindex=1")
                      #wwtextfield("name=newUser.name" "label=%{getText('user.name')}" "required=true" "tabindex=2")
                      #wwpassword("name=newUser.password" "label=%{getText('user.password')}" "required=true" "tabindex=3")
                      #wwpassword("name=confirm" "label=%{getText('user.confirm')}" "required=true" "tabindex=4")
                      #wwcheckbox("name=admin" "label=%{getText('user.admin')}" "tabindex=5")
                      #saveCancel(6)
                  #end
              </td>
          </tr>
      </table>

    #tabEnd()
    
  </body>
</html>
