#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
  <head>
    <title>users</title>
    <link href="build.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <h1>:: #wwtext("name=users") ::</h1>

      #adminTabs("users")

      <table class="columns" width="90%">
          <tr>
              #wwaction("name=viewUsers" "id=a" "executeResult=false")

              <td class="columns" width="40%">
                  <table class="fill-content">
                      #headingRow("users" 5)
                      <tr>
                          #contentHeading("user.login" 1)
                          #contentHeading("user.name" 1)
                          #contentHeading("actions" 3)
                      </tr>
                      #foreach($user in $a.users)
                      <tr>
                          #set($confirmMessage = $action.getText("user.delete.confirm", [$user.name]))

                          #dynamicLinkCell($user.login "viewUser.action?id=$user.id")
                          #dynamicCell($user.name)
                          #editCell("editUser!input.action?id=$user.id")
                          #deleteCellWithId($confirmMessage "deleteUser.action?id=$user.id" "delete_$user.login")
                          <!--
                          #actionCell2("password.edit" "editPassword!input.action?id=$user.id")
                          #actionCell2("password.reset" "editPassword!reset.action?id=$user.id")
                          -->
                      </tr>
                      #end
                  </table>
              </td>
              <td class="columns" width="40%">
                  #wwcform("action=createUser.action" "name=user.create" "heading=%{getText('user.create')}" "method=post")
                      #wwtextfield("name=user.login" "label=%{getText('user.login')}" "required=true" "tabindex=1")
                      #wwtextfield("name=user.name" "label=%{getText('user.name')}" "required=true" "tabindex=2")
                      #wwpassword("name=user.password" "label=%{getText('user.password')}" "required=true" "tabindex=3")
                      #wwpassword("name=confirm" "label=%{getText('user.confirm')}" "required=true" "tabindex=4")
                      #wwcheckbox("name=admin" "label=%{getText('user.admin')}" "tabindex=5")
                      #saveCancel(6)
                  #end
              </td>
          </tr>
      </table>





  </body>
</html>
