#helpTag("Users")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
  <head>
    <title>users</title>
    <link href="/css/build.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      #adminTabs("users")

      #parse("/template/includes/actionerrors.vm")

      <table class="columns" width="90%">
          <tr>
              #wwaction("name=viewUsers" "id=a" "executeResult=false")

              <td class="columns" width="40%">
                  <table class="fill-content">
                      #headingRow("user.admin.user" 3)
                      <tr>
                          #dynamicLinkCell($adminUser.login "viewUser.action?userId=$adminUser.id")
                          #dynamicCell($adminUser.name)
                          #editCell("editUser!input.action?userId=$adminUser.id" "editadmin")
                      </tr>
                  </table>

                  <table class="fill-content">
                      #headingRow("users" 5)
                      <tr>
                          #contentHeading("user.login" 1)
                          #contentHeading("user.name" 1)
                          #contentHeading("user.authentication" 1)
                          #contentHeading("actions" 3)
                      </tr>
                      #foreach($user in $a.users)
                      <tr>
                          #set($isAdminUser = $a.isAdminUser($user))
                          #set($confirmMessage = $action.getText("user.delete.confirm", [$user.name]))

                          #dynamicLinkCell($user.login "viewUser.action?userId=$user.id")
                          #dynamicCell($user.name)
#if($user.ldapAuthentication)
                          #contentCell("user.authentication.ldap")
#else
                          #contentCell("user.authentication.password")
#end
                          #editCell("editUser!input.action?userId=$user.id" "edit_$!webwork.htmlEncode($user.login)")
#if($isAdminUser)
                          #contentCell("user.admin.user")
#else
                          #deleteCell("delete_$!webwork.htmlEncode($user.login)" "deleteUser.action?userId=$user.id" $confirmMessage)
#end
                      </tr>
                      #end
                  </table>
#if($users.size() > 0)
                  <table class="fill-content">
                      #pagingRow("viewUsers.action?" $pagingSupport)
                      <tr><th colspan="5">$action.getText("users.count", ["$pagingSupport.totalItems"])</td></tr>
                  </table>
#end
              </td>
              <td class="columns" width="40%">
                  #licensed("require=canAddUser")
                      #wwcform("action=createUser.action" "name=newUser.create" "heading=%{getText('user.create')}" "method=post")
                          #wwtextfield("name=newUser.login" "label=%{getText('user.login')}" "required=true" "tabindex=1")
                          #wwtextfield("name=newUser.name" "label=%{getText('user.name')}" "required=true" "tabindex=2")
                          #wwcheckbox("name=ldapAuthentication" "label=%{getText('user.ldap.authentication')}" "tabindex=3" "onclick=setEnableState('createUser_newUser_password', 'createUser_ldapAuthentication', true); setEnableState('createUser_confirm', 'createUser_ldapAuthentication', true);")
                          #wwpassword("name=newUser.password" "label=%{getText('user.password')}" "tabindex=4")
                          #wwpassword("name=confirm" "label=%{getText('user.confirm')}" "tabindex=5")
                          #wwcheckbox("name=admin" "label=%{getText('user.admin')}" "tabindex=6")
                          #saveCancel(7)
                      #end
                  #end
              </td>
          </tr>
      </table>

    #tabEnd()
    
  </body>
</html>
