#helpTag("Administration+Projects+Tab")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=administration")</title>
	<script type="text/javascript">
        Layout = function(){
                var layout;
                return {
                    init : function(){
                        nestedLayout.addRegion('north', {
                            split: false,
                            titlebar: false
                        });

                        nestedLayout.addRegion('west', {
                            split:true,
                            initialSize: 200,
                            minSize: 175,
                            maxSize: 400,
                            titlebar: true,
                            collapsible: true,
                            animate: true,
                            tabPosition: 'top'
                        });

                        nestedLayout.beginUpdate();
                        nestedLayout.add('north', new YAHOO.ext.ContentPanel('innernorth', {title: 'Inner North'}));
                        nestedLayout.add('west', new YAHOO.ext.ContentPanel('project-tree', {title: 'Projects'}));
                        nestedLayout.add('west', new YAHOO.ext.ContentPanel('config-tree', {title: 'Configuration'}));
                        nestedLayout.endUpdate();
                   }
             }
        }();
        YAHOO.ext.EventManager.onDocumentReady(Layout.init, Layout, true);
	</script>
</head>
<body>
    #adminTabs("projects")

    #parse("/template/includes/actionerrors.vm")

    <div id="innernorth" style="padding: 4px; padding-bottom: 12px; border-bottom: 1px solid #ccc">
    </div>
  
    <div id="project-tree" class="ylayout-inactive-content">
        A tree of templates/projects.
    </div>

    <div id="config-tree" class="ylayout-inactive-content">
        The configuration tree for a single project.
    </div>

    <p>
        This is where the actual content ends up!
    </p>
</body>
</html>
