#helpTag("Administration+Settings+Tab")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=administration")</title>
    <script type="text/javascript" src="$base/js/zutubi.js"></script>
	<script type="text/javascript">
        var tree;
        
        var onSelect = function(sm, node)
        {
            if(node)
            {
                Ext.get('detail-pane').load({url: tree.loader.getNodePath(node), scripts:true});
            }
        }

        var handleConfigurationResponse = function(result)
        {
            if(result.success)
            {
                if(result.newPanel)
                {
                    Ext.get('detail-pane').update(result.newPanel, true);
                }

                tree.handleResponse(result);
                tree.redirectToNewPath(result);
            }
        }

        var getAjaxCallback = function(maskedElement)
        {
            return {
                success: function(response) { handleConfigurationResponse(Ext.decode(response.responseText)); if(maskedElement) { maskedElement.unmask() } },
                failure: function(response) { if(maskedElement) { maskedElement.unmask() } }
            }
        }

        var runAjaxRequest = function(url)
        {
            var pane = Ext.get('detail-pane');
            pane.mask('Please wait...');
            Ext.lib.Ajax.request('get', url, getAjaxCallback(pane));
        }

        var selectPath = function(path)
        {
            tree.getSelectionModel().clearSelections();
            tree.selectPath(tree.getRootNode().getPath() + '/' + path);
        }

        var addToPath = function(path)
        {
            runAjaxRequest('$base/aconfig/' + path + '?wizard');
        }

        var deletePath = function(path)
        {
            runAjaxRequest('$base/aconfig/' + path + '?delete=confirm');
        }

        var Layout = function()
        {
            var centerRegion;
#if($path)
            var path = '$path';
#else
            var path = '';
#end

            return {
                init : function()
                {
                    centerRegion = nestedLayout.getRegion('center');
                    var centerPanel = centerRegion.getPanel(0);
                    centerPanel.setTitle('');
                    centerPanel.getEl().setStyle('margin', '0');
                    centerRegion.titleEl.show();

                    nestedLayout.addRegion('north', {
                        split: false,
                        titlebar: false
                    });

                    nestedLayout.addRegion('west', {
                        split:true,
                        initialSize: 300,
                        titlebar: true,
                        collapsible: true,
                        animate: true,
                        tabPosition: 'top',
                        autoScroll: true
                    });

                    var loader = new ZUTUBI.ConfigTreeLoader('$base/aconfig');
                    //loader.on('loadexception', function(loader, node, response) {  console.dir(response); });

                    tree = new ZUTUBI.ConfigTree('config-tree', {
                        animate: false,
                        loader: loader,
                        rootVisible: false,
                        title: 'config'
                    });

                    var root = new Ext.tree.AsyncTreeNode({
                        id: 'x',
                        text: 'settings',
                        allowDrag: false,
                        allowDrop: false
                    });
                    
                    tree.setRootNode(root);
                    tree.getSelectionModel().on('selectionchange', onSelect);

                    nestedLayout.beginUpdate();
                    nestedLayout.add('north', new Ext.ContentPanel('innernorth', {title: 'inner north'}));
                    nestedLayout.add('west', new Ext.ContentPanel('config-tree', {}));
                    nestedLayout.endUpdate();

                    tree.render();
                    root.expand();
                }
            }
        }();
        
        Ext.onReady(Layout.init, Layout, true);
	</script>
</head>
<body>
    #adminTabs("settings")

    <div id="innernorth" style="padding: 4px; padding-bottom: 12px; border-bottom: 1px solid #ccc">
    </div>

    <div id="config-tree">
    </div>

    <div id="detail-pane" style="padding: 4px; min-height: 100%"></div>
</body>
</html>
