#helpTag("Administration+Settings+Tab")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=administration")</title>
</head>
<body>
    #adminTabs("settings")

    #parse("/template/includes/actionerrors.vm")

    <table class="columns" width="90%">
        <tr>
            <td class="columns" width="40%">
                <table id="general.config" class="fill-content">
                    #adminHeadingRow("general.config" "$base/admin/editGeneral!input.action" "general.edit" "$base/admin/general!reset.action" "general.reset")
                    #dynamicRow("general.base.url" $config.baseUrl)
                    #dynamicRow("general.help.url" $config.helpUrl)
                    #enabledDisabledRow("general.rss.enabled" $config.rssEnabled)
                    #enabledDisabledRow("general.anonymous" $config.anonymousAccessEnabled)
                </table>

                <table id="commit.message.links" class="fill-content">
                    #headingRow("commit.message.links" 4)
                    <tr>
                        #contentHeading("commit.message.link.name" 1)
                        #contentHeading("commit.message.link.expression" 1)
                        #contentHeading("actions" 2)
                    </tr>
#if($commitMessageTransformers.size() > 0)
    #foreach($link in $commitMessageTransformers)
        #set($confirmMessage = $action.getText("commit.message.link.confirm.delete", [$link.name]))
                    <tr>
                        #dynamicCell($link.name)
                        #dynamicCell($link.expression)
                        #editCell("editCommitMessageLink!input.action?id=$link.id" "edit_$!webwork.htmlEncode($link.name)")
                        #deleteCell("delete_$!webwork.htmlEncode($link.name)" "deleteCommitMessageLink.action?id=$link.id" $confirmMessage)
                    </tr>
    #end
#else
                    #contentRow("commit.message.links.none" 4)
#end
                    #addRow("commit.message.link.add" 4 "addCommitMessageLink!input.action" "commit.message.link.add")
                </table>

                <table id="logging.config" class="fill-content">
                    #adminHeadingRow("logging.config" "$base/admin/editLogConfig!input.action" "logging.edit" "$base/admin/logConfig!reset.action" "logging.reset")
                    #dynamicRow("logging.level" $config.logConfig)
                </table>

                <table class="fill-content" id="license.info">
                    #restrictedHeadingRow("license.info" 2 "ROLE_ADMINISTRATOR" "edit" "$base/admin/editLicense!input.action" "pencil.gif" "license.edit")
                    <tr>
                        #contentRowHeading("license.name.field")
                        #contentCell("license.type.$license.type")
                    </tr>
                    #dynamicRow("license.holder.field" $license.holder)
                    #dynamicRow("license.expiry.field" $expiryDate)

                    #foreach($res in $restrictions)
                        #if($res.supported == -1)
                            #set($t = "$unrestricted")
                        #else
                            #set($t = "$res.inUse of $res.supported")
                        #end
                    #dynamicRow("license.restriction.$res.entity" $t)
                    #end

                </table>
            </td>
            <td class="columns" width="40%">
                <table id="smtp.config" class="fill-content">
                    #adminHeadingRow("smtp.config" "$base/admin/editSmtp!input.action" "smtp.edit" "$base/admin/smtp!reset.action" "smtp.reset")
                    #dynamicRow("smtp.host" $config.smtpHost)
                    #dynamicRow("smtp.prefix" $config.smtpPrefix)
                    #dynamicRow("smtp.from" $config.smtpFrom)
                    #dynamicRow("smtp.username" $config.smtpUsername)
                    <!-- Probably best we don't show the password -->
                </table>

                <table id="jabber.config" class="fill-content">
                    #adminHeadingRow("jabber.config" "$base/admin/editJabber!input.action" "jabber.edit" "$base/admin/jabber!reset.action" "jabber.reset")
#if($jabberStatus)
                    <tr>
                        <th class="note" colspan="2">$!webwork.htmlEncode($jabberStatus)</th>
                    </tr>
#end
                    #dynamicRow("jabber.host" $config.jabberHost)
                    #dynamicRow("jabber.port" $config.jabberPort)
                    #dynamicRow("jabber.username" $config.jabberUsername)
                    <!-- Probably best we don't show the password -->
                    #dynamicRow("jabber.force.ssl" $config.jabberForceSSL.toString().toLowerCase())
                </table>

                <table id="ldap.config" class="fill-content">
                    #adminHeadingRow("ldap.config" "$base/admin/editLdap!input.action" "ldap.edit" "$base/admin/ldap!reset.action" "ldap.reset")
#if($ldapStatus)
                    <tr>
                        <th class="note" colspan="2">$!webwork.htmlEncode($ldapStatus)</th>
                    </tr>
#end
                    #dynamicRow("ldap.enabled" $config.ldapEnabled)
                    #dynamicRow("ldap.host.url" $config.ldapHostUrl)
                    #dynamicRow("ldap.base.dn" $config.ldapBaseDn)
                    #dynamicRow("ldap.manager.dn" $config.ldapManagerDn)
                    <!-- Probably best we don't show the password -->
                    #dynamicRow("ldap.user.filter" $config.ldapUserFilter)
                    #dynamicRow("ldap.auto.add" $config.ldapAutoAdd.toString().toLowerCase())
                </table>
            </td>
        </tr>
    </table>
    #tabEnd()
</body>
</html>
