#helpTag("Administration+Settings+Tab")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=administration")</title>
</head>
<body>
    #adminTabs("settings")

    #parse("/template/includes/actionerrors.vm")

    <table class="columns" width="90%">
        <tr>
            <td class="columns" width="40%">
                <table class="fill-content" id="license.info">
                    #restrictedHeadingRow("license.info" 2 "ROLE_ADMINISTRATOR" "edit" "/admin/editLicense!input.action" "pencil.gif" "license.edit")
                    <tr>
                        #contentRowHeading("license.name.field")
                        #contentCell("license.type.$license.type")
                    </tr>
                    #dynamicRow("license.holder.field" $license.holder)
                    #dynamicRow("license.expiry.field" $expiryDate)
                </table>
                <table id="general.config" class="fill-content">
                    #adminHeadingRow("general.config" "/admin/editGeneral!input.action" "general.edit" "/admin/general!reset.action" "general.reset")
                    #dynamicRow("general.host" $config.hostName)
                    #dynamicRow("general.help.url" $config.helpUrl)
                    #enabledDisabledRow("general.rss.enabled" $config.rssEnabled)
                    #enabledDisabledRow("general.anonymous" $config.anonymousAccessEnabled)
                </table>
                <table id="logging.config" class="fill-content">
                    #adminHeadingRow("logging.config" "/admin/editLogConfig!input.action" "logging.edit" "/admin/logConfig!reset.action" "logging.reset")
                    #dynamicRow("logging.level" $config.logConfig)
                </table>
            </td>
            <td class="columns" width="40%">
                <table id="smtp.config" class="fill-content">
                    #adminHeadingRow("smtp.config" "/admin/editSmtp!input.action" "smtp.edit" "/admin/smtp!reset.action" "smtp.reset")
                    #dynamicRow("smtp.host" $config.smtpHost)
                    #dynamicRow("smtp.prefix" $config.smtpPrefix)
                    #dynamicRow("smtp.from" $config.smtpFrom)
                    #dynamicRow("smtp.username" $config.smtpUsername)
                    <!-- Probably best we don't show the password -->
                </table>
                <table id="jabber.config" class="fill-content">
                    #adminHeadingRow("jabber.config" "/admin/editJabber!input.action" "jabber.edit" "/admin/jabber!reset.action" "jabber.reset")
#if($jabberStatus)
                    <tr>
                        <th class="note" colspan="2">$!webwork.htmlEncode($jabberStatus)</th>
                    </tr>
#end
                    #dynamicRow("jabber.host" $config.jabberHost)
                    #dynamicRow("jabber.port" $config.jabberPort)
                    #dynamicRow("jabber.username" $config.jabberUsername)
                    <!-- Probably best we don't show the password -->
                    #dynamicRow("jabber.force.ssl" $config.jabberForceSSL.toString().toLowerCase())
                </table>
                <table id="ldap.config" class="fill-content">
                    #adminHeadingRow("ldap.config" "/admin/editLdap!input.action" "ldap.edit" "/admin/ldap!reset.action" "ldap.reset")
#if($ldapStatus)
                    <tr>
                        <th class="note" colspan="2">$!webwork.htmlEncode($ldapStatus)</th>
                    </tr>
#end
                    #dynamicRow("ldap.enabled" $config.ldapEnabled)
                    #dynamicRow("ldap.host.url" $config.ldapHostUrl)
                    #dynamicRow("ldap.base.dn" $config.ldapBaseDn)
                    #dynamicRow("ldap.manager.dn" $config.ldapManagerDn)
                    <!-- Probably best we don't show the password -->
                    #dynamicRow("ldap.user.filter" $config.ldapUserFilter)
                    #dynamicRow("ldap.auto.add" $config.ldapAutoAdd.toString().toLowerCase())
                </table>
            </td>
        </tr>
    </table>
    #tabEnd()
</body>
</html>
