#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=administration")</title>
	<script type="text/javascript">
	    var actionInProgress = false;

        var tabPanel;
        var configPanel;
        var configTree;
        var templateTree;
        var visibleTree;
        var treesInitialised = false;

        // ------------------------------------------------------------------
	    // Shared tree functions
        // ------------------------------------------------------------------

        var handleConfigurationResponse = function(result)
        {
            if (result.success)
            {
                if (result.newPanel)
                {
                    Ext.get('detail-pane').update(result.newPanel, true);
                }

                if (configTree)
                {
                    configTree.handleResponse(result);
                }

                if (templateTree)
                {
                    templateTree.handleResponse(result);
                }

                if (visibleTree.dead)
                {
                    // Config tree dies when the root is deleted.
                    nestedLayout.getRegion('west').showPanel('template-tree');
                    visibleTree = templateTree;                    
                }

                visibleTree.redirectToNewPath(result);
            }
            else
            {
                if(result.actionErrors && result.actionErrors.length > 0)
                {
                    showStatus(result.actionErrors[0], 'failure');
                }
            }
        }

        // ------------------------------------------------------------------
        // Config tree
        // ------------------------------------------------------------------

        var createConfigTree = function(project, cls, iconCls)
        {
            if(configTree)
            {
                configPanel.remove(configTree, true);
            }

            tabPanel.el.createChild({tag: 'div', id: 'config-tree'});
            var loader = new ZUTUBI.ConfigTreeLoader('$base/aconfig');

            configTree = new ZUTUBI.ConfigTree({
                el: 'config-tree',
                pathPrefix: '${scope}',
                animate: false,
                loader: loader,
                rootVisible: true,
                autoScroll: true,
                border: false,
                autoCreate: true,
                bodyStyle: 'padding: 10px'
            });

            var root = new Ext.tree.AsyncTreeNode({
                id: project,
                text: project,
                cls: cls,
                iconCls: iconCls,
                allowDrag: false,
                allowDrop: false
            });

            configTree.setRootNode(root);
            configTree.getSelectionModel().on('selectionchange', onConfigSelect);
            configPanel.add(configTree);
            configTree.render();
            root.expand();
            configPanel.doLayout();
        }

        var clonePath = function(path)
        {
            runAjaxRequest('$base/aconfig/' + path + '?clone=input');
        }

        // ------------------------------------------------------------------
        // Template tree
        // ------------------------------------------------------------------

        var onTemplateSelect = function(sm, node)
        {
            if(treesInitialised && node)
            {
                Ext.get('detail-pane').load({
                    url: '$base/atemplate/$scope/' + node.id,
                    scripts: true,
                    callback: function(element, success, response) {
                        if(!success)
                        {
                            onSelectFailure(element, response);
                        }
                    }
                });
            }
        }

        var configureRecord = function(id)
        {
            tabPanel.activate('config-panel');
        }

        var selectTemplate = function(path)
        {
            templateTree.getSelectionModel().clearSelections();
            templateTree.selectPath(templateTree.getRootNode().getPath() + '/' + path);
        }

        // ------------------------------------------------------------------
        // Layout
        // ------------------------------------------------------------------

        var Layout = function()
        {
#if($path)
            var path = '$path';
#else
            var path = '';
#end

            return {
                init : function()
                {
                    var centerEl = Ext.get('center');
                    centerEl.setStyle('margin', '4px');

                    var templateLoader = new ZUTUBI.ConfigTreeLoader('$base/atemplate/$scope');

                    templateTree = new ZUTUBI.TemplateTree('$scope', {
                        el: 'template-tree',
                        id: 'template-tree',
                        animate: false,
                        loader: templateLoader,
                        rootVisible: false,
                        autoScroll: true,
                        border: false,
                        title: 'hierarchy',
                        bodyStyle: 'padding: 10px'
                    });

                    var templateRoot = new Ext.tree.AsyncTreeNode({
                        id: 'x',
                        text: 'settings',
                        allowDrag: false,
                        allowDrop: false
                    });

                    templateTree.setRootNode(templateRoot);
                    templateTree.getSelectionModel().on('selectionchange', onTemplateSelect);

                    configPanel = new Ext.Panel({
                        layout: 'fit',
                        border: false,
                        id: 'config-panel',
                        title: 'configuration'
                    });

                    var nestedWest = Ext.getCmp('nested-west');
                    tabPanel = new Ext.TabPanel({
                        border: false,
                        tabPosition: 'bottom',
                        defaults: {
                            layout: 'fit',
                            border: false
                        },
                        items: [templateTree, configPanel]
                    });


                    tabPanel.on('render', function() {
                        tabPanel.el.createChild({tag: 'div', id: 'template-tree'});

                        templateTree.render();
                        nestedWest.doLayout();

#if($configTreePath)
                        templateTree.expandToPath('$templateTreePath', function(success, lastNode) {
                            tabPanel.activate('template-tree');
                            nestedWest.doLayout();
                            lastNode.select();
                            tabPanel.activate('config-panel');
                            treesInitialised = true;
                            configTree.selectConfigPath('$configTreePath');
                        });
#else
                        templateRoot.expand(false, false, function() {
                            templateRoot.firstChild.expand();
                            treesInitialised = true;
                            tabPanel.activate('template-tree');
                            nestedWest.doLayout();
                        });
#end

                        // Attach the activate handlers after the initial
                        // render to avoid uneccessary panel loads during
                        // initialisation.
                        templateTree.on('activate', function() {
                            var node;

                            if(configTree)
                            {
                                var configId = configTree.getRootNode().id;
                                node = templateTree.getNodeById(configId);
                            }

                            if(!node)
                            {
                                node = templateTree.getRootNode().firstChild;
                            }

                            templateTree.getSelectionModel().clearSelections();
                            node.select();
                            visibleTree = templateTree;
                        });

                        configPanel.on('activate', function() {
                            var node = templateTree.getSelectionModel().getSelectedNode();
                            if (!node)
                            {
                                node = templateTree.getRootNode();
                            }

                            if(!configTree || configTree.getRootNode().id != node.id)
                            {
                                createConfigTree(node.id, node.attributes.cls, node.attributes.iconCls);
                            }

                            configTree.getSelectionModel().clearSelections();
                            configTree.selectPath(node.id);
                            visibleTree = configTree;
                        });
                    });

                    nestedWest.add(tabPanel);
                    nestedWest.show();
                    nestedWest.setWidth(300);
                    Ext.getCmp('nested-layout').doLayout();
                }
            }
        }();

        Ext.onReady(Layout.init, Layout, true);
	</script>
</head>
<body>
    #adminTabs("${tab}")

    <div id="detail-pane" style="padding: 10px; min-height: 100%">
        #parse("/template/includes/actionerrors.vm")
    </div>
</body>
</html>
