#helpTag("Group+Members")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
  <head>
    <title>#wwtext("name=group") $!webwork.htmlEncode($group.name)</title>
    <link href="$base/css/build.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      #adminTabs("groups")

      #parse("/template/includes/actionerrors.vm")

      <table>
          <tr>
              <td>
                  <table class="fill-content" id="members">
                      #headingRow($action.getText("group.members.of", [$group.name]) 3)
                      <tr>
                          #contentHeading("user.login" 1)
                          #contentHeading("user.name" 1)
                          #contentHeading("actions" 1)
                      </tr>
                      #foreach($user in $users)
                      <tr>
                          #set($confirmMessage = $action.getText("group.member.remove.confirm", [$user.name]))

                          #dynamicCell($user.login)
                          #dynamicCell($user.name)
                          #removeCell($confirmMessage "removeGroupMember.action?groupId=$group.id&amp;userId=$user.id&amp;startPage=$startPage" "remove_$!webwork.htmlEncode($user.login)")
                      </tr>
                      #end
                      #addRow("group.members.add" 3 "addGroupMembers!input.action?groupId=$groupId" "group.members.add")
                  </table>
#if($users.size() > 0)
                  <table class="fill-content">
                      #pagingRow("viewGroupMembers.action?groupId=$groupId&amp;" $pagingSupport)
                      <tr><th colspan="5">$action.getText("group.members.total.count", [$pagingSupport.totalItems])</td></tr>
                  </table>
#end
              </td>
          </tr>
          <tr>
              <td style="padding-bottom: 15px">
                  <img alt="info" src="$base/images/information.gif"/> #wwtext("name=ldap.members.not.shown")
              </td>
          </tr>
          <tr>
              <td>
                  <img alt="edit" src="$base/images/pencil.gif"/> <a href="editGroup!input.action?groupId=$groupId">#wwtext("name=edit group")</a>
                  <img alt="return" src="$base/images/group_go.gif"/> <a href="viewGroups.action?startPage=$startPage">#wwtext("name=return.to.groups.view")</a>
              </td>
          </tr>
      </table>


    
  </body>
</html>
