#helpTag("Users")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
    <head>
        <title>$user.name</title>
        <link href="/css/build.css" rel="stylesheet" type="text/css">
        <content tag="action">user.view</content>
    </head>
    <body>    

     #adminTabs("users")

#if($user.ldapAuthentication)
    #set($authentication = $action.getText("user.authentication.ldap"))
#else
    #set($authentication = $action.getText("user.authentication.password"))
#end

        <table class="columns" width="50%">
            <tr>
                <td class="columns" width="40%">
                    <table id="user" class="fill-content">
                        #editHeadingRow("user" 2 "editUser!input.action?userId=$user.id" "user.edit")
                        #dynamicRow("user.login" $user.login)
                        #dynamicRow("user.name" $user.name)
                        #dynamicRow("user.authentication" $authentication)
                        #dynamicRow("user.granted.admin" $admin)
                        #dynamicRow("user.admin.user" $action.isAdminUser($user))
                    </table>
#if($user.contactPoints.size() > 0)
                    <table id="contacts" class="fill-content">
                        #headingRow("contacts" 2)
                        <tr>
                            #contentHeading("contact.name" 1)
                            #contentHeading("contact.uid" 1)
                        </tr>

                        #foreach ($contact in $user.contactPoints)
                        <tr>
                            #dynamicCell($contact.name)
                            #dynamicCell($contact.uid)
                        </tr>
                        #end
                    </table>
#end
#if($user.subscriptions.size() > 0)
                    <table id="subscriptions" class="fill-content">
                        #headingRow("subscriptions" 3)
                        <tr>
                            #contentHeading("subscription.project" 1)
                            #contentHeading("subscription.contact" 1)
                            #contentHeading("subscription.condition" 1)
                        </tr>

                    #foreach ($subscription in $user.subscriptions)
                        #set($contact = $subscription.contactPoint)
                        #set($project = $subscription.project)
                        <tr>
                            #dynamicCell($project.name)
                            #dynamicCell($contact.uid)
                            #dynamicCell($subscription.condition)
                        </tr>
                    #end
                    </table>
#end
                </td>
            </tr>

        </table>
    #tabEnd()
    </body>
</html>