<html>
<head>
    <title>#wwtext("name=smtp.setup")</title>
</head>

<body>
    <h1>:: #wwtext("name=smtp.setup") ::</h1>

    <p>display the smtp server details or a configure smtp server link.</p>

    <p><a href="/admin/editSmtp!input.action">configure</a> the smtp server</p>


</body>
</html>
