<html>
<body>

#set($config = $action.configuration)

#parse("config/breadcrumbs.vm")

<h2>#i18n("key=label")</h2>
<div style="color:gray">
    #i18n("key=introduction")
</div>

#if ($config.displayFields.size() > 0)
<p>&nbsp;</p>
<h2>state</h2>
<p>
<table>
    #foreach($field in $config.displayFields)
    <tr>
        <td>#i18n("key=${field}.label")</td>
        <td>$config.format($field)</td>
    </tr>
    #end
</table>
</p>
#end

#if( $config.record )
    #if( $config.simpleProperties.size() > 0)
        <p>&nbsp;</p>
        <h2>config</h2>
        <!-- this configuration definition contains fields to be configured. -->
        <p>
            #pform("path=$config.path" "formName=mainform")
        </p>

        #parse("/aconfig/check.vm")
    #end
#else
    #if( $config.extensions.size() > 0)
        <p>To create the #i18n("key=label") please use the <a href="$base/config/${config.path}?wizard">wizard</a>.</p>
    #else
        #if( $config.simpleProperties.size() > 0)
            <!-- this configuration definition contains fields to be configured. -->
            <p>&nbsp;</p>
            <h2>config</h2>
            <p>
                #pform("path=$config.path" "formName=mainform")
            </p>
            #parse("/aconfig/check.vm")
        #end
    #end
#end


#if( $config.nestedProperties.size() > 0)
<p>&nbsp;</p>
<h4>Nested configurations</h4>
<p>&nbsp;&nbsp;the following nested configurations are also available:</p>
<ul>
    #foreach($prop in $config.nestedProperties)
        <li>* #i18n("property=$prop" "key=label") <a href='#url("action=display" "path=${config.path}/${prop}")'>(+)</a>  </li>
    #end
</ul>
#end

#if ($config.actions.size() > 0)
<h4>Available actions</h4>
<p>&nbsp;&nbsp;the following actions are available for this configuration:</p>
<ul>
    #foreach($action in $config.actions)
        <li>${action} .. todo: create link ${config.instance.configurationPath}</li>
    #end
</ul>
#end

</body>
</html>