#macro(showTask $cleanupTask $indent)
    <tr>
        <td class="content">
            $indent <a href="#url("action=display" "path=$cleanupTask.affectedPath")">$!webwork.htmlEncode($cleanupTask.affectedPath)</a>
        </td>
        <td class="content">
            $cleanupTask.getSummary($textProvider)
        </td>
    </tr>
    #foreach($childTask in $cleanupTask.cascaded)
        #showTask($childTask "&nbsp;&nbsp;&nbsp;&nbsp;$indent")
    #end
#end

<html>
<body>

#set($config = $action.configuration)

#parse("config/breadcrumbs.vm")

<h2>#i18n("key=confirm.delete")</h2>

<p>
    #i18n("key=confirm.delete.blurb")
</p>

<form id="confirm.form" method="post" action='#url("action=delete" "path=$path")'>
    <table class="form">
        <tr>
            <th class="content">#i18n("key=affected.path")</th>
            <th class="content">#i18n("key=action.label")</th>
        </tr>
        #showTask($task "")
        <tr>
            <td class="submit" colspan="2">
                <input type="submit" name="submitField" value="delete"></input>
                <input type="submit" name="submitField" value="cancel"></input>
            </td>
        </tr>
    </table>
</form>

</body>
</html>
