#helpTag("Administration+Projects+Tab")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>project x configuration</title>
	<script type="text/javascript">
        Layout = function(){
                var layout;
                return {
                    init : function(){
                        nestedLayout.addRegion('north', {
                            split: false,
                            titlebar: false
                        });

                        nestedLayout.addRegion('west', {
                            split:true,
                            initialSize: 200,
                            minSize: 175,
                            maxSize: 400,
                            titlebar: true,
                            collapsible: true,
                            animate: true,
                            tabPosition: 'top'
                        });

                        nestedLayout.beginUpdate();
                        nestedLayout.add('north', new YAHOO.ext.ContentPanel('innernorth', {title: 'Inner North'}));
                        nestedLayout.add('west', new YAHOO.ext.ContentPanel('project-tree', {title: 'Projects'}));
                        nestedLayout.add('west', new YAHOO.ext.ContentPanel('config-tree', {title: 'Configuration'}));
                        nestedLayout.endUpdate();
                   }
             }
        }();
        YAHOO.ext.EventManager.onDocumentReady(Layout.init, Layout, true);
	</script>
    <link href="$base/css/prototype.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    #adminTabs("projects")

    #parse("/template/includes/actionerrors.vm")

    <div id="innernorth" style="padding: 4px; padding-bottom: 12px; border-bottom: 1px solid #ccc">
    </div>

    <div id="project-tree" class="ylayout-inactive-content">
        A tree of templates/projects.
    </div>

    <div id="config-tree" class="ylayout-inactive-content">
        <h1>options nav</h1>
        <ul>
        #foreach($nestedProperty in $action.nestedTypes)
            #set($propertyPath = "${action.path}/${nestedProperty}")
            <li><a href="config.action?path=$propertyPath"> #i18n("path=$propertyPath" "key=label") </a></li>
        #end
        </ul>
    </div>

    <p>
        <h1>Project X configuration</h1>
        <p>
            Vestibulum aliquam, erat in nonummy varius, nisi lectus faucibus pede, ac scelerisque
            sem mi at ligula. Duis hendrerit. Quisque porttitor diam vitae dolor. Morbi eget nisi
            ac felis nonummy congue. Ut interdum orci non felis. Aliquam sed sapien. Praesent mollis
            gravida leo. Nunc quis lectus. Quisque egestas quam vitae dolor. Curabitur molestie
            laoreet tortor. Mauris rhoncus libero nec turpis. Suspendisse nisi. In cursus metus.
            Duis a risus convallis lacus volutpat suscipit. Aenean egestas, elit feugiat eleifend
            dignissim, metus magna sollicitudin tellus, eget pharetra metus dui dictum metus. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
        </p>

        <p>
        #foreach($nestedProperty in $action.nestedTypes)
            #set($propertyPath = "${action.path}/${nestedProperty}")
            <div class="summary">
                <h3>#i18n("path=${propertyPath}" "key=label")</h3>
                #i18n("path=${propertyPath}" "key=summary")
                For more, click <a href="config.action?path=$propertyPath">here</a>
            </div>
        #end
        </p>

        <p>
        #foreach($listProperty in $action.listTypes)
            #set($propertyPath = "${action.path}/${listProperty}")
            <div class="summary">
                <h3>#i18n("path=${propertyPath}" "key=label")</h3>
                #i18n("path=${propertyPath}" "key=summary")
                For more, click <a href="config.action?path=$propertyPath">here</a>
            </div>
        #end
        </p>


    </p>
</body>
</html>
