<html>
<head>
    <title>#wwtext("name=scm.info")</title>
    <link href="$base/css/main.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <div class="pagecontent" style="margin-top: 20px">
        #parse("template/includes/actionerrors.vm")

        <table class="content">
            #headingRow("scm.info" 2)
#foreach($property in $info.entrySet())
            #propertyRow($property)
#end
        </table>
    </div>
</body>
</html>
