<html>
<head>
    <link rel="stylesheet" type="text/css" href="$base/css/setup.css?#version()"/>
    <title>server setup</title>
</head>
<body>
    <div id="rightcolumn">
        <div id="description-panel">
            <div id="description">
                <h3>Admin User</h3>
                <p>The admin user is the special user account created to administer this server.  It is
                    through this account that you will begin configuring your installation, adding users
                    and projects as necessary.  This user can not be deleted.</p>
                <h3>Server Settings</h3>
                <p>This step allows you to jump start the configuration of this Pulse installation by providing
                you with some of the more common server settings.</p>
            </div>
        </div>
    </div>

    <div id="leftcolumn">
        <div class="config-panel">
            #pwizard("id=$action.id" "namespace=setupconfig")
        #if($state.hasConfigurationCheck())
            #checkForm($action.id $state.type "wizardForm" "setupconfig")
        #end
        </div>
    </div>
</body>
</html>
