<html>
	<head>
		<title>#if ($title) [CiB] $title #else [CiB] #end</title>
		<link href="$base/main.css" rel="stylesheet" type="text/css" media="screen">
		<link href="$base/form.css" rel="stylesheet" type="text/css" media="screen">
		$head
	</head>
        
    <body>
    <div id="container">

        <!-- page properties are specified using <content tag="selectedTab">navigate</content> -->
        <!--#set ($selectedTab = $page.getProperty("page.selectedTab"))-->
        #set ($navProject = $page.getProperty("page.navProject"))
        #set ($navProjectName = $page.getProperty("page.navProjectName"))

        <div id="header">:: cinnamon bob :: #if($navProject) <a href="manageProject.action?id=$navProject">$navProjectName</a>#end</div>
        <div id="navbar">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="serverStatus.action">server</a></li>
                <li><a href="viewProjects.action">projects</a></li>
                <li><a href="viewUsers.action">users</a></li>
            </ul>
        </div>

<!--
        <div id="left">
           <div class="menu">
                <h3>user</h3>
                <p>
                    <ul>
                        <li> <a href="findUsers!default.action">find</a></li>
                        <li> <a href="createUser!default.action">create</a></li>
                    </ul>
                </p>
            </div>
            <div class="menu">
                <h3>subscription</h3>
                <p>
                    <ul>
                        <li> <a href="createSubscription!default.action">create</a></li>
                    </ul>
                </p>
            </div>
            <div class="menu">
                <h3>project request.project.name</h3>
                <p>
                    <ul>
                        <li> <a href="findProjects!default.action">find</a></li>
                        <li> <a href="createProject!default.action">create</a></li>
                    </ul>
                </p>
            </div>
        </div>
-->
<!--
        <div id="right">

        </div>
-->
        <div id="content">
		    $body
        </div>
        <div id="footer">
            <b>:: project cinnamon bob ::</b>
            copyright &copy; 2005-2006 daniel ostermeier and jason sankey
        </div>        
    </div>
    </body>
</html>