<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="com.zutubi.pulse.core.postprocessors">
        <post-processor name="gcc.pp" display-name="gcc output processor"
                        default-processor="true" class="com.zutubi.pulse.core.postprocessors.gcc.GccPostProcessorConfiguration"/>
    </extension>
</plugin>
