<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="velocityEngine" class="com.cinnamonbob.bootstrap.velocity.VelocityEngineFactoryBean"/>

    <bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="configLocation">
            <value>classpath:com/cinnamonbob/bootstrap/quartz/quartz.properties</value>
        </property>
    </bean>

    <bean id="jettyServer" class="com.cinnamonbob.bootstrap.jetty.JettyServerFactoryBean" destroy-method="shutdown">
        <property name="configurationManager">
            <ref bean="configurationManager"/>
        </property>
    </bean>

    <bean id="jettyManager" class="com.cinnamonbob.bootstrap.jetty.JettyManager">
        <property name="jettyServer">
            <ref bean="jettyServer"/>
        </property>
        <property name="configurationManager">
            <ref bean="configurationManager"/>
        </property>
    </bean>

    <bean id="buildManager" class="com.cinnamonbob.model.DefaultBuildManager" autowire="byName"/>

    <bean id="userManager" class="com.cinnamonbob.model.DefaultUserManager" autowire="byName"/>
    
    <bean id="projectManager" class="com.cinnamonbob.model.DefaultProjectManager" autowire="byName"/>

    <bean id="scheduleManager" class="com.cinnamonbob.model.DefaultScheduleManager" autowire="byName"/>

    <bean id="subscriptionManager" class="com.cinnamonbob.model.DefaultSubscriptionManager" autowire="byName"/>

    <bean id="scmManager" class="com.cinnamonbob.model.DefaultScmManager" autowire="byName"/>

    <bean id="eventManager" class="com.cinnamonbob.event.DefaultEventManager" autowire="byName"/>
</beans>
