#helpTag("Project+Administrators")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=project.admin.add")</title>
</head>
<body>
    <h1>#projectName($project)</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addProjectAdmins.action" "heading=%{getText('project.admin.add')}" "method=post")
    #wwhidden("name=projectId")

    #wwselect("name=admins" "label=%{getText('project.new.admins')}" "labelposition=top" "list=users" "multiple=true" "size=10" "tabindex=1")

    #saveCancel(2)
#end
</body>
</html>
