#authorisationTags($principle)
<content tag="selectedTab">projects</content>
<html>
<head>
    <title>#wwtext("name=add.project")</title>
</head>
<body>
    <h1>:: #wwtext("name=add.project") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addProject.action" "heading=%{getText('ant.setup')}" "method=post")
    #wwhidden("name=state")
    #wwhidden("name=submit")

    #wwtextfield("name=details.buildFile" "label=%{getText('ant.filename')}" "required=true" "size=40" "tabindex=1" "onkeypress=return submitenter(this,event)")
    #inlineHelp("ant.filename.help")
    #wwtextfield("name=details.targets" "label=%{getText('ant.targets')}" "size=40" "tabindex=2" "onkeypress=return submitenter(this,event)")
    #inlineHelp("ant.targets.help")
    #wwtextfield("name=details.workingDir" "label=%{getText('ant.working.dir')}" "size=40" "tabindex=3" "onkeypress=return submitenter(this,event)")
    #inlineHelp("ant.working.dir.help")
    #wwtextfield("name=details.arguments" "label=%{getText('ant.args')}" "size=40" "tabindex=4" "onkeypress=return submitenter(this,event)")
    #inlineHelp("ant.args.help")
    #previousFinishCancel(5)
#end
</body>
</html>
