#helpTag("Subversion")
#authorisationTags($principle)
<content tag="selectedTab">projects</content>
<html>
<head>
    <title>#wwtext("name=add.project")</title>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    #svnTestScript("svn.setup")
</head>
<body>
    <h1>:: #wwtext("name=add.project") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addProject.action" "id=svn.setup" "heading=%{getText('svn.setup')}" "method=post")
    #wwhidden("name=state")
    #wwhidden("name=submit")

    #wwtextfield("name=svn.url" "label=%{getText('svn.url')}" "required=true" "size=60" "tabindex=1" "onkeypress=return submitenter(this,event)")
    #wwtextfield("name=svn.username" "label=%{getText('svn.username')}" "tabindex=2" "onkeypress=return submitenter(this,event)")
    #wwpassword("name=svn.password" "label=%{getText('svn.password')}" "tabindex=3" "showPassword=true""onkeypress=return submitenter(this,event)")
    #wwtextfield("name=svn.keyfile" "label=%{getText('svn.keyfile')}" "size=60" "tabindex=4" "onkeypress=return submitenter(this,event)")
    #inlineHelp("svn.keyfile.help")
    #wwpassword("name=svn.passphrase" "label=%{getText('svn.passphrase')}" "tabindex=5" "showPassword=true""onkeypress=return submitenter(this,event)")
    #inlineHelp("svn.passphrase.help")

    #testSettingsRow()

    #previousNextCancel(6)
#end
</body>
</html>
