#helpTag("Maven+Projects")
#authorisationTags($principle)
<content tag="selectedTab">projects</content>
<html>
<head>
    <title>#wwtext("name=add.project")</title>
</head>
<body>
    <h1>:: #wwtext("name=add.project") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addProject.action" "heading=%{getText('maven.setup')}" "method=post")
    #wwhidden("name=state")
    #wwhidden("name=submit")

    #wwtextfield("name=details.workingDir" "label=%{getText('maven.working.dir')}" "size=40" "tabindex=1" "onkeypress=return submitenter(this,event)")
    #inlineHelp("maven.working.dir.help")
    #wwtextfield("name=details.targets" "label=%{getText('maven.targets')}" "tabindex=2" "onkeypress=return submitenter(this,event)")
    #inlineHelp("maven.targets.help")
    #wwtextfield("name=details.arguments" "label=%{getText('maven.args')}" "size=40" "tabindex=3" "onkeypress=return submitenter(this,event)")
    #inlineHelp("maven.args.help")
    #previousFinishCancel(4)
 #end
</body>
</html>