<html>
<head>
    <title>#wwtext("name=add.project")</title>
</head>
<body>
    <h1>:: #wwtext("name=add.project") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addProject.action" "heading=%{getText('maven.setup')}" "method=post")
    #wwhidden("name=state")

    #wwtextfield("name=details.targets" "label=%{getText('maven.targets')}" "tabindex=1")
    #inlineHelp("maven.targets.help")
    #wwtextfield("name=details.baseDir" "label=%{getText('maven.base.dir')}" "size=40" "tabindex=2")
    #inlineHelp("maven.base.dir.help")

    #openSubmit()
        #wwsubmit("name=next" "value=%{getText('finish.name')}" "tabindex=3")
        #wwsubmit("name=previous" "value=%{getText('previous.name')}" "tabindex=4")
        #wwsubmit("name=cancel" "value=%{getText('cancel.name')}" "tabindex=5")
    #closeSubmit()
 #end
</body>
</html>