#helpTag("Make+Projects")
#authorisationTags($principle)
<content tag="selectedTab">projects</content>
<html>
<head>
    <title>#wwtext("name=add.project")</title>
    <script type="text/javascript" src="/prototype.js"></script>
    <script type="text/javascript">
    <!--
    	function openDirWindow()
    	{
    	    openBrowseWindow(true, "addProject_details_workingDir", "");
    	}

    	function openFileWindow()
    	{
    	    openBrowseWindow(false, "addProject_details_makefile", "&prefix=" + $F("addProject_details_workingDir"));
    	}
    -->
    </script>
</head>
<body>
    <div id="pagecontent">
    <h1>:: #wwtext("name=add.project") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addProject.action" "heading=%{getText('make.setup')}" "method=post")
    #wwhidden("name=state")
    #wwhidden("name=submit")

    #wwtextfield("name=details.workingDir" "label=%{getText('make.working.dir')}" "after= <a href='#' onclick='openDirWindow(); return false;'>browse</a>" "size=40" "tabindex=1" "onkeypress=return submitenter(this,event)")
    #inlineHelp("make.working.dir.help")
    #wwtextfield("name=details.makefile" "label=%{getText('make.filename')}" "after= <a href='#' onclick='openFileWindow(); return false;'>browse</a>" "required=true" "size=40" "tabindex=2" "onkeypress=return submitenter(this,event)")
    #inlineHelp("make.filename.help")
    #wwtextfield("name=details.targets" "label=%{getText('make.targets')}" "size=40" "tabindex=3" "onkeypress=return submitenter(this,event)")
    #inlineHelp("make.targets.help")
    #wwtextfield("name=details.arguments" "label=%{getText('make.args')}" "size=40" "tabindex=4" "onkeypress=return submitenter(this,event)")
    #inlineHelp("make.args.help")
    #previousFinishCancel(5)
#end

    </div>
</body>
</html>
