<html>
<head>
    <title>#wwtext("name=add.project")</title>
</head>
<body>
    <h1>:: #wwtext("name=add.project") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addProject.action" "heading=%{getText('ant.setup')}" "method=post")
    #wwhidden("name=state")

    #wwtextfield("name=details.buildFile" "label=%{getText('ant.filename')}" "required=true" "size=40" "tabindex=1")
    #inlineHelp("ant.filename.help")
    #wwtextfield("name=details.targets" "label=%{getText('ant.targets')}" "size=40" "tabindex=2")
    #inlineHelp("ant.targets.help")

    #openSubmit()
        #wwsubmit("name=next" "value=%{getText('finish.name')}" "tabindex=3")
        #wwsubmit("name=previous" "value=%{getText('previous.name')}" "tabindex=4")
        #wwsubmit("name=cancel" "value=%{getText('cancel.name')}" "tabindex=5")
    #closeSubmit()
#end
</body>
</html>
