#helpTag("Add+Project+Wizard")
#authorisationTags($principle)
<content tag="selectedTab">projects</content>
<html>
<head>
    <title>#wwtext("name=add.project")</title>
</head>
<body>
    <div id="pagecontent">
    <h1>:: #wwtext("name=add.project") ::</h1>

    <table class="columns">
        <tr><td class="columns">

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addProject.action" "id=project.basics" "width=100%" "heading=%{getText('project.basics')}" "method=post")
    #wwhidden("name=state")
    #wwhidden("name=submit")

    #wwtextfield("name=name" "label=%{getText('project.name')}" "required=true" "tabindex=1" "onkeypress=return submitenter(this,event)")
    #wwtextarea("name=description" "label=%{getText('project.description')}" "rows=4" "cols=50" "tabindex=2")
    #wwtextfield("name=url" "label=%{getText('project.url')}" "size=50" "tabindex=4" "onkeypress=return submitenter(this,event)")
    #wwselect("name=scm" "label=%{getText('scm')}" "list=scms" "required=true" "tabindex=5" "onkeypress=return submitenter(this,event)")
    #wwselect("name=type" "label=%{getText('project.type')}" "list=types" "required=true" "tabindex=6" "onkeypress=return submitenter(this,event)")
    #inlineHelp("project.type.help")
    #nextCancel(7)
#end

    </td><td class="columns">

        <table class="fill-content">
            #headingRow("project.types" 2)
            <tr>
                #contentRowHeading("project.type.ant")
                #staticWrapCell("project.type.ant.description")
            </tr>
            <tr>
                #contentRowHeading("project.type.custom")
                #staticWrapCell("project.type.custom.description")
            </tr>
            <tr>
                #contentRowHeading("project.type.executable")
                #staticWrapCell("project.type.executable.description")
            </tr>
            <tr>
                #contentRowHeading("project.type.make")
                #staticWrapCell("project.type.make.description")
            </tr>
            <tr>
                #contentRowHeading("project.type.maven")
                #staticWrapCell("project.type.maven.description")
            </tr>
            <tr>
                #contentRowHeading("project.type.maven2")
                #staticWrapCell("project.type.maven2.description")
            </tr>
            <tr>
                #contentRowHeading("project.type.versioned")
                #staticWrapCell("project.type.versioned.description")
            </tr>
            <tr>
                #contentRowHeading("project.type.xcode")
                #staticWrapCell("project.type.xcode.description")
            </tr>
        </table>

    </td></tr>
</table>

    </div>
</body>
</html>
