<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>browse</title>
    <script type="text/javascript">
        <!--
                function openPopup()
                {
                    var formElement = document.forms['my.form'].elements['initPath'];
                    window.open('popups/browse-popup.action?formname=my.form&fieldname=initPath&initPath=' + formElement.value, 'browse_popup', 'width=500, height=650, resizable=yes', false);
                    return false
                }
        //-->
    </script>
</head>
    <body>

    <p>blurb</p>
    <div style="margin:5em 2em;">
        <form name="my.form" action="dd">
            <input type="text" name="initPath" size="60"/>
            <input type="submit" value="browse" onClick="return openPopup();"/>
            <input type="submit" value="next"/>
            <input type="reset" value="clear"/>
        </form>
    </div>
    </body>
</html>
