#authorisationTags($principle)
#buildTags($buildResult.project $buildResult)
<html>
<head>
    <title>$!webwork.htmlEncode($path)</title>
</head>
<body>
    #buildTabs($buildResult "working-dir")

#if($buildResult.completed())
    #if($foundBase)
        #showDirectoryListing("base.dir" "browseProjectDir.action?buildId=$buildResult.id&amp;recipeId=$recipeId&amp;" false false)
    #else
    <p>
        #wwtext("name=working.dir.cleaned")
    </p>
    #end
#else
    <p>
        #wwtext("name=working.dir.pending")
    </p>
#end

    #tabEnd()
</html>
