h1.build-log {
    font-size: x-large;
    margin-top: 0.3em;
    color: #a0a0a0;
}

h2.command-info, h2.command-success, h2.command-failure {
    font-size: large;
    border-style: solid;
    border-width: 1px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.2em;
}

h2.command-info {
    border-color: #b0b0f0;
    background-color: #eeeeff;
}

h2.command-success {
    border-color: #00c000;
    background-color: #ddffdd;
}

h2.command-failure {
    border-color: #c00000;
    background-color: #ffdddd;
}

h2.command-element {
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #e0e0e0;
    padding-left: 0.2em
}

div.command-content {
    padding: 0.5em;
    background-color: #f4f4f4;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    margin-top: 3px;
    margin-bottom: 15px;
}

div.error, div.warning, div.info {
    border-style: solid;
    border-width: 1px;
    padding-left: 0.3em;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.error {
    border-color: #c00000;
    background-color: #ffe0e0;
}

div.warning {
    border-color: #f0f000;
    background-color: #f0f0d0;
}

div.info {
    border-color: #b0b0f0;
    background-color: #eeeeff;
}

th.command-detail, th.build-info, th.build-success, th.build-failure, th.build-pending {
    background-color: #ffffff;
    text-align: left;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-style: solid;
    border-width: 1px;
    border-color: #ddddee;
}

td.command-detail, td.build-info, td.build-success, td.build-failure, td.build-pending {
    font-size: small;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ddddee;
    padding-left: 0.3em;
    padding-right: 0.3em;
    vertical-align: top;
}

td.build-info, th.build-info {
    border-color: #b0b0f0;
    background-color: #eeeeff;
}

td.build-success, th.build-success {
    border-color: #00c000;
    background-color: #ddffdd;
}

td.build-failure, th.build-failure {
    border-color: #c00000;
    background-color: #ffdddd;
}

td.build-pending, th.build-pending {
    border-color: #D0D9BD;
    background-color: #f5f7f1;
}

.filename {
    font-family: "Lucida Console" monospace;
}

div.artifact {
    margin-left: 20px;
}

ul.feature {
    margin: 0.2em 0.5em 0.2em 0;
}

td.action {
    font-weight: bold;
    white-space: nowrap;
}

h3.side-title {
    font-size: medium;
    padding: 0.3em;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #90b0c0;
    color: #ffffff;
    white-space: nowrap;
}

div.side-content {
    background-color: #f0f0ff;
    padding: 0.2em;
    border-style: solid;
    border-width: 1px;
    border-color: #90b0c0;
    margin-bottom: 3px;
}

td.health-ok {
    color: #00c000;
    font-weight: bold;
}

td.health-failed {
    color: #c00000;
    font-weight: bold;
}

#project-left-column {
    float: left;
    width: 33%;
}

#project-content {
    margin-left: 35%;
}

ul.scm-changes {
    list-style: none;
    padding-left: 4px;
}

#build-tree ul {
    list-style: none;
}

#build-tree li {
    margin-top: 10px;
}

ul.error, ul.warning, ul.info {
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: solid 1px;
}

ul.info {
    border-color: #b0b0f0;
    background-color: #eeeeff;
}

li.error, li.warning, li.info {
    padding-left: 20px;
}

li.error {
    background: url( /images/forbidden_16.gif ) no-repeat 0 0;
}

li.warning {
    background: url( /images/warning_16.gif ) no-repeat 0 0;
}

li.info {
    background: url( /images/info_16.gif ) no-repeat 0 0;
}

ul.artifact {
    list-style: none;
    padding-left: 0px;
}

li.artifact {
    padding-left: 20px;
    background: url( /images/gnome-mime-text.png ) no-repeat 0 0;
}

ul.recipe-summary {
    list-style: none;
    padding-left: 20px;
}

li.recipe-summary {
    margin-top: 12px;
}

li.title {
    margin-bottom: 8px;
    font-weight: bold;
} h4 {
margin-top : 8 px;
    margin-bottom: 6px;
}
