#helpTag("Project+Build+Completed+Triggers")
#authorisationTags($principle)
#projectTags($wizard.project)
<html>
<head>
    <title>#wwtext("name=add.trigger")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addTrigger.action" "id=trigger.build.completed" "heading=%{getText('trigger.build.completed.step')}" "method=post")
    #wwhidden("name=state")
    #wwhidden("name=submit")

    #wwselect("name=filterProject" "label=%{getText('trigger.build.completed.project')}" "list=filterProjects" "onchange=specSelected()" "tabindex=1")
    #inlineHelp("trigger.build.completed.project.help")
    #wwselect("name=filterSpecification" "label=%{getText('trigger.build.completed.specification')}" "tabindex=2")
    #inlineHelp("trigger.build.completed.specification.help")
    #wwselect("name=filterStateNames" "label=%{getText('trigger.build.completed.states')}" "list=stateMap" "multiple=true" "tabindex=3")
    #inlineHelp("trigger.build.completed.states.help")

    #previousFinishCancel(2)
#end

    <script type="text/javascript">
        #tiedSelect("spec" $filterProjects.keySet() $filterSpecifications $filterSpecification "trigger.build.completed_filterProject" "trigger.build.completed_filterSpecification")
    </script>


</body>
</html>
