#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #projectTabs("configuration")

    <table class="columns" width="90%">
        <tr>
            <td class="columns" width="40%">
                <table id="project.basics" class="fill-content">
                    #editHeadingRow("project.basics" 2 "editProject!input.action?id=$project.id" "project.basics.edit")
                    #dynamicRow("project.name" $project.name)
                    #dynamicRow("project.description" $project.description)
                    #dynamicLinkRow("project.url" $project.url $project.url)
                </table>
                <table id="project.specifics" class="fill-content">
                    #editHeadingRow("project.specifics" 2 "editBobFileDetails!input.action?id=$project.bobFileDetails.id&amp;projectId=$project.id" "project.specifics.edit")
                    #dynamicRow("project.type" $project.bobFileDetails.type)
#foreach($property in $project.bobFileDetails.properties.entrySet())
                    #propertyRow($property)
#end
                </table>
                <table id="project.scm" class="fill-content">
                    #editHeadingRow("project.scm" 2 "editScm!input.action?id=$project.scm.id&amp;projectId=$project.id" "project.scm.edit")
                    #scmRow($project)
                    #dynamicRow("scm.location" "$project.scm.createServer().location")
                </table>
                <table id="project.cleanup" class="fill-content">
                    #editHeadingRow("project.cleanup" 2 "editCleanupPolicy!input.action?projectId=$project.id" "project.cleanup.edit")
                    #dynamicRow("project.work.dirs.deleted" $project.cleanupPolicy.prettyWorkDirDays)
                    #dynamicRow("project.results.deleted" $project.cleanupPolicy.prettyResultDays)
                </table>
            </td>
            <td class="columns" width="40%">
                <table id="project.buildspecs" class="fill-content">
                    #headingRow("project.buildspecs" 6)
                    <tr>
                        #contentHeading("buildspec.name" 1)
                        #contentHeading("recipe" 1)
                        #contentHeading("buildspec.timeout" 1)
                        #contentHeading("actions" 3)
                    </tr>
#foreach($buildSpec in $project.buildSpecifications)
    #set($confirmMessage = $action.getText("buildspec.confirm.delete", [$buildSpec.name]))
                    <tr>
                        #dynamicCell($buildSpec.name)
                        #dynamicCell($buildSpec.root.children.get(0).stage.recipeSafe)
                        #dynamicCell($buildSpec.prettyTimeout)
                        #actionCell("buildspec.trigger" "triggerBuild.action?id=$buildSpec.id&amp;projectId=$project.id" "lightning.gif")
                        #editCell("editBuildSpecification!input.action?projectId=$project.id&amp;id=$buildSpec.id" "edit_$!webwork.htmlEncode($buildSpec.name)")
                        #deleteCell($confirmMessage "deleteBuildSpecification.action?projectId=$project.id&amp;id=$buildSpec.id" "delete_$!webwork.htmlEncode($buildSpec.name)")
                    </tr>
#end
                    #addRow("buildspec.add" 6 "createBuildSpecification!input.action?projectId=$project.id" "project.buildspec.add")
                </table>
                <table id="project.triggers" class="fill-content">
                    #headingRow("project.triggers" 5)
                    <tr>
                        #contentHeading("trigger.name" 1)
                        #contentHeading("trigger.type" 1)
                        #contentHeading("trigger.spec" 1)
                        #contentHeading("actions" 2)
                    </tr>
#foreach($trigger in $triggers)
    #set($confirmMessage = $action.getText("trigger.confirm.delete", [$trigger.name]))
                    <tr>
                        #dynamicCell($trigger.name)
                        #dynamicCell($trigger.type)
                        #dynamicCell($trigger.dataMap.spec)
                        #editCell("editTrigger!input.action?id=$trigger.id&amp;projectId=$project.id" "edit_$!webwork.htmlEncode($trigger.name)")
                        #deleteCell($confirmMessage "deleteTrigger.action?id=$trigger.id" "delete_$!webwork.htmlEncode($trigger.name)")
                    </tr>
#end
                    #addRow("trigger.add" 5 "addTrigger.action?projectId=$project.id" "project.trigger.add")
                </table>
            </td>
        </tr>
    </table>
</html>
