#authorisationTags($principle)
#projectTags($wizard.project)
<html>
<head>
    <title>#wwtext("name=add.trigger")</title>
</head>
<body>
    <h1>:: #wwtext("name=add.trigger") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addTrigger.action" "heading=%{getText('trigger.cron.step')}" "method=post")
    #wwhidden("name=state")

    #wwtextfield("name=name" "label=%{getText('trigger.name')}" "required=true" "tabindex=1")
    #wwselect("name=spec" "label=%{getText('trigger.spec')}" "list=specs" "tabindex=2")
    #wwtextfield("name=cron" "label=%{getText('trigger.cron.string')}" "required=true" "tabindex=3")
    #inlineHelp("trigger.cron.string.help")

    #openSubmit()
        #wwsubmit("name=next" "value=%{getText('finish.name')}" "tabindex=4")
        #wwsubmit("name=previous" "value=%{getText('previous.name')}" "tabindex=5")
        #wwsubmit("name=cancel" "value=%{getText('cancel.name')}" "tabindex=5")
     #closeSubmit()
#end
</body>
</html>
