#authorisationTags($principle)
#projectTags($wizard.project)
<html>
<head>
    <title>#wwtext("name=add.trigger")</title>
</head>
<body>
    <h1>:: #wwtext("name=add.trigger") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addTrigger.action" "id=trigger.cron.create" "heading=%{getText('trigger.cron.step')}" "method=post")
    #wwhidden("name=state")
    #wwhidden("name=submit")

    #wwtextfield("name=cron" "label=%{getText('trigger.cron.string')}" "required=true" "tabindex=1" "onkeypress=return submitenter(this,event)")
    #inlineHelp("trigger.cron.string.help")
    #previousFinishCancel(2)
#end
</body>
</html>
