#helpTag("Project+Tag+Post+Build+Actions")
#authorisationTags($principle)
#projectTags($wizard.project)
<html>
<head>
    <title>#wwtext("name=add.post.build.action")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addPostBuildAction.action" "id=post.build.action.tag" "heading=%{getText('post.build.action.tag.step')}" "method=post")
    #wwhidden("name=state")
    #wwhidden("name=submit")

    #wwtextfield("name=tagName" "label=%{getText('post.build.action.tag.name')}" "required=true" "size=60" "tabindex=1" "onkeypress=return submitenter(this,event)")
#if ($project.scm.class.name == 'com.zutubi.pulse.model.Svn')
    #inlineHelp("post.build.action.tag.name.help.svn")
#else
    #inlineHelp("post.build.action.tag.name.help")
#end
    #wwcheckbox("name=moveExisting" "label=%{getText('post.build.action.tag.move')}" "tabindex=2")
    #inlineHelp("post.build.action.tag.move.help")

    #previousFinishCancel(3)
#end

    #tabEnd()
</body>
</html>
