#helpTag("Custom+Projects")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=convert.to.custom")</title>
</head>
<body>
    #projectTabs("configuration")
    
<table class="columns">
    <tr><td class="columns" width="100%">

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=convertToCustomProject.action" "heading=%{getText('convert.to.custom')}" "method=post")
    #wwhidden("name=id")

    #wwtextarea("name=details.pulseFile" "labelposition=top" "cssStyle=width: 98%" "label=%{getText('pulse.file')}" "required=true" "rows=30" "cols=80" "tabindex=1")

    #saveCancel(2)
#end

    </td><td class="columns">

        #parse("template/includes/pulse-file-reference.vm")

    </td></tr>
</table>

    #tabEnd()
</body>
</html>
