#helpTag("Versioned+Projects")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=convert.to.versioned")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=convertToVersionedProject.action" "heading=%{getText('convert.to.versioned')}" "method=post")
    #wwhidden("name=id")

    <tr>
        <th class="label">#wwtext("name=pulse.file"): </th>
        <td class="field"><a href="downloadProjectBuildFile.action?id=$id">#wwtext("name=download")</a></td>
    </tr>
    #inlineHelp("pulse.file.download.help")
    #wwtextfield("name=details.pulseFileName" "label=%{getText('pulse.filename')}" "required=true" "size=40" "tabindex=1")
    #inlineHelp("pulse.checked.in.filename.help")

    #saveCancel(2)
#end

    #tabEnd()
</body>
</html>
