<html>
<head>
    <title>create trigger</title>
</head>
<content tag="action">trigger.create</content>
<body>

    #parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='createTrigger.action'" "method='post'")

    #tag (Hidden "name='projectId'")
    #tag (Hidden "name='name'")
    
    <h3>Create trigger</h3>

    <fieldset>
        #tag (TextField "required='true'" "name='trigger.cronExpression'" "tabindex='1'")
    </fieldset>

    <fieldset class="submit">
        #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='2'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='3'")
    </fieldset>

 #end

</body>
</html>
