<html>
<head>
    <title>create-contact</title>
</head>
<body>

    #parse("/template/includes/actionerrors.vm")
    
    #bodytag (Form "action='createContactPoint.action'" "method='post'")
        #tag (Hidden "name='user'")
        <h3>create contact</h3>
        <fieldset>
            #tag (Select "list=types" "name='type'" "tabindex='1'")
        </fieldset>

        <fieldset class="submit">
            #tag (Submit "value=getText('next.name')" "name='next'" "tabindex='2'")
        </fieldset>
    #end

</body>
</html>
