#helpTag("Build+Specification+Properties")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=property.add")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=createBuildSpecificationProperty.action" "heading=%{getText('property.add')}" "method=post")
    #wwhidden("name=projectId")
    #wwhidden("name=specId")
    #wwtextfield("name=property.name" "label=%{getText('property.name')}" "required=true" "tabindex=1")
    #wwtextfield("name=value" "label=%{getText('property.value')}" "size=60" "tabindex=2")
    #wwcheckbox("name=property.addToEnvironment" "label=%{getText('property.add.to.environment')}" "tabindex=3")
    #inlineHelp("property.add.to.environment.help")
    #wwcheckbox("name=property.addToPath" "label=%{getText('property.add.to.path')}" "tabindex=4")
    #inlineHelp("property.add.to.path.help")
    #wwcheckbox("name=property.resolveVariables" "label=%{getText('property.resolve.variables')}" "tabindex=5")
    #inlineHelp("property.resolve.variables.help")

    #saveCancel(6)
#end

    #tabEnd()
</body>
</html>
