<html>
<head>
    <title>create subscription</title>
</head>
<content tag="action">subscription.create</content>
<body>

#parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='createSubscription.action'" "method='post'")
    #tag (Hidden "name='userId'")

    <h3>create subscription</h3>
    <fieldset>
        #tag (Select "list=projects" "name='projectId'" "label='project'" "tabindex='1'")
        #tag (Select "list=contactPoints" "name='contactPointId'" "label='contact point'" "tabindex='2'")
        #tag (Select "list=conditions" "name='condition'" "label='notification condition'" "tabindex='3'")
    </fieldset>

    <fieldset class="submit">
        #tag (Submit "value=getText('create.name')" "name='create'" "tabindex='5'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='6'")
    </fieldset>
#end

</body>
</html>
