<html>
<head>
    <title>create-subscription</title>
</head>
<content tag="action">subscription.create</content>
<body>

#parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='createSubscription.action'" "method='post'")
    <h3>Create subscription</h3>
    <fieldset>
        #tag (TextField "name='user'" "required='true'" "label='user'" "tabindex='1'")
        #tag (TextField "name='project'" "required='true'" "label='project'" "tabindex='2'")
        #tag (TextField "name='contactPoint'" "label='contact point'" "tabindex='3'")
        #tag (Select "list=conditions" "name='condition'" "label='notification condition'" "tabindex='4'")
    </fieldset>

    <fieldset class="submit">
        #tag (Submit "value=getText('create.name')" "name='create'" "tabindex='5'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='6'")
    </fieldset>
#end

</body>
</html>
