#helpTag("Project+Build+Specifications")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=add.spec")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=createBuildSpecification.action" "id=spec.add" "heading=%{getText('add.spec')}" "method=post")
    #wwhidden("name=projectId")

    #wwtextfield("name=spec.name" "label=%{getText('spec.name')}" "required=true"  "tabindex=1")
    #wwcheckbox("name=spec.isolateChangelists" "label=%{getText('buildspec.isolate.changelists')}" "tabindex=2")
    #inlineHelp("buildspec.isolate.changelists.help")
    #wwcheckbox("name=spec.retainWorkingCopy" "label=%{getText('buildspec.retain.working.copy')}" "tabindex=3")
    #inlineHelp("buildspec.retain.working.copy.help")
    #wwcheckbox("name=timeoutEnabled" "label=%{getText('enable.timeout')}" "fieldValue=true" "onclick=setEnableState('spec.add_timeout', 'spec.add_timeoutEnabled')" "tabindex=4")
    #set($minutes = $action.getText('spec.timeout.minutes'))
    #wwtextfield("name=timeout" "label=%{getText('spec.timeout')}" "size=6" "after=$minutes" "tabindex=5")
    #wwcheckbox("name=prompt" "label=%{getText('buildspec.prompt')}" "tabindex=6")
    #inlineHelp("buildspec.prompt.help")
    #wwtextfield("name=name" "label=%{getText('buildspec.stage.name')}" "required=true" "tabindex=7")
#if($recipes.size() > 1)
    #wwcombobox("name=stage.recipe" "list=recipes" "label=%{getText('recipe')}" "tabindex=8")
#else
    #wwtextfield("name=stage.recipe" "label=%{getText('recipe')}" "tabindex=8")
#end
    #inlineHelp("spec.recipe.help")
    #wwselect("name=buildHost" "list=buildHosts" "label=%{getText('buildspec.stage.agent')}" "required=true"  "tabindex=9")

    <script type="text/javascript">
        setEnableState('spec.add_timeout', 'spec.add_timeoutEnabled');
    </script>

    #saveCancel(10)
#end


</body>
</html>
