<html>
<head>
    <title>create-scm</title>
</head>
<content tag="action">scm.create</content>
<body>

    #parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='createScm.action'" "method='post'")
    #tag (Hidden "name='project'")
    <h3>Create scm: step 1</h3>
    <fieldset>
        #tag (Select "list=types" "name='type'" "label='scm.type'" "tabindex='1'")
    </fieldset>
        
    <fieldset class="submit">
        #tag (Submit "value=getText('next.name')" "name='next'" "tabindex='2'")
    </fieldset>
 #end

</body>
</html>
