#authorisationTags($principle)
<html>
<head>
    <title>add build stage</title>
</head>
<content tag="action">build-stage.create</content>
<body>

    #parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='createBuildSpecificationNode.action'" "method='post'")
    #tag (Hidden "name='specId'")
    #tag (Hidden "name='parentId'")
    #tag (Hidden "name='projectId'")
    <h3>add build stage</h3>
    <fieldset>
        #tag (Select "name='buildHost'" "list=buildHosts" "tabindex='1'")
        #tag (TextField "name='stage.recipe'" "tabindex='2'")
    </fieldset>

    <fieldset class="submit">
        #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='3'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='4'")
    </fieldset>
#end

</body>
</html>
