#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #projectTabs("current-build")
#if($currentBuild)
    #showBuild($currentBuild true)
#else
    <p>
        #wwtext("name=never.built")
    </p>
#end
</html>
