#helpTag("Dashboard+Section")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<content tag="helpPage">Dashboard</content>
<html>
<head>
    <title>#wwtext("name=dashboard")</title>
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type="text/javascript">
        #updater("/ajax/dashboardPanel.action" "panel" $principle)

        function showHideBuildsFloat(id)
        {
            var window = getElement('buildsWindow');
            var link = getElement(id + "_link");

            if(window.style.display == 'none')
            {
                var element = getElement(id);
                var cell = getElement(id + "_cell");
                var windowContent = getElement('buildsWindowContent');

                windowContent.innerHTML = element.innerHTML;
                var position = Position.positionedOffset(cell);
                window.style.visibility = 'hidden';
                window.style.display = '';
                window.style.left = position[0] + cell.offsetWidth - window.offsetWidth - 20 + "px";
                window.style.visibility = 'visible';
                window.style.top = position[1] + 20 + "px";
            }
            else
            {
                window.style.display = 'none';
            }
        }
    </script>
</head>
<body>
    #dashboardTabs("homepage")

    <div id="panel">
        #parse("ajax/dashboard-panel.vm")
    </div>

    <div id="buildsWindow" class="floating" style="display: none;">
        <div id="buildsWindowContent">
        </div>
    </div>

    #tabEnd()
</body>
</html>
