#helpTag("Dashboard+Section")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=dashboard")</title>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript" src="$base/js/scriptaculous/scriptaculous.js"></script>
    <script type="text/javascript" src="$base/js/main.js"></script>
    <script type="text/javascript">
        #updater("$base/ajax/dashboardPanel.action" "panel" $principle)
    </script>
</head>
<body>
    #dashboardTabs("homepage")

    <div id="panel">
        #parse("ajax/dashboard-panel.vm")
    </div>

    <div id="buildsWindow" class="floating" style="display: none;">
        <div id="buildsWindowContent">
        </div>
    </div>

    <div id="commentsWindow" class="floating" style="display: none;">
        <div id="commentsWindowContent">
        </div>
    </div>
    
    #tabEnd()
</body>
</html>
