#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.ant")</title>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editAntDetails.action" "heading=%{getText('edit.ant')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=details.buildFile" "label=%{getText('ant.filename')}" "required=true" "size=40" "tabindex=1")
    #inlineHelp("ant.filename.help")
    #wwtextfield("name=details.targets" "label=%{getText('ant.targets')}" "size=40" "tabindex=2")
    #inlineHelp("ant.targets.help")

    #saveCancel(3)
 #end
</body>
</html>
