#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.cvs")</title>
    <script type="text/javascript" src="/prototype.js"></script>
    #cvsTestScript("cvs.edit")
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editCvs.action" "id=cvs.edit" "heading=%{getText('edit.cvs')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=cvs.root" "label=%{getText('cvs.root')}" "required=true" "size=60" "tabindex=1")
    #inlineHelp("cvs.root.help")
    #wwtextfield("name=cvs.module" "label=%{getText('cvs.module')}" "required=true" "tabindex=2")
    #wwpassword("name=cvs.password" "label=%{getText('cvs.password')}" "showPassword=true" "tabindex=3")
    #wwtextfield("name=cvs.path" "label=%{getText('scm.path')}" "size=60" "tabindex=4")
    #inlineHelp("scm.path.help")

    #wwtextfield("name=quiet" "label=%{getText('cvs.quiet')}" "template=controlheader")
    #wwtextfield("theme=simple" "template=ctext" "name=minutes" "label=%{getText('unit.minutes')}" "size=5" "tabindex=5")
    #wwtextfield("theme=simple" "template=ctext" "name=seconds" "label=%{getText('unit.seconds')}" "size=5" "tabindex=6")
    #wwtextfield("name=quiet" "template=controlfooter")
    #inlineHelp("cvs.quiet.help")

    #scmTestRow()

    #saveCancel(7)
 #end
</body>
</html>
