#helpTag("Project+Tag+Post+Build+Actions")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.tag.post.build.action")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editTagAction.action" "id=edit.tag.post.build.action" "heading=%{getText('edit.tag.post.build.action')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=postBuildAction.name" "label=%{getText('post.build.action.name')}" "required=true" "tabindex=1" "onkeypress=return submitenter(this,event)")
    #wwselect("name=specIds" "label=%{getText('post.build.action.specs')}" "list=specs" "multiple=true" "tabindex=2" "onkeypress=return submitenter(this,event)")
    #inlineHelp("post.build.action.specs.help")
    #wwselect("name=stateNames" "label=%{getText('post.build.action.states')}" "list=states" "multiple=true" "tabindex=3" "onkeypress=return submitenter(this,event)")
    #inlineHelp("post.build.action.states.help")
    #wwcheckbox("name=failOnError" "label=%{getText('post.build.action.fail.on.error')}" "tabindex=4")
    #inlineHelp("post.build.action.fail.on.error.help")
    #wwtextfield("name=postBuildAction.tag" "label=%{getText('post.build.action.tag.name')}" "required=true" "tabindex=5" "onkeypress=return submitenter(this,event)")
#if ($project.scm.class.name == 'com.zutubi.pulse.model.Svn')
    #inlineHelp("post.build.action.tag.name.help.svn")
#else
    #inlineHelp("post.build.action.tag.name.help")
#end
    #wwcheckbox("name=moveExisting" "label=%{getText('post.build.action.tag.move')}" "tabindex=6")
    #inlineHelp("post.build.action.tag.move.help")

    #saveCancel(7)

#end

    #tabEnd()
</body>
</html>
