#helpTag("Project+Build+Completed+Triggers")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.trigger")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editBuildCompletedTrigger.action" "heading=%{getText('trigger.build.completed.edit')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=trigger.name" "label=%{getText('trigger.name')}" "required=true" "tabindex=1")
    #wwselect("name=specification" "label=%{getText('trigger.spec')}" "list=specifications" "tabindex=2")

    #wwselect("name=filterProject" "label=%{getText('trigger.build.completed.project')}" "list=filterProjects" "onchange=specSelected()" "tabindex=3")
    #inlineHelp("trigger.build.completed.project.help")
    #wwselect("name=filterSpecification" "label=%{getText('trigger.build.completed.specification')}" "tabindex=4")
    #inlineHelp("trigger.build.completed.specification.help")
    #wwselect("name=filterStateNames" "label=%{getText('trigger.build.completed.states')}" "list=stateMap" "multiple=true" "tabindex=5")
    #inlineHelp("trigger.build.completed.states.help")

    #saveCancel(6)
#end

    <script type="text/javascript">
        #tiedSelect("spec" $filterProjects.keySet() $filterSpecifications $filterSpecification "editBuildCompletedTrigger_filterProject" "editBuildCompletedTrigger_filterSpecification")
    </script>

    #tabEnd()
</body>
</html>
