#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.make")</title>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editMakeDetails.action" "heading=%{getText('edit.make')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=details.makefile" "label=%{getText('make.filename')}" "required=true" "size=40" "tabindex=1")
    #inlineHelp("make.filename.help")
    #wwtextfield("name=details.targets" "label=%{getText('make.targets')}" "size=40" "tabindex=2")
    #inlineHelp("make.targets.help")
    #wwtextfield("name=details.workingDir" "label=%{getText('make.working.dir')}" "size=40" "tabindex=3")
    #inlineHelp("make.working.dir.help")
    #wwtextfield("name=details.arguments" "label=%{getText('make.args')}" "size=40" "tabindex=4")
    #inlineHelp("make.args.help")

    #saveCancel(5)
 #end
</body>
</html>
