#helpTag("Project+Groups")
<content tag="selectedTab">projects</content>
<html>
<head>
    <title>#wwtext("name=edit.project.group")</title>
</head>
<body>
    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=editProjectGroup.action" "id=edit.project.group" "heading=%{getText('edit.project.group')}" "method=post")
        #wwhidden("name=groupId")
        #wwtextfield("name=name" "label=%{getText('project.group.name')}" "required=true" "size=60" "tabindex=1")
        #wwselect("name=projects" "label=%{getText('project.group.projects')}" "list=allProjects" "multiple=true" "tabindex=2")
        #saveCancel(3)
    #end
</body>
</html>