<html>
<head>
    <title>edit ant details</title>
</head>
<body>
    #parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='editAntDetails.action'" "method='post'")

    #tag (Hidden "name='id'")
    #tag (Hidden "name='projectId'")

    <h3>edit ant details</h3>

    <fieldset>
        #tag (TextField "name='details.buildFile'" "label='ant.fileName'" "required='true'" "tabindex='1'")
        #tag (TextField "name='details.targets'" "label='ant.targets'" "tabindex='2'")
    </fieldset>

    <fieldset class="submit">
        #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='3'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='4'")
    </fieldset>

 #end
</body>
</html>