#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.custom")</title>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #parse("template/includes/pulse-file-reference.vm")
    
    <div style="margin-right: 350px;">

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editCustomDetails.action" "id=custom.edit" "width=100%;" "heading=%{getText('edit.custom')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextarea("name=details.pulseFile" "labelposition=top" "cssStyle=width: 98%" "label=%{getText('pulse.file')}" "required=true" "rows=30" "cols=" "tabindex=1")
    #saveCancel(2)
 #end

     </div>
</body>
</html>
