#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.custom")</title>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editCustomDetails.action" "heading=%{getText('edit.custom')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=details.bobFileName" "label=%{getText('bob.filename')}" "required=true" "size=40" "tabindex=1")
    #inlineHelp("bob.filename.help")
    
    #openSubmit()
        #wwsubmit("name=save" "value=%{getText('save.name')}" "tabindex=2")
        #wwsubmit("name=cancel" "value=%{getText('cancel.name')}" "tabindex=3")
    #closeSubmit()
 #end
</body>
</html>
