#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.trigger")</title>
</head>
<body>
    <h1>:: #wwtext("name=edit.trigger") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editCronTrigger.action" "id=trigger.cron.edit" "heading=%{getText('trigger.cron.edit')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=trigger.name" "label=%{getText('trigger.name')}" "required=true" "tabindex=1")
    #wwselect("name=specification" "label=%{getText('trigger.spec')}" "list=specifications" "tabindex=2")
    #wwtextfield("name=trigger.cron" "label=%{getText('trigger.cron.string')}" "required=true" "tabindex=3")
    #inlineHelp("trigger.cron.string.help")

    #saveCancel(4)
#end
</body>
</html>
