#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.maven")</title>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editMavenDetails.action" "heading=%{getText('edit.maven')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=details.baseDir" "label=%{getText('maven.base.dir')}" "tabindex=1")
    #inlineHelp("maven.base.dir.help")
    #wwtextfield("name=details.targets" "label=%{getText('maven.targets')}" "size=40" "tabindex=2")
    #inlineHelp("maven.targets.help")

    #openSubmit()
        #wwsubmit("name=save" "value=%{getText('save.name')}" "tabindex=3")
        #wwsubmit("name='cancel'" "value=%{getText('cancel.name')}" "tabindex=4")
    #closeSubmit()
 #end
</body>
</html>
