#helpTag("Project+Build+Specification+Resources")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=buildspec.stage.resource.edit")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editBuildStageResource.action" "heading=%{getText('buildspec.stage.resource.edit')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=specId")
    #wwhidden("name=projectId")
    #wwhidden("name=index")

    #wwtextfield("name=resourceRequirement.resource" "label=%{getText('buildspec.stage.resource')}" "tabindex=1")
    #wwtextfield("name=resourceRequirement.version" "label=%{getText('buildspec.stage.resource.version')}" "tabindex=2")

    #saveCancel(3)
#end

    #tabEnd()
</body>
</html>
