<html>
<head>
    <title>edit-project</title>
</head>
<content tag="action">project.edit</content>
<body>

    #parse("/template/includes/actionerrors.vm")
    
#bodytag (Form "action='editProject.action'" "method='post'")  
    
        #tag (Hidden "name='id'")
    <h3>Edit project</h3>        
    <fieldset>
        #tag (TextField "required='true'" "name='project.name'" "tabindex='1'")
        #tag (TextField "name='project.description'" "tabindex='2'")
        #tag (TextField "required='true'" "name='project.bobFile'" "tabindex='3'")
    </fieldset>
        
    <fieldset class="submit">
        #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='4'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='5'")
    </fieldset>

#end 

</body>
</html>
