#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.cleanup.rule")</title>
</head>
<body>
    <h1>#projectName($project)</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editCleanupRule.action" "heading=%{getText('edit.cleanup.rule')}" "method=post")
    #wwhidden("name=projectId")
    #wwhidden("name=id")

    #wwselect("name=workDirOnly" "label=%{getText('cleanup.what')}" "list=whatMap" "tabindex=1")
    #wwselect("name=stateNames" "label=%{getText('cleanup.restrict.to.states')}" "list=stateMap" "multiple=true" "size=%{stateMap.size()}" "tabindex=2")
    #wwtextfield("name=limit" "label=%{getText('cleanup.retain')}" "size=6" "tabindex=3")
    #wwradio("name=buildUnits" "list=unitsList" "tabindex=4")

    #saveCancel(5)
#end
</body>
</html>
