#helpTag("SCM+Filters")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=scm.filters")</title>
</head>
<body>
    #projectTabs("configuration")

    <h1>:: #wwtext("name=scm.filters") ::</h1>

    #parse("/template/includes/actionerrors.vm")

    <table class="columns" width="98%">
        <tr>
            <td class="columns" width="50%">
                <table id="scm.filters"  class="fill-content">
                    #headingRow("scm.filters" 2)
                    <tr>
                        #contentHeading("scm.filters.excluded.paths" 1)
                        #contentHeading("actions" 1)
                    </tr>
                    #if($project.scm.filteredPaths.size() > 0)
                        #foreach($path in $project.scm.filteredPaths)
                    <tr>
                        #set($index = $velocityCount - 1)
                        #contentCell("$path")
                        #deleteCell("delete_$index" "deleteExcludedPath.action?id=$id&projectId=$projectId&index=$index" "")
                    </tr>
                        #end
                    #end
                    <tr>
                        <form action="addExcludedPath" id="scm.filter.excluded.add" method="post">
                            #wwhidden("name=id")
                            #wwhidden("name=projectId")
                        <td  class="content">
                            #wwtextfield("theme=simple" "template=ctext" "name=excludedPath" "size=60" "tabindex=1")
                        </td>
                        <td  class="content">
                            <a id="add" href="#" onclick="document.forms[0].submit(); return false;"><img alt="add" src="$base/images/add.gif"/> #wwtext("name=add.name")</a>
                        </td>

                        </form>
                    </tr>
                </table>
                <p>
                    Go back to <a href="configureProject.action?id=$projectId">project configuration</a>.
                </p>
            </td>
            <td class="columns" width="50%">
                <p>SCM filters allow you to filter out modifications that are used to trigger a build. If, for example,
                   you have certain files (such as web pages or document files) under source control that you don't want
                   to have trigger the build, you can add an SCM filter that matches those files.  Files matched by any
                   filter will not trigger a new build.
                </p>
                <h3>Format:</h3>
                <p>
                    The format of the SCM filter string is the same as that used by Apache Ant patterns.
                </p>
                <p>
                    <table class="content">
                        <tr><th class="content">?</th><td class="content-wrap">matches any single character.</td></tr>
                        <tr><th class="content">**</th><td class="content-wrap">matches any string of characters, possibly including multiple path elements (directory or file names).</td></tr>
                        <tr><th class="content">*</th><td class="content-wrap">matches any number of characters within a particular path element (directory or file name).</td></tr>
                        <tr><th class="content">/</th><td class="content-wrap">is a directory separator.</td></tr>
                    </table>
                </p>
                <h3>Note:</h3>
                <p>
                    The file paths that are matched against these filters are the same paths shown in the changelist
                    view.  These paths are not necessarily relative to the base directory for a build.  For example,
                    Subversion paths are relative to the root of the repository.
                </p>
                <h3>Examples:</h3>
                <p>
                    <table class="content">
                        <tr><th class="content">**/*.html</th><td class="content-wrap">excludes all html files.</td></tr>
                        <tr><th class="content">**/docs/**</th><td class="content-wrap">excludes the contents of all docs directories.</td></tr>
                    </table>
                </p>
            </td>

        </tr>
    </table>


</body>
</html>