#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.cleanup")</title>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editCleanupPolicy.action" "heading=%{getText('edit.cleanup')}" "method=post")
    #wwhidden("name=projectId")

    #set($days = $action.getText('days'))
    #wwcheckbox("name=enableWorkDirCleanup" "label=%{getText('enable.work.dir.cleanup')}" "fieldValue=true" "onclick=setEnableState('editCleanupPolicy_policy_workDirDays', 'editCleanupPolicy_enableWorkDirCleanup')" "tabindex=1")
    #wwtextfield("name=policy.workDirDays" "label=%{getText('cleanup.after')}" "after=$days" "size=6" "required=true" "tabindex=2")
    #inlineHelp("enable.work.dir.cleanup.help")
    #wwcheckbox("name=enableResultCleanup" "label=%{getText('enable.result.cleanup')}" "fieldValue=true"  "onclick=setEnableState('editCleanupPolicy_policy_resultDays', 'editCleanupPolicy_enableResultCleanup')""tabindex=3")
    #wwtextfield("name=policy.resultDays" "label=%{getText('cleanup.after')}" "after=$days" "size=6" "required=true" "tabindex=4")
    #inlineHelp("enable.result.cleanup.help")

    <script type="text/javascript">
        setEnableState('editCleanupPolicy_policy_workDirDays', 'editCleanupPolicy_enableWorkDirCleanup');
        setEnableState('editCleanupPolicy_policy_resultDays', 'editCleanupPolicy_enableResultCleanup');
    </script>

    #saveCancel(5)
#end
</body>
</html>
