#helpTag("Make+Projects")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.make")</title>
    <script type="text/javascript" src="/prototype.js"></script>
    <script type="text/javascript">
    <!--
    	function openDirWindow()
    	{
    	    openBrowseWindow(true, "editMakeDetails_details_workingDir", "&id=$project.id");
    	}

    	function openFileWindow()
    	{
    	    openBrowseWindow(false, "editMakeDetails_details_makefile", "&id=$project.id&prefix=" + $F("editMakeDetails_details_workingDir"));
    	}
    -->
    </script>
</head>
<body>
    <h1>#projectName($project)</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editMakeDetails.action" "heading=%{getText('edit.make')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=details.workingDir" "label=%{getText('make.working.dir')}" "after= <a href='#' onclick='openDirWindow(); return false;'>browse</a>" "size=40" "tabindex=1")
    #inlineHelp("make.working.dir.help")
    #wwtextfield("name=details.makefile" "label=%{getText('make.filename')}" "after= <a href='#' onclick='openFileWindow(); return false;'>browse</a>" "required=true" "size=40" "tabindex=2")
    #inlineHelp("make.filename.help")
    #wwtextfield("name=details.targets" "label=%{getText('make.targets')}" "size=40" "tabindex=3")
    #inlineHelp("make.targets.help")
    #wwtextfield("name=details.arguments" "label=%{getText('make.args')}" "size=40" "tabindex=4")
    #inlineHelp("make.args.help")

    #saveCancel(5)
 #end
</body>
</html>
