<html>
<head>
<title>edit scm</title>
</head>
<content tag="action">scm.svn.edit</content>
<body>
    #parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='editSvn.action'" "method='post'")

    #tag (Hidden "name='id'")
    #tag (Hidden "name='project'")

    <h3>edit scm</h3>

    <fieldset>
        #tag (TextField "name='svn.path'" "label='scm.path'" "tabindex='1'")
        #tag (TextField "required='true'" "name='svn.username'" "tabindex='2'")
        #tag (Password "name='svn.password'" "tabindex='3'")
        #tag (TextField "required='true'" "name='svn.url'" "tabindex='4'")
        #tag (TextField "name='svn.keyfile'" "tabindex='5'")
        #tag (Password "name='svn.passphrase'" "tabindex='6'")
    </fieldset>

    <fieldset class="submit">
        #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='7'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='8'")
    </fieldset>

 #end
</body>
</html>