#helpTag("Project+Commit+Message+Transformers")
#authorisationTags($principle)
<content tag="selectedTab">projects</content>
<html>
<head>
    <title>#wwtext("name=edit.commit.message.transformer")</title>
</head>
<body>
    #projectTabs("configuration")

        #form("object=state")


</body>
</html>
