#helpTag("Project+File+Artifacts")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.artifact")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editFileArtifact.action" "id=edit.file" "heading=%{getText('artifact.file.edit')}" "method=post")
    #wwhidden("name=projectId")
    #wwhidden("name=id")

    #wwtextfield("name=name" "label=%{getText('artifact.name')}" "required=true" "tabindex=1" "onkeypress=return submitenter(this,event)")
    #wwtextfield("name=capture.file" "label=%{getText('artifact.file.file')}" "required=true" "tabindex=2" "size=60" "onkeypress=return submitenter(this,event)")
    #inlineHelp("artifact.file.file.help")
    #wwtextfield("name=capture.mimeType" "label=%{getText('artifact.file.type')}" "tabindex=3" "onkeypress=return submitenter(this,event)")
    #inlineHelp("artifact.file.type.help")

    #wwcheckboxlist("name=processors" "label=%{getText('artifact.processors')}" "multirow=true" "list=processorList" "multiple=true" "size=10" "tabindex=4")

    #saveCancel(5)
#end


</body>
</html>
