#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.project")</title>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #parse("/template/includes/actionerrors.vm")
    
#wwcform("action=editProject.action" "id=project.edit" "heading=%{getText('edit.project')}" "method=post")
    #wwhidden("name=id")
    #wwtextfield("name=project.name" "label=%{getText('project.name')}" "required=true"  "tabindex=1")
    #wwtextfield("name=project.description" "label=%{getText('project.description')}" "size=60" "tabindex=2")
    #wwtextfield("name=project.url" "label=%{getText('project.url')}" "size=60" "tabindex=3")

    #saveCancel(4)
#end
</body>
</html>
