<html>
<head>
    <title>edit scm</title>
</head>
<content tag="action">scm.cvs.edit</content>
<body>
    #parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='editCvs.action'" "method='post'")

    #tag (Hidden "name='id'")
    #tag (Hidden "name='project'")

    <h3>edit scm</h3>

    <fieldset>
        #tag (TextField "name='cvs.path'" "label='scm.path'" "tabindex='1'")
        #tag (TextField "required='true'" "name='cvs.root'" "tabindex='2'")
        #tag (TextField "name='cvs.module'" "tabindex='3'")
        #tag (Password "name='cvs.password'" "tabindex='4'")
    </fieldset>

    <fieldset class="submit">
        #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='5'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='6'")
    </fieldset>

 #end
</body>
</html>