#helpTag("Subversion")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.svn")</title>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    #svnTestScript("editSvn")
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editSvn.action" "heading=%{getText('edit.svn')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=svn.url" "label=%{getText('svn.url')}" "required=true" "size=60" "tabindex=1")
    #wwtextfield("name=svn.username" "label=%{getText('svn.username')}" "tabindex=2")
    #wwpassword("name=svn.password" "label=%{getText('svn.password')}" "showPassword=true" "tabindex=3")
    #wwtextfield("name=svn.keyfile" "label=%{getText('svn.keyfile')}" "size=60" "tabindex=4")
    #inlineHelp("svn.keyfile.help")
    #wwpassword("name=svn.passphrase" "label=%{getText('svn.passphrase')}" "showPassword=true" "tabindex=5")
    #inlineHelp("svn.passphrase.help")
    #wwtextfield("name=svn.path" "label=%{getText('scm.path')}" "size=60" "tabindex='6'")
    #inlineHelp("scm.path.help")
    #wwtextfield("name=svn.changeViewerUrl" "label=%{getText('scm.change.viewer.url')}" "size=60" "tabindex=7" "onkeypress=return submitenter(this,event)")
    #inlineHelp("scm.change.viewer.url.help")
    #wwcheckbox("name=monitor" "label=%{getText('scm.monitor')}" "tabindex=8")

    #testSettingsRow()

    #saveCancel(9)
 #end

     #tabEnd()
</body>
</html>