#helpTag("XCode+Projects")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.xcode")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editXCodeDetails.action" "heading=%{getText('edit.xcode')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=details.workingDir" "label=%{getText('maven.working.dir')}" "size=40" "tabindex=1")
    #inlineHelp("xcode.working.dir.help")
    #wwtextfield("name=details.project" "label=%{getText('xcode.project')}" "size=40" "tabindex=2")
    #inlineHelp("xcode.project.help")
    #wwtextfield("name=details.config" "label=%{getText('xcode.config')}" "size=40" "tabindex=3")
    #inlineHelp("xcode.config.help")
    #wwtextfield("name=details.target" "label=%{getText('xcode.target')}" "size=40" "tabindex=4")
    #inlineHelp("xcode.target.help")
    #wwtextfield("name=details.action" "label=%{getText('xcode.action')}" "size=40" "tabindex=5" "onkeypress=return submitenter(this,event)")
    #inlineHelp("xcode.action.help")
    #wwtextfield("name=details.settings" "label=%{getText('xcode.settings')}" "size=40" "tabindex=6" "onkeypress=return submitenter(this,event)")
    #inlineHelp("xcode.settings.help")

    #saveCancel(7)
 #end


</body>
</html>
