#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.cvs")</title>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editCvs.action" "heading=%{getText('edit.cvs')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=cvs.root" "label=%{getText('cvs.root')}" "required=true" "size=60" "tabindex=1")
    #wwtextfield("name=cvs.module" "label=%{getText('cvs.module')}" "required=true" "tabindex=2")
    #wwpassword("name=cvs.password" "label=%{getText('cvs.password')}" "tabindex=3")
    #wwtextfield("name=cvs.path" "label=%{getText('scm.path')}" "size=60" "tabindex=4")
    #inlineHelp("scm.path.help")

    #saveCancel(5)
 #end
</body>
</html>
