#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.svn")</title>
    <script type="text/javascript" src="/prototype.js"></script>
    #svnTestScript("editSvn")
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editSvn.action" "heading=%{getText('edit.svn')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=svn.username" "label=%{getText('svn.username')}" "required=true" "tabindex=1")
    #wwpassword("name=svn.password" "label=%{getText('svn.password')}" "showPassword=true" "tabindex=2")
    #wwtextfield("name=svn.url" "label=%{getText('svn.url')}" "required=true" "size=60" "tabindex=3")
    #wwtextfield("name=svn.keyfile" "label=%{getText('svn.keyfile')}" "size=60" "tabindex=4")
    #inlineHelp("svn.keyfile.help")
    #wwpassword("name=svn.passphrase" "label=%{getText('svn.passphrase')}" "showPassword=true" "tabindex=5")
    #inlineHelp("svn.passphrase.help")
    #wwtextfield("name=svn.path" "label=%{getText('scm.path')}" "size=60" "tabindex='6'")
    #inlineHelp("scm.path.help")

    #scmTestRow()

    #saveCancel(7)
 #end
</body>
</html>