<html>
<head>
    <title>edit scm</title>
</head>
<content tag="action">scm.p4.edit</content>
<body>
    #parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='editP4.action'" "method='post'")

    #tag (Hidden "name='id'")
    #tag (Hidden "name='project'")

    <h3>edit scm</h3>

    <fieldset>
        #tag (TextField "required='true'" "name='p4.name'" "label='scm.name'" "tabindex='1'")
        #tag (TextField "name='p4.path'" "label='scm.path'" "tabindex='2'")
        #tag (TextField "required='true'" "name='p4.port'" "tabindex='3'")
        #tag (TextField "required='true'" "name='p4.user'" "tabindex='2'")
        #tag (Password "name='p4.password'" "tabindex='5'")
        #tag (TextField "required='true'" "name='p4.client'" "tabindex='6'")
    </fieldset>

    <fieldset class="submit">
        #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='4'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='5'")
    </fieldset>

 #end
</body>
</html>