#helpTag("Project+Properties")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=build.properties.specify")</title>
</head>
<body>
    #projectTabs("configuration")

    $formSource

</body>
</html>
