<html>
<head>
    <title>edit subscription</title>
</head>
<content tag="action">subscription.edit</content>
<body>

#parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='editSubscription.action'" "method='post'")
    <h3>edit subscription</h3>
    #tag (Hidden "name='id'")
    #tag (Hidden "name='login'")
    <fieldset>
        #tag (TextField "name='user'" "disabled='true'" "label='user'" "tabindex='1'")
        #tag (TextField "name='project'" "disabled='true'" "label='project'" "tabindex='2'")
        #tag (TextField "name='contactPoint'" "disabled='true'" "label='contact point'" "tabindex='3'")
        #tag (Select "list=conditions" "name='condition'" "label='notification condition'" "tabindex='4'")
    </fieldset>

    <fieldset class="submit">
        #tag (Submit "value=getText('edit.name')" "name='edit'" "tabindex='5'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='6'")
    </fieldset>
#end

</body>
</html>
