<html>
  <head>
    <title>Error</title>
  </head>
  <body>
    <h1>Error</h1>
    <p>The following errors were detected:</p>
    <ul>
#foreach($error in $genericErrors)
      <li>$error</li>
#end
    </ul>
  </body>
</html>
