#helpTag("Project+History+Tab")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
    <script type="text/javascript" src="/js/yahoo/utilities.js"></script>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript" src="$base/js/scriptaculous/scriptaculous.js"></script>
    <script type="text/javascript" src="$base/js/buildcolumns.js"></script>
    <script type="text/javascript">
    //<![CDATA[
        var popup;
        YAHOO.util.Event.addListener(window, "load", function() { popup = new BuildColumnPopup("project.history", "$base", "$base/ajax/historyPanel.action?projectName=$u_projectName", "panel"); });
    //]]>
    </script>
</head>
<body>
    #projectTabs("history")

    <div id="panel">
        #parse("ajax/history-panel.vm")
    </div>

    #buildColumnsPopup("project.history" "popup")    


</html>
