#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
</head>
<body>
    <h1>#projectName($project)</h1>

    #projectTabs("history")

    <table>
        <tr>
            <td>

    #wwcform("action=history.action" "heading=%{getText('quick.filters')}" "colspan=5" "width=100%" "method=get")
        #wwhidden("name=id")

        <tr>
        #wwselect("name=stateFilter" "singleRow=true" "label=%{getText('filter.state')}" "list=stateFilters" "onchange=submit()" "tabindex=1")
        #wwselect("name=spec" "singleRow=true" "label=%{getText('filter.spec')}" "list=specs" "onchange=submit()" "tabindex=2")
        <td><a href="history.action?id=$project.id">#wwtext("name=filter.clear")</a></td>
        </tr>
    #end
            </td>
        </tr>
        <tr>
            <td>

    <table width="100%" class="content">
        #searchHeadingRow("recent.builds" 14 "searchBuilds.action?projectId=$project.id" "search.builds" "$rssEnabled" "rss.action?projectId=$project.id" "rss.builds" )
        <tr>
            #contentHeading("build.id" 1)
            #contentHeading("build.status" 2)
            #contentHeading("build.tests" 1)
            #contentHeading("build.spec" 1)
            #contentHeading("build.when" 1)
            #contentHeading("build.elapsed" 1)
            #contentHeading("actions" 7)
        </tr>
#if($history.size() > 0)
    #foreach($buildResult in $history)
            #set($cssClass = $buildResult.state.string)
        <tr>
            <td class="content-right"><a href="viewBuild.action?id=$buildResult.id">$buildResult.number</a></td>
            #statusCell($buildResult)
            #testResultsCell($buildResult $buildResult)
            #classCell($buildResult.buildSpecification)
            #dateClassCell($buildResult)
            #classCell($buildResult.stamps.prettyElapsed)
            #viewCell($project $buildResult)
            #logCell($project $buildResult)
            #changesCell($project $buildResult)
            #testsCell($project $buildResult)
            #buildFileCell($project $buildResult)
            #artifactsCell($project $buildResult)
#acl("domainObject=project" "hasPermission=4,1")
            #workingCopyCell($project $buildResult)
#end
        </tr>
    #end
    </table>

            </td>
        </tr>
        <tr>
            <td>

            <table width="100%" class="content">
                #pagingRow("history.action?id=$project.id&amp;stateFilter=$stateFilter&amp;spec=$spec&amp;" $pagingSupport)
                <tr><th colspan="5">$action.getText("history.count", ["$pagingSupport.totalItems"])</td></tr>
            </table>

            </td>
        </tr>
#else
        <tr>
            <td class="content" colspan="14">
                #wwtext("name=no.history")
            </td>
        </tr>
#end
    </table>
</html>
