<html>
<head>
    <title>#wwtext("name=login")</title>
</head>

<body>

    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=j_acegi_security_check" "heading=%{getText('login')}" "method=post")

        #wwtextfield("name=j_username" "label=%{getText('login.username')}" "required=true" "size=40" "tabindex=1")
        #wwtextfield("name=j_password" "label=%{getText('login.password')}" "required=true" "size=40" "tabindex=2")
        #wwcheckbox("name=_acegi_security_remember_me" "label=%{getText('login.rememberme')}" "tabindex=3")

        #openSubmit()
            #wwsubmit("name=login" "value=%{getText('login.name')}" "tabindex=4")
            #wwsubmit("name=cancel" "value=%{getText('cancel.name')}" "tabindex=5")
         #closeSubmit()
     #end

</body>
</html>