<html>
<head>
    <title>Login</title>
</head>

<body>

<h1>login</h1>

    #foreach($error in $action.actionErrors)
        <h2 style="color:red">$error</h2>
    #end

    #wwcform("action=/j_acegi_security_check" "name=j_acegi_security_check" "heading=%{getText('login')}" "method=post")

        #wwtextfield("name=j_username" "label=%{getText('login.username')}" "required=true" "size=60" "tabindex=1")
        #wwpassword("name=j_password" "label=%{getText('login.password')}" "required=true" "size=60" "tabindex=2")
        #wwcheckbox("name=_acegi_security_remember_me" "label=%{getText('login.rememberme')}" "required=true" "size=60" "tabindex=3")

        #openSubmit()
            #wwsubmit("name=login" "value=%{getText('login.name')}" "tabindex=4")
            #wwsubmit("name=cancel" "value=%{getText('cancel.name')}" "tabindex=5")
        #closeSubmit()
    #end

</body>
</html>