body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

#wrap {
    position: relative;
    margin: 0 auto;
    padding: 0
}

    /*------------------------------
    Header
    */

#header {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #99a;
    font-size: 14px;
}

#header table {
    width: 100%;
    margin: 0;
    background: #a0a0c0;
    border-spacing: 0px;
}

#header td {
    color: #fff;
    background: #a0a0c0;
    padding: 2px;
}

#header td.logo {
    font-weight: bold;
}

#header td.user {
    font-size: 80%;
}

#header a {
    color: #fff;
    border-color: #fff;
}

    /*------------------------------
    Nav bar
    */

#nav {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #ccd;
    border-bottom: 2px solid #99a;
    background: #aac /*url(../img/nav-bg-blue.gif) repeat-x top left*/;
    font-size: 14px;
}

#nav li {
    float: left;
    margin: 0;
    padding: 0 1px 0 0;
    list-style: none;
}

#nav a {
    float: left;
    padding: 4px 7px;
    text-decoration: none;
    border-bottom: none;
    color: #fff;
}

#nav a:hover, #nav a.active {
    background: #88b;
}

#nav a.active {
    font-weight: bold;
}

#innernav {
    float: left;
    width: 98%;
    margin: 0;
    padding: 0 1%;
    list-style: none;
    border-bottom: 1px solid #bbb;
    font-size: 14px;
}

#innernav li {
    float: left;
    margin: 0;
    padding: 0 1px 0 0;
    list-style: none;
}

#innernav a {
    float: left;
    padding: 5px 7px;
    text-decoration: none;
    border-bottom: none;
    color: #bbb;
}

#innernav a:hover, #innernav a.active {
    color: #fff;
    background: #bbb;
}

#innernav a.active {
    font-weight: bold;
}

    /*------------------------------
    Footer
    */

#footer {
    clear: both;
    border-color: #c0c0c0;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    color: #c0c0c0;
    font-size: 80%;
    padding: 1px;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: relative;
}

    /*------------------------------
    Globals
    */

div {
    margin: 0;
    padding: 0;
}

div.clear {
    clear: both;
}

div.hidden {
    display: none;
}

span.hidden {
    font-size: 1%;
    visibility: hidden;
}

h1, h2 {
    color: #bbb;
}

h1 {
    margin-top: 6px;
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

h2.section {
    margin-top: 0.8em;
    color: #606078;
    font-size: 130%;
    border-bottom: solid 2px #a0a0c0;
}

h3 {
    margin-top: 0px;
    font-size: 100%;
}

h4 {
    font-size: 90%;
    margin: 6px;
}

a:link, a:visited {
    color: #668;
    text-decoration: none;
}

a:hover {
    color: #336;
    border-bottom: solid 2px #336;
}

a {
    font-weight: bold;
    text-decoration: none;
    border-bottom: dotted 1px #336;
}

a.unadorned, a.unadorned:hover {
    border-bottom: none;
}

table {
    border-collapse: collapse;
}

hr {
    display: none;
}

.small {
    font-size: 80%;
}

img {
    vertical-align: text-top;
}

img.centre {
    vertical-align: baseline;
}

    /*------------------------------
    Content
    */

#main {
    float: left;
    width: 66%;
    margin-left: 10px;
    margin-right: 10px;
}

#sidebar {
    margin-left: 69%;
}

div.content {
    padding-left: 10px;
    padding-right: 10px;
}

table.columns {
    border-collapse: separate;
}

td.columns {
    vertical-align: top;
    padding-right: 10px;
}

table.content, table.fill-content, table.decorated {
    border: 1px solid #bbb;
    margin-bottom: 16px;
}

table.content, table.fill-content {
    font-size: 80%;
}

table.fill-content {
    width: 98%;
}

h3.heading, div.box, th.heading, th.note, th.content, th.content-row, td.content, td.content-centre, td.content-right, td.content-large, td.image, td.success, td.failure, td.test-failure, td.error, td.warning, td.info, td.pending, td.inprogress, td.terminating, td.add, td.success-right, td.failure-right, td.error-right, td.pending-right, td.inprogress-right, td.terminating-right {
    border: 1px solid #bbb;
    padding: 4px;
}

th {
    white-space: nowrap;
}

th.heading, th.note, th.content, th.content-row, td.content, td.content-large, td.success, td.failure, td.test-failure, td.error, td.warning, td.info, td.pending, td.inprogress, td.terminating, td.add {
    text-align: left;
    vertical-align: top;
}

td.content-centre {
    text-align: center;
}

td.content-right, td.success-right, td.failure-right, td.error-right, td.pending-right, td.inprogress-right, td.terminating-right {
    text-align: right;
    vertical-align: top;
}

td.content-large {
    font-size: 115%;
}

a img {
    color: #fff;
    border: 0;
}

th.content-row {
    width: 1px;
    white-space: nowrap;
}

h3.heading, th.heading {
    background: #e9e9f5;
    white-space: nowrap;
}

.note {
    background: #ffffc0;
    white-space: nowrap;
}

td.success, td.success-right {
    color: #383;
    background: #ffffff;
}

td.failure, td.error, td.failure-right, td.error-right {
    color: #b22;
    font-weight: bold;
    background: #fff0f0;
}

td.warning {
    background-color: #ffffce;
}

td.info {
    background-color: #eeeeff;
}

td.inprogress, td.inprogress-right {
    color: #039;
}

td.terminating, td.terminating-right, td.test-failure {
    color: #b22;
}

td.add {
    text-align: right;
}

td.image {
    width: 20px;
    text-align: center;
}

span.action {
    float: right;
}

    /*------------------------------
    Boxes
    */

h3.heading {
    margin: 0px;
    border-bottom: 0;
}

div.box {
    margin: 0;
    margin-bottom: 16px;
    padding: 6px;
}

    /*------------------------------
    Artifact/feature lists
    */

ul {
    list-style: none;
    padding-left: 10px;
}

ul.error, ul.warning, ul.info {
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px;
}

ul.error {
    border-color: #c00000;
    background-color: #ffdddd;
}

ul.warning {
    border-color: #f0c000;
    background-color: #ffffce;
}

ul.info {
    border-color: #b0b0f0;
    background-color: #eeeeff;
}

li.error, li.warning, li.info, li.artifact, li.file-artifact, li.dir-artifact, li.report-artifact, li.task, li.explore {
    font-weight: normal;
    list-style: none;
    padding-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

li.error, li.warning, li.info {
}

pre.feature {
    font-family: Verdana sans-serif;
    margin-top: 8px;
    margin-bottom: 0px;
}

li.error {
    background: url( images/exclamation.gif ) no-repeat 0 0;
}

li.warning {
    background: url( images/error.gif ) no-repeat 0 0;
}

li.info {
    background: url( images/information.gif ) no-repeat 0 0;
}

li.artifact {
    background: url( images/resultset_next.gif ) no-repeat 0 0;
}

li.task {
    background: url( images/accept.gif ) no-repeat 0 0;
}

li.explore {
    background: url( images/zoom.gif ) no-repeat 0 0;
}

li.file-artifact {
    background: url( images/page.gif ) no-repeat 0 0;
}

li.dir-artifact {
    background: url( images/folder.gif ) no-repeat 0 0;
}

li.report-artifact {
    background: url( images/page_world.gif ) no-repeat 0 0;
}

li.header {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

    /*------------------------------
    Decorated artifacts
    */

a.dec {
    color: #000000;
    font-weight: normal;
    border: none;
}

td.num-none, td.num-error, td.num-warning, td.num-info, td.dec-none, td.dec-error, td.dec-warning, td.dec-info {
    font-family: monospace;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

td.num-none, td.num-error, td.num-warning, td.num-info {
    text-align: right;
    vertical-align: top;
    border-right: solid 1px #bbb;
}

td.dec-error, td.num-error {
    background-color: #ffdddd;
}

td.dec-warning, td.num-warning {
    background-color: #fcfcce;
}

td.dec-info, td.num-info {
    background-color: #eeeeff;
}

td.okaybar {
    background: #eeeeff;
    border: 1px solid #9c9c9c;
    padding: 0px;
}

td.errorbar {
    background: #c00000;
    border: 1px solid #9c9c9c;
    padding: 0px;
}

td.warningbar {
    background: #f0c000;
    border: 1px solid #9c9c9c;
    padding: 0px;
}

td.clearbar {
    background: #ffffff;
    border: 1px solid #9c9c9c;
    padding: 0px;
}
