#macro(detailrow $header $content)
    <tr><th class="command-detail">$header</th><td class="command-detail">$content</td></tr>
#end

<html>
    <head>
        <link href="build.css" rel="stylesheet" type="text/css">
        <title>$project.name</title>
        <content tag="action">project.view</content>
    </head>
    <body>
        <h1 class="build-log">:: $project.name ::</h1>

        <div id="project-left-column">

        <h2 class="command-info">basic details</h2>
        <div class="command-content">
            <table>
                #detailrow("name" $project.name)
                #detailrow("description" $project.description)
                #detailrow("bob file" $project.bobFile)
                #detailrow("action" "<a href='editProject!default.action?id=$project.id'>edit</a>")
            </table>
        </div>
        
        <h2 class="command-info">scm details</h2>
        <div class="command-content">
            #set($scms = $project.scms)
            <table>
                <tr>
                    <th class="command-detail">name</th>
                    <th colspan="2" class="command-detail">actions</th>
                </tr>
            #foreach ($scm in $scms)
                <tr>
                    <td class="command-detail">#scmIcon($scm)<a href="">$scm.name</a></td>
                    <td class="command-detail"><a href="editScm!default.action?id=$scm.id&project=$project.id">edit</a></td>
                    <td class="command-detail"><a href="deleteScm.action?id=$project.id&name=$scm.name">delete</a></td>
                </tr>
            #end
                <tr>
                    <td colspan="3" class="command-detail"><b>+</b> <a href="createScm!default.action?project=$project.id">add new scm</a></td>
                </tr>
            </table>
        </div>

        <h2 class="command-info">build specifications</h2>
        <div class="command-content">
            <table>
                <tr>
                    <th class="command-detail">name</th>
                    <th colspan="3" class="command-detail">actions</th>
                </tr>
            #foreach ($buildSpec in $project.buildSpecifications)
                <tr>
                    <td class="command-detail"><a href="viewBuildSpecification.action?projectId=$project.id&id=$buildSpec.id">$buildSpec.name</a></td>
                    <td class="command-detail"><a href="triggerBuild.action?id=$buildSpec.id&projectId=$project.id">trigger</a></td>
                    <td class="command-detail"><a href="viewBuildSpecification.action?projectId=$project.id&id=$buildSpec.id">edit</a></td>
                    <td class="command-detail"><a href="deleteBuildSpecification.action?projectId=$project.id&id=$buildSpec.id">delete</a></td>
                </tr>
            #end
                <tr>
                    <td colspan="4" class="command-detail"><b>+</b> <a href="createBuildSpecification!default.action?projectId=$project.id">add new build specification</a></td>
                </tr>
            </table>
        </div>


        <h2 class="command-info">triggers</h2>
        <div class="command-content">
            <table>
                <tr>
                    <th class="command-detail">name</th>
                    <th class="command-detail">build&nbsp;spec</th>
                    <th colspan="2" class="command-detail">actions</th>
                </tr>
            #foreach ($trigger in $triggers)
                <tr>
                    <td class="command-detail">$trigger.name ($trigger.type)</td>
                    <td class="command-detail">$trigger.dataMap.spec</td>
                    <td class="command-detail"><a href="deleteTrigger.action?id=$trigger.id">delete</a></td>
                </tr>
            #end
                <tr>
                    <td colspan="4" class="command-detail"><b>+</b> <a href="addTrigger.action?project=$project.id">add new trigger</a></td>
                </tr>
            </table>
        </div>

        </div>

        <div id="project-content">

#macro(showsummary $result)
  #if(!$result.commenced())
    #set($class = "pending")
  #elseif($result.inProgress())
    #set($class = "info")
  #elseif($result.succeeded())
    #set($class = "success")
  #else
    #set($class = "failure")
  #end

<tr>
  <th class="command-detail">commenced</th>
  <th class="command-detail">elapsed</th>
  <th class="command-detail">status</th>
</tr>
<tr>
  <td class="build-$class">$result.stamps.prettyStartTime</td>
  <td class="build-$class">$result.stamps.prettyElapsed</td>
  <td class="build-$class">$result.state.prettyString</td>
</tr>
  #if($result.errored() && $result.errorMessage)
    <tr>
      <td class="build-failure" colspan="4">
        <h4>error message</h4>
        <ul class="error">
          <li class="error">$result.errorMessage</li>
        </ul>
      </td>
    </tr>
  #end
#end

#macro(showrecipes node)
<ul class="recipe-summary">
  #foreach($child in $node.children)
    #set($recipeResult = $child.result)

    <li class="recipe-summary">
    #if($recipeResult.commenced())
      #if($recipeResult.inProgress())
        #set($class = "info")
      #elseif($recipeResult.succeeded())
        #set($class = "success")
      #else
        #set($class = "failure")
      #end

      #if($recipeResult.recipeName)
        #set($recipeName = $recipeResult.recipeName)
      #else
        #set($recipeName = "[default]")
      #end

      <table>
        <tr>
          <th class="build-$class" colspan="3">$recipeName @ $child.host</th>
        </tr>
        #showsummary($recipeResult)
      </table>
    #else
      <table>
        <tr>
          <th class="build-pending">$recipeName @ [pending]</th>
        <tr>
      </table>
    #end
    </li>
    #if($child.children.size() > 0)
      #showrecipes($child)
    #end
  #end
</ul>
#end
        #if($currentBuild)
            #if($currentBuild.inProgress())
                #set($class = "info")
            #elseif($currentBuild.succeeded())
                #set($class = "success")
            #else
              #set($class = "failure")
            #end
            <h2 class="command-$class">current build [<a href="viewBuild.action?id=$project.id&buildId=$currentBuild.id">$currentBuild.number</a>]</h2>
            <div class="command-content">
            <h4>summary</h4>
            <table>
                #showsummary($currentBuild)
            </table>

            <h4>recipes</h4>
            #showrecipes($currentBuild.root)
        </div>
      #end

        <h2 class="command-info">history</h2>
        <div class="command-content">
        <table>
            <tr>
                <th class="command-detail">build id</th>
                <th class="command-detail">when</th>
                <th class="command-detail">elapsed</th>
                <th class="command-detail">result</th>
            </tr>
            #foreach($buildResult in $history)
                #set($id = $buildResult.id)
                #set($built = $buildResult.stamps.prettyStartTime)
                #set($elapsed = $buildResult.stamps.prettyElapsed)
                #if($buildResult.succeeded())
                    #set($class = "success")
                #else
                    #set($class = "failure")
                #end
            <tr>
                <td class="build-$class"><a href="viewBuild.action?id=$project.id&buildId=$id">build $buildResult.number</a></td>
                <td class="build-$class">$built</td>
                <td class="build-$class">$elapsed</td>
                <td class="build-$class">$buildResult.state.prettyString</td>
            </tr>
            #end
        </table>
        </div>

        </div>
    </body>
</html>