#projectTags($project)
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #tabBar(["current-build", "history", "configuration"])

    #openTab("current-build")
#if($currentBuild)
        <table>
            <tr><td>
            <table class="content">
                #headingRow("build.summary" 7)
                <tr>
                    #contentHeading("build.id" 1)
                    #contentHeading("build.status" 2)
                    #contentHeading("build.when" 1)
                    #contentHeading("build.elapsed" 1)
                    #contentHeading("actions" 2)
                </tr>
                <tr>
                    #set($cssClass = $currentBuild.state.string)
                    #contentCell($currentBuild.number)
                    #statusCell($currentBuild)
                    #classCell($currentBuild.stamps.prettyStartTime)
                    #classCell($currentBuild.stamps.prettyElapsed)
                    #viewCell($project $currentBuild)
                    #changesCell($project $currentBuild)
                </tr>
            </table>
            </td></tr>
    #if($currentBuild.hasMessages($errorLevel) || $currentBuild.hasMessages($warningLevel))
            <tr><td>
            <table class="content" width="100%">
                #headingRow("build.features" 1)
               <tr>
                   <td class="content">
                       #buildMessageSummary($currentBuild $errorLevel)
                       #buildMessageSummary($currentBuild $warningLevel)
                   </td>
               </tr>
            </table>
            </td></tr>
    #end
            </table>
#*
            <h4>recipes</h4>
            #showrecipes($currentBuild.root false $project.id)
*#
#else
            #wwtext("name=never.built")
#end
    #closeTab()

    #openTab("history")
        #if($history.size() > 0)
        <table class="content">
            #actionHeadingRow("recent.builds" 7 "search.builds" "searchBuilds.action?projectId=$project.id" "zoom.gif")
            <tr>
                #contentHeading("build.id" 1)
                #contentHeading("build.status" 2)
                #contentHeading("build.when" 1)
                #contentHeading("build.elapsed" 1)
                #contentHeading("actions" 2)
            </tr>
            #foreach($buildResult in $history)
                #set($cssClass = $buildResult.state.string)
            <tr>
                <td class="content"><a href="viewBuild.action?id=$project.id&amp;buildId=$buildResult.id">$buildResult.number</a></td>
                #statusCell($buildResult)
                #classCell($buildResult.stamps.prettyStartTime)
                #classCell($buildResult.stamps.prettyElapsed)
                #viewCell($project $buildResult)
                #changesCell($project $buildResult)
            </tr>
            #end
        </table>
        #else
            #wwtext("name=no.history")
        #end
    #closeTab()

    #openTab("configuration")
        <table class="columns" width="90%">
            <tr>
                <td class="columns" width="40%">
                    <table class="fill-content">
                        #editHeadingRow("project.basics" 2 "editProject!input.action?id=$project.id")
                        #dynamicRow("project.name" $project.name)
                        #dynamicRow("project.description" $project.description)
                    </table>
                    <table class="fill-content">
                        #editHeadingRow("project.specifics" 2 "editBobFileDetails!input.action?id=$project.bobFileDetails.id&amp;projectId=$project.id")
                        #dynamicRow("project.type" $project.bobFileDetails.type)
#foreach($property in $project.bobFileDetails.properties.entrySet())
                        #propertyRow($property)
#end
                    </table>
                    <table class="fill-content">
                        #editHeadingRow("project.scm" 2 "editScm!input.action?id=$project.scm.id&amp;projectId=$project.id")
                        #scmRow($project)
                        #dynamicRow("scm.location" "$project.scm.createServer().location")
                    </table>
                    <table class="fill-content">
                        #editHeadingRow("project.cleanup" 2 "editCleanupPolicy!default.action?projectId=$project.id")
                        #dynamicRow("project.work.dirs.deleted" $project.cleanupPolicy.prettyWorkDirDays)
                        #dynamicRow("project.results.deleted" $project.cleanupPolicy.prettyResultDays)
                    </table>
                </td>
                <td class="columns" width="40%">
                    <table class="fill-content">
                        #headingRow("project.buildspecs" 6)
                        <tr>
                            #contentHeading("buildspec.name" 1)
                            #contentHeading("recipe" 1)
                            #contentHeading("buildspec.timeout" 1)
                            #contentHeading("actions" 3)
                        </tr>
#foreach($buildSpec in $project.buildSpecifications)
                        <tr>
                            #dynamicCell($buildSpec.name)
                            #dynamicCell($buildSpec.root.children.get(0).stage.recipeSafe)
                            #dynamicCell("<TODO>")
                            #actionCell("buildspec.trigger" "triggerBuild.action?id=$buildSpec.id&amp;projectId=$project.id" "lightning.gif")
                            #editCell("viewBuildSpecification.action?projectId=$project.id&amp;id=$buildSpec.id")
                            #deleteCell("deleteBuildSpecification.action?projectId=$project.id&amp;id=$buildSpec.id")
                        </tr>
#end
                        #addRow("buildspec.add" 6 "createBuildSpecification!default.action?projectId=$project.id")
                    </table>
                    <table class="fill-content">
                        #headingRow("project.triggers" 5)
                        <tr>
                            #contentHeading("trigger.name" 1)
                            #contentHeading("trigger.type" 1)
                            #contentHeading("trigger.spec" 1)
                            #contentHeading("actions" 2)
                        </tr>
#foreach($trigger in $triggers)
                        <tr>
                            #dynamicCell($trigger.name)
                            #dynamicCell($trigger.type)
                            #dynamicCell($trigger.dataMap.spec)
                            #editCell("editTrigger.action?id=$trigger.id")
                            #deleteCell("deleteTrigger.action?id=$trigger.id")
                        </tr>
#end
                        #addRow("trigger.add" 5 "addTrigger.action?project=$project.id")
                    </table>
                </td>
            </tr>
        </table>
    #closeTab()

    #selectTab("current-build")

</html>