<html>
    <head>
        <link href="build.css" rel="stylesheet" type="text/css">
        <title>$project.name</title>
        <content tag="action">project.view</content>
        <content tag="navProject">$project.id</content>
        <content tag="navProjectName">$project.name</content>
        <!-- a tick to the self updating webpage box... -->
        <meta http-equiv="refresh" content="30">
    </head>
    <body>
        <h1 class="build-log">:: $project.name ::</h1>

        <div id="project-left-column">

        <h2 class="command-info">details</h2>
        <div class="command-content">
            <table>
                #detailrow("name" $project.name)
                #detailrow("description" $project.description)
                #detailrow("action" "<a href='editProject!default.action?id=$project.id'>edit</a>")
                #scmdetailrow("scm" $project $project.scm)
                #detailrow("type" "<a href='editBobFileDetails!default.action?id=$project.bobFileDetails.id&projectId=$project.id'>$project.bobFileDetails.type</a>")
            </table>
        </div>

        <h2 class="command-info">build specifications</h2>
        <div class="command-content">
            <table>
                <tr>
                    <th class="command-detail">name</th>
                    <th colspan="3" class="command-detail">actions</th>
                </tr>
            #foreach ($buildSpec in $project.buildSpecifications)
                <tr>
                    <td class="command-detail"><a href="viewBuildSpecification.action?projectId=$project.id&id=$buildSpec.id">$buildSpec.name</a></td>
                    <td class="command-detail"><a href="triggerBuild.action?id=$buildSpec.id&projectId=$project.id">trigger</a></td>
                    <td class="command-detail"><a href="viewBuildSpecification.action?projectId=$project.id&id=$buildSpec.id">edit</a></td>
                    <td class="command-detail"><a href="deleteBuildSpecification.action?projectId=$project.id&id=$buildSpec.id">delete</a></td>
                </tr>
            #end
                <tr>
                    <td colspan="4" class="command-detail"><b>+</b> <a href="createBuildSpecification!default.action?projectId=$project.id">add new build specification</a></td>
                </tr>
            </table>
        </div>


        <h2 class="command-info">triggers</h2>
        <div class="command-content">
            <table>
                <tr>
                    <th class="command-detail">name</th>
                    <th class="command-detail">build&nbsp;spec</th>
                    <th colspan="2" class="command-detail">actions</th>
                </tr>
            #foreach ($trigger in $triggers)
                <tr>
                    <td class="command-detail">$trigger.name ($trigger.type)</td>
                    <td class="command-detail">$trigger.dataMap.spec</td>
                    <td class="command-detail"><a href="deleteTrigger.action?id=$trigger.id">delete</a></td>
                </tr>
            #end
                <tr>
                    <td colspan="4" class="command-detail"><b>+</b> <a href="addTrigger.action?project=$project.id">add new trigger</a></td>
                </tr>
            </table>
        </div>

        </div>

        <div id="project-content">

        #if($currentBuild)
          #classset($currentBuild)
            <h2 class="command-$class">current build [<a href="viewBuild.action?id=$project.id&buildId=$currentBuild.id">$currentBuild.number</a>]</h2>
            <div class="command-content">
            <h4>summary</h4>
            <table>
                #resultsummary($currentBuild)
            </table>

            #buildMessageSummary($currentBuild $currentBuild.getLevel("ERROR"))

            #buildMessageSummary($currentBuild $currentBuild.getLevel("WARNING"))

            <h4>recipes</h4>
            #showrecipes($currentBuild.root false $project.id)
        </div>
      #end

        <h2 class="command-info">history</h2>
        <div class="command-content">
        <table>
            <tr>
                <th class="command-detail">build id</th>
                <th class="command-detail">when</th>
                <th class="command-detail">elapsed</th>
                <th class="command-detail">result</th>
            </tr>
            #foreach($buildResult in $history)
                #set($id = $buildResult.id)
                #set($built = $buildResult.stamps.prettyStartTime)
                #set($elapsed = $buildResult.stamps.prettyElapsed)
                #if($buildResult.succeeded())
                    #set($class = "success")
                #else
                    #set($class = "failure")
                #end
            <tr>
                <td class="build-$class"><a href="viewBuild.action?id=$project.id&buildId=$id">build $buildResult.number</a></td>
                <td class="build-$class">$built</td>
                <td class="build-$class">$elapsed</td>
                <td class="build-$class">$buildResult.state.prettyString</td>
            </tr>
            #end
        </table>
        </div>

        </div>
    </body>
</html>