#helpTag("Projects")
#authorisationTags($principle)
#projectTags($project)
#macro(render $chart)
    ${chart.imageMap}
    <img style="border:none" src="${base}/chart?filename=${chart.location}" border="1" height="${chart.height}" width="${chart.width}" usemap="${chart.imageMapName}"/>
#end
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
</head>
<body>
    #projectTabs("reports")

<table>
    <tr>
        <td class="chart">
            #render($buildResultsChart)
        </td>
        <td class="chart">
            #render($testCountChart)
        </td>
    </tr>
    <tr>
        <td class="chart">
            #render($buildTimesChart)
        </td>
        <td class="chart">
            #render($stageTimesChart)
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-left: 30px">
            #wwcform("action=projectReports.action" "heading=%{getText('chart.parameters')}" "colspan=5" "width=100%" "method=post")
                #wwhidden("name=projectName")
                <tr>
                    #wwselect("name=timeframe" "label=%{getText('chart.timeframe')}" "list=timeframes" "singleRow=true" "tabindex=1")
                    <td>
                        #wwsubmit("name=refresh" "value=%{getText('refresh.name')}" "tabindex=$tabIndex")
                    </td>
                </tr>
            #end
        </td>
    </tr>
</table>

</body>
</html>
