#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
    <script type="text/javascript" src="/prototype.js"></script>
    <script type="text/javascript">
        #updater("/ajax/projectHomePanel.action?id=$project.id" "panel" $principle)
    </script>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #projectTabs("home")

    <div id="panel">
        #parse("ajax/project-home-panel.vm")
    </div>
</html>
