#helpTag("Project+Home+Tab")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title id="project-home-#uce($project.name)">$!webwork.htmlEncode($project.name)</title>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript" src="$base/js/scriptaculous/scriptaculous.js"></script>
    <script type="text/javascript" src="$base/js/buildcolumns.js"></script>
    <script type="text/javascript">
    //<![CDATA[
        #set($ajaxUrl = "$base/ajax/projectHomePanel.action?projectName=$u_projectName")
        #updater($ajaxUrl "panel" $principle)

        var summaryPopup;
        var recentPopup;
        YAHOO.util.Event.addListener(window, "load", function() {
            summaryPopup = new BuildColumnPopup("project.summary", "$base", "$ajaxUrl", "panel");
            recentPopup = new BuildColumnPopup("project.recent", "$base", "$ajaxUrl", "panel");
        });
    //]]>
    </script>
</head>
<body>
    #projectTabs("home")

    #parse("/template/includes/actionerrors.vm")
    
    <div id="panel">
        #parse("ajax/project-home-panel.vm")
    </div>

    #buildColumnsPopup("project.summary" "summaryPopup")
    #buildColumnsPopup("project.recent" "recentPopup")

    <div id="commentsWindow" class="floating" style="display: none;">
        <div id="commentsWindowContent">
        </div>
    </div>
</body>
</html>
