#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
    <script type="text/javascript" src="/prototype.js"></script>
    <script type="text/javascript">
        #updater("/ajax/projectHomePanel.action?id=$project.id" "panel" 60)
    </script>
</head>
<body>
    <h1>:: $!webwork.htmlEncode($project.name) ::</h1>

    #projectTabs("home")

#if($hasBasics)
    <table class="content">
        #headingRow("project.basics" 2)
    #if($project.description && $project.description.length() > 0)
        #dynamicRow("project.description" $project.description)
    #end
    #if($project.url && $project.url.length() > 0)
        #dynamicLinkRow("project.url" $project.url $project.url)
    #end
    </table>
#end

    <div id="panel">
        #parse("ajax/project-home-panel.vm")
    </div>
</html>
