#authorisationTags($principle)
#projectTags($wizard.project)
<html>
<head>
    <title>#wwtext("name=add.trigger")</title>
</head>
<body>
    <h1>:: #wwtext("name=add.trigger") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addTrigger.action" "id=trigger.type" "heading=%{getText('trigger.type.step')}" "method=post")
    #wwhidden("name=state")

    #wwtextfield("name=name" "label=%{getText('trigger.name')}" "required=true" "tabindex=1")
    #wwselect("name=type" "label=%{getText('trigger.type')}" "list=types" "tabindex=2")
    #wwselect("name=spec" "label=%{getText('trigger.spec')}" "list=specs" "tabindex=3")

    #openSubmit()
        #wwsubmit("name=next" "value=%{getText('next.name')}" "tabindex=4")
        #wwsubmit("name=cancel" "value=%{getText('cancel.name')}" "tabindex=5")
    #closeSubmit()
#end
</body>
</html>
