#projectTags($wizard.project)
<html>
<head>
    <title>#wwtext("name=add.trigger")</title>
</head>
<body>
    <h1>:: #wwtext("name=add.trigger") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=addTrigger.action" "heading=%{getText('trigger.type.step')}" "method=post")
    #wwhidden("name=state")
    #wwhidden("name=wizard.projectId")

    #wwselect("name=type" "label=%{getText('trigger.type')}" "list=types" "tabindex=1")

    #openSubmit()
        #wwsubmit("name=next" "value=%{getText('next.name')}" "tabindex=2")
        #wwsubmit("name=cancel" "value=%{getText('cancel.name')}" "tabindex=3")
    #closeSubmit()
#end
</body>
</html>
