#helpTag("Agent+Messages+Tab")
#authorisationTags($principle)
#agentTags($slave)
<html>
<head>
    <title>#wwtext("name=agents")</title>
</head>
<body>
    #agentTabs("server-messages")

    <table class="fill-content">
        <tr><th colspan="5">$action.getText("messages.count", ["$pagingSupport.totalItems"])</td></tr>
        #pagingRow("serverMessages.action?" $pagingSupport)
    </table>

#foreach($record in $records)
    #serverMessage($record)
#end

#if($records.size() > 0)
    <table class="fill-content">
        #pagingRow("serverMessages.action?" $pagingSupport)
        <tr><th colspan="5">$action.getText("messages.count", ["$pagingSupport.totalItems"])</td></tr>
    </table>
#end

    #tabEnd()
</html>
