<html>
  <head>
    <title>server</title>
    <link href="build.css" rel="stylesheet" type="text/css">
  </head>

  <content tag="selectedTab">server-status</content>
      
  <body>
    <h1 class="build-log">:: server status ::</h1>
    <h2 class="command-info">control panel</h2>
    <div class="command-content">
      <ul>
        <li><a href="shutdownServer.action?force=false">clean shutdown</a></li>
        <li><a href="shutdownServer.action?force=true">forced shutdown</a></li>
      </ul>
    </div>

    <h2 class="command-info">slaves</h2>
    <div class="command-content">
      <table>
        <tr>
          <th class="command-detail">slave</th>
          <th class="command-detail">host</th>
          <th class="command-detail">last ping</th>
          <th class="command-detail">status</th>
          <th class="command-detail" colspan="2">actions</th>
        </tr>
#foreach($slave in $slaves)
        #if($slave.hasBeenPinged())
          #set($pingStatus = "$slave.prettyPingTime ($slave.secondsSincePing seconds ago)")
        #else
          #set($pingStatus = "&lt;never&gt;")
        #end
        <tr>
          <td class="command-detail">$slave.name</td>
          <td class="command-detail">$slave.host</td>
          <td class="command-detail">$pingStatus</td>
          <td class="command-detail">$slave.status.toString().toLowerCase()</td>
          <td class="command-detail"><a href="editSlave!default.action?id=$slave.id">edit</a></td>
          <td class="command-detail"><a href="deleteSlave.action?id=$slave.id">delete</a></td>
        </tr>
#end
      <tr>
        <td class="command-detail" colspan="6"><b>+</b> <a href="createSlave!default.action">add new slave</a></td>
      </tr>
      </table>
    </div>

    <h2 class="command-info">resources</h2>
    <div class="command-content">
      <table>
        <tr>
          <th class="command-detail">resource</th>
          <th class="command-detail">action</th>
        <tr>
#foreach($resource in $resources)
        <tr>
          <td class="command-detail"><a href="viewResource.action?id=$resource.id">$resource.name</a></td>
          <td class="command-detail"><a href="deleteResource.action?id=$resource.id">delete</a></td>
        </tr>
#end
        <tr>
          <td class="command-detail" colspan="2"><b>+</b> <a href="createResource!default.action">add new resource</a></td>
        </tr>
      </table>
    </div>
    <p>
        <ul>
            <li><a href="quartzSystemInfo.action">Quartz info</a></li>
            <li><a href="viewTriggers.action">System triggers</a></li>
        </ul>
    </p>

  </body>
</html>
