#authorisationTags($principle)
<content tag="selectedTab">server</content>
<html>
<head>
    <title>#wwtext("name=server")</title>
</head>
<body>
    <h1>:: #wwtext("name=server") ::</h1>

    #serverTabs("server-messages")

    <table class="fill-content">
        <tr><th colspan="5">$action.getText("messages.count", ["$pagingSupport.totalItems"])</td></tr>
        #pagingRow("serverMessages.action?" $pagingSupport)
    </table>

#foreach($record in $records)
    <table class="fill-content">
    #if($action.isError($record))
        #set($image = "exclamation")
        #set($cssClass = "error")
    #elseif($action.isWarning($record))
        #set($image = "error")
        #set($cssClass = "warning")
    #else
        #set($image = "information")
        #set($cssClass = "info")
    #end
        <tr>
            <td class="$cssClass" width="20%">$action.getPrettyTime($record.millis)</td>
            <td class="$cssClass" width="10%"><img alt="failure" src="/images/${image}.gif"/> $record.level.toString().toLowerCase()</td>
            <td class="$cssClass">$!webwork.htmlEncode("$record.sourceClassName :: $record.sourceMethodName")</td>
        </tr>
    #if($record.message)
        <tr>
            <td class="content-large" colspan="4">
                <pre>$!webwork.htmlEncode($record.message)</pre>
            </td>
        </tr>
    #end
    #if($action.hasThrowable($record))
        <tr>
            <td class="content-large" colspan="4">
                <pre>$!webwork.htmlEncode($action.getStackTrace($record))</pre>
            </td>
        </tr>
    #end
    </table>
#end

    <table class="fill-content">
        #pagingRow("serverMessages.action?" $pagingSupport)
        <tr><th colspan="5">$action.getText("messages.count", ["$pagingSupport.totalItems"])</td></tr>
    </table>

</html>
