#helpTag("Server+Messages+Tab")
#authorisationTags($principle)
<content tag="selectedTab">server</content>
<html>
<head>
    <title>#wwtext("name=server.messages")</title>
</head>
<body>
    #serverTabs("messages")

#if($action.hasErrors())
    #parse("/template/includes/actionerrors.vm")
#else
    <table id="server.messages.$pagingSupport.startPage" class="fill-content">
        <tr><th class="content-centre" colspan="5">$action.getText("messages.count", ["$pagingSupport.totalItems"])</td></tr>
        #pagingRow("$urls.serverMessages()" "" $pagingSupport)
    </table>

    #foreach($record in $records)
        #serverMessage($record)
    #end

    #if($records.size() > 0)
    <table class="fill-content">
        #pagingRow("$urls.serverMessages()" "" $pagingSupport)
        <tr><th class="content-centre" colspan="5">$action.getText("messages.count", ["$pagingSupport.totalItems"])</td></tr>
    </table>
    #end
#end
</html>
