#helpTag("Build+Tests+Tab")
#authorisationTags($principle)
#buildTags($project $result)
<html>
<head>
    <title>#wwtext("name=build") $result.number</title>
</head>
<body>
    <h1>:: #wwtext("name=build") $result.number ::</h1>

    #buildTabs($result "tests")

    #if($result.hasTests())
        #set($recipe = $result.root.children.get(0).result)
    <table class="fill-content" id="test-results">
        <tr>
            <th class="heading" colspan="5">
                <span class="action"><a href="#" onclick="toggleRowsWithClass('test-results', 'success'); return false;">#wwtext("name=tests.toggle.successful")</a></span>
                #wwtext("name=test.results")
            </th>
        </tr>
        <tr>
            #contentHeading("test.name" 1)
            #contentHeading("test.status" 2)
            #contentHeading("test.details" 1)
            #contentHeading("test.duration" 1)
        </tr>
        #showRecipeTests($recipe true)
    </table>
    #else
    <p>
        #wwtext("name=build.no.tests")
    </p>
    #end
</html>
