#helpTag("Projects+Section")
#authorisationTags($principle)
<content tag="selectedTab">projects</content>
<html>
<head>
    <title>#wwtext("name=projects")</title>
    <script type="text/javascript" src="$base/js/yahoo/utilities.js"></script>
    <script type="text/javascript" src="$base/js/buildcolumns.js"></script>
    <script type="text/javascript">
        #updater("$base/ajax/viewProjectsPanel.action" "projects" $principle)

        var popup;
        Ext.onReady(function() { popup = new BuildColumnPopup("all.projects", "$base", "$base/ajax/viewProjectsPanel.action", "projects"); });

        var modelMap = {};
        
        var toggleModel = function(key) {
            modelMap[key].toggle();
        }
    </script>
    #if ($rssEnabled)
        <link rel="alternate" type="application/rss+xml" title="RSS" href="rss.action"/>
    #end
</head>
<body>
    <div id="projects">
        #parse("ajax/view-projects-panel.vm")
    </div>

    #buildColumnsPopup("all.projects" "popup")

</body>
</html>
