#authorisationTags($principle)
<content tag="selectedTab">server</content>
<html>
<head>
    <title>#wwtext("name=server")</title>
    <script type="text/javascript" src="/prototype.js"></script>
    <script type="text/javascript">
        #updater("/ajax/viewRecipeQueuePanel.action" "panel" 60)
    </script>
</head>
<body>
    <h1>:: #wwtext("name=server") ::</h1>

    #serverTabs("status")

    <div id="panel">
        #parse("ajax/view-recipe-queue-panel.vm")
    </div>
</body>
</html>
