#helpTag("Build+Summary+Tab")
#authorisationTags($principle)
#buildTags($project $buildResult)

#if($personal)
    #set($ownerArg = "personal=true")
#else
    #set($ownerArg = "projectName=$u_projectName")
#end

<html>
<head>
    <title>#wwtext("name=build") $result.number</title>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript">
        #updater("$base/ajax/viewBuildPanel.action?${ownerArg}&buildVID=$buildResult.number" "panel" $principle)

        function triggerHook(hookHandle)
        {
            var statusEl = Ext.get('status');
            statusEl.enableDisplayMode();
            statusEl.setVisible(false);

            new Ajax.Request('${base}/ajax/triggerBuildHook.action',
              {
                  method:'get',
                  parameters: '${ownerArg}&buildVID=$buildResult.number&hook=' + hookHandle,

                  onSuccess: function(transport, response)
                  {
                      var response = eval("(" + transport.responseText + ")");
                      if(response.success)
                      {
                          statusEl.update('<img src="${base}/images/accept.gif" alt="success"/> ' + response.detail);
                      }
                      else
                      {
                          statusEl.update('<img src="${base}/images/exclamation.gif" alt="success"/> Unable to trigger hook: ' + response.detail);
                      }

                      statusEl.setVisible(true, true);
                  },

                  onFailure: function()
                  {
                      statusEl.update('<img src="${base}/images/exclamation.gif" alt="success"/> Hook trigger failed.');
                      statusEl.setVisible(true, true);
                  }
              });
        }
    </script>
</head>
<body>
    #buildTabs($buildResult "summary")

    <div id='#id("${result.ownerName}-build-${result.number}-summary")'></div>
    
    <p id="status" class="status-message" style="display: none"></p>

#if($result.completed())
#auth("resource=project" "action=write")
    <div id="action-column" style="margin-left: 20px; float: right;">
        <table width="150" class="content">
            <tr>
                <th class="heading">actions</th>
            </tr>
        #set($confirm = $action.getText("build.delete.confirm", [$buildResult.number]))
            <tr>
                <td class="content">
                    <img alt="delete" src="$base/images/delete.gif"/>
                    <a href="#" onclick="confirmUrl('$confirm', '$base/deleteBuild.action?${ownerArg}&amp;buildVID=$buildResult.number')">#wwtext("name=build.delete")</a>
                </td>
            </tr>
        </table>

    #if(!$personal && $hooks.size() > 0)
        <table width="150" class="content">
            <tr>
                <th class="heading">hooks</th>
            </tr>
        #foreach($hook in $hooks)
            <tr>
                <td class="content">
                    <img alt="trigger" src="$base/images/lightning.gif"/>
                    <a id='#id("hook.${hook.name}")' href="#" onclick="triggerHook('$hook.handle'); return false">#html($hook.name)</a>
                </td>
            </tr>
        #end
        </table>
    #end
    </div>
#end
#end
    <div id="panel">
        #parse("ajax/view-build-panel.vm")
    </div>
</html>
