#helpTag("Server+Status+Tab")
#authorisationTags($principle)
<content tag="selectedTab">server</content>
<html>
<head>
    <title>#wwtext("name=server")</title>
    <script type="text/javascript" src="/prototype.js"></script>
    <script type="text/javascript">
        #updater("/ajax/viewServerStatusPanel.action" "panel" $principle)
    </script>
</head>
<body>
    #serverTabs("status")

    <div id="panel">
        #parse("ajax/view-server-status-panel.vm")
    </div>

    #tabEnd()
</body>
</html>
