#macro(detailrow $header $content)
  <tr><th class="command-detail">$header</th><td class="command-detail">$content</td></tr>
#end

#macro(errordetails $result)
  #if($result.errorMessage)
    <h2 class="command-element">error details</h2>
    #set($trace = $result.exceptionTrace)
    <div class="error">
    #if($result.errorMessage)
      <h3>message</h3>
      <pre>$result.errorMessage</pre>
    #end
    #if($trace)
      <h3>full trace</h3>
      <pre>$trace</pre>
    #end
    </div>
  #end      
#end

<html>
  <head>
    <title>$project.name build $result.number</title>
    <link href="build.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1 class="build-log">:: build $result.number ::</h1>
#if($result.inProgress())
  #set($class = "info")
#elseif($result.succeeded())
  #set($class = "success")
#else
  #set($class = "failure")
#end

    <h2 class="command-$class">summary</h2>
    <div class="command-content">
      <table>
        #detailrow("commenced" $result.stamps.prettyStartTime)
        #detailrow("completed" $result.stamps.prettyEndTime)
        #detailrow("elapsed"   $result.stamps.prettyElapsed)
        #detailrow("status"    $result.state.prettyString)
      </table>
      #errordetails($result)
    </div>

      <h2 class="command-info">changes</h2>
      <div class="command-content">
        #foreach($scmDetails in $result.scmDetails.values())
          #if($scmDetails.revision)
            <h2 class="command-element">$scmDetails.scmName</h2>
            Checked out revision <b>$scmDetails.revision</b>.
            #set($changes = $scmDetails.changelists)
	        #if($changes.size() > 0)
              <h3>changes since last build</h3>
                <table>
                  <tr>
                    <th>who</th>
                    <th>when</th>
                    <th>what</th>
                    <th>revision</th>
                    <th>files</th>
                  </tr>
              #foreach($change in $changes)
                <tr>
                  <td>$change.user</td>
                  <td>$change.date</td>
                  <td>$change.commend</td>
                  <td>$change.revision</td>
                  <td>
                    <ul class="scm-changes">
                #foreach($file in $change.changes)
                      <li><span class="filename">$file.filename#$file.revision: $file.action</span></li>
                #end
                    </ul>
                  </td>
                </table>
              #end
            #else
              <div>No changes since last build.</div>
            #end
	      #end
	    #end
	  </div>

#macro(showrecipes $node)
  <ul>
  #foreach($child in $node.children)
    #set($recipeResult = $child.result)

    #if(!$recipeResult.commenced())
      #set($class = "pending")
    #elseif($recipeResult.inProgress())
      #set($class = "info")
    #elseif($recipeResult.succeeded())
      #set($class = "success")
    #else
      #set($class = "failure")
    #end

    #if($recipeResult.recipeName)
      #set($recipeName = $recipeResult.recipeName)
    #else
      #set($recipeName = "[default]")
    #end
    <li>
      <table>
        <tr>
          <th colspan="4" class="command-detail">$recipeName @ $child.host</th>
        </tr>
    #if($recipeResult.commenced())
        <tr>
          <th class="command-detail">commenced</th>
          <th class="command-detail">completed</th>
          <th class="command-detail">elapsed</th>
          <th class="command-detail">status</th>
        </tr>
        <tr>
          <td class="build-$class">$recipeResult.stamps.prettyStartTime</td>
          <td class="build-$class">$recipeResult.stamps.prettyEndTime</td>
          <td class="build-$class">$recipeResult.stamps.prettyElapsed</td>
          <td class="build-$class">$recipeResult.state.prettyString</td>
        <tr>
    #end
    #if($recipeResult.commandResults.size() > 0)
        <tr>
          <th class="command-detail">command</th>
          <th class="command-detail">when</th>
          <th class="command-detail">elapsed</th>
          <th class="command-detail">status</th>
        </tr>
      #foreach($commandResult in $recipeResult.commandResults)
        #if(!$commandResult.commenced())
          #set($commandClass = "pending")
        #elseif($commandResult.inProgress())
          #set($commandClass = "info")
        #elseif($commandResult.succeeded())
          #set($commandClass = "success")
        #else
          #set($commandClass = "failure")
        #end
        <tr>
          <td class="build-$commandClass">$commandResult.commandName</td>
          <td class="build-$commandClass">$commandResult.stamps.prettyStartTime</td>
          <td class="build-$commandClass">$commandResult.stamps.prettyElapsed</td>
          <td class="build-$commandClass">$commandResult.state.prettyString</td>
        </tr>
      #end
    #end
      </table>
    #if($child.children.size() > 0)
      #showrecipes($child)
    #end
  #end
  </ul>
#end

    <h2 class="command-$class">recipe results</h2>
    <div class="command-content">
      <span id="build-tree">
        #showrecipes($result.root)
      </span>
    </div>
<!--
#foreach($commandResult in $recipeResult.commandResults)
  #if($commandResult.inProgress())
    #set($class = "info")
  #elseif($commandResult.succeeded())
    #set($class = "success")
  #else
    #set($class = "failure")
  #end
    <h2 class="command-$class">$commandResult.commandName</h2>
    <div class="command-content">
      <table>
        #detailrow("commenced" $commandResult.stamps.prettyStartTime)
        #detailrow("completed" $commandResult.stamps.prettyEndTime)
        #detailrow("elapsed"   $commandResult.stamps.prettyElapsed)
        #detailrow("status"    $commandResult.state.prettyString)
      </table>
      #if($commandResult.errorMessage)
        #errordetails($commandResult)
      #else
        <h2 class="command-element">details</h2>
        <table>
          #foreach($key in $commandResult.properties.keySet())
            #detailrow($key $commandResult.properties.get($key))
          #end
        </table>
        <h2 class="command-element">artifacts</h2>
        #foreach($artifact in $commandResult.artifacts)
          <h3>$artifact.title (<a href="viewArtifact.action?id=$artifact.id">view</a>)</h3>
          <div class="artifact">
          #if($artifact.hasFeatures())
            #foreach($level in $artifact.levels)
            <div class="$level.toString().toLowerCase()">
              <b>$level.toString().toLowerCase() features</b>
              <ul class="feature">
              #foreach($feature in $artifact.getFeatures($level))
                <li>$feature.summary</li>
              #end
              </ul>
            </div>
            #end
          #else
            &lt;No features&gt;
          #end
          </div>
        #end
      #end
    </div>
#end
-->
  </body>
</html>
