#authorisationTags($principle)
#buildTags($buildResult.project $buildResult)
<html>
<head>
    <title>#wwtext("name=changelist") $changelist.revision</title>
</head>
<body>
    <h1>:: #wwtext("name=changelist") $changelist.revision ::</h1>

    <table class="content">
        #headingRow("changelist.details" 2)
        #dynamicRow("changelist.revision" $changelist.revision)
        #dynamicRow("changelist.who" $changelist.user)
        #dynamicRow("changelist.when" $changelist.prettyDate)
#set($comment = $!webwork.htmlEncode($changelist.comment))
        #dynamicRow("changelist.comment" $comment)
    </table>
    <table class="content">
        #headingRow("changelist.files" 3)
        <tr>
            #contentHeading("changelist.file" 1)
            #contentHeading("changelist.revision" 1)
            #contentHeading("changelist.action" 1)
        </tr>
#foreach($file in $changelist.changes)
        <tr>
            #dynamicCell($file.filename)
            #dynamicCell($file.revision)
            #dynamicCell($file.action)
        </tr>
#end
    </table>
</html>
