#authorisationTags($principle)
#set($result = $node.result)

<html>
  <head>
    <title>$result.recipeNameSafe @ $node.hostSafe</title>
    <link href="build.css" rel="stylesheet" type="text/css">
    <content tag="navProject">$project.id</content>
    <content tag="navProjectName">$project.name</content>
  </head>
  <body>
#classset($result)
    <h1 class="build-log">:: $result.recipeNameSafe @ $node.hostSafe ::</h1>

    <h2 class="command-$class">summary</h2>
    <div class="command-content">
      <h4>summary</h4>
      <table>
        #resultsummary($result)
      </table>

      #recipeMessageSummary($result $result.getLevel("ERROR") true)

      #recipeMessageSummary($result $result.getLevel("WARNING") true)

    </div>

#if($result.commandResults.size() > 0)
    <h1 class="build-log">:: command log ::</h1>
  #foreach($commandResult in $result.commandResults)
    #classset($commandResult)
    <h2 class="command-$class">$commandResult.commandName</h2>
    <div class="command-content">
      <table>
    #resultsummary($commandResult)
    #errorrow($commandResult)
      </table>
    #if($commandResult.properties.size() > 0)
      <h4>details</h4>
        <table>
      #foreach($key in $commandResult.properties.keySet())
        #detailrow($key $commandResult.properties.get($key))
      #end
        </table>
    #end
    #if($commandResult.artifacts.size() > 0)
      <h4>artifacts</h4>
        <ul class="artifact">
      #foreach($artifact in $commandResult.artifacts)
          <li class="artifact">
            <a href="viewArtifact.action?id=$artifact.id&commandId=$commandResult.id">$artifact.name</a> [$artifact.type]
          </li>
        #foreach($level in $artifact.levels)
          #set($levelClass = $level.toString().toLowerCase())
          <ul class="$levelClass">
            <li class="title">$levelClass features</li>
          #foreach($feature in $artifact.getFeatures($level))
            <li class="$levelClass">$feature.summary</li>
          #end
          </ul>
        #end
      #end
        </ul>
    #end
    </div>
  #end
#end

  </body>
</html>

