#helpTag("Build+Tests+Tab")
#authorisationTags($principle)
#buildTags($project $result)
<html>
<head>
    <title>#wwtext("name=build") $result.number</title>
    <script type="text/javascript">
    <!--
        var successfulShowing = {
            "suites": true,
            "cases": true
        };

        function toggleSuccessful(name)
        {
            if(successfulShowing[name])
            {
                text = "#wwtext("name=tests.show.successful")";
                successfulShowing[name] = false;
            }
            else
            {
                text = "#wwtext("name=tests.hide.successful")";
                successfulShowing[name] = true;
            }

            toggleSuccessfulTestRows("child-" + name, successfulShowing[name]);
            setText(name + "-toggle", text);
        }
	-->
    </script>
</head>
<body>
    #buildTabs($result "tests")

    <p>
        <a href="viewTests.action?id=$result.id">#wwtext("name=tests.all")</a>
        :: <a href="viewTestSuite.action?id=$result.id&nodeId=$node.id">#wwtext("name=build.stage") $!webwork.htmlEncode($node.stage)</a>
#set($suitePath="")
#foreach($element in $paths)
    #if($element.length() > 0)
        #set($suitePath = "$suitePath/$element")
        :: <a href="viewTestSuite.action?id=$result.id&nodeId=$node.id&path=$action.urlEncode($suitePath)">#wwtext("name=test.suite") $!webwork.htmlEncode($action.urlDecode($element))</a>
    #end
#end
    </p>

    #testSummaryTable($suite.summary)

#if($suite.suites.size() > 0)
    <table id="child-suites" class="fill-content">
        <th class="heading" colspan="7">
           <span class="action">
               <a href="#" id="suites-toggle" onclick="toggleSuccessful('suites'); return false;">
                    #wwtext("name=tests.hide.successful")
                </a>
            </span>
            #wwtext("name=test.suites")
        </th>
        <tr>
            #contentHeading("test.name" 1)
            #contentHeading("test.status" 2)
            #contentHeading("test.total" 1)
            #contentHeading("test.failures" 1)
            #contentHeading("test.errors" 1)
            #contentHeading("test.duration" 1)
        </tr>
    #foreach($childSuite in $suite.suites)
        #if($path.length() > 0)
            #set($childPath = "$path/$action.urlEncode($childSuite.name)")
        #else
            #set($childPath = "$action.urlEncode($childSuite.name)")
        #end
        #if($childSuite.hasBrokenTests())
            #set($cssClass = "failed")
        #else
            #set($cssClass = "successful")
        #end
        <tr class="$cssClass">
            #dynamicLinkCell($childSuite.name "viewTestSuite.action?id=$result.id&nodeId=$node.id&path=$action.urlEncode($childPath)")
            #testStatusCell($childSuite)
            #rightCell($childSuite.total)
            #rightCell($childSuite.failures)
            #rightCell($childSuite.errors)
            #rightCell($childSuite.prettyDuration)
        </tr>
    #end
    </table>
#end

#if($suite.cases.size() > 0)
    <table id="child-cases" class="fill-content">
        <th class="heading" colspan="5">
           <span class="action">
               <a href="#" id="cases-toggle" onclick="toggleSuccessful('cases'); return false;">
                    #wwtext("name=tests.hide.successful")
                </a>
            </span>
            #wwtext("name=test.cases")
        </th>
        <tr>
            #contentHeading("test.name" 1)
            #contentHeading("test.status" 2)
            #contentHeading("test.details" 1)
            #contentHeading("test.duration" 1)
        </tr>
    #foreach($childCase in $suite.cases)
        #if($childCase.hasBrokenTests())
            #set($cssClass = "failed")
        #else
            #set($cssClass = "successful")
        #end
        <tr class="$cssClass">
            #dynamicCell($childCase.name)
            #testStatusCell($childCase)
            #if($childCase.message)
            <td class="content-wrap">
                $action.plainToHtml($childCase.message)
            </td>
            #else
                #contentCell("empty.cell")
            #end
            #rightCell($childCase.prettyDuration)
        </tr>
    #end
    </table>
#end


</html>
