#helpTag("Projects+Section")
#authorisationTags($principle)
<content tag="selectedTab">projects</content>
<html>
<head>
    <title>#wwtext("name=projects")</title>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript">
        #updater("$base/ajax/viewProjectsPanel.action" "panel" $principle)
    </script>
    #if ($rssEnabled)
        <link rel="alternate" type="application/rss+xml" title="RSS" href="rss.action"/>
    #end
</head>
<body>
    <div id="pagecontent">

    <h1>:: #wwtext("name=projects") ::</h1>
    <div id="panel">
        #parse("ajax/view-projects-panel.vm")
    </div>

    </div>
</body>
</html>
