#authorisationTags($principle)
#buildTags($project $result)
<html>
<head>
    <title>#wwtext("name=build") $result.number</title>
</head>
<body>
    <a name="top" class="unadorned">
        <h1>:: #wwtext("name=build") $result.number ::</h1>
    </a>

    #buildTabs($result "command-log")

#set($recipeResult = $result.root.children.get(0).result)
#if($recipeResult.commandResults.size() > 0)
    <p>
        <b>#wwtext("name=jump.to")</b>
    #foreach($commandResult in $recipeResult.commandResults)
        :: <a href="#command-$velocityCount">$!webwork.htmlEncode($commandResult.commandName)</a>
    #end
    </p>

    #foreach($commandResult in $recipeResult.commandResults)
        <h2 class="section">
    <a name="command-$velocityCount">
           <a href="#top" class="unadorned"><img alt="top" src="images/arrow_up.gif"/></a>
            $!webwork.htmlEncode($commandResult.commandName)
    </a>
        </h2>

    <table class="content">
        #headingRow("summary" 6)
        <tr>
            #contentHeading("command.name" 1)
            #contentHeading("build.status" 2)
            #contentHeading("build.tests" 1)
            #contentHeading("build.when" 1)
            #contentHeading("build.elapsed" 1)
        </tr>
        <tr>
            #set($cssClass = $commandResult.state.string)
            #contentCell($commandResult.commandName)
            #statusCell($commandResult)
            #testResultsCell($commandResult)
            #classCell($commandResult.stamps.prettyStartTime)
            #classCell($commandResult.stamps.prettyElapsed)
        </tr>
        #if($commandResult.hasDirectMessages($errorLevel))
        <tr>
            <td class="error" colspan="6">
                <ul>
            #foreach($feature in $commandResult.getFeatures($errorLevel))
                    <li class="error">$!webwork.htmlEncode($feature.summary)</li>
            #end
                </ul>
            </td>
        </tr>
        #end
        #if($commandResult.hasDirectMessages($warningLevel))
        <tr>
            <td class="warning" colspan="6">
                <ul>
            #foreach($feature in $commandResult.getFeatures($warningLevel))
                    <li class="warning">$!webwork.htmlEncode($feature.summary)</li>
            #end
                </ul>
            </td>
        </tr>
        #end
    </table>

        #if($commandResult.properties.size() > 0)
    <table class="content">
        #headingRow("command.properties" 2)
            #foreach($property in $commandResult.properties.entrySet())
        #propertyRow($property)
            #end
    </table>
        #end

        #if($commandResult.hasArtifacts())
    <h3>#wwtext("name=command.artifacts")</h3>
    #commandArtifacts($result $commandResult true $recipeResult.completed())
        #end
    #end
#else
    <p>
        #wwtext("name=commands.none")
    </p>
#end
</html>
