#macro(nodeResources $node)
    <table class="content" id="resources_$!webwork.htmlEncode($node.stage.name)">
        #headingRow("buildspec.stage.resources" 4)
        <tr>
            #contentHeading("resource.name" 1)
            #contentHeading("resource.version" 1)
    #acl("domainObject=project" "hasPermission=4,1")
            #contentHeading("actions" 2)
    #end
        </tr>
    #foreach($resource in $node.resourceRequirements)
        #set($confirmMessage = $action.getText("buildspec.stage.resource.confirm.delete"))
        <tr>
            #dynamicCell($resource.resource)
            #dynamicCell($resource.version)
        #acl("domainObject=project" "hasPermission=4,1")
            #editCell("editBuildStageResource!input.action?projectId=$project.id&amp;specId=$specification.id&amp;id=$node.id&amp;index=$velocityCount" "edit_resource_${node.id}_${velocityCount}")
            #deleteCell("delete_resource_${node.id}_${velocityCount}" "deleteBuildStageResource.action?projectId=$project.id&amp;specId=$specification.id&amp;id=$node.id&amp;index=$velocityCount" $confirmMessage)
        #end
        </tr>
    #end
    #acl("domainObject=project" "hasPermission=4,1")
         #addRow("buildspec.stage.resource.add" 4 "addBuildStageResource!input.action?projectId=$project.id&amp;specId=$specification.id&amp;id=$node.id" "resource.add_$node.id")
    #end
    </table>
#end

#helpTag("Project+Build+Specifications")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>$!webwork.htmlEncode($specification.name)</title>
    <script type="text/javascript">
#if($action.haveSelectedNode() || $specification.root.children.size() == 0)
        var selectedNode = "$selectedNode";
#else
        var selectedNode = "$specification.root.children.get(0).id";
#end
    </script>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

    #if($clean)
    <p class="note" style="text-align: center">
        Marked for clean build on all agents.
    </p>
    #end
    <p style="text-align: right; margin-bottom: 0">
        <a href="triggerBuild.action?id=$specification.id&amp;projectId=$project.id"><img alt="trigger" src="$base/images/lightning.gif"/> #wwtext("name=buildspec.trigger")</a>
        [ <a href="forceCleanBuild.action?id=$specification.id&amp;projectId=$project.id">#wwtext("name=buildspec.force.clean")</a> ]
    </p>
    <h2 style="margin-top: 0" class="section">#wwtext("name=buildspec") $!webwork.htmlEncode($specification.name)</h2>

    <table class="columns">
        <tr>
            <td class="columns">

                <table id="spec.basics" class="content">
                    #aclEditHeadingRow("buildspec.basics" 2 "editBuildSpecification!input.action?projectId=$project.id&amp;id=$specification.id" "edit_basics" "project")
                    #dynamicRow("buildspec.name" $specification.name)
                    #dynamicRow("buildspec.isolate.changelists" $specification.isolateChangelists)
                    #dynamicRow("buildspec.retain.working.copy" $specification.retainWorkingCopy)
                    #dynamicRow("buildspec.checkout.scheme" $action.getText("buildspec.checkout.scheme.$specification.checkoutScheme.toString()"))
                    #dynamicRow("buildspec.timeout" $specification.prettyTimeout)
                    #dynamicRow("buildspec.prompt" $specification.prompt)
                </table>
            </td>

            <td class="columns">
                <table id="spec.properties" class="content">
                    #headingRow("buildspec.properties" 7)
                    <tr>
                        #contentHeading("property.name" 1)
                        #contentHeading("property.value" 1)
                        #contentHeading("property.environment" 1)
                        #contentHeading("property.path" 1)
                        #contentHeading("property.resolve" 1)
                    #acl("domainObject=project" "hasPermission=4,1")
                        #contentHeading("actions" 2)
                    #end
                    </tr>
                    #foreach($property in $properties)
                        #set($confirmMessage = $action.getText("property.confirm.delete", [$property.name]))
                    <tr>
                        #dynamicCell($property.name)
                        #dynamicCell($property.value)
                        #dynamicCell($property.addToEnvironment)
                        #dynamicCell($property.addToPath)
                        #dynamicCell($property.resolveVariables)
                        #acl("domainObject=project" "hasPermission=4,1")
                            #editCell("editBuildSpecificationProperty!input.action?projectId=$project.id&amp;specId=$specification.id&amp;id=$property.id" "edit_property_$!webwork.htmlEncode($property.name)")
                            #deleteCell("delete_property_$!webwork.htmlEncode($property.name)" "deleteBuildSpecificationProperty.action?projectId=$project.id&amp;specId=$specification.id&amp;id=$property.id" $confirmMessage)
                        #end
                    </tr>
                    #end
                    #addRow("property.add" 7 "$base/createBuildSpecificationProperty!input.action?projectId=$project.id&amp;specId=$specification.id" "add_property")
                </table>

                #nodeResources($specification.root)

            </td>
        </tr>
    </table>
    
    <h2 class="twopane">#wwtext("name=buildspec.stages")</h2>

    <table class="twopane">
        <tr>
            <td class="leftpane">
                <p>
                    Select a stage:
                </p>
                <ul class="panenav">
    #foreach($node in $specification.root.children)
                    <li>
                        <a href="#" id="nav_$node.id" onclick="selectNode('$node.id'); return false;">
                            $!webwork.htmlEncode($node.stage.name)
                        </a>
                    </li>
    #end
                </ul>
#acl("domainObject=project" "hasPermission=4,1")
                <p>
                    <a id="stage.add" href="createBuildStage!input.action?projectId=$projectId&specId=$specification.id">
                        <img alt="add" src="$base/images/add.gif"/> #wwtext("name=buildspec.stage.add")
                    </a>
                </p>
#end
            </td>
            <td class="rightpane">
    #foreach($node in $specification.root.children)
        #set($confirmMessage = $action.getText("buildspec.stage.confirm.delete", [$node.stage.name]))
                <div id="node_$node.id" style="display: none">
                    <div class="panecontent">
                        <table class="columns">
                            <tr>
                                <td class="columns">

                                    <table id="stage_$!webwork.htmlEncode($node.stage.name)" class="content">
                                        #aclEditHeadingRow("buildspec.stage.basics" 2 "editBuildStage!input.action?projectId=$project.id&amp;specId=$specification.id&amp;id=$node.id" "edit_$node.id" "project")
                                        #dynamicRow("buildspec.stage.name" $node.stage.name)
                                        #dynamicRow("buildspec.stage.recipe" $node.stage.recipeSafe)
                                        #dynamicRow("buildspec.stage.agent" $node.stage.hostRequirements.summary)
                                    </table>

                                </td>
                                <td class="columns">

                                    #nodeResources($node)

                                    <table id="post.actions.$!webwork.htmlEncode($node.stage.name)">
                                        #headingRow("buildspec.stage.post.actions" 4)
                                        <tr>
                                            #contentHeading("post.build.action.name" 1)
                                            #contentHeading("post.build.action.type" 1)
                    #acl("domainObject=project" "hasPermission=4,1")
                                            #contentHeading("actions" 2)
                    #end
                                        </tr>
                    #if($node.postActions.size() > 0)
                        #foreach($post in $node.postActions)
                            #set($confirmMessage = $action.getText("buildspec.stage.post.action.confirm.delete", [$post.name]))
                                        <tr>
                                            #dynamicCell($post.name)
                                            #dynamicCell($post.type)
                            #acl("domainObject=project" "hasPermission=4,1")
                                            #editCell("editPostStageAction!input.action?id=$post.id&amp;projectId=$project.id&amp;specId=$specification.id&amp;nodeId=$node.id" "edit_post_$!webwork.htmlEncode($node.stage.name)_$!webwork.htmlEncode($post.name)")
                                            #deleteCell("delete_post_$!webwork.htmlEncode($node.stage.name)_$!webwork.htmlEncode($post.name)" "deletePostStageAction.action?id=$post.id&amp;projectId=$project.id&amp;specId=$specification.id&amp;nodeId=$node.id" $confirmMessage)
                            #end
                                        </tr>
                        #end
                    #else
                                        #contentRow("buildspec.stage.post.actions.none" 4)
                    #end
                    #acl("domainObject=project" "hasPermission=4,1")
                                        #addRow("buildspec.stage.post.action.add" 4 "addPostStageAction.action?projectId=$project.id&amp;specId=$specification.id&amp;nodeId=$node.id" "add_post_action_$!webwork.htmlEncode($node.stage.name)")
                    #end
                                    </table>

                                </td>
                            </tr>
                        </table>
                        
        #acl("domainObject=project" "hasPermission=4,1")
                        <a href="#" id="delete_$!webwork.htmlEncode($node.stage.name)" onclick="confirmUrl('$action.jsStringEncode($confirmMessage)', 'deleteBuildStage.action?projectId=$project.id&amp;specId=$specification.id&amp;id=$node.id')">
                            <img alt="$action.getText('delete')" src="$base/images/delete.gif"/> #wwtext("name=buildspec.stage.delete")
                        </a>
        #end
                    </div>
                </div>
    #end
            </td>
        </tr>
    </table>

#if($specification.root.children.size() > 0)
    <script type="text/javascript">
        selectNode(selectedNode);
    </script>
#end

    #tabEnd()
</body>
</html>
