#helpTag("Agent+Status+Tab")
#authorisationTags($principle)
#agentTags($slave)
<html>
<head>
    <title>#wwtext("name=agents")</title>
</head>
<body>
    #agentTabs("status")

    okily dokily

    #tabEnd()
</html>
