#macro(detailrow $header $content)
  <tr><th class="command-detail">$header</th><td class="command-detail">$content</td></tr>
#end

#macro(errorrow $result)
  #if($result.errored() && $result.errorMessage)
    <tr>
      <td class="build-failure" colspan="4">
        <h4>error message</h4>
        <ul class="error">
          <li class="error">$result.errorMessage</li>
        </ul>
      </td>
    </tr>
  #end
#end

#macro(resultsummary $result)
  #if(!$result.commenced())
    #set($class = "pending")
  #elseif($result.inProgress())
    #set($class = "info")
  #elseif($result.succeeded())
    #set($class = "success")
  #else
    #set($class = "failure")
  #end

  <tr>
    <th class="command-detail">commenced</th>
    <th class="command-detail">completed</th>
    <th class="command-detail">elapsed</th>
    <th class="command-detail">status</th>
  </tr>
  <tr>
    <td class="build-$class">$result.stamps.prettyStartTime</td>
    <td class="build-$class">$result.stamps.prettyEndTime</td>
    <td class="build-$class">$result.stamps.prettyElapsed</td>
    <td class="build-$class">$result.state.prettyString</td>
  <tr>

  #errorrow($result)
#end

#set($result= $node.result)

#if($result.recipeName)
  #set($recipeName = $result.recipeName)
#else
  #set($recipeName = "[default]")
#end

#macro(classset $result)
  #if(!$result.commenced())
    #set($class = "pending")
  #elseif($result.inProgress())
    #set($class = "info")
  #elseif($result.succeeded())
    #set($class = "success")
  #else
    #set($class = "failure")
  #end
#end

<html>
  <head>
    <title>$recipeName @ $node.host</title>
    <link href="build.css" rel="stylesheet" type="text/css">
  </head>
  <body>
#classset($result)
    <h1 class="build-log">:: $recipeName @ $node.host ::</h1>

    <h2 class="command-$class">summary</h2>
    <div class="command-content">
      <table>
        #resultsummary($result)
      </table>
    </div>

#if($result.commandResults.size() > 0)
    <h1 class="build-log">:: command log ::</h1>
  #foreach($commandResult in $result.commandResults)
    #classset($commandResult)
    <h2 class="command-$class">$commandResult.commandName</h2>
    <div class="command-content">
      <table>
    #resultsummary($commandResult)
      </table>
    #if($commandResult.properties.size() > 0)
      <h4>details</h4>
        <table>
      #foreach($key in $commandResult.properties.keySet())
        #detailrow($key $commandResult.properties.get($key))
      #end
        </table>
    #end
    #if($commandResult.artifacts.size() > 0)
      <h4>artifacts</h4>
        <ul class="artifact">
      #foreach($artifact in $commandResult.artifacts)
          <li class="artifact">
            <a href="viewArtifact.action?id=$artifact.id&commandId=$commandResult.id">$artifact.title</a> [$artifact.type]
          </li>
        #foreach($level in $artifact.levels)
          #set($levelClass = $level.toString().toLowerCase())
          <ul class="$levelClass">
            <li class="title">$levelClass features</li>
          #foreach($feature in $artifact.getFeatures($level))
            <li class="$levelClass">$feature.summary</li>
          #end
          </ul>
        #end
      #end
        </ul>
    #end
    </div>
  #end
#end

  </body>
</html>
