#authorisationTags($principle)
<html>
<head></head>

<body>

<h3>Triggers:</h3>
<table>
    #foreach($groupName in $scheduler.triggerGroupNames)
        <tr>
            <th>Name</th>
            <th>Next Fire Time</th>
            <th>Previous Fire Time</th>
            <th>State</th>
        </tr>
        #foreach($name in $scheduler.getTriggerNames($groupName))
            #set($trigger = $scheduler.getTrigger($name, $groupName))
            <tr>
                <td>$!trigger.name</td>
                <td>$!trigger.nextFireTime</td>
                <td>$!trigger.previousFireTime</td>
                <td>#renderQuartzTriggerState($scheduler.getTriggerState($name, $groupName))</td>
            </tr>
        #end
    #end
</table>

</body>
</html>