#helpTag("Build+Changes+Tab")
#authorisationTags($principle)
#buildTags($project $result)
<html>
<head>
    <title>#wwtext("name=build") $result.number</title>
</head>
<body>
    #buildTabs($result "changes")

    #parse("/template/includes/actionerrors.vm")

#macro(revisionCell $key $build $showLink)
    #if($build)
        #set($revision = "build $build.number")
        #if($build.scmDetails.revision)
            #set($revision = "$revision: revision $build.scmDetails.revision")
        #else
            #set($revision = "$revision: no revision")
        #end
        #if($showLink)
            #set($linkText = $action.getText("changes.since"))
            #set($revision = "$revision [<a href='$base/viewChanges.action?projectId=$projectId&amp;toBuild=$result.number&amp;sinceBuild=$build.number'>$linkText</a>]")
        #end
    #else
        #set($revision = "no build")
    #end

    <tr>
        #contentRowHeading($key)
        #contentCell($revision)
    </tr>
#end

    <table class="content">
        #headingRow("changes.revisions" 2)
        #revisionCell("changes.build.revision" $result false)
        #revisionCell("changes.previous.revision" $previous true)
        #revisionCell("changes.previous.successful.revision" $previousSuccessful true)
        #revisionCell("changes.previous.unsuccessful.revision" $previousUnsuccessful true)
    </table>

#if($changelists.size() > 0)
    #if($sinceResult)
        #set($title = $action.getText("changes.between", [$sinceResult.number, $result.number]))
    #else
        #set($title = $action.getText("changes.in.build", [$result.number]))
    #end
    <table class="content">
        #headingRow($title 5)
    #foreach($change in $changelists)
        <tr>
            #contentHeading("change.revision" 1)
            #contentHeading("change.who" 1)
            #contentHeading("change.when" 1)
            #contentHeading("change.comment" 1)
            #contentHeading("actions" 1)
        </tr>
        #set($url = $action.getChangeUrl($project, $change.revision))
        <tr>
            <td class="content-right">
        #if($url)
                <a href="$url">
        #end
                    $change.revision
        #if($url)
                </a>
        #end
             </td>
            #dynamicCell($change.user)
            #dateCell($change)
            #contentCell($action.transformComment($change))
            #linkCell("view.$change.id" "view" "viewChangelist.action?id=$change.id&buildId=$result.id")
        </tr>
        #if($change.changes.size() > 0)
        <tr>
            <td class="content" colspan="5">
                <b>#wwtext("name=changes.files")</b>
                <ul>
            #if($change.changes.size() < 5)
                #set($limit = $change.changes.size() - 1)
                #set($remaining = 0)
            #else
                #set($limit = 4)
                #set($remaining = $change.changes.size() - 5)
            #end
            #foreach($i in [0..$limit])
                #set($file = $change.changes.get($i))
                    <li>$!webwork.htmlEncode($file.filename) #$file.revision - $file.action.toString().toLowerCase()</li>
            #end
            #if($remaining > 0)
                    <li>... ($remaining #wwtext("name=changes.more.files"))</li>
            #end
                </ul>
            </td>
        </tr>
        #end
    #end
    </table>
#else
    <p>
        <td class="content" colspan="5">#wwtext("name=changes.none")</td>
    </p>
#end

    #tabEnd()
</html>
