#authorisationTags($principle)
<content tag="selectedTab">server</content>
<html>
<head>
    <title>#wwtext("name=server")</title>
</head>
<body>
    <h1>:: #wwtext("name=server") ::</h1>

    #serverTabs("server-info")

#set ($propertiesMap = $action.getProperties())
#set ($properties = ["system.date", "system.time", "system.uptime", "java.version", "java.vendor", "java.vm.name", "java.runtime.name", "user.name", "user.timezone", "os.name"])

    <table class="columns" width="90%">
        <tr>
            <td class="columns" width="40%">

    <table class="fill-content">
        #headingRow("system.info" 2)
#foreach ($key in $properties)
        #dynamicRow($action.getText($key) $propertiesMap.get($key))
#end

#set ($percentageUsed = $action.getPercentage($action.getUsedMemory(), $action.getTotalMemory()))
#set ($percentageFree = $action.getPercentage($action.getFreeMemory(), $action.getTotalMemory()))
    <tr>
        <th class="content-row">#wwtext("name=memory.usage")</th>
        <td class="content">
            <table align=left border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td valign=top width="50%">
                        <table  border="0" cellpadding="0" cellspacing="0" width="100%">
                            <td bgcolor="#CC3333" width="${percentageUsed}%">
                                <a class="unadorned" title="Used Memory" >
                                    <img src="images/spacer.gif"
                                         height=15
                                         width="100%"
                                         border=0 title="Used Memory ( ${percentageUsed} %)">
                                </a>
                            </td>

                            <td bgcolor="#00CC00" width="${percentageFree}%">
                                <a class="unadorned" title="Free Memory">
                                    <img src="images/spacer.gif"
                                         height=15
                                         width="100%"
                                         border=0 title="Free Memory ( ${percentageFree} %)">
                                </a>
                            </td>
                        </table>
                    </td>
                    <td valign=top width="10%" align="left" nowrap>&nbsp;&nbsp;$action.getText("memory.free", ["$percentageFree"]) #authorize("ifAllGranted=ROLE_ADMINISTRATOR") (<a href="garbageCollect.action">gc</a>) #end </td>
                </tr>
            </table>
        </td>
    </tr>
    </table>
            </td>
            <td class="columns" width="40%">
                <table class="fill-content" id="version.info">
                    #headingRow("version.info" 2)
                    #dynamicRow("version.versionNumber.field" $version.versionNumber)
                    #dynamicRow("version.buildNumber.field" $version.buildNumber)
                </table>
                <table class="fill-content" id="pulse.info">
                    #headingRow("pulse.info" 2)
                    #dynamicRow("pulse.installDir.field" $installDir)
                    #dynamicRow("pulse.homeDir.field" $homeDir)
                </table>
                <table class="fill-content" id="license.info">
                    #headingRow("license.info" 2)
                    #dynamicRow("license.holder.field" $license.holder)
                    #dynamicRow("license.expiry.field" $expiryDate)
                </table>
            </td>
        </tr>
    </table>

</html>
