#authorisationTags($principle)
<html>
<head>
    <title>welcome</title>
    <style>
        p { width: 770px; }
    </style>
</head>
<body>
    <h1 id="welcome.heading">:: #wwtext("name=welcome") :: </h1>
    <p>
        Welcome to the Pulse 2.0 Early Access Program.  This is your opportunity to play with Pulse 2.0
        before it is <strike>stable</strike> feature complete.  It is a great time to provide feedback:
        let us know what you think of the new features!
    </p>
    <p>
        You can return to this page at any time by clicking on the pulse link in the top left corner.
    </p>
    <h1> :: what's new :: </h1>
    <p>
        Pulse 2.0 is a major rework, boasting largely new internals that enable important new features.
        New things to look at so far include:

        <h3><a href="/admin/projects/">Configuration UI</a></h3>
        <p>
            The configuration UI has been completely redone.  All configuration is now in the one place,
            under 'administration'.  We have used AJAX to create a more consistent interface that is also
            more responsive.
        </p>

        <h3><a href="/admin/projects/">Templated Configuration</a></h3>
        <p>
            The new configuration system supports templating: a way to share common configuration between
            related projects (and agents) by inheritance from ancestor templates.  You will notice that
            the configuration system allows you to configure a hierarchy of projects/agents, and shows
            the inheritance relationship of fields.
        </p>

        <h3><a href="/admin/users/">New Security System</a></h3>
        <p>
            User and group management has been updated to allow finer-grained control of security.  It is
            now possible to assign more specific privileges to groups using ACLs, controlling access to
            both projects and agents.  It is also possible to configure permissions for all users and
            anonymous users via two special groups.
        </p>

        <h3><a href="/admin/plugins/">Plugins</a></h3>
        <p>
            Support for various tools is being extracted into plugins.  Further, the new configuration UI
            is generated: so plugin authors do not need to write any UI code!
        </p>

        <h3>Predictable URLS</h3>
        <p>
            The URL scheme used to access Pulses' resources has been reviewed and updated, allowing improved
            access to the UI, functionality and resources.  
        </p>
    </p>
    <h1> :: what's missing :: </h1>
    <p>
        As we are moving things over to a new architecture in Pulse 2.0, some Pulse 1.2 features are not
        yet available.  They will be readded in future EAP builds:

        <h3>Project Configuration</h3>
        <p>
            Some project configuration options have also not yet been transferred to the new system.  For
            example, we are planning to make post-build actions more flexible in Pulse 2.0, so have not
            moved them over in their existing form.  Stay tuned.
        </p>

        <h3>Upgrade Path</h3>
        <p>
            You cannot upgrade to or from EAP builds.  This is a Good Thing, as they are experimental and
            must not be used with production data.
        </p>
    </p>

</body>
</html>
