#authorisationTags($principle)
<html>
<head>
    <title>welcome</title>
</head>
<body>
    <h1>:: #wwtext("name=welcome") :: </h1>
    <p>
        Welcome to your new cinnabo server!  To help you get started, some common setup tasks are listed below.
    </p>
    <p>
        You can return to this page at any time by clicking on the cinnabo link in the top left corner.
    </p>
    <p>
        Once you are familiar with your cinnabo server, you can dismiss this default view using the link at the
        bottom of the page.
    </p>

    <h3 class="heading">configure</h3>
    <div class="box">
        <ul>
            <li class="task">
                <a href="addProject!input.action">add new projects</a> :: using the add project wizard (projects &gt; add new project)
            </li>
            #authorize("ifAllGranted=ROLE_ADMINISTRATOR")
            <li class="task">
                <a href="admin/userSettings.action">add new users</a> :: at the users view (administration &gt; users tab )
            </li>
            <li class="task">
                <a href="admin/serverSettings.action">configure server settings</a> :: at the server settings view (administration &gt; settings tab)
            </li>
            #end
            <li class="task">
                <a href="viewResources.action">add new resources</a> :: at the server resources view (server &gt; resources tab)
            </li>
        </ul>
    </div>

    <h3 class="heading">explore</h3>
    <div class="box">
       <ul>
           <li class="explore">
               <a href="dashboard.action">go to your home page</a> :: at the dashboard view (dashboard &gt; home)
           </li>
           <li class="explore">
               <a href="viewProjects.action">view all projects</a> :: at the projects view (projects)
           </li>
           #authorize("ifAllGranted=ROLE_ADMINISTRATOR")
           <li class="explore">
               <a href="viewRecipeQueue.action">view server activity</a> :: at the server status view (server &gt; status )
           </li>
           #end
       </ul>
    </div>

    <p>
        <a href="dismissWelcome.action"><img alt="$!webwork.getText('delete')" src="images/delete.gif".>dismiss this page forever</a>
    </p>
</body>
</html>
