## Only show message if errors are available.
## This will be done if ActionSupport is used.
#if( $fieldErrors.get($parameters.name) )
  #set ($hasFieldErrors = $fieldErrors.get($parameters.name))
#end
<label #if ($parameters.id) for="$!webwork.htmlEncode($parameters.id)"#end#if ($hasFieldErrors) class="error"#else class="label"#end>
#foreach ($error in $fieldErrors.get($parameters.name))
    <span class="error">$!webwork.htmlEncode($error)</span>
#end

## Lookup the label as key to external resource. If label does not exist, then
## use the name parameter.
#if( $parameters.label )
  #set ($key = $parameters.label)
#else
  #set ($key = $parameters.name)
#end        
#if( $action.getText($key) )
  #set ($label = $action.getText($key))
#else
  #set ($label = $key )
#end
<span>$label:#if ($parameters.required)<em class="required">*</em>#end</span>
