<html>
<head>
    <link rel="stylesheet" type="text/css" href="$base/css/setup.css?#version()"/>
</head>

<body>

<div id="rightcolumn">
    <div id="description-panel">
        <div id="description">
            <h3>Existing database configuration</h3>
            <p>
                <table class="content" border="1">
                    <tr>
                        <th class="content-row">Database type</th>
                        <td class="content">$originalConfiguration.type.prettyName</td>
                    </tr>
                    <tr>
                        <th class="content-row">Host</th>
                        <td class="content">$originalConfiguration.host</td>
                    </tr>
                    <tr>
                        <th class="content-row">Port</th>
                        <td class="content">
                            #if($originalConfiguration.port != 0) $originalConfiguration.port #else N/A #end
                        </td>
                    </tr>
                    <tr>
                        <th class="content-row">Database</th>
                        <td class="content">$originalConfiguration.database</td>
                    </tr>
                    <tr>
                        <th class="content-row">User</th>
                        <td class="content">$originalConfiguration.user</td>
                    </tr>
                </table>
            </p>
            <p>&nbsp;</p>
            <h3>#i18n("key=database.type.blurb.heading")</h3>
            <p>#i18n("key=database.type.blurb")</p>
        </div>
    </div>
</div>

<div id="leftcolumn">
    <div class="config-panel">
        <h3 class="config-header">#i18n("key=database.type.migrate")</h3>

        <div class="config-container">
            #pform("path=$path" "formName=mainform" "action=migrate/preview.action" "namespace=migrate")
        </div>
        #checkForm($path $type "mainform" "setupconfig")
    </div>

</div>

</body>
</html>