#set($config = $action.configuration)
#set($path = $config.path)

#macro(renderform)
    <div class="config-panel">
        <h3 class="config-header">
            ${config.formHeading}
            <a href="#" class="unadorned" onclick="showHelp('#jss($path)', 'type'); return false"><img alt="show help" src="$base/images/help.gif"/></a>
        </h3>
        ##<!-- add some space around the form so that it does not sit directly on the border. -->
        <div class="config-container">
            #pform("path=$path" "formName=mainform" "displayMode=$config.displayMode" "ajax=true" "namespace=aconfig")
        </div>
        #standardFormEvents("mainform")
    #if($config.configurationCheckAvailable && $config.writable)
       #checkForm($path $config.type "mainform" "aconfig")
    #end
    </div>
    #if($config.embedded && !$config.writable)
        <p>
            <a class="unadorned" href="#" onclick="selectPath('$config.parentPath'); return false">
                <img src="$base/images/resultset_previous.gif"/>
            </a>
            <a href="#" onclick="selectPath('$config.parentPath'); return false">back</a>
        </p>
    #end
#end

#macro(renderstate)
    <div id="config-state" class="config-panel">
        #i18nexists("key=state.heading")<h3 class="config-header">#i18n("key=state.heading")</h3>#end
        <table class="config-state-table">
            #i18nexists("key=state.table.heading")<th colspan="2">#i18n("key=state.table.heading")</th>#end
            #set($odd = true)
            #foreach($field in $config.displayFields)
            <tr>
                <td class="label" width="20%">#i18n("key=${field}.label")</td>
                <td id='#id("state.$field")' class="value #if($odd) odd #else even #end">$config.format($field)</td>
            </tr>
                #if($odd) #set($odd = false) #else #set($odd = true) #end
            #end
        </table>
    </div>
#end

<h2 id='#id($path)'>$!webwork.htmlEncode($config.displayName)</h2>
<p class="introduction">
    #i18n("key=introduction")
</p>
<table width="100%">
    <tr>
#if($config.record || !$config.type.extendable)
        <td id="left-column">
    #if($config.nestedPropertyErrors.size() > 0)
            <div id="nested-errors" class="config-panel">
            <h3 class="config-error-header">nested errors</h3>
            <div class="config-container">
            <ul class="config-errors">
        #foreach($error in $config.nestedPropertyErrors)
                <li>#displayname("path=${path}/${error.first}") : #html($error.second)</li>
        #end
            </ul>
            </div>
            </div>
    #end
    #if ($config.displayFields.size() > 0)
                #renderstate()
    #end
    #if( $config.simpleProperties.size() > 0)
                #renderform()
    #end
        </td>
        
        <td id="right-column">
    #if ($config.links.size() > 0)
            <div id="config.links" class="config-panel">
            <h3 class="config-header">links</h3>
            <div class="config-container">
            <ul class="config-actions">
        #foreach($link in $config.links)
                    <li>
                        <a href="${base}/${link.url}" id='#id("link.${link.name}")' class="unadorned">
                            <img src='${base}/$config.getIconPath("links", ${link.name})'/> ${link.label}
                        </a>
                    </li>
        #end
            </ul>
            </div>
            </div>
    #end

    #if ($config.actions.size() > 0)
            <div class="config-panel">
            <h3 class="config-header">actions</h3>
            <div class="config-container">
            <ul class="config-actions">
        #foreach($action in $config.actions)
                    <li>
                        <a href="#" id='#id("action.${action.action}")' class="unadorned"
            #if($action.action == "delete")
                            onclick="deletePath('#jss(${path})'); return false;"
            #else
                            onclick="actionPath('#jss(${path})', '${action.action}', false); return false;"
            #end
                        >
                            <img src="${base}/images/config/actions/${action.icon}.gif"/> ${action.label}
                        </a>
                    </li>
        #end
            </ul>
            </div>
            </div>
    #end

    #if( $config.nestedProperties.size() > 0)
            <div class="config-panel">
            <h3 class="config-header">navigate</h3>
            <div class="config-container">
            <ul class="config-links">
        #foreach($prop in $config.nestedProperties)
                    <li #if($config.isPropertyInvalid($prop)) class="invalid-property" #end><a href="#" onclick="selectPath('#jss(${path})/${prop}'); return false;">#displayname("path=${path}/${prop}")</a></li>
        #end
            </ul>
            </div>
            </div>
    #end
        </td>
#else
    ## We don't know what type we are dealing with, it needs to be configured
    ## by a wizard.
    #if($config.extensions.size() > 0)
        #if($config.writable)
            #if($config.configuredDescendents.size() == 0)
    <table class="template-actions" cellspacing="5px">
        <tr>
            <th><a href="#" class="unadorned" onclick="addToPath('#jss(${path})'); return false"><img alt="configure" src="$base/images/pencil.gif"/></a> <a href="#" id="configure" onclick="addToPath('${path}'); return false">configure</a></th>
            <td>configure a #i18n("key=label") using the wizard</td>
        </tr>
    </table>
            #else
    <p>
        This path has been configured in the following descendents (and thus cannot be configured at this level):
        <ul>
                #foreach($descendent in $config.configuredDescendents)
            <li id='#id("cd-$descendent")'>#html($descendent)</li>
                #end
        </ul>
            #end
    </p>
        #else
    <p>
        No #i18n("key=label") configured.
    </p>
        #end
    #else
        No extensions registered.
    #end
#end
    </tr>
</table>

<script type="text/javascript">
    detailPanel.setHelp('#jss(${path})', 'type');
</script>
