#macro(helpRow $id $label $brief $verbose)
    <tr id="field-row-$id" class="field-row #if($verbose) field-expandable #end">
        <td>
            <div id="field-title-$id" class="field-header">
                <strong>$label</strong>
            </div>
            <div class="field-details">
                <div class="field-brief">
                    $brief
                </div>
#if($verbose)
                <div class="field-rest">
                    <div class="field-verbose">
                        $verbose
                    </div>
                </div>
            </div>
#end
        </td>
    </tr>
#end

<div id="config-help">
    <h1 id="help-title">hiearchy operations</h1>
    <div class="type-details">
        The hierarchy view enables high-level operations on a configuration.
        Basic operations like adding, cloning and deleting are accompanied by more
        advanced template operations.
    </div>

    <table class="help-fields">
        <tr><th>operations</th></tr>
        #helpRow("configure" "configure" "Switches to the configuration view." false)
        #helpRow("clone" "clone" "Create a copy of the configuration with a unique name." "Allows duplication of the current configuration and optionally its descendants.  Consider using a smart clone where available for more maintainable copies.")
        #helpRow("smartclone" "smart clone" "Create a maintainable copy by using the template system." "Duplicate the current configuration and optionally its descendants by leveraging the template system.  A smart clone involves extracting the configuration into a parent template and then adding a trivial sibling.  This keeps the common configuration in a shared template.")
        #helpRow("add.new" "add new" "Add a new concrete configuration." "Add a new concrete configuration as a child of this configuration.  The child will inherit details from this template.")
        #helpRow("add.template" "add new template" "Add a new templated configuration." "Add a new template configuration as a child of this configuration.  The child will inherit details from this template, and will support children of its own.")
        #helpRow("delete" "delete" "Delete the configuration." false)
    </table>
</div>
