=====================================================================
:: $result.project.name ::
=====================================================================
Build $result.number has completed with status '$result.state.prettyString'.

You can view the full build result at:

http://$hostname/viewBuild.action?id=$result.id

#set($changes = $result.scmDetails.changelists)
#if($changes.size() > 0)
New changes in this build:
#foreach($change in $changes)
#set($revision = $change.revision)
  * $revision.revisionString by $revision.author:
    $renderer.trimmedString($revision.comment, 60)
#end
#else
There were no new changes in this build.
#end
