<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="com.zutubi.pulse.core.commands">
        <command name="msbuild" class="com.zutubi.pulse.core.commands.msbuild.MsBuildCommandConfiguration">
            <resource name="msbuild" optional="true"/>
        </command>
    </extension>
    <extension point="com.zutubi.pulse.core.postprocessors">
        <post-processor name="msbuild.pp" display-name="msbuild output processor"
                        default-processor="true" class="com.zutubi.pulse.core.commands.msbuild.MsBuildPostProcessorConfiguration"/>
    </extension>
    <extension point="com.zutubi.pulse.core.resourcelocators">
        <resource-locator name="msbuild" class="com.zutubi.pulse.core.commands.msbuild.MsBuildResourceLocator"/>
    </extension>
</plugin>
