<html>
	<head>
		<title>#if ($title) [CiB] $title #else [CiB] #end</title>
		<link href="$base/main.css" rel="stylesheet" type="text/css" media="screen">
		<link href="$base/form.css" rel="stylesheet" type="text/css" media="screen">
		$head
	</head>

    <body>
        <div id="header">:: pulse :: #if($navProject) <a href="manageProject.action?id=$navProject">$navProjectName</a>#end</div>
        <div id="navbar">
            <ul>
                <li><a href="slaveStatus.action">slave</a></li>
            </ul>
        </div>

        <div id="content">
            $body
        </div>

        <div id="footer">
            <b>:: pulse ::</b>
            copyright &copy; 2005-2006 daniel ostermeier and jason sankey
        </div>
    </body>

</html>
