    #recentBuilds($projects false "configure.dashboard.projects" "/user/configureDashboardProjects!input.action" "pencil.gif")

    <table class="content">
        #headingRow("my.changes" 5)
        <tr>
            #contentHeading("change.revision" 1)
            #contentHeading("change.when" 1)
            #contentHeading("change.comment" 1)
            #contentHeading("build result" 1)
            #contentHeading("actions" 1)
        </tr>
#if($changelists.size() > 0)
    #foreach($changelist in $changelists)
        #set($index = $velocityCount - 1)
        <tr>
            #rightCell($changelist.revision)
            #dateCell($changelist)
            #dynamicCell($action.trimmedString($changelist.comment, 60))
            #aggregateResultCell($changelist)
            #linkCell("view" "viewChangelist.action?id=$changelist.id")
        </tr>
    #end
#else
        <tr>
            <td class="content" colspan="4">#wwtext("name=no.changes")</td>
        </tr>
#end
    </table>
