#if($actionErrors && $actionErrors.size() > 0)
    <ul class="error">
    #foreach($error in $actionErrors)
        <li class="error">$!webwork.htmlEncode($error)</li>
    #end
    </ul>
#elseif($fieldErrors && $fieldErrors.size() > 0)
    <ul class="error">
    #foreach($error in $fieldErrors)
        <li class="error">$!webwork.htmlEncode($error)</li>
    #end
    </ul>
#else
    <img src="$base/images/accept.gif"/> #wwtext("name=settings.ok")
#end
