#if($personal)
    #set($ownerArg = "personal=true")
#else
    #set($ownerArg = "projectName=$u_projectName")
#end
#if($action.hasActions() || $hooks.size() > 0)
    <div id="action-column" style="margin-left: 20px; float: right;">
    #if($action.hasActions())
        <table width="150" class="content">
            <tr>
                <th class="heading">actions</th>
            </tr>
        #if($cancelAvailable)
            <tr>
                <td class="content">
                    <img alt="cancel" src="$base/images/cancel.gif"/>
                    <a href="$base/cancelBuild.action?buildId=$result.id&fromBuild=true">#wwtext("name=cancel")</a>
                </td>
            </tr>
        #end
        #if($deleteAvailable)
            #set($confirm = $action.getText("build.delete.confirm", [$buildResult.number]))
            <tr>
                <td class="content">
                    <img alt="delete" src="$base/images/delete.gif"/>
                    <a href="#" onclick="confirmUrl('$confirm', '$base/deleteBuild.action?${ownerArg}&amp;buildVID=$buildResult.number')">#wwtext("name=build.delete")</a>
                </td>
            </tr>
        #end
        </table>
    #end
    #if($hooks.size() > 0)
        <table width="150" class="content">
            <tr>
                <th class="heading">hooks</th>
            </tr>
        #foreach($hook in $hooks)
            <tr>
                <td class="content">
                    <img alt="trigger" src="$base/images/lightning.gif"/>
                    <a id='#id("hook.${hook.name}")' href="#" onclick="triggerHook('$hook.handle'); return false">#html($hook.name)</a>
                </td>
            </tr>
        #end
        </table>
    #end
    </div>
#end

    <div id='#id("${result.ownerName}-build-${result.number}-summary")'>
        #showBuild($buildResult false false)
    </div>
    