<table class="content">
    #headingRow("agents" 7)
    <tr>
        #contentHeading("agent.name" 1)
        #contentHeading("agent.location" 1)
        #contentHeading("agent.status" 1)
#authorize("ifAllGranted=ROLE_ADMINISTRATOR")
        #contentHeading("actions" 4)
#end
    </tr>
#foreach($agent in $agents)
    #set($confirmMessage = $action.getText("agent.confirm.delete", [$agent.name]))

#if($agent.isSlave())
    #set($args = "?agentId=$agent.id")
#else
    #set($args = "")
#end
    <tr>
        #dynamicLinkCell($agent.name "viewAgentStatus.action${args}")
        #staticCell($agent.location)
        #staticCell($agent.status.prettyString)
#authorize("ifAllGranted=ROLE_ADMINISTRATOR")
    #if($agent.isSlave())
        #linkCell("agent.ping" "$base/admin/pingAgent.action?agentId=$agent.id")
        #if($agent.getSlave().isEnabled())
            #linkCell("agent.disable" "$base/admin/enableAgent.action?agentId=$agent.id&amp;enable=false")
        #else
            #linkCell("agent.enable" "$base/admin/enableAgent.action?agentId=$agent.id&amp;enable=true")
        #end
        #editCell("$base/admin/editAgent!input.action?id=$agent.id" "edit_$!webwork.htmlEncode($agent.name)")
        #deleteCell("delete_$!webwork.htmlEncode($agent.name)" "$base/admin/deleteAgent.action?id=$agent.id" $confirmMessage)
    #else
        #contentCell("empty.cell")
        #contentCell("empty.cell")
        #editCell("$base/admin/editMasterAgent!input.action" "edit_$!webwork.htmlEncode($agent.name)")
        #contentCell("empty.cell")
    #end
#end
    </tr>
#end
#authorize("ifAllGranted=ROLE_ADMINISTRATOR")
    #licensed("require=canAddAgent")
        #addRow("add.agent" 7 "$base/admin/addAgent!input.action" "agent.add")
    #end
#end
</table>
