<table class="content">
    #headingRow("agents" 7)
    <tr>
        #contentHeading("agent.name" 1)
        #contentHeading("agent.location" 1)
        #contentHeading("agent.status" 1)
#authorize("ifAllGranted=ROLE_ADMINISTRATOR")
        #contentHeading("actions" 3)
#end
    </tr>
#foreach($agent in $agents)
    <tr>
        #set($h_agentName = $!webwork.htmlEncode($agent.config.name))
        #dynamicLinkCell($h_agentName "$urls.agentStatus($agent)")
        #staticCell($agent.location)
        #if($agent.enabled)
            #staticCell($agent.status.prettyString)
#authorize("ifAllGranted=ROLE_ADMINISTRATOR")
            #linkCell("agent.ping.$agent.config.name" "agent.ping" "$urls.agentAction($agent, 'ping')")
            #linkCell("agent.disable.$agent.config.name" "agent.disable" "$urls.agentAction($agent, 'disable')")
#end
        #else
            #if($action.upgrading($agent))
                #set($status = "$action.getText('agent.upgrading') [$agent.upgradeState.toString().toLowerCase()]")

                #staticCell($status)
#authorize("ifAllGranted=ROLE_ADMINISTRATOR")
                #contentCell("agent.ping")
                #contentCell("agent.enable")
#end
            #elseif($action.failedUpgrade($agent))
                #contentCell("agent.failed.upgrade")
#authorize("ifAllGranted=ROLE_ADMINISTRATOR")
                #contentCell("agent.ping")
                #linkCell("agent.enable.$agent.config.name" "agent.enable" "$urls.agentAction($agent, 'enable')")
#end
            #else
                ## Just plain disabled
                #contentCell("agent.disabled")
#authorize("ifAllGranted=ROLE_ADMINISTRATOR")
                #contentCell("agent.ping")
                #linkCell("agent.enable.$agent.config.name" "agent.enable" "$urls.agentAction($agent, 'enable')")
#end
            #end
        #end
#authorize("ifAllGranted=ROLE_ADMINISTRATOR")
        #editCell("$base/admin/${agent.config.configurationPath}/" "edit_$h_agentName")
#end
    </tr>
#end
</table>

