##
## Shows a list of recent builds for the given list of projects
##
#macro(recentBuilds $group $projects $firstTable)
    <table class="content" id="group_$!webwork.htmlEncode($group.name)">
        <tr>
            <th class="group" colspan="$columns.totalSpan">
#if($group)
    #if($rssEnabled)
                <span class="action">
                    <a class="unadorned" id="rss.builds.$group.id" href="rss.action?groupId=$group.id"><img alt="$action.getText('rss')" src="$base/images/feed-icon-16x16.gif"/></a>
                </span>
    #end
                $!webwork.htmlEncode($group.name)
#else
                #wwtext("name=projects")
#end
            </th>

        #rssHeadingRow( 14 "$rssEnabled" "rss.action" "rss.builds" )
        #buildTableHeading($columns "all.projects" $firstTable false)

    #foreach($project in $projects)
        #set($lastResult = false)
        #set($lastResult = $action.getLatestBuild($project))
        #buildTableRow($project $lastResult $columns true)
        </tr>
    #end
#if($group)
    #authorize("ifAllGranted=ROLE_ADMINISTRATOR")
            <tr>
                <td class="add" colspan="$columns.totalSpan">
                    <a href="editProjectGroup!input.action?groupId=$group.id" id="edit_$!webwork.htmlEncode($group.name)"><img alt="edit" src="$base/images/pencil.gif"/> #wwtext("name=edit.project.group")</a>
                    &nbsp;
                    #set($confirm = $action.getText("project.group.confirm.delete", [ $group.name ]))
                    <a href="#" id="delete_$!webwork.htmlEncode($group.name)" onclick="confirmUrl('$confirm', 'deleteProjectGroup.action?groupId=$group.id')"><img alt="$action.getText('delete')" src="$base/images/delete.gif"/> #wwtext("name=project.group.delete")</a>
                </td>
            </tr>
    #end
#end
        </table>
#end

#set($firstTable = true)
#foreach($group in $groups)
    #recentBuilds($group $group.projects $firstTable)
    #set($firstTable = false)
#end
#if($projects.size() > 0)
    #recentBuilds(false $projects $firstTable)
#end
