##
## Shows a list of recent builds for the given list of projects
##
#macro(recentBuilds $group $projects)
    #set($fullSpan = $columns.totalSpan + 6)
    <table class="content" id="group_$!webwork.htmlEncode($group.name)">
        <tr>
            <th class="group" colspan="$fullSpan">
#if($group)
    #if($rssEnabled)
                <span class="action">
                    <a class="unadorned" id="rss.builds.$group.id" href="rss.action?groupId=$group.id"><img alt="$action.getText('rss')" src="$base/images/feed-icon-16x16.gif"/></a>
                </span>
    #end
                $!webwork.htmlEncode($group.name)
#else
                #wwtext("name=projects")
#end
            </th>
        </tr>
        <tr>
            <th class="heading" colspan="6">#wwtext("name=project")</th>
            <th class="heading" colspan="$columns.totalSpan">
                #wwtext("name=latest.build")
            </th>
        </tr>
        <tr>
            #contentHeading("project.name" 1)
            #contentHeading("project.actions" 5)
            #buildTableHeaders($columns false)
        </tr>
    #foreach($project in $projects)
        #set($lastResult = false)
        #set($lastResult = $action.getLatestBuild($project))
        #set($health = $action.getHealth($project))
            <tr>
                <td class="content">
                    <img alt="health: $health" src="$base/images/health/${health}.gif"/>
                    <a href="$urls.projectHome($project)" id="#uce($project.name)">$!webwork.htmlEncode($project.name)</a>
                </td>
                #actionCellTitle("home-#uce($project.name)" "home.tab" "$urls.projectHome($project)" "house.gif")
                #actionCellTitle("reports-#uce($project.name)" "reporting.tab" "$urls.projectReports($project)" "chart_bar.gif")
                #actionCellTitle("history-#uce($project.name)" "history.tab" "$urls.projectHistory($project)" "time.gif")
                #actionCellTitle("config-#uce($project.name)" "configuration.tab" "$base/admin/projects/#uce($project.name)/" "pencil.gif")
            #if($action.canWrite($project))
                #actionCellTitle("trigger-#uce($project.name)" "buildspec.trigger" "/triggerBuild.action?projectName=#uce($project.name)" "lightning.gif")
            #else
                <td class="content">&nbsp;</td>
            #end
        #if($lastResult)
                #buildTableCells($lastResult $columns true)
        #else
                <td class="content" colspan="$columns.totalSpan">#wwtext("name=never.built")
        #end
            </tr>
    #end
#if($group)
    #authorize("ifAllGranted=ROLE_ADMINISTRATOR")
            <tr>
                <td class="add" colspan="$fullSpan">
                    <a href="editProjectGroup!input.action?groupId=$group.id" id="edit_$!webwork.htmlEncode($group.name)"><img alt="edit" src="$base/images/pencil.gif"/> #wwtext("name=edit.project.group")</a>
                    &nbsp;
                    #set($confirm = $action.getText("project.group.confirm.delete", [ $group.name ]))
                    <a href="#" id="delete_$!webwork.htmlEncode($group.name)" onclick="confirmUrl('$confirm', 'deleteProjectGroup.action?groupId=$group.id')"><img alt="$action.getText('delete')" src="$base/images/delete.gif"/> #wwtext("name=project.group.delete")</a>
                </td>
            </tr>
    #end
#end
        </table>
#end

#foreach($group in $groups)
    #recentBuilds($group $group.projects)
#end
#if($projects.size() > 0)
    #recentBuilds(false $projects)
#end

#buildTableColumns($columns "all.projects")