    <table id="server.activity" class="columns">
    <tr><td>

    <table class="fill-content">
        #headingRow("build.queue" 6)
        <tr>
            #contentHeading("queue.owner" 1)
            #contentHeading("build.id" 1)
            #contentHeading("project" 1)
            #contentHeading("queue.revision" 1)
            #contentHeading("queue.when" 1)
            #contentHeading("actions" 1)
        </tr>
#if($buildQueue.size() > 0)
    #foreach($request in $buildQueue)
        <tr>
            #ownerCell($request "content")
        #if($request.personal)
            #staticCell($request.number)
        #else
            #contentCell("build.id.unknown")
        #end
            #dynamicLinkCell($request.project.name "$urls.projectHome($request.project)")
        #if($request.revision.fixed)
            #dynamicCell($request.revision.revision)
        #else
            #contentCell("queue.revision.floating")
        #end
            #contentCell($request.prettyQueueTime)
        #if($action.canCancel($request))
            #actionCell("cancel" "$base/cancelQueuedBuild.action?id=$request.id" "cancel.gif")
        #else
            #contentCell("empty.cell")
        #end
        </tr>
    #end
#else
    <tr>
        <td class="content" colspan="6">#wwtext("name=build.queue.empty")</td>
    </tr>
#end
    </table>

    </td></tr><tr><td>

    <table class="fill-content">
        #headingRow("active.builds" 8)
        <tr>
            #contentHeading("queue.owner" 1)
            #contentHeading("project" 1)
            #contentHeading("build.id" 1)
            #contentHeading("build.status" 2)
            #contentHeading("build.when" 1)
            #contentHeading("build.elapsed" 1)
            #contentHeading("actions" 1)
        </tr>
#if($executingBuilds.size() > 0)
    #foreach($buildResult in $executingBuilds)
        #set($cssClass = $buildResult.state.string)
        #set($project = $buildResult.project)

        <tr>
            #ownerCell($buildResult "content")
            <td class="content"><a href="$urls.projectHome($project)">$!webwork.htmlEncode($project.name)</a></td>
            #dynamicRightLinkCell($buildResult.number "$urls.build($buildResult)")
            #statusCell($buildResult true)
            #dateClassCell($buildResult)
            #elapsedCell($buildResult)

        #if($action.canCancel($buildResult))
            #actionCell("cancel" "$base/cancelBuild.action?buildId=$buildResult.id" "cancel.gif")
        #else
            #contentCell("empty.cell")
        #end
        </tr>
    #end
#else
    <tr>
        <td class="content" colspan="8">#wwtext("name=no.active.builds")</td>
    </tr>
#end
    </table>

    </td></tr><tr><td>

    <table class="fill-content">

#if($recipeQueueRunning)
        #restrictedHeadingRow("recipe.queue" 6 "ADMINISTER" "queue.pause" "$base/admin/actions?toggleRecipeQueue" "control_pause_blue.gif" false)
#else
        #restrictedHeadingRow("recipe.queue" 6 "ADMINISTER" "queue.resume" "$base/admin/actions?toggleRecipeQueue" "control_play_blue.gif" false)
        #noteRow("queue.paused" 6)
#end
        <tr>
            #contentHeading("queue.owner" 1)
            #contentHeading("build.id" 1)
            #contentHeading("project" 1)
            #contentHeading("queue.recipe" 1)
            #contentHeading("queue.host" 1)
            #contentHeading("queue.when" 1)
        </tr>
#if($recipeQueueSnapshot.size() > 0)
    #foreach($dispatchRequest in $recipeQueueSnapshot)
        #set($build = $dispatchRequest.build)
        #set($project = $build.project)
        <tr>
            #ownerCell($build "content")
            #rightCell($build.number)
            #dynamicLinkCell($project.name "$urls.projectHome($project)")
            #dynamicCell($dispatchRequest.request.recipeNameSafe)
            #dynamicCell($dispatchRequest.hostRequirements.summary)
            #contentCell($dispatchRequest.prettyQueueTime)
        </tr>
    #end
#else
    <tr>
        <td class="content" colspan="6">#wwtext("name=recipe.queue.empty")</td>
    </tr>
#end
    </table>

    </td></tr>
    </table>
