#set ($actionErrors = $stack.findValue("actionErrors"))
#if($actionErrors && $actionErrors.size() > 0)
    #set($actionErrorDetected = true)
    <div class="errorBox">
    <span class="errorMessage">the following errors occurred</span>
    <ul>
        #foreach($error in $actionErrors)
        <li>$error</li>
        #end
    </ul>
    </div>
#end
