html {
    height: 100%;
}

body {
    height: 100%;
}

/* Navigation bar */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    background-color: #7ea700;
    border-bottom: solid 1px #eee;
}

.k-navlist {
    height: 34px;
    padding: 0 4px;
    display: flex;
    align-items: baseline;
}

.k-navitem {
    line-height: 34px;
    margin-right: 8px;
}

.k-navitem .k-button {
    line-height: 30px;
    padding: 0 4px;
}

.k-navright {
    margin-left: auto;
}

.k-navitem a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.k-split-button {
    cursor: pointer;
}

.k-split-button-arrow {
    cursor: pointer;
}

.k-navitem .k-split-button-arrow .fa {
    vertical-align: middle;
}

.k-selector-popup, .k-hierarchy-popup {
    margin-top: 4px;
    border-top: none;
}

.k-selector-popup li {
    padding: 0 12px;
    cursor: pointer;
}

.k-selector-popup li:hover {
    color: #fff;
    background-color: #8ebc00;
}

/* Main content area (between nav and footer */

#content {
    position: fixed;
    top: 34px;
    bottom: 20px;
    left: 0;
    right: 0;
    overflow: auto;
}

.k-nav-error {
    padding: 1em;
    color: #bb2222;
    font-weight: bold;
}
