html {
    height: 100%;
}

body {
    height: 100%;
}

/* Navigation bar */

.k-hierarchy-popup {
    border-top: none;
}

.k-nav-error {
    padding: 1em;
    color: #bb2222;
    font-weight: bold;
}

/* View switch button */

.k-view-switch {
    box-sizing: border-box;
    width: 100%;
}

.k-button.k-left {
    text-align: left;
}

.k-button.k-right {
    text-align: right;
}

.k-view-switch .k-button {
    box-sizing: border-box;
    width: 100%;
    border-width: 0 0 1px 0;
    padding: 4px 7px;
    margin-bottom: 0.25em;
}

.k-view-switch span.fa {
    margin: 0 0.3em;
}

/* Hierarchy tree */

.k-hierarchy-selector .k-sprite::before {
    font-size: 10px;
    line-height: 16px;
    width: 10px;
    vertical-align: middle;
}

/* Plugins Tree */

.k-plugins-tree {
    padding: 0.4em;
}

.k-plugins-tree .k-sprite::before {
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
}

.k-plugins-tree.k-treeview .k-item {
    padding-left: 0;
}

.k-plugin-fade {
    opacity: 0.50;
}

.k-plugin-error {
    color: #b22;
}

.k-plugin-handles a {
    text-decoration: underline;
    cursor: pointer;
}

.k-plugin-errors {
    list-style-type: disc;
    margin-left: 1em;
}

.k-plugin-overview button {
    margin-right: 0.5em;
}

.k-install-plugin-error, .k-plugin-errors li {
    color: #b22;
    margin: 0.4em;
}

/* Overview Panel */

.k-overview-panel h1 .fa {
    vertical-align: middle;
    margin: 0 0.4em;
}

.k-overview-validation-header {
    color: #b22;
    font-weight: bold;
    margin: 1em 0.5em 0;
}

ul.k-overview-validation-errors {
    color: #b22;
    list-style-type: disc;
    margin: 0.5em 2em 1em;
}

.k-overview-validation-errors li {
    margin: 0.4em 0;
    font-weight: bold;
}

.k-overview-validation-errors li a {
    cursor: pointer;
}

.k-overview-error::before, .k-overview-suggestion::before {
    font-family: FontAwesome;
    margin-right: 0.4em;
}

.k-overview-error, .k-overview-suggestion {
    font-weight: bold;
    cursor: pointer;
}

.k-overview-error::before {
    content: '\f12a';
}

.k-overview-error {
    color: #b22;
}

.k-overview-suggestion::before {
    content: '\f129';
}

.k-overview-suggestion {
    color: #1b376c;
}

/* Vertical flexbox layout */

.k-vbox {
    display: flex;
    flex-direction: column;
}

.k-vbox-grow {
    flex-grow: 1;
}