html {
    height: 100%;
}

body {
    height: 100%;
}

/* Navigation bar */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 39px;
    background-color: #ffc693;
    border-bottom: solid 1px #eee;
}

ul.navlist {
    height: 30px;
    padding: 4px;
}

.navlist li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
}

.navlist a {
    text-decoration: none;
    font-weight: bold;
    color: #083772;
}

.k-split-button {
    cursor: pointer;
}

.selector-popup li {
    padding: 4px 12px;
    cursor: pointer;
}

.selector-popup li:hover {
    background-color: #eee;
}

/* Main content area (between nav and footer */

#content {
    position: fixed;
    top: 40px;
    bottom: 20px;
    left: 0;
    right: 0;
    overflow: auto;
}

#outer-split {
    border-width: 0;
}

.pane-content, .fill-parent {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* Footer bar */

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    font-size: 12px;
    color: #aaa;
    text-align: center;
    line-height: 20px;
    border-top: solid 1px #eee;
}

#footer a {
    text-decoration: none;
    font-weight: bold;
    color: #aaa;
}

/* Hierarchy Selector */

.k-hierarchy-selector {
    padding: 0.5em;
}

.k-hierarchy-selector input {
    box-sizing: border-box;
    width: 100%;
    font-size: 80%;
    height: 1.6em;
    margin-bottom: 0.5em;
}

.k-hierarchy-selector input::-ms-clear {
    height: 0;
    width: 0;
}

.k-hierarchy-selector .k-treeview {
    overflow: visible;
}

.k-hierarchy-selector-clear {
    position:relative;
    z-index: 2;
    float: right;
    margin-top: -33px;
    margin-right: 6px;
    color: #444;
}

.k-hierarchy-selector-clear:hover {
    color: #888;
}

.k-hierarchy-selector-clear:active {
    color: #aaa;
}

/* Center pane */

#center-pane-content h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #888;
}

/* Collections */

.k-collection-panel {
    padding: 8px 16px;
}

.k-collection-panel h1 {
    line-height: 36px;
    margin-bottom: 8px;
}

.k-collection-add {
    float: right;
}

/* Forms */

table.form {
    width: 100%;
    max-width: 800px;
}

.form th, .form td {
    padding: 0.33em;
}

.form th {
    width: 1%;
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    padding-top: 0.7em;
}

.form td.submit {
    text-align: center;
}

.form td.submit button {
    margin: 4px;
}

input.k-textbox, .k-dropdown-wrap .k-input {
    height: 2em;
}

input.k-textbox {
    text-indent: 0.2em;
}

.k-dropdown-wrap .k-input {
    line-height: 2em;
}

.k-dropdown-wrap .k-select {
    line-height: 2.2em;
}

input[type=checkbox].k-input {
    height: 2em;
    line-height: 2em;
}

.k-button {
    text-transform: none;
}

.k-stringlist input {
    display: block;
}

.k-stringlist button {
    position: absolute;
    bottom: 0.25em;
    right: 0.25em;
    padding: 0.35em;
}

.k-multiselect-wrap li span {
    margin-right: 0.5em;
}

/* Drag and drop in collection tables */

.k-hint {
    opacity: 0.6;
}

.k-placeholder {
    opacity: 0.4;
}

.k-grid table[data-role=sortable] tbody tr {
    cursor: move;
}

/* Buttons */

.k-button .fa {
    line-height: 14px;
}
