/* Styles for the Zutubi.core JS package. */

.k-property-table th, .k-property-table td {
    padding: 0.5em;
    border: solid 1px #eee;
}

.k-property-table .k-title {
    font-weight: bold;
}

.k-property-table th {
    font-weight: bold;
    text-align: right;
}

/* Prompt Window */

.k-dialog-window-content {
    padding: 0.4em;
}

.k-dialog-window-actions {
    text-align: center;
}

.k-dialog-window-actions .k-button {
    margin: 0.4em;
}

/* Footer bar */

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    font-size: 12px;
    color: #aaa;
    text-align: center;
    line-height: 20px;
    border-top: solid 1px #eee;
}

#footer a {
    text-decoration: none;
    font-weight: bold;
    color: #aaa;
}
