/* Styles for the Zutubi.core JS package. */

/* Navbar */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    background-color: #3e4e6a;
    border-bottom: solid 1px #eee;
}

.k-navlist {
    height: 34px;
    display: flex;
    align-items: baseline;
}

.k-navitem {
    line-height: 34px;
    padding: 0 8px;
}

.k-navitem .k-button {
    line-height: 30px;
    padding: 0 4px;
}

.k-navright {
    margin-left: auto;
}

.k-navitem a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.k-split-button {
    cursor: pointer;
}

.k-navitem .k-split-button-arrow {
    cursor: pointer;
    padding-right: 0;
}

.k-navitem .k-split-button-arrow .fa {
    vertical-align: middle;
}

.k-navitem-separator {
    color: #fff;
}

.k-navitem-home {
    padding-left: 3px;
    padding-right: 0;
}

.k-navitem-home img {
    vertical-align: top;
}

.k-selector-popup {
    border-top: none;
}

.k-selector-popup-item {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    line-height: 1.2em;
    cursor: pointer;
    color: #787878;
}

.k-selector-popup-item.k-inactive, .k-selector-popup-item.k-inactive:hover {
    color: #3e4e6a;
    font-weight: bold;
    background-color: #fff;
    border-bottom: solid 1px #ddd;
}

.k-selector-popup-item.k-admin-popup-item {
    border-top: solid 1px #ddd;
}

.k-nav-section-active {
    background-color: #667e9f;
}

.k-selector-popup a {
    text-decoration: none;
}

.k-selector-popup-item:hover {
    color: #fff;
    background-color: #3e4e6a;
}

/* Main content area (between nav and footer */

#content {
    position: fixed;
    top: 34px;
    bottom: 20px;
    left: 0;
    right: 0;
    overflow: auto;
}

/* Footer bar */

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
}

/* #south is a legacy footer on the reference view */
#footer, #south {
    font-size: 12px;
    color: #aaa;
    text-align: center;
    line-height: 20px;
    border-top: solid 1px #eee;
}

#footer a, #south a {
    text-decoration: none;
    border: none;
    font-weight: bold;
    color: #aaa;
}

/* Property Tables */

.k-property-table th, .k-property-table td {
    padding: 0.5em;
    border: solid 1px #eee;
}

.k-property-table .k-title {
    font-weight: bold;
}

.k-property-table th {
    font-weight: bold;
    text-align: right;
}

/* Prompt Window */

.k-dialog-window-content {
    padding: 0.4em;
}

.k-dialog-window-content p {
    margin-bottom: 0.5em;
}

.k-dialog-window-content ul {
    margin-left: 1.6em;
    list-style-type: disc;
}

.k-dialog-window-content li {
    margin: 0.4em 0;
}

.k-dialog-window-actions {
    text-align: center;
}

.k-dialog-window-actions .k-button {
    margin: 0.4em;
}
