table.eform {
}

a.field-action {
    margin-left: 4px;
    margin-right: 4px;
}


table.form {
    border: 1px solid #bbb;
    margin-bottom: 16px;
}

th.label, td.field, td.submit, th.error-label, th.error-message, td.error-field, td.inline-help, th.textarea, th.error-textarea {
    padding: 5px;
}

th.label, th.error-label {
    text-align: right;
    font-weight: normal;
}

th.textarea, th.error-textarea {
    vertical-align: top;
    text-align: right;
    font-weight: normal;
}

th.error-message {
    text-align: left;
}

th.error-label, td.error-field, th.error-message, th.error-textarea {
    background-color: #ffdddd;
}

th.error-message {
    color: #dd0000;
}

td.inline-help {
    font-style: italic;
    font-size: 80%;
}

span.inline-help {
    display: block;
    font-style: italic;
    font-size: 90%;
    padding: 3px;
}

td.submit {
    border-top: 1px solid #bbb;
    text-align: center;
}

input.submit {
    width: 8em;
    padding: 0.20em;
    font-size: 80%;
    font-weight: bold;
}

.required {
    color: #CC0000;
    font-weight: bold;
    letter-spacing: 3px;
}

.x-item-disabled .required {
    color: gray;
}

a.x-item-disabled {
    color: gray;
    border:none;
}

.x-form-btns-ct
{
    margin-top: 6px;
}

.x-form-row td
{
    vertical-align: top;
    padding: 3px;
}

td.x-form-label
{
    padding-right: 1px;
    padding-top: 5px;
    text-align: right;
    white-space: nowrap;
}

td.x-form-label-annotation
{
    padding: 0;
    padding-top: 5px;
}

td.x-form-separator
{
    padding-left: 1px;
    padding-top: 5px;
    text-align: right;
    white-space: nowrap;
}

td.x-form-annotation
{
    padding-top: 5px;
}

.x-form-element
{
    padding: 0;
    position: relative;
}

.x-item-picker-list, .x-select
{
    border: solid 1px #b5b8c8;
    overflow: auto;
    cursor: pointer;
}

.x-form-focus
{
    border: 1px solid #7eadd9;
}

.x-item-picker .x-image-button
{
    position:absolute;
    width: 21px;
    height: 21px;
}

.x-item-picker-item, .x-select-item
{
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    border:1px solid #fff;
    padding:2px;
    white-space: nowrap;
}

.x-select-item
{
    margin: 1px;
}

.x-item-picker-list .x-item-picker-selected, .x-select .x-select-selected
{
	background-color: #c3daf9 !important;
    border: 1px solid #336699;
}

.x-form-select, .x-form-select-multiple
{
    border: 1px solid #B5B8C8;
}

.x-form-item
{
    font-family: verdana;
    font-size: 12px;
}

.field-no-override, textarea.field-no-override
{
    background: #f0f0f0;
}

table.wizard
{
    margin-top: 12px;
    border: solid 1px #e0e0e0;
}

td.wizardcontent
{
    padding: 8px;
}

td.wizardstep
{
    border: solid 1px #e0e0e0;
    text-align: center;
    background: #f0f0f0;
    padding: 6px;
}

td.currentstep
{
    background: #fff;
    font-weight: bold;
    border-bottom: none;
}

.checkboxCell
{
    padding: 4px;
}

.validation-error li
{
    padding: 2px 2px 2px 18px;
    color: #e00;
    background: transparent url(../images/default/shared/warning.gif) no-repeat scroll 0 2px;
}