code {
    color: rgb( 0, 0, 0 );
    font-family: monospace;
    white-space: nowrap;
}

.xml_tag_symbols {
    color: rgb( 0, 30, 150 );
}

.xml_plain {
    color: rgb( 0, 0, 0 );
}

.xml_comment {
    color: rgb( 147, 147, 147 );
}

.xml_attribute_name {
    color: rgb( 0, 55, 255 );
}

.xml_tag_name {
    color: rgb( 0, 30, 150 );
    font-weight: bold;
}

.xml_char_data {
    color: rgb( 0, 0, 0 );
}

.xml_processing_instruction {
    color: rgb( 100, 100, 200 );
    font-weight: bold;
    font-style: italic;
}

.xml_attribute_value {
    color: rgb( 0, 150, 0 );
}
