
#leftcolumn  {
    margin-right:360px;
}

#rightcolumn {
    float:right;
}

#description-panel {
	width: 280px;
    margin-left: auto;
    margin-right: 30px;
    padding: 8px 15px 10px 15px;
    margin-bottom: 0;
    background-color: #f4f4f4;
}

#description-warning {
    width: 280px;
    margin-left: auto;
    margin-right: 30px;
    padding: 8px 15px 10px 15px;
    margin-bottom: 0;
    background-color: #ffffcc;
    border: solid 1px #ee8;
}

#description {
	padding: 4px 4px 0 4px;
}

#description p {
	font-size: 11px;
	line-height: 15px;
    text-align:left;
}

#description ul {
	font-size: 11px;
	line-height: 15px;
    text-align:left;
}

#description li {
    list-style: disc;
    padding: 4px;
    margin-left: 20px;
}

#task-progress {
    width: 100%;
}

#task-progress th {
    text-align: right;
    padding: 4px;
}

#task-progress td.stretch {
    width: 100%;
    padding: 4px;
}

#restore-tasks {
    padding: 0;
}

#restore-tasks li {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    padding-left: 24px;
    list-style: none;
}

li.task-inprogress {
    font-weight: bold;
    background: url( ../images/inprogress.gif ) no-repeat 4px 6px #dde;
}

li.task-complete {
    background: url( ../images/accept.gif ) no-repeat 4px 6px;
}

li.task-successful {
    background: url( ../images/accept.gif ) no-repeat 4px 6px;
}

li.task-failed {
    background: url( ../images/exclamation.gif ) no-repeat 4px 6px;
}

li.task-aborted {
    background: url( ../images/exclamation-bw.gif ) no-repeat 4px 6px;
}
