html {
    height: 100%;
}

body {
    height: 100%;
    color: #555;
}

h2 {
    font-size: 1.3em;
    margin: 0.6em 0;
}

/* Main column layout */

#container {
    height: auto;
    display: flex;
}

#left-column {
    flex: 1 1 auto;
}

#right-column {
    flex: 0 0 340px;
}

/* Content */

h1 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.k-input-panel {
    max-width: 600px;
    margin: 0 auto;
}

.k-input-panel p {
    margin: 0.5em 0;
}

/* Docs */

#verbose-docs {
    background-color: #fffcee;
    padding: 0.6em;
    margin: 0.4em;
}

#verbose-docs h3 {
    font-weight: bold;
    margin-bottom: 0.4em;
}

#verbose-docs p, #verbose-docs ul {
    margin: 0.4em 0;
}

#verbose-docs ul {
    padding-left: 2em;
    list-style-type: circle;
}

#verbose-docs li {
    margin: 0.3em 0;
}

/* Waiting screen */

#waiting-message {
    text-align: center;
    font-size: 1.2em;
}

#waiting-message p {
    margin: 1em 0;
}

#waiting-message b, #waiting-errors b {
    font-weight: bold;
}

#waiting-errors {
    max-width: 800px;
    margin: 1em auto;
}

#waiting-errors p {
    margin: 0.5em 0;
}

#waiting-errors code {
    font-family: monospace;
}

#waiting-errors ul {
    list-style-type: disc;
    margin-left: 1em;
    color: #aa082a;
}

#waiting-errors li {
    margin: 0.3em;
}

/* Extra properties */

.config-file {
    max-width: 600px;
    margin: 2em auto;
}

.config-file p {
    margin: 0.6em;
}

.prop-info {
    color: #162caa;
}

.prop-error {
    color: #aa082a;
}

.filename {
    font-family: monospace;
}

/* Common preview styles */

.preview-actions {
    text-align: center;
    border-top: solid 1px #eee;
    padding-bottom: 1em;
}

.preview-actions button {
    margin: 0.4em;
}

/* Common progress styles */

#progress-view {
    max-width: 600px;
    margin: 1em auto;
    font-size: 1.1em;
}

#progress-view th, #progress-view td {
    padding: 0.5em;
}

#progress-view th {
    font-weight: bold;
    text-align: right;
}

#verbose-message {
    margin: 0.5em 0;
}

#continue-wrapper {
    margin: 0.5em 0;
    border-top: solid 1px #eee;
    padding-top: 0.5em;
    text-align: center;
}

.k-task-list {
    margin: 1em 0.5em;
}

.k-task-list ul {
    margin: 0.5em 0.5em;
    padding: 0.5em 1em;
    border-left: solid 2px #eee;
}

.k-task-list li {
    margin: 0.5em 0;
}

/* Restore preview */

#restore-view {
    max-width: 600px;
    margin: 1em auto;
}

#archive-table {
    margin: 1em;
}

#restore-view p {
    margin: 1em;
}

/* Upgrade preview */

#upgrade-view {
    max-width: 600px;
    margin: 1em auto;
}

#upgrade-view p {
    margin: 1em 0;
}

#upgrade-versions {
    margin: 1em auto;
}

#upgrade-versions th, #upgrade-versions td {
    padding: 0.5em;
    border: solid 1px #eee;
}

#upgrade-versions th {
    font-weight: bold;
}
