.x-splitbar-h {
    background-image:url(../images/pagan/sizer/e-handle.gif);
}

.x-tab-panel-header, .x-tab-panel-footer {
    background-color: #fff;
}

.x-tab-strip span.x-tab-strip-text {
    color: #666;
}

.x-tab-strip-over span.x-tab-strip-text {
    color: #15428b;
}

.x-tab-strip-active span.x-tab-strip-text {
    color: #15428b;
}

ul.x-tab-strip-bottom{
    background-color: #cedff5;
	background-image: url(../images/pagan/tabs/tab-strip-btm-bg.gif);
	border-top-color: #8db2e3;
}

.x-tab-strip-bottom .x-tab-right {
	background-image: url(../images/pagan/tabs/tab-btm-inactive-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-left {
	background-image: url(../images/pagan/tabs/tab-btm-inactive-left-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
	background-image: url(../images/pagan/tabs/tab-btm-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-left {
	background-image: url(../images/pagan/tabs/tab-btm-left-bg.gif);
}

.x-tree-node .x-tree-selected {
    background-color: #ddf;
}
