<?xml version="1.0"?>
<project defaultRecipe="ant build">
    <recipe name="ant build">
        <resource name="ant"/>
        <command name="build">
            <executable exe="${ant.bin}" working-dir="${work.dir}">
#if($buildFile)
                <arg>-f</arg>
                <arg>$buildFile</arg>
#end
#foreach($target in $targets)
                <arg>$target</arg>
#end
#foreach($key in $environment.keySet())
                <environment name="$key" value="$environment.get($key)"/>
#end
            </executable>
        </command>
    </recipe>
</project>
