<?xml version="1.0"?>
<project defaultRecipe="ant build">
    <recipe name="ant build">
        <command name="build">
            <ant
#if($buildFile)
                    build-file="$buildFile"
#end
#if($targets)
                    targets="$targets"
#end
#if($arguments)
                    args="$arguments"
#end
#if($workingDir)
                    working-dir="${base.dir}/$workingDir"
#end
                    >
#foreach($key in $environment.keySet())
                <environment name="$key" value="$environment.get($key)"/>
#end
            </ant>
        </command>
    </recipe>
</project>
