<?xml version="1.0"?>
<project defaultRecipe="make build">
    <recipe name="make build">
        <command name="build">
            <make
#if($arguments)
                    args="$arguments"
#end
#if($workingDir)
                    working-dir="${base.dir}/$workingDir"
#end
#if($makefile)
                    makefile="$makefile"
#end
#if($targets)
                    targets="$targets"
#end
                    >
#foreach($key in $environment.keySet())
                <environment name="$key" value="$environment.get($key)"/>
#end
            </make>
        </command>
    </recipe>
</project>
