<?xml version="1.0"?>
<project defaultRecipe="maven build">
    <recipe name="maven build">
        <command name="build">
            <executable exe="maven.bat">
#foreach($target in $targets)
                <arg>$target</arg>
#end
            </executable>
        </command>
    </recipe>
</project>
