<?xml version="1.0"?>
<project defaultRecipe="maven build">

    <post-processor name="maven.pp">
        <regex.pp>
            <!-- maven returns a 0 exit code regardless of the state of the build.. -->
            <pattern category="error" expression=".*BUILD FAILED.*"/>
            <pattern category="error" expression="Basedir.*does not exist"/>
            <!-- notify about any exceptions in the logs. -->
            <pattern category="warning" expression=".*Exception.*"/>
        </regex.pp>
    </post-processor>

    <recipe name="maven build">
        <command name="build">
            <!-- pull in the maven resource if configured. -->
            <resource name="maven" required="false"/>
            <maven
#if($workingDir)
                working-dir="${base.dir}/$workingDir"
#end
#if($targets)
                targets="$targets"
#end
#if($arguments)
                args="$arguments"
#end
            >
                <process processor="${maven.pp}"/>
            </maven>
        </command>
    </recipe>
</project>
