#set($taskCount = 0)
#set($invisibleCount = 0)
#macro(showTask $cleanupTask $indent)
    #set($taskCount = $taskCount + 1)
    <tr id="task:$taskCount">
        <td class="content">
            ${indent}$!webwork.htmlEncode($cleanupTask.affectedPath)
        </td>
        <td class="content">
            $action.getMessage($cleanupTask, "summary")
        </td>
    </tr>
    #foreach($childTask in $cleanupTask.cascaded)
        #if($action.hasPermission("view", $childTask.affectedPath))
            #if(!$childTask.internal)
                #showTask($childTask "&nbsp;&nbsp;&nbsp;&nbsp;$indent")
            #end
        #else
            #set($invisibleCount = $invisibleCount + 1)
        #end
    #end
#end

#if($hide)
   #set($label = "hide")
#else
   #set($label = "delete")
#end

<h2>#wwtext("name=confirm.${label}")</h2>
<p>
    #wwtext("name=confirm.${label}.blurb")
</p>

<table id='#id("delete:$id")' class="form">
    <tr>
        <th class="content">#wwtext("name=affected.id")</th>
        <th class="content">#wwtext("name=action")</th>
    </tr>
    #showTask($task "")
    <tr>
        <td class="submit" colspan="2">
    #set($prefix = "runAjaxRequest('$base/ajax/config/' + encodeURIPath('#jss($id)') + '?delete=")
    #if($direct)
        #set($cancelAction = "canceldirect")
    #else
        #set($cancelAction = "cancel")
    #end
            <img src="$base/images/delete.gif" alt="delete"/> <a href="#" id="confirm.delete" onclick="#html($prefix)delete'); return false;"/>$label</a>
            &nbsp;&nbsp;
            <img src="$base/images/cancel.gif" alt="cancel"/> <a href="#" id="cancel.delete" onclick="#html($prefix)$cancelAction'); return false;"/>cancel</a>
        </td>
    </tr>
</table>

#if($invisibleCount > 0)
<p id="further.tasks">
    <b>Note</b>: A further #if($invisibleCount > 1) $invisibleCount tasks are required that are #else task is required that is #end not
    visible to you with your current permissions.
</p>
#end
</body>
</html>
