<div class="config-panel">
    <h3 class="config-header">#wwtext("name=form.heading") #i18n("key=label")</h3>
    <div class="config-container">
        <p>
            #wwtext("name=form.blurb")
        </p>
        $formSource
    </div>
    #standardFormEvents("form")
</div>
