<div class="config-panel">
    <h3 class="config-header">rename label</h3>
    <div class="config-container">
        <p>
            You have chosen to rename label '#html($originalName)'.  There
            #if($otherLabelCount == 1)
                is one other label
            #else
                are $otherLabelCount other labels
            #end
            with the same name.  Would you like to rename all labels?
        </p>
        $formSource
    </div>
    #standardFormEvents("form")
</div>
