<div class="config-panel">
    #pwizard("path=$action.path" "ajax=true" "namespace=ajax/config")
#if($state.hasConfigurationCheck())
    #checkForm($action.path $state.type "wizardForm" "ajax/config")
#end
</div>
#standardFormEvents("wizardForm")
<script type="text/javascript">
    detailPanel.setHelp('#jss(${path})', 'wizard');
</script>
