<div class="config-panel">
    #pwizard("id=$action.id" "ajax=true" "namespace=ajax/config")
#if($state.hasConfigurationCheck())
    #checkForm($action.id $state.type "wizardForm" "ajax/config")
#end
</div>
#standardFormEvents("wizardForm")
<script type="text/javascript">
    detailPanel.setHelp('#jss(${id})', 'wizard');
</script>
