<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="com.zutubi.pulse.core.config">
        <config class="com.zutubi.pulse.core.scm.p4.config.PerforceConfiguration"/>
    </extension>
    <extension point="com.zutubi.pulse.core.scms">
        <scm name="p4"
             factory-class="com.zutubi.pulse.core.scm.p4.PerforceWorkspaceManager"
             working-copy-class="com.zutubi.pulse.core.scm.p4.PerforceWorkingCopy"
             patch-format="standard"/>
    </extension>
</plugin>
