<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <link href="${base}/css/reset.css" rel="stylesheet"/>

    <link href="${base}/css/kendo/kendo.common.min.css" rel="stylesheet"/>
    <link href="${base}/css/kendo/kendo.default.min.css" rel="stylesheet"/>
    <link href="${base}/css/admina.css" rel="stylesheet"/>

    <script>
        window.baseUrl = '${base}';
        adminPath = '/${path}/';
    </script>

    #javascript()
        zutubi/admin/package.js
    #end

    <title>Pulse Admin</title>
</head>
<body>
<div id="navbar">
    Nav
</div>

<div id="login" style="display: none">
    <div id="login-error"></div>
    <form id="login-form" action="javascript:loginUser();">
        <table class="form">
            <tr>
                <th><label for="username">login:</label></th>
                <td><input class="k-textbox" type="text" name="username" required/></td>
            </tr>
            <tr>
                <th><label for="password">password:</label></th>
                <td><input class="k-textbox" type="password" name="password"/></td>
            </tr>
            <tr>
                <th><label for="rememberMe">remember me:</label></th>
                <td><input type="checkbox" name="rememberMe" value="true"/></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td><input class="k-button" type="submit" name="login" value="login"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="content">
    <div id="notification"></div>
    <div id="config-view" style="height: 100%; width: 100%">

    </div>
</div>

<div id="footer">
    footer bar
</div>

<script>
    var notificationElement = $("#notification");
    notificationElement.kendoNotification({
        autoHideAfter: 7000,
        allowHideAfter: 1000,
        button: true,
        hideOnClick: false,
        position: {
            top: 50
        },
        stacking: 'down'
    });

    var notificationWidget = notificationElement.data("kendoNotification");

    function zaReportError(message)
    {
        notificationWidget.error(message);
    }

    function zaAjaxError(jqXHR)
    {
        var message = '';
        if (jqXHR.statusText)
        {
            message = jqXHR.statusText + ' ';
        }

        message += '(' + jqXHR.status + ')';

        try
        {
            details = JSON.parse(jqXHR.responseText);
            if (details.message)
            {
                message += ': ' + details.message;
            }
        }
        catch(e)
        {
            // Do nothing.
        }

        return message;
    }

    var router = new kendo.Router({
        root: window.baseUrl + '/admina',
        pushState: true,
        routeMissing: function(e)
        {
            notificationWidget.error('Unknown admin path "' + e.url + '", redirecting.')
            router.navigate("/projects/");
        }
    });

    function showLoginForm()
    {
        $("#login-form").kendoValidator();
        var loginWindow = $("#login").kendoWindow({
            width: 400,
            modal: true,
            title: "Login"
        }).data("kendoWindow");

        loginWindow.center();
        loginWindow.open();
    }

    function loginUser()
    {
        var form = $("#login-form");
        var data = {};
        form.serializeArray().map(function(x) { data[x.name] = x.value; });

        jQuery.ajax({
            type: "POST",
            url:  window.baseUrl + "/api/auth/session",
            dataType: 'json',
            headers: {
                Accept: "application/json; charset=utf-8",
                "Content-Type": "application/json; charset=utf-8"
            },
            data: JSON.stringify(data),
            success: function (data, status, jqXHR)
            {
                $("#login").data("kendoWindow").close();
            },
            error: function (jqXHR, textStatus)
            {
                var data, errorWidget, message;
                if (jqXHR.status === 401)
                {
                    message = "invalid username or password";
                }
                else
                {
                    data = JSON.parse(jqXHR.responseText);
                    message = data["message"] || textStatus;
                }

                errorWidget = $("#notification").kendoNotification({
                    appendTo: "#login-error",
                    stacking: 'down'
                }).data("kendoNotification");
                errorWidget.error(message)
            }
        });
    }

    function showScope(scope)
    {
        window.configPanel.destroy();
        window.configPanel = null;
    }

    function subpath(path, begin, end)
    {
        var elements = path.split('/');

        if (typeof end === "undefined")
        {
            end = elements.length;
        }

        elements = elements.slice(begin, end);
        return elements.join('/');
    }

    function showConfig(path)
    {
        if (!window.configPanel)
        {
            window.configPanel = new Zutubi.admin.ConfigPanel("#config-view");
            window.configPanel.bind('pathselect', function (e) {
                router.navigate(e.path, true);
            })
        }

        window.configPanel.setPath(path);
    }

    router.route("/", function(path) {
        router.navigate("/projects/");
    });

    router.route("/projects/*path", function(path)
    {
        if (path)
        {
            showConfig('projects/' + path);
        }
        else
        {
            showScope('projects');
        }
    });

    router.route("/agents/*path", function(path)
    {
        console.dir(path);
    });

    router.route("/settings/*path", function(path)
    {
        console.dir(path);
    });

    router.route("/users/*path", function(path)
    {
        console.dir(path);
    });

    router.route("/groups/*path", function(path)
    {
        console.dir(path);
    });

    router.route("/plugins(/:id)", function(id)
    {
        console.dir(id);
    });

    $(document).ready(function()
    {
        router.start();
    });
</script>
</body>
</html>
