<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <link href="${base}/css/reset.css" rel="stylesheet"/>

    <link href="${base}/css/kendo/kendo.common.min.css" rel="stylesheet"/>
    <link href="${base}/css/kendo/kendo.metro.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="${base}/css/font-awesome.min.css"/>
    <link href="${base}/css/admina.css" rel="stylesheet"/>

    <script>
        window.baseUrl = "${base}";
        adminPath = "/${path}/";
    </script>

    #javascript()
        zutubi/admin/package.js
    #end

    <title>Pulse Admin</title>
</head>
<body>
<div id="navbar">
</div>

<div id="content">
    <div id="notification"></div>
    <div id="config-view" style="height: 100%; width: 100%">

    </div>
</div>

<div id="footer">
    <b>::</b> <a href="http://zutubi.com/products/pulse/">pulse</a> ($version_number #$build_number)
    <b>::</b> copyright &copy; 2005-2015 <a href="http://zutubi.com/">zutubi pty ltd</a> <b>::</b>
    <a href="http://jira.zutubi.com/">report bug/request feature</a>
</div>

<script>
    Zutubi.admin.init($admin, $projectCreateAllowed, $agentCreateAllowed);

    $(document).ready(function()
    {
        Zutubi.admin.start();
    });
</script>
</body>
</html>
