<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <link href="${base}/css/reset.css" rel="stylesheet"/>

    <link href="${base}/css/kendo/kendo.common.min.css" rel="stylesheet"/>
    <link href="${base}/css/kendo/kendo.default.min.css" rel="stylesheet"/>
    <link href="${base}/css/admina.css" rel="stylesheet"/>

    <script src="${base}/js/kendo/jquery.min.js"></script>
    <script src="${base}/js/kendo/kendo.all.js"></script>

    <script>
        window.baseUrl = '${base}';
        adminPath = '/${path}/';
    </script>

    #javascript()
    #end

    <title>Pulse Admin</title>
</head>
<body>
<div id="navbar">
    Nav
</div>

<div id="content">
    <div id="notification"></div>
    <div id="outer-split" style="height: 100%; width: 100%">
        <div id="left-pane">
            <div id="hierarchy-tree" class="pane-content">
                Template Tree
            </div>
            <div id="config-tree" class="pane-content">
                Config Tree
            </div>
        </div>
        <div id="center-pane">
            <div class="pane-content">
                <p>Main pane. <a href="#" onclick="loadTemplatedScope('projects/lgit')">doit</a> </p>
            </div>
        </div>
        <div id="right-pane">
            <div class="pane-content">
                <p>Help pane.</p>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    footer bar
</div>

<script>
    var notificationElement = $("#notification");
    notificationElement.kendoNotification({
        autoHideAfter: 7000,
        allowHideAfter: 1000,
        button: true,
        hideOnClick: false,
        position: {
            top: 50
        },
        stacking: 'down'
    });

    var notificationWidget = notificationElement.data("kendoNotification");

    var router = new kendo.Router({
        root: window.baseUrl + '/admina',
        pushState: true,
        routeMissing: function(e)
        {
            notificationWidget.error('Unknown admin path "' + e.url + '", redirecting.')
            router.navigate("/projects/");
        }
    });

    function loadTemplatedScope(path)
    {
        jQuery.ajax({
            type: "GET",
            url: window.baseUrl + "/api/config/" + "projects/lgit",
            dataType: 'json',
            headers: {
                Accept: "application/json; charset=utf-8",
                "Content-Type": "application/json; charset=utf-8"
            },
            success: function (data, status, jqXHR) {
                console.log('success');
                console.dir(data);
            },
            error: function (jqXHR, textStatus) {
                if (jqXHR.status === 401)
                {
                    alert("Auth required");
                }
                console.log(jqXHR.responseText);
            }
        });
    }

    router.route("/", function(path) {
        router.navigate("/projects/");
    });

    router.route("/projects/*path", function(path) {
        loadTemplatedScope(path);
    });

    router.route("/agents/*path", function(path) {
        console.dir(path);
    });

    router.route("/settings/*path", function(path) {
        console.dir(path);
    });

    router.route("/users/*path", function(path) {
        console.dir(path);
    });

    router.route("/groups/*path", function(path) {
        console.dir(path);
    });

    router.route("/plugins(/:id)", function(id) {
        console.dir(id);
    });

    $(document).ready(function () {
        router.start();
    });
</script>
</body>
</html>
