#if($result.succeeded())
  #set($success = "succeeded")
#else
  #set($success = "failed")
#end
Build $result.number of project '$project.name' has $success.
You can view the full build result at:

http://localhost:8080/viewBuild.action?id=$project.id&buildId=$result.id

A brief command log is given below.


=====================================================================
:: command log ::
=====================================================================
#foreach($commandResult in $result.commandResults)
---------------------------------------------------------------------
command '$commandResult.commandName'
---------------------------------------------------------------------
*brief*
commenced: $commandResult.stamps.prettyStartTime
completed: $commandResult.stamps.prettyEndTime
elapsed  : $commandResult.stamps.prettyElapsed
#if($commandResult.succeeded())
  #set($success = "success")
#else
  #set($success = "failure")
#end
result   : $success

*artifacts*
#foreach($artifact in $commandResult.artifacts)
$artifact.title
#if($artifact.hasFeatures())
#foreach($level in $artifact.levels)
   + $level.toString().toLowerCase() features
#foreach($feature in $artifact.getFeatures($level))
      * $feature.summary
#end
#end
#else
  <No features>
#end

#end

#end
