<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    #favicon()

    <link href="${base}/css/reset.css?#version()" rel="stylesheet"/>

    <link href="${base}/css/kendo/kendo.common.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/kendo/kendo.metro.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/kendo/kendo.custom.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/font-awesome.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/core.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/config.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/setupa.css?#version()" rel="stylesheet"/>

    <script>
        window.baseUrl = "${base}";
        window.apiPath = "/setup-api";
    </script>

    #javascript()
        zutubi/setup/package.js
    #end

    <title>:: pulse :: setup</title>
</head>
<body>
    <div id="notification"></div>
    <div id="container">
        <div id="left-column">
            <div id="main-view"></div>
        </div>
        <div id="right-column">
        </div>
    </div>

    <div id="footer">
        <b>::</b> <a href="http://zutubi.com/products/pulse/">pulse</a> ($version_number #$build_number)
        <b>::</b> copyright &copy; 2005-2016 <a href="http://zutubi.com/">zutubi pty ltd</a>
    </div>

    <script>
        Zutubi.setup.init();

        $(document).ready(function()
        {
            Zutubi.setup.start();
        });
    </script>
</body>
</html>
