<html>
<head>
    <title>#i18n("key=database.type.setup")</title>
    <link rel="stylesheet" type="text/css" href="$base/css/setup.css?#version()"/>
</head>
<body>
    <div id="rightcolumn">
        <div id="description-panel">
            <div id="description">
                <h3>#i18n("key=database.type.blurb.heading")</h3>
                <p>#i18n("key=database.type.blurb")</p>
            </div>
        </div>
    </div>

    <div id="leftcolumn">
        <div class="config-panel">
            <h3 class="config-header">#i18n("key=database.type.setup")</h3>
            <div class="config-container">
                #pform("id=$id" "formName=mainform" "action=setup/setupDatabaseType.action" "namespace=setup")
            </div>
            #checkForm($id $type "mainform" "setupconfig")
        </div>
    </div>
</body>
</html>
