<html>
<head>
    <title>#i18n("key=data.setup")</title>
    <link rel="stylesheet" type="text/css" href="$base/css/setup.css?#version()"/>
</head>
<body>
    <div id="rightcolumn">
        <div id="description-panel">
            <div id="description">
                <h3>What is the data directory?</h3>
                <p> The data directory is where your pulse server stores all data, including: </p>
                <p>
                <ul>
                    <li>The pulse database, which contains all configuration information and build metadata.</li>
                    <li>Project build files, such as captured artifacts.</li>
                    <li>Temporary build data, such as the directories in which recipes are executed.</li>
                </ul>
                </p>
                <h3>Where should it go?</h3>
                <p> This directory may be stored anywhere on the host machine. It is best to keep this directory
                    separate to the pulse installation directory, so that it can be easily backed up and/or upgraded to a new version of pulse. </p>
            </div>
        </div>
    </div>

    <div id="leftcolumn">
        <div class="config-panel">
            <h3 class="config-header">#i18n("key=data.setup")</h3>
            <div class="config-container">
                #pform("path=$path" "action=setup/setupData.action" "namespace=setup")
            </div>
        </div>

        <div>
            <p>
                <img alt="info" src="$base/images/information.gif"/> $action.getText("data.using.config", [$pulseConfigPath])
            </p>
            #if(!$pulseConfigExists)
                <p>
                    <img alt="error" src="$base/images/exclamation.gif"/> #i18n("key=data.config.missing")
                </p>
            #end
        </div>
    </div>
</body>
</html>
