<html>
<head>
    <title>#wwtext("name=license.setup")</title>
    <link rel="stylesheet" type="text/css" href="$base/css/setup.css?#version()"/>
</head>
<body>
    <div id="rightcolumn">
        <div id="description-panel">
            <div id="description">
                <h3>Obtaining a license key</h3>
                <p>Licenses to activate Pulse are available from the <a href="http://www.zutubi.com/sales/">zutubi.com</a> website.</p>
                <p>Alternatively, you can request a new evaluation license directly
                    by entering your contact details in the form provided.  Please note that for this to work
                    the Pulse installation will need network access to http://zutubi.com.</p>
            </div>
        </div>
    </div>

    <div id="leftcolumn">
        <div class="config-panel">
            <h3 class="config-header">#i18n("key=license.setup")</h3>
            <div class="config-container">
                #pform("path=$path" "action=setup/setupLicense.action" "namespace=setup")
            </div>
        </div>
        #wwaction("namespace=/ajax" "name=requestLicense!input" "executeResult=true" "flush=true")
    </div>
</body>
</html>
