<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Pulse Slave</display-name>
    <description>Continuous Integration Slave</description>

    <servlet>
        <servlet-name>hessian</servlet-name>
        <servlet-class>com.zutubi.pulse.servercore.servlet.ServletWrapper</servlet-class>
        <init-param>
            <param-name>delegateClassName</param-name>
            <param-value>com.zutubi.pulse.servercore.hessian.CustomHessianServlet</param-value>
        </init-param>
        <init-param>
            <param-name>home-class</param-name>
            <param-value>com.zutubi.pulse.slave.SlaveServiceImpl</param-value>
        </init-param>
        <init-param>
            <param-name>home-api</param-name>
            <param-value>com.zutubi.pulse.servercore.services.SlaveService</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>XmlRpcServlet</servlet-name>
        <servlet-class>com.zutubi.pulse.servercore.servlet.ServletWrapper</servlet-class>
        <init-param>
            <param-name>delegateClassName</param-name>
            <param-value>com.zutubi.pulse.slave.xmlrpc.SlaveXmlRpcServlet</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>com.zutubi.pulse.servercore.servlet.ServletWrapper</servlet-class>
        <init-param>
            <param-name>delegateClassName</param-name>
            <param-value>com.zutubi.pulse.servercore.servlet.DownloadResultsServlet</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>hessian</servlet-name>
        <url-pattern>/hessian</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>XmlRpcServlet</servlet-name>
        <url-pattern>/xmlrpc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>

        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>

        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
</web-app>