<html>
	<head>
		<title>#if ($title) $title #else Default Title #end</title>
		<link href="$base/main.css" rel="stylesheet" type="text/css">
		$head
	</head>

	<body>
		<table width="100%" height="100%">
			<tr>
				<td valign="top">
				     <table>
                       <tr><th>Nav Bar</th></tr>
                       <tr><td><a href="viewProjects.action">all&nbsp;projects</a></td></tr>
                     </table>
				</td>
				<td width="100%">
					<table width="100%" height="100%">
						<tr>
							<td id="pageTitle">
								$title
							</td>
						</tr>
						<tr>
							<td valign="top" height="100%">
								$body
							</td>
						</tr>
						<tr>
							<td id="footer">
								<b>:: project cinnamon bob ::</b>
								Copyright &copy; 2005 Daniel Ostermeier and Jason Sankey
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</body>
</html>