<html>
	<head>
		<title>#if ($title) $title #else [CiB] #end</title>
		<link href="$base/main.css" rel="stylesheet" type="text/css" media="screen">
		<link href="$base/form.css" rel="stylesheet" type="text/css" media="screen">
		$head
	</head>
        
    <body>
    <div id="container">    
        <div id="header">this is the header</div>
        <div id="navbar">
            <ul>
                <li><a href="/">:: navigate ::</a></li>
                <li><a href="serverStatus.action">server&nbsp;status</a></li>
                <li><a href="viewProjects.action">all&nbsp;projects</a></li>
                <li><a href="createUser!default.action">create&nbsp;user</a></li>
            </ul>
        </div>
                                        <!-- page properties are specified using <content tag="selectedTab">navigate</content> -->
                                        <!-- #set ($selectedTab = $page.getProperty("page.selectedTab"))-->
                                        <!-- #if ($selectedTab == "navigate")-->
                                        <!--    <td class="navbar-active">:: navigate ::</td>-->
                                        <!--#else-->
                                        <!--    <td class="navbar" onMouseOver="this.className='navbar-active'" onMouseOut="this.className='navbar'"><a href="/">navigate</a></td>-->
                                        <!--#end-->

        <div id="left">
                <!-- left navigation goes here -->
        </div>
        <div id="right">
                <!-- right navigation goes here -->
        </div>
        <div id="content">
		    $body
        </div>
        <div id="footer">
            <b>:: project cinnamon bob ::</b>
            Copyright &copy; 2005 Daniel Ostermeier and Jason Sankey
        </div>        
    </div>
    </body>        
        
</html>