<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="databaseBootstrap" class="com.cinnamonbob.bootstrap.DatabaseBootstrap" init-method="initialiseDatabase">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>

    <!-- this spring object factory will ensure that WebWork Actions are autowired. -->
    <bean id="xwork-object-factory-2" class="com.opensymphony.xwork.spring.SpringObjectFactory" init-method="initObjectFactory"/>

    <bean id="velocityEngine" class="com.cinnamonbob.bootstrap.velocity.VelocityEngineFactoryBean"/>

    <bean id="buildManagerTarget" class="com.cinnamonbob.model.DefaultBuildManager" autowire="byName"
          init-method="init"/>

    <bean id="buildManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="target">
            <ref bean="buildManagerTarget"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <bean id="userManagerTarget" class="com.cinnamonbob.model.DefaultUserManager" autowire="byName"/>
    <bean id="userManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="target">
            <ref bean="userManagerTarget"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <bean id="projectManagerTarget" class="com.cinnamonbob.model.DefaultProjectManager" autowire="byName"
          init-method="initialise"/>
    <bean id="projectManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="target">
            <ref bean="projectManagerTarget"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <bean id="subscriptionManagerTarget" class="com.cinnamonbob.model.DefaultSubscriptionManager" autowire="byName"/>
    <bean id="subscriptionManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="target">
            <ref bean="subscriptionManagerTarget"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <bean id="scmManagerTarget" class="com.cinnamonbob.model.DefaultScmManager" autowire="byName" init-method="init"/>
    <bean id="scmManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="target">
            <ref bean="scmManagerTarget"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

<!-- We are not using the Slaves in the current release, so dont deploy the manager.
    <bean id="slaveManagerTarget" class="com.cinnamonbob.model.DefaultSlaveManager" autowire="byName"
          init-method="init"/>
    <bean id="slaveManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="target">
            <ref bean="slaveManagerTarget"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
-->

    <bean id="fileResourceRepository" class="com.cinnamonbob.core.FileResourceRepository" autowire="byName"
          init-method="initialise"/>

    <bean id="resourceRepository" class="com.cinnamonbob.model.DatabaseResourceRepository" autowire="byName">
        <property name="parent">
            <ref bean="fileResourceRepository"/>
        </property>
    </bean>

    <bean id="recipeProcessor" class="com.cinnamonbob.core.RecipeProcessor" autowire="byName" init-method="init"/>

    <bean id="masterRecipeProcessor" class="com.cinnamonbob.MasterRecipeProcessor" autowire="byName"/>

    <bean id="buildResultRenderer" class="com.cinnamonbob.renderer.VelocityBuildResultRenderer" autowire="byName"/>

    <bean id="userConfigRoot" class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
        <property name="targetBeanName">
            <value>configurationManager</value>
        </property>
        <property name="propertyPath">
            <value>userPaths.userConfigRoot</value>
        </property>
    </bean>

    <bean id="slaveProxyFactory" class="com.cinnamonbob.SlaveProxyFactory" autowire="byName"/>

    <bean id="fatController" class="com.cinnamonbob.FatController" autowire="byName" init-method="init"/>

    <bean id="recipeQueue" class="com.cinnamonbob.ThreadedRecipeQueue" autowire="byName" init-method="init"/>

    <bean id="resultNotifier" class="com.cinnamonbob.ResultNotifier" autowire="byName"/>

    <bean id="shutdownManager" class="com.cinnamonbob.ShutdownManager">
        <property name="stoppables">
            <list>
                <ref bean="scheduler"/>
                <!-- We need a way to turn the UI "read only" at this point... -->
                <ref bean="fatController"/>
                <ref bean="recipeQueue"/>
                <ref bean="masterRecipeProcessor"/>
                <ref bean="jettyManager"/>
            </list>
        </property>
    </bean>

    <bean id="tokenManager" class="com.cinnamonbob.api.TokenManager" autowire="byName"/>

</beans>
