.viewport
{
    overflow:auto;
    
    /* define a border */
    margin:0 0 10px 0;
    border-width:1px;
    border-color:blue;
    border-style:solid;
}

.nofluff {
   margin:0;
   padding:0;
}

#banner h2, #banner p
{
    font-size:100%;
    margin:0 0 0 0;
}

#banner
{
    float:left;
    padding-bottom:10px;
}

#loading
{
    float:right;
}

.error
{
    color:red;
}

/*---( Toolbar styles )---*/
.zttbi {
    /* a size 16x16 image will sit nicely in the center */
    width:26px;
    height:26px;
    background-position:5px;
    background-repeat:no-repeat;

    /* position the toolbar item in the middle of the toolbar. */
    position:relative;
    top:5px;

    /* an invisible border that acts as the placeholder for the 'selected' border. */
    border-width:1px;
    border-style:solid;
    border-color:white;

    float:left;
}

#toolbar {
    /* give the toolbar items some space */
    height:38px;
}

#toolbar .selected {
    background-color:#B5BED6;
    border-color:blue;
}

.zttbs {
    width:1px;
    height:26px;
    background-color:black;

    position:relative;
    top:5px;

    border-width:2px;
    border-style:solid;
    border-color:white;

    float:left;
}

.create {
    background-image: url(../images/folder_add.gif);
}

.delete {
    background-image: url(../images/folder_delete.gif);
}

.refresh {
    background-image: url(../images/arrow_refresh.gif);
}

.up {
    background-image: url(../images/arrow_up.gif);
}

.home {
    background-image: url(../images/house.gif);
}

.pulsehome {
    background-image: url(../images/pulse_home.gif);
}

#view {
    cursor:default;
}

/*---( Tooltip styles)---*/

#tooltip {
    padding: 3px;
    background: #f9f9f9;
    border: 1px solid black;
    text-align: center;
    font-size: smaller;
}

.tip {
    border-bottom: 1px solid #eee;
}