html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    background: #fff;
    height: 100%;
}

pre{
    margin:0; padding:0
}

#wrap {
    position: relative;
    margin: 0 auto;
    padding: 0
}

    /*------------------------------
    Header
    */

#header {
    padding-bottom: 4px;
    background: #3e4e6a url(../images/header.gif) top left repeat-x;
    margin: 0;
    font-size: 14px;
}

#header table {
    width: 100%;
    margin: 0;
    border-spacing: 0;
}

#header td {
    color: #fff;
    padding: 2px;
}

#header td.logo {
    font-weight: bold;
}

#header td.user {
    font-size: 12px;
    vertical-align:bottom;
}

#header a {
    color: #fff;
    border-color: #fff;
}

    /*------------------------------
    Nav bar
    */

#nav {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #667e9f;
    font-size: 14px;
}

#nav li {
    float: left;
    margin: 0;
    padding: 0 1px 0 0;
    list-style: none;
}

#nav a {
    float: left;
    padding: 6px 8px;
    text-decoration: none;
    border-bottom: none;
    color: #fff;
}

#nav a:hover, #nav a.active {
    background: #88a0b8;
}

#nav a.active {
    font-weight: bold;
}

#tabbar {
    width: 100%;
    background: #88a0b8;
}

#innernav {
    margin: 0;
    padding: 10px 5px 0 10px;
    list-style: none;
    font-size: 14px;
}

#innernav li {
    float: left;
    display: block;
    margin: 0 5px 0 0;
    padding: 0 1px 0 0;
    list-style: none;
}

#innernav a {
    float: left;
    display: block;
    padding: 3px 10px 6px 10px;
    text-decoration: none;
    border-top: 3px solid #667e9f;
    border-bottom: none;
    color: #fff;
    background: #3e4e6a;
}

#innernav a:hover, #innernav a.active {
    border-top: 3px solid #f07e0a;
    color: #3e4e6a;
    background: #fff;
}

#innernav a.active {
    font-weight: bold;
}

#center {
    clear: both;
    margin: 16px;
}

    /*------------------------------
    Footer
    */

#south {
    border-top: solid 1px #c0c0c0;
    color: #c0c0c0;
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

#south a {
    color: #c0c0c0;
    border-color: #c0c0c0;
}
    /*------------------------------
    Globals
    */

div {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

div.hidden {
    display: none;
}

span.hidden {
    font-size: 1%;
    visibility: hidden;
}

h1, h2 {
    color: #bbb;
}

/* links in headers should be the same colour as headers. */
h1 a:link, h1 a:visited, h1 a:hover, h2 a:link, h2 a:visited, h2 a:hover {
    color: #bbb;
    border-bottom: dotted 1px #bbb;
}

h1 a:hover, h2 a:hover {
    border-bottom: solid 2px #bbb;
}

h1 {
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h2.section, h2.twopane {
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: #3e4e6a;
    font-size: 20px;
    border-bottom: solid 2px #667e9f;
}

h2.twopane {
    margin-bottom: 0;
}

h2.top {
    margin-top: 0;
}

h3 {
    margin-top: 0;
    font-size: 120%;
}

h4 {
    font-size: 100%;
    margin: 6px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a:link, a:visited {
    color: #668;
    text-decoration: none;
}

a:hover {
    color: #336;
    border-bottom: solid 2px #336;
}

a {
    font-weight: bold;
    text-decoration: none;
    border-bottom: dotted 1px #336;
}

a.unadorned, a.unadorned:hover, a.ytab-right, a.ytab-right:hover {
    border-bottom: none;
}

table {
    border-collapse: collapse;
}

hr {
    display: none;
}

.small {
    font-size: 80%;
}

img {
    vertical-align: text-top;
}

img.base {
    vertical-align: baseline;
}

img.centre {
    vertical-align: baseline;
}

    /*------------------------------
    Content
    */

#main {
    float: left;
    width: 66%;
    margin-left: 10px;
    margin-right: 10px;
}

#sidebar {
    margin-left: 69%;
}

#content {
    clear: both;
    background: #fff;
    position: relative;
}

table.columns {
    border-collapse: separate;
}

td.columns {
    vertical-align: top;
    padding-right: 10px;
}

table.content, table.fill-content, table.decorated {
    font-size: 12px;
    border: 1px solid #bbb;
    margin-bottom: 16px;
}

table.fill-content {
    width: 98%;
}

h3.heading, div.box, th.heading, th.group, th.note, th.content, table.content th, th.content-row, td.content, table.content td, td.content-wrap, td.content-centre, td.content-right, td.content-large, td.image, td.success, td.failure, td.test-failure, td.error, td.warning, td.info, td.pending, td.inprogress, td.terminating, td.add, td.success-right, td.warning-right, td.failure-right, td.error-right, td.pending-right, td.inprogress-right, td.terminating-right {
    border: 1px solid #bbb;
    padding: 4px;
}

th {
    font-weight: bold;
    white-space: nowrap;
}

th.form, th.heading, th.group, th.note, th.content, table.content th, th.content-row, td.content, table.content td, td.content-wrap, td.content-large, td.success, td.failure, td.test-failure, td.error, td.warning, td.info, td.pending, td.inprogress, td.terminating, td.add {
    text-align: left;
    vertical-align: top;
}

th.form {
    padding: 5px;
    background: #ffffdd;
    border-bottom: solid 1px #eee;
    border-top: solid 1px #eee;
}

td.content-centre, th.centre {
    text-align: center;
}

td.content-right, td.success-right, td.warning-right, td.failure-right, td.error-right, td.pending-right, td.inprogress-right, td.terminating-right {
    text-align: right;
    vertical-align: top;
}

td.content-large {
    font-size: 115%;
}

a img {
    color: #fff;
    border: 0;
}

th.content-row {
    white-space: nowrap;
}

h3.heading, th.heading, th.group {
    background: #e8e8f3;
    white-space: nowrap;
}

th.group {
    font-size: 120%;
    color: #30286e;
    background: #ffd;
    padding: 5px;
}

.note {
    background: #ffffc0;
    white-space: normal;
}

p.note {
    border: dashed 1px #f0c000;
    padding: 5px;
}

td.content, td.content-nowrap {
    white-space: nowrap;
}

td.content-wrap {
    white-space: normal;
}

td.success, td.success-right {
    color: #383;
}

td.warning, td.warning-right {
    color: #d08000;
    font-weight:bold;
    background-color: #ffffce;
}

td.failure, td.error, td.failure-right, td.error-right {
    color: #b22;
    font-weight: bold;
    background: #fff0f0;
}

td.info {
    background-color: #eeeeff;
}

td.inprogress, td.inprogress-right {
    color: #039;
}

td.terminating, td.terminating-right, td.test-failure {
    color: #b22;
}

td.add {
    text-align: right;
}

td.image {
    width: 20px;
    text-align: center;
}

td.chart {
    padding-top: 20px;
    padding-bottom: 20px;    
}

td.expand, td.collapse {
    padding-left: 16px;
    background-repeat: no-repeat;
    background-position: 0 center;
}

td.expand {
    background-image: url(../images/bullet_toggle_plus.gif);
}

td.collapse {
    background-image: url(../images/bullet_toggle_minus.gif);
}

tr.suite-hover td {
    background-color: #ffd;
}

span.action {
    float: right;
}

td.right {
    text-align: right;
    vertical-align: top;
}

th.right {
    text-align: right;
}

    /*------------------------------
    Boxes
    */

h3.heading {
    margin: 0;
    border-bottom: 0;
}

div.box {
    margin: 0;
    margin-bottom: 16px;
    padding: 6px;
}

div.floating {
    background-color: #fff;
    border: dotted 1px #bbb;
    position: absolute;
    z-index: 101;
    margin: 0;
    padding: 5px;
}

    /*------------------------------
    Artifact/feature lists
    */

ul {
    list-style: none;
    padding: 0;
    padding-left: 20px;
    margin: 4px 0;
}

ul.error, ul.warning, ul.info {
    padding: 5px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    border: solid 1px;
}

ul.error {
    border-color: #c00000;
    background-color: #ffdddd;
}

ul.warning {
    border-color: #f0c000;
    background-color: #ffffce;
}

ul.info {
    border-color: #b0b0f0;
    background-color: #eeeeff;
}

span.context {
    color: #555;
}

span.feature {
    font-weight: bold;
}

#reference ul {
    list-style: disc;
}

#reference li {
    margin-top: 3px;
    margin-bottom: 3px;
}

li.error, li.warning, li.info, li.artifact, li.file-artifact, li.dir-artifact, li.report-artifact, li.task, li.explore {
    font-weight: normal;
    list-style: none;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 20px;
}

li.error, li.warning, li.info, li.file-artifact, li.report-artifact, li.task, li.explore {
    padding-left: 20px;
}

li.error, li.warning, li.info, li.artifact {
    margin-top: 6px;
    margin-bottom: 6px;
}

li.error {
    background: url( ../images/exclamation.gif ) no-repeat 0 0;
}

li.warning {
    background: url( ../images/error.gif ) no-repeat 0 0;
}

li.info {
    background: url( ../images/information.gif ) no-repeat 0 0;
}

li.task {
    background: url( ../images/accept.gif ) no-repeat 0 0;
}

li.explore {
    background: url( ../images/zoom.gif ) no-repeat 0 0;
}

li.file-artifact {
    background: url( ../images/page.gif ) no-repeat 0 0;
}

li.report-artifact {
    background: url( ../images/page_world.gif ) no-repeat 0 0;
}

li.header {
    font-weight: bold;
}

span.expanded-list, span.collapsed-list, span.open-folder, span.closed-folder {
    padding-left: 20px;
}

span.expanded-list {
    background: url( ../images/resultset_down.gif ) no-repeat 0 0;
}

span.collapsed-list {
    background: url( ../images/resultset_next.gif ) no-repeat 0 0;
}

span.open-folder {
    background: url( ../images/open-folder.gif ) no-repeat 0 0;
}

span.closed-folder {
    background: url( ../images/closed-folder.gif ) no-repeat 0 0;
}

    /*------------------------------
    Decorated artifacts
    */

a.dec {
    color: #000000;
    font-weight: normal;
    border: none;
}

#decorated td, #decorated th {
    font-family: monospace;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

#decorated th {
    font-weight: normal;
    text-align: right;
    vertical-align: top;
    border-right: solid 1px #bbb;
}

#decorated .e {
    background-color: #ffdddd;
}

#decorated .w {
    background-color: #fcfcce;
}

#decorated .i {
    background-color: #eeeeff;
}

#decorated a, #decorated a:hover {
    border-bottom: none;
}

td.okaybar {
    background: #eeeeff;
    border: 1px solid #9c9c9c;
    padding: 0;
}

td.errorbar {
    background: #c00000;
    border: 1px solid #9c9c9c;
    padding: 0;
}

td.warningbar {
    background: #f0c000;
    border: 1px solid #9c9c9c;
    padding: 0;
}

td.clearbar {
    background: #ffffff;
    border: 1px solid #9c9c9c;
    padding: 0;
}

#statusmessage {
    margin:1em;
    padding:0.5em;
    border: 1px solid #c00000;
    background-color: #ffdddd;
    text-align:center;
}

    /*------------------------------
    Two-pane, "explorer style" view
    */

table.twopane
{
    border-collapse: collapse;
}

table.twopane td
{
    margin: 0;
    vertical-align: top;
}

td.leftpane
{
    padding-right: 0;
    white-space: nowrap;
}

td.leftpane p
{
    padding-right: 10px;
}

ul.panenav
{
    margin: 10px 0 30px 0;
    padding: 0;
}

ul.panenav a {
    display: block;
    padding: 5px;
    border: none;
    text-decoration: none;
    color: #667e9f;
    background: #fff;
    margin-top: 2px;
    margin-bottom: 2px;
}

ul.panenav a:hover, ul.panenav a.active {
    color: #fff;
    background: #667e9f;
    border: none;
}

td.rightpane
{
    width: 100%;
    padding: 0;
    border-left: solid 2px #667e9f;
}

div.paneheader
{
    margin: 0;
    padding: 7px;
    font-weight: bold;
    background: #d8e0f3;
}

div.panecontent
{
    padding: 10px;
}

h3.popup {
    font-size: 100%;
    margin-top: 1em;
}

div.popup-actions {
    padding: 5px;
    margin-top: 5px;
    border-top: dotted 1px #bbb;
    text-align: center;
}

/*
 * Plugins section.
 */

table.detail {
    min-height: 100%;
    width: 100%;
}

th.detail {
    background: #f0f3ff;
    text-align: right;
    vertical-align: top;
    padding: 6px;
    border-right: solid 1px #9dc3f3;
}

td.detail
{
    background: #fff;
    padding: 6px;
    vertical-align: top;
}

table.detail td ul, table.detail td li
{
    margin: 0;
    padding: 0;
}

table.detail td li
{
    padding-top: 2px;
    padding-bottom: 2px;    
}

/*
 * For Ext.
 */
.x-layout-panel, .x-layout-nested-layout .x-layout-panel {
    border: 0 none;
}

.x-tree ul {
    margin: 0;
    padding: 0;    
}

.x-tree-node a
{
    border-bottom: none;
    font-weight: normal;
}

.x-form-select, .x-form-select-multiple
{
    border: 1px solid #B5B8C8;
}

.x-form-focus
{
	border: 1px solid #7eadd9;
}


/*
.x-item-disabled
{
    background: none;
    border: none;
}
*/