#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=dashboard.projects")</title>
</head>
<body>

<h1>:: #wwtext("name=dashboard.projects") ::</h1>

#parse("/template/includes/actionerrors.vm")

#wwcform("action=configureDashboardProjects.action" "heading=%{getText('dashboard.projects')}" "width=400px" "id=dashboard.projects" "method=post")
    #wwcheckbox("name=enableSelection" "label=%{getText('dashboard.projects.selection')}" "fieldValue=true" "onclick=setEnableState('dashboard.projects_projects', 'dashboard.projects_enableSelection')" "tabindex=1")
    #wwselect("name=projects" "label=%{getText('dashboard.projects.projects')}" "cssStyle=width: 100%" "labelposition=top" "list=allProjects" "multiple=true" "size=20" "width=200" "tabindex=2")
    #saveCancel(3)
#end

    <script type="text/javascript">
        setEnableState('dashboard.projects_projects', 'dashboard.projects_enableSelection');
    </script>

</body>
</html>
