#helpTag("Dashboard+Home+Tab")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=dashboard.projects")</title>
</head>
<body>

    #dashboardTabs("homepage")

#parse("/template/includes/actionerrors.vm")

#wwcform("action=configureDashboardProjects.action" "heading=%{getText('dashboard.projects')}" "id=dashboard.projects" "method=post")
    #wwtextfield("name=buildCount" "label=%{getText('dashboard.build.count')}" "size=4" "tabindex=1")
    #wwcheckboxlist("name=projects" "label=%{getText('dashboard.projects.projects')}" "labelposition=top" "list=allProjects" "multirow=true" "multiple=true" "tabindex=2")
    #saveCancel(3)
#end

    #tabEnd()
</body>
</html>
