#helpTag("User+Subscriptions")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=subscription.create")</title>
    #subscriptionScript("subscription.create.project")
</head>
<body>
    #dashboardTabs("preferences")

    #parse("/template/includes/actionerrors.vm")

<table class="columns">
    <tr><td class="columns">

    #wwcform("action=subscriptionWizard.action" "id=subscription.create.project" "heading=%{getText('subscription.create.project')}" "method=post")
        #wwhidden("name=state")
        #wwhidden("name=submit")

        #subscriptionCommonFields()
        #previousFinishCancel(8)
    #end

    </td><td class="columns">

    #parse("/user/subscription-help.vm")

    </td></tr>
</table>

    #tabEnd()

    <script type="text/javascript">
        toggleConditions(getSelectedCondition());
    </script>
</body>
</html>