#helpTag("User+Subscriptions")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=subscription.create")</title>
</head>
<content tag="action">subscription.create</content>
<body>
    #dashboardTabs("preferences")

<table class="columns">
    <tr><td class="columns">

    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=createSubscription.action" "id=subscription.create" "heading=%{getText('subscription.create')}" "method=post")
        #wwhidden("name=userId")

        #wwselect("name=contactPointId" "label=%{getText('subscription.contact')}" "list=contactPoints" "required=true" "tabindex=1")
        #wwselect("name=projects" "label=%{getText('subscription.projects')}" "list=allProjects" "multiple=true" "tabindex=2")
        #inlineHelp("subscription.projects.help")
        #wwcombobox("name=condition" "list=conditions" "listKey=key" "listValue=value" "size=50" "label=%{getText('subscription.condition')}" "tabindex=3")
        #inlineHelp("condition.help")
        #saveCancel(4)
    #end

    </td><td class="columns">

    #parse("/user/subscription-help.vm")

    </td></tr>
</table>

    #tabEnd()
</body>
</html>
