#helpTag("Jabber+Contact+Points")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=jabber.create")</title>
</head>
<body>
    #dashboardTabs("preferences")

    $form

    #tabEnd()
</body>
</html>
