#helpTag("Contact+Points")
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=contact.edit")</title>
</head>
<body>
    #dashboardTabs("preferences")

        #form("object=state")


</body>
</html>