#helpTag("User+Settings")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=user.settings.edit")</title>
</head>
<body>
    #dashboardTabs("preferences")

    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=editUserSettings.action" "id=user.settings.edit" "heading=%{getText('user.settings.edit')}" "method=post")
        #wwhidden("name=userId")
        #wwselect("name=defaultAction" "list=defaultActions" "label=%{getText('user.default.page')}" "tabindex=1")
        #wwcheckbox("name=refreshEnabled" "label=%{getText('user.refresh.enabled')}" "fieldValue=true" "onclick=setEnableState('user.settings.edit_refreshInterval', 'user.settings.edit_refreshEnabled')" "tabindex=2")
        #wwtextfield("name=refreshInterval" "label=%{getText('user.refresh.interval')}" "after= $action.getText('seconds')" "size=6" "required=true" "tabindex=3")
        #inlineHelp("user.refresh.interval.help")
        #saveCancel(4)
    #end

    <script type="text/javascript">
        setEnableState('user.settings.edit_refreshInterval', 'user.settings.edit_refreshEnabled');
    </script>

    #tabEnd()
</body>
</html>
