#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=user.edit")</title>
</head>
<content tag="action">user.edit</content>
<body>
<h1>:: #wwtext("name=user.edit") ::</h1>

    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=editUser.action" "id=user.edit" "heading=%{getText('user.edit')}" "method=post")
        #wwhidden("name=userId")
        #wwtextfield("name=user.name" "label=%{getText('user.name')}" "required=true" "tabindex=1")
        #saveCancel(2)
    #end

</body>
</html>