#helpTag("User+Subscriptions")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=subscription.edit")</title>
    #subscriptionScript("subscription.edit.project")
</head>
<body>
    #dashboardTabs("preferences")

<table class="columns">
    <tr><td class="columns">

    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=editProjectBuildSubscription.action" "id=subscription.edit.project" "heading=%{getText('subscription.edit')}" "method=post")
        #wwhidden("name=id")

        <tr><th class="form" colspan="2">#wwtext("name=subscription.contact")</th></tr>
        #wwselect("name=contactPointId" "label=%{getText('subscription.contact')}" "list=contactPoints" "required=true" "tabindex=1")
        #subscriptionCommonFields()
        #saveCancel(8)
    #end

    </td><td class="columns">

    #parse("/user/subscription-help.vm")

    </td></tr>
</table>

    #tabEnd()

    <script type="text/javascript">
        toggleConditions(getSelectedCondition());
    </script>
</body>
</html>
