#helpTag("User+Subscriptions")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=subscription.edit")</title>
    <script type="text/javascript">
        <!--
        function setEnableStates()
        {
            setEnableState('subscription.edit_projects', 'personalfalse');
            setEnableState('subscription.edit_condition', 'personalfalse');
            setEnableState('subscription.edit_condition_select', 'personalfalse');
        }
        -->
    </script>
</head>
<body>
    #dashboardTabs("preferences")

<table class="columns">
    <tr><td class="columns">

    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=editSubscription.action" "id=subscription.edit" "heading=%{getText('subscription.edit')}" "method=post")
        #wwhidden("name=id")

        #wwselect("name=contactPointId" "label=%{getText('subscription.contact')}" "list=contactPoints" "required=true" "tabindex=1")
        #wwradio("name=personal" "label=%{getText('subscription.type')}" "list=personals" "tabindex=2" "onclick=setEnableStates()")
        #wwselect("name=projects" "label=%{getText('subscription.projects')}" "list=allProjects" "multiple=true" "tabindex=3")
        #inlineHelp("subscription.projects.help")
        #wwcombobox("name=condition" "list=conditions" "listKey=key" "listValue=value" "size=50" "label=%{getText('subscription.condition')}" "tabindex=4")
        #inlineHelp("condition.help")
        #saveCancel(5)
    #end

    </td><td class="columns">

    #parse("/user/subscription-help.vm")

    </td></tr>
</table>

    <script type="text/javascript">
        <!--
        setEnableStates();
        -->
    </script>

    #tabEnd()
</body>
</html>
