#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=subscription.edit")</title>
</head>
<content tag="action">subscription.edit</content>
<body>

<h1>:: #wwtext("name=subscription.edit") ::</h1>

#parse("/template/includes/actionerrors.vm")

#wwcform("action=editSubscription.action" "heading=%{getText('subscription.edit')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=login")

    #wwtextfield("name=project" "label=%{getText('subscription.project')}" "disabled=true" "tabindex=1")
    #wwtextfield("name=contactPoint" "label=%{getText('subscription.contact')}" "disabled=true" "tabindex=2")
    #wwselect("name=condition" "label=%{getText('subscription.condition')}" "list=conditions" "required=true" "tabindex=3")
    #saveCancel(4)
#end

</body>
</html>
