#helpTag("User+Subscriptions")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=subscription.edit")</title>
</head>
<body>
    #dashboardTabs("preferences")

<table class="columns">
    <tr><td class="columns">

    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=editSubscription.action" "id=subscription.edit" "heading=%{getText('subscription.edit')}" "method=post")
        #wwhidden("name=id")

        #wwselect("name=projectId" "label=%{getText('subscription.project')}" "list=projects" "listKey=id" "listValue=name" "required=true" "tabindex=1")
        #wwselect("name=contactPointId" "label=%{getText('subscription.contact')}" "list=contactPoints" "required=true" "tabindex=2")
        #wwcombobox("name=condition" "list=conditions" "listKey=key" "listValue=value" "size=50" "label=%{getText('subscription.condition')}" "tabindex=3")
        #inlineHelp("condition.help")
        #saveCancel(4)
    #end

    </td><td class="columns">

    #parse("/user/subscription-help.vm")

    </td></tr>
</table>

    #tabEnd()
</body>
</html>
