#helpTag("Jabber+Contact+Points")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=jabber.contact.edit")</title>
</head>
<body>
    #dashboardTabs("preferences")

    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=editJabberContactPoint.action" "heading=%{getText('jabber.contact.edit')}" "id=jabber.edit" "method=post")
        #wwhidden("name=id")
        #wwhidden("name=userId")
        #wwtextfield("name=contact.name" "label=%{getText('contact.name')}" "required=true" "tabindex=1")
        #wwtextfield("name=contact.username" "label=%{getText('contact.jabber.username')}" "required=true" "tabindex=2")
        #saveCancel(3)
    #end

    #tabEnd()
</body>
</html>
