#helpTag("User+Subscriptions")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=subscription.edit")</title>
</head>
<body>
    #dashboardTabs("preferences")

    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=editPersonalBuildSubscription.action" "id=subscription.edit.personal" "heading=%{getText('subscription.edit')}" "method=post")
        #wwhidden("name=id")

        #wwselect("name=contactPointId" "label=%{getText('subscription.contact')}" "list=contactPoints" "tabindex=1")
        #wwselect("name=template" "label=%{getText('subscription.template')}" "list=availableTemplates" "tabindex=2")
        #saveCancel(3)
    #end


</body>
</html>
