#macro(condition name)
    <tr>
        <th class="content-row">$name</th>
        #staticWrapCell("condition.help.$name")
    </tr>
#end
<table class="fill-content">
    #headingRow("conditions.expressions" 2)
    <tr>
        #contentRowHeading("conditions.complex")
        #staticWrapCell("conditions.help.complex")
    </tr>
    <tr>
        #contentRowHeading("conditions.boolean")
        #staticWrapCell("conditions.help.boolean")
    </tr>
    <tr>
        #contentRowHeading("conditions.comparison")
        #staticWrapCell("conditions.help.comparison")
    </tr>
</table>
<table class="fill-content">
    #headingRow("conditions.boolean.values" 2)
    #condition("true")
    #condition("false")
    #condition("success")
    #condition("failure")
    #condition("error")
    #condition("changed")
    #condition("changed.by.me")
    #condition("state.change")
    <tr>
        #contentRowHeading("conditions.previous")
        #staticWrapCell("conditions.help.previous")
    </tr>
</table>
<table class="fill-content">
    #headingRow("conditions.boolean.operators" 2)
    #condition("or")
    #condition("and")
    #condition("not")
    <tr>
        #contentRowHeading("conditions.grouping")
        #staticWrapCell("condition.help.grouping")
    </tr>
</table>
<table class="fill-content">
    #headingRow("conditions.integer.values" 2)
    <tr>
        #contentRowHeading("[0-9]+")
        #staticWrapCell("conditions.integer.literals")
    </tr>
    #condition("unsuccessful.count.builds")
    #condition("unsuccessful.count.days")
    <tr>
        #contentRowHeading("conditions.previous")
        #staticWrapCell("conditions.help.previous")
    </tr>
</table>
<table class="fill-content">
    #headingRow("conditions.integer.operators" 6)
    <tr>
        <td class="content-centre">&lt;</td>
        <td class="content-centre">&lt;=</td>
        <td class="content-centre">!=</td>
        <td class="content-centre">==</td>
        <td class="content-centre">&gt;=</td>
        <td class="content-centre">&gt;</td>
    </tr>
</table>
