#helpTag("User+Aliases")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=alias.create")</title>
</head>
<body>

    #dashboardTabs("preferences")

    #parse("/template/includes/actionerrors.vm")

    #wwcform("action=addAlias.action" "heading=%{getText('alias.create')}" "method=post" "id=alias.create")
        #wwhidden("name=userId")

        #wwtextfield("name=alias" "label=%{getText('alias')}" "required=true" "tabindex=1")
        #saveCancel(2)
    #end

    #tabEnd()
</body>
</html>
