<html>
<head>
    <title>create-user</title>
</head>
<content tag="selectedTab">create-user</content>
<body>

    #parse("/template/includes/actionerrors.vm")
    
#bodytag (Form "action='createUser.action'" "method='post'")  
    
    <fieldset>
        #tag (TextField "template='text'" "theme='css'" "name='user.login'")
        #tag (TextField "template='text'" "theme='css'" "name='user.name'")        
    </fieldset>
        
    <fieldset class="submit">
        <input class="submit" type="submit" value="Start download"/>
    </fieldset>

 #end 

</body>
</html>
