<html>
<head>
    <title>create schedule</title>
</head>
<content tag="action">schedule.create</content>
<body>

    #parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='createSchedule.action'" "method='post'")

    #tag (Hidden "name='project'")
    <h3>Create schedule</h3>

    <fieldset>
        #tag (TextField "required='true'" "name='name'" "tabindex='1'")
        #tag (TextField "name='recipe'" "tabindex='2'")
        #tag (TextField "name='cron'" "tabindex='3'")
    </fieldset>

    <fieldset class="submit">
        #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='4'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='5'")
    </fieldset>

 #end

<p>
 A "Cron-Expression" is a string comprised of 6 or 7 fields separated by white space. The 6 mandatory and 1 optional fields are as follows:
<table>
<tr><td>Field Name</td><td>Allowed Values</td><td>Allowed Special Characters</td></tr>
<tr><td>Seconds</td><td>0-59</td><td>, - * /</td></tr>
<tr><td>Minutes</td><td>0-59</td><td>, - * /</td></tr>
<tr><td>Hours</td><td>0-23</td><td>, - * /</td></tr>
<tr><td>Day-of-month</td><td>1-31</td><td>, - * ? / L W C</td></tr>
<tr><td>Month</td><td>1-12 or JAN-DEC</td><td>, - * /</td></tr>
<tr><td>Day-of-Week</td><td>1-7 or SUN-SAT</td><td>, - * ? / L C #</td></tr>
<tr><td>Year (Optional)</td><td>empty, 1970-2099</td><td>, - * /</td></tr>
</table>
The '*' character is used to specify all values. For example, "*" in the minute field means "every minute".

The '?' character is allowed for the day-of-month and day-of-week fields. It is used to specify 'no specific value'. This is useful when you need to specify something in one of the two fileds, but not the other. See the examples below for clarification.

The '-' character is used to specify ranges For example "10-12" in the hour field means "the hours 10, 11 and 12".

The ',' character is used to specify additional values. For example "MON,WED,FRI" in the day-of-week field means "the days Monday, Wednesday, and Friday".

The '/' character is used to specify increments. For example "0/15" in the seconds field means "the seconds 0, 15, 30, and 45". And "5/15" in the seconds field means "the seconds 5, 20, 35, and 50". You can also specify '/' after the '*' character - in this case '*' is equivalent to having '0' before the '/'.

The 'L' character is allowed for the day-of-month and day-of-week fields. This character is short-hand for "last", but it has different meaning in each of the two fields. For example, the value "L" in the day-of-month field means "the last day of the month" - day 31 for January, day 28 for February on non-leap years. If used in the day-of-week field by itself, it simply means "7" or "SAT". But if used in the day-of-week field after another value, it means "the last xxx day of the month" - for example "6L" means "the last friday of the month". When using the 'L' option, it is important not to specify lists, or ranges of values, as you'll get confusing results.

The 'W' character is allowed for the day-of-month field. This character is used to specify the weekday (Monday-Friday) nearest the given day. As an example, if you were to specify "15W" as the value for the day-of-month field, the meaning is: "the nearest weekday to the 15th of the month". So if the 15th is a Saturday, the trigger will fire on Friday the 14th. If the 15th is a Sunday, the trigger will fire on Monday the 16th. If the 15th is a Tuesday, then it will fire on Tuesday the 15th. However if you specify "1W" as the value for day-of-month, and the 1st is a Saturday, the trigger will fire on Monday the 3rd, as it will not 'jump' over the boundary of a month's days. The 'W' character can only be specified when the day-of-month is a single day, not a range or list of days.

The 'L' and 'W' characters can also be combined for the day-of-month expression to yield 'LW', which translates to "last weekday of the month".

The '#' character is allowed for the day-of-week field. This character is used to specify "the nth" XXX day of the month. For example, the value of "6#3" in the day-of-week field means the third Friday of the month (day 6 = Friday and "#3" = the 3rd one in the month). Other examples: "2#1" = the first Monday of the month and "4#5" = the fifth Wednesday of the month. Note that if you specify "#5" and there is not 5 of the given day-of-week in the month, then no firing will occur that month.

The 'C' character is allowed for the day-of-month and day-of-week fields. This character is short-hand for "calendar". This means values are calculated against the associated calendar, if any. If no calendar is associated, then it is equivalent to having an all-inclusive calendar. A value of "5C" in the day-of-month field means "the first day included by the calendar on or after the 5th". A value of "1C" in the day-of-week field means "the first day included by the calendar on or after sunday".

The legal characters and the names of months and days of the week are not case sensitive.

Here are some full examples:
<table>
<tr>
<td>Expression</td><td>Meaning</td>
</tr>
<tr><td>"0 0 12 * * ?"</td><td>Fire at 12pm (noon) every day</td></tr>
<tr><td>"0 15 10 ? * *"</td><td>Fire at 10:15am every day</td></tr>
<tr><td>"0 15 10 * * ?"</td><td>Fire at 10:15am every day</td></tr>
<tr><td>"0 15 10 * * ? *"</td><td>Fire at 10:15am every day</td></tr>
<tr><td>"0 15 10 * * ? 2005"</td><td>Fire at 10:15am every day during the year 2005</td></tr>
<tr><td>"0 * 14 * * ?"</td><td>Fire every minute starting at 2pm and ending at 2:59pm, every day</td></tr>
<tr><td>"0 0/5 14 * * ?"</td><td>Fire every 5 minutes starting at 2pm and ending at 2:55pm, every day</td></tr>
<tr><td>"0 0/5 14,18 * * ?"</td><td>Fire every 5 minutes starting at 2pm and ending at 2:55pm, AND fire every 5 minutes starting at 6pm and ending at 6:55pm, every day</td></tr>
<tr><td>"0 0-5 14 * * ?"</td><td>Fire every minute starting at 2pm and ending at 2:05pm, every day</td></tr>
<tr><td>"0 10,44 14 ? 3 WED"</td><td>Fire at 2:10pm and at 2:44pm every Wednesday in the month of March.</td></tr>
<tr><td>"0 15 10 ? * MON-FRI"</td><td>Fire at 10:15am every Monday, Tuesday, Wednesday, Thursday and Friday</td></tr>
<tr><td>"0 15 10 15 * ?"</td><td>Fire at 10:15am on the 15th day of every month</td></tr>
<tr><td>"0 15 10 L * ?"</td><td>Fire at 10:15am on the last day of every month</td></tr>
<tr><td>"0 15 10 ? * 6L"</td><td>Fire at 10:15am on the last Friday of every month</td></tr>
<tr><td>"0 15 10 ? * 6L"</td><td>Fire at 10:15am on the last Friday of every month</td></tr>
<tr><td>"0 15 10 ? * 6L 2002-2005"</td><td>Fire at 10:15am on every last friday of every month during the years 2002, 2003, 2004 and 2005</td></tr>
<tr><td>"0 15 10 ? * 6#3"</td><td>Fire at 10:15am on the third Friday of every month</td></tr>
</table>
</p>

</body>
</html>
