<html>
<head>
    <title>create-user</title>
</head>
<content tag="selectedTab">create-user</content>
<body>

    #parse("/template/includes/actionerrors.vm")
    
#bodytag (Form "action='createUser.action'" "method='post'")  
    
    <fieldset>
        #tag (TextField "name='user.login'")
        #tag (TextField "name='user.name'")        
    </fieldset>
        
    <fieldset class="submit">
        #tag (Submit "value=getText('cancel.name')" "name='cancel'")
        #tag (Submit "value=getText('save.name')" "name='save'")
    </fieldset>
#end 

</body>
</html>
