<html>
<head>
    <title>create-project</title>
</head>
<content tag="selectedTab">create-project</content>
<body>

    #parse("/template/includes/actionerrors.vm")
    
#bodytag (Form "action='createProject.action'" "method='post'")  
    
    <fieldset>
        #tag (TextField "name='project.name'")
        #tag (TextField "name='project.description'")
    </fieldset>
        
    <fieldset class="submit">
        #tag (Submit "value=getText('cancel.name')" "name='cancel'")
        #tag (Submit "value=getText('save.name')" "name='save'")
    </fieldset>

#end 

</body>
</html>
