<html>
<head>
    <title>create-scm</title>
</head>
<content tag="action">scm.svn.create</content>
<body>

    #parse("/template/includes/actionerrors.vm")

#bodytag (Form "action='createSvn.action'" "method='post'")

    #tag (Hidden "name='id'")
    #tag (Hidden "name='name'")
    #tag (Hidden "name='path'")

    <fieldset>
        #tag (TextField "required='true'" "name='svn.username'" "tabindex='1'")
        #tag (Password "name='svn.password'" "tabindex='2'")
        #tag (TextField "required='true'" "name='svn.url'" "tabindex='3'")
        #tag (TextField "name='svn.keyfile'" "tabindex='4'")
        #tag (Password "name='svn.passphrase'" "tabindex='5'")
    </fieldset>

    <fieldset class="submit">
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='7'")
        #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='6'")
    </fieldset>

 #end

</body>
</html>
