<html>
<head>
    <title></title>
</head>
<content tag="action">user.edit</content>
<body>

    #parse("/template/includes/actionerrors.vm")

    #bodytag (Form "action='editUser.action'" "method='post'")
        <h3>Edit user: $user.login</h3>
        #tag (Hidden "name='id'")
        #tag (Hidden "name='user.login'")
        <fieldset>
            #tag (TextField "name='user.name'" "tabindex='1'")
        </fieldset>

        <fieldset class="submit">
            #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='2'")
            #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='3'")
        </fieldset>
    #end

</body>
</html>