<html>
<head>
    <title>create-contact</title>
</head>
<body>

    #parse("/template/includes/actionerrors.vm")

    #bodytag (Form "action='editYahooContactPoint.action'" "method='post'")
        #tag (Hidden "name='id'")
        #tag (Hidden "name='user'")
        <h3>Create yahoo contact</h3>
        <fieldset>
            #tag (TextField "name='contact.name'" "tabindex='1'")
            #tag (TextField "label='contact.yahooId'" "name='contact.yahooId'" "tabindex='2'")
        </fieldset>

        <fieldset class="submit">
            #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='3'")
            #tag (Submit "value=getText('previous.name')" "name='previous'" "tabindex='4'" "onclick='history.back();return false;'")
            #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='5'")
        </fieldset>
    #end

</body>
</html>
