form {
    margin-top: 1.5em;
}

fieldset {
    border: 0 none transparent;
    border: 1px solid #CCCCCC;
    background-color: #f4f4f4;
    margin-top: 3px;
}

fieldset.alt {
    background-color: transparent;
}

fieldset.submit {
    border-top-color: #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    text-align: center;
}

label {
    clear: both;
    float: left;
    width: auto;
    display: block;
    text-align: left;
    margin: 3px 3px 3px 3px;
}

label.error {
    background-color: #FFCCCC;
    padding-bottom: 1.5em;
    border: 1px solid #CC0000;
    width: 97%;
}

label span {
    float: left;
    margin-left: 0.5em;
    width: 10em;
    font-weight: bold;
}

label span.error {
    float: none;
    display: block;
    width: auto;
    margin-bottom: 0.5em;
    color: #CC0000;
}

label.checkbox span {
    float: none;
    width: auto;
    margin-left: 2.5em;
    font-weight: normal;
}

label span strong {
    display: block;
    font-size: 85%;
    font-weight: normal;
}

input.checkbox {
    float: left;
    margin-left: 0.5em;
}

input.radio {
    float: left;
    margin-left: 0.5em;
}

input.submit {
    width: 10em;
    padding: 0.25em;
    font-size: 90%;
    font-weight: bold;
    outline: none;
    border:solid 0 #fff
}

input.text, input.password {
    width: 18em;
    display: block;
    margin-left: 11em;
    background-color: #ffffff;
    color: #102132;
    border: 1px solid #b0b0f0;
}

/*input.text:hover, input.text:focus  {*/
    /*border: 1px solid #b0b0f0;  /* #eeeeff; #b0b0f0;*/
/*}*/

select {
    display: block;
    margin-left: 11em;
    width: 10em;
}

textarea {
    width: 18em;
    height: 8em;
    display: block;
    margin-left: 11em;
    font-size: 110%;
}

.required {
    color: #CC0000;
}

form h3
{
    font-size: large;
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    padding: 0.2em;
    border-color: #b0b0f0;
    background-color: #eeeeff;
}
