/* initialise the body with defaults to override different defaults used by different browsers. */
body {
    margin:9px 9px 0 9px;
    padding:0;
    background:#FFF;
}

#container {
    width:100%;
    margin: 0em auto;
    min-width:600px;
    height:100%;
    position:relative;
}

#header {
    /*height:4em;*/
    font-size: small;
    font-weight: bold;
    color:#c0c0c0;
    font-size: small;
    padding: 1;
    text-align: center;
}

#navbar {
    color: #909090;
    border: 1px solid #c0c0c0;
}

#navbar ul {
    margin: 0px;
    padding: 0px;
    list-style-type:none;
}

#navbar li {
    display: inline;
    font-weight: bold;
    padding: 0px;
    margin: 0.2em 0.5em 0.2em 0.5em;
}

#navbar a {
    color: #909090;
    text-decoration: none;
}

#navbar a:visited {
    color: #909090;
    text-decoration: none;
}

#navbar a:link {
}

#navbar a:hover {
    color: #ffffff;
    background-color: #c0c0c0;
    border-bottom: 1px solid #c0c0c0; /* hack */
    text-decoration: none;
}

#left {
    float: left;
    width:10em;
    margin-top:1em;
    color:rgb(200, 200, 200);
}

#left a {
    color:rgb(200, 200, 200);
}

#left .menu {
    border-bottom: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    margin-bottom: 1em;
}

#left .menu h3 {
    margin: 0px auto;
    text-align: center;
    background-color:rgb(240, 240, 240);
    border-bottom: 1px solid rgb(200, 200, 200);
    border-top: 1px solid rgb(200, 200, 200);
}

#left .menu ul {
    margin: 0px auto;
    /*background-color:rgb(240, 240, 240);*/
    list-style:none;
}

#left .menu p {
    margin: 0px auto;
}

#right {
    float: right;
    width:10em;
    margin-top:1em;
    color:rgb(200, 200, 200);
}

#right a {
    color:rgb(200, 200, 200);
}

#right .menu {
    border: 1px solid rgb(200, 200, 200);
    margin-bottom: 1em;
}

#right .menu h3 {
    margin: 0px auto;
    text-align: center;
    background-color:rgb(240, 240, 240);
    border-bottom:1px solid rgb(200, 200, 200);
}

#right .menu ul {
    list-style:none;
    background-color:rgb(240, 240, 240);
    margin: 0px auto;
}

#right .menu p {
    background-color:rgb(240, 240, 240);
    margin: 0px auto;
}

/*#content {
    margin-left:11em;
    margin-right:11em;
    padding-left:1em;
    padding-right:1em;
    padding-bottom: 1em;
    margin-top:1em;
    margin-bottom:1em;
}*/

#footer {
    clear: both;
    border-color: #c0c0c0;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    color:#c0c0c0;
    font-size: small;
    padding: 1;
    text-align: center;

    bottom: 0;
    width: 100%;
}


#content .form{ /* Note: this is the form div in the content body, not the form tag... */
    width:70%;
    margin:0em auto;
    border: 1px solid #999;
    background-color: #eee;
}

form {
    padding:1em;
}

fieldset {
    border:none;
    margin:0px auto;
    padding:0px; /*border: 1px solid rgb(99, 7, 239); /* debugging... */
}

label {
    width:50%;
    text-align:right;
    float:left;
}

input {
    width:40%; /*border: 1px solid rgb(99, 7, 239); /* debugging... */
}

input.text {
    float:left;
    text-align:left;
}

input.submit {
    float:right;
    width:20%;
    background-color: transparent;
    text-align: center;
}

div.spacer {
    height: 1em;
}

/* WebWork Styles */
.label {
}

.errLabel {
    color: red;
}

.errMsg {
    color: #cc0000;
    font-weight: bold;
    text-align: center
}

.errorBox {
    border: 1px solid #c00;
    padding: 4px;
    width: 90%;
    background: #fcc;
}

.checkboxLabel {
}

.checkboxErrLabel {
    color: red
}
/* search results styles using displaytag classes */
/* - the 'theme' for this UI is called 'simple'. we can experiment with alternate
     themes by varying the 'theme' class used here. 
*/
.results {
    width:70%;
    margin:auto;
}

table.simple thead tr {
    background-color: #eee;
}

table.simple tr.even {
    background-color: #fff;
}

table.simple {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width:100%;
}

table.simple td, table.simple th {
    border: 1px solid #ccc;
}

table.nocol tbody td, table.nocol tbody th {
    border-left: none;
    border-right: none;
}

/* the pagebanner and pagelinks are also used as default by the displaytag classes. */
span.pagebanner {

    background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin-top: 10px;
    display:block;
	border-bottom: none;
}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	display:block;
	border-top: none;
    margin-bottom:10px;
}
/* */

/* previous styles... */
/*
td.navbar-border {
    border-color: #c0c0c0;
    border-width: 1px 0 1px 0;
    border-style: solid;
}

td.navbar, td.navbar-active {
    margin: 0 0 0 0;
    font-size: small;
    font-weight: bold;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

td.navbar {
    color: #909090;
}

td.navbar-active {
    color: #ffffff;
    background-color: #c0c0c0;
}

.navbar a {
    color: #909090;
    text-decoration: none;
}

.navbar-active a {
    color: #ffffff;
    text-decoration: none;
}

#pageTitle, #footer {
    color:#c0c0c0;
    font-size: small;
    padding: 1;
    text-align: center;
}

#footer {
    border-color: #c0c0c0;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
}
*/
