body, td, p {
	font: normal x-small verdana, arial, helvetica, sans-serif;
}

.panelTitle {
	background-color: #003399;
	color:#eeeeee;
	font-weight: bold;
	border-color: #3366ff #000033 #000033 #3366ff;
	border-width: 1;
	border-style: solid;
	padding: 1;
}

.panelBody {
	background-color: #eeeeee;
	border-color: black;
	border-width: 0 1 1 1;
	border-style: solid;
	padding: 2;
}

#pageTitle {
	color:#c0c0c0;
	font-size: xx-small;
	border-color: #c0c0c0;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	padding: 1;
	text-align: center;
}

#footer {
	color:#c0c0c0;
	font-size: xx-small;	
	text-align: center;
	border-color: #c0c0c0;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	padding: 1;
}

