<html>
    <head>
        <link href="build.css" rel="stylesheet" type="text/css">
        <title>[CiB] $project.name</title>
        <content tag="action">project.view</content>
    </head>
    <body>
        <h1 class="build-log">:: $project.name ::</h1>
        
        <h2 class="command-info">description (<a href="editProject!default.action?id=$project.id">edit</a>)</h2>
        <div class="command-content">
            $project.description
        </div>
        
        <h2 class="command-info">scm details (<a href="createScm!default.action?id=$project.id">add</a>)</h2>
        <div class="command-content">
            #set($scms = $project.scms)
            #if ($scms.size() == 0)
                No SCMs configured
            #else
                <ul>
                #foreach ($scm in $scms)
                    <li>#scmIcon($scm) $scm.name (<a href="editScm!default.action?id=$scm.id&project=$project.id">edit</a>|<a href="deleteScm.action?id=$project.id&name=$scm.name">delete</a>)</li>
                #end
                </ul>
            #end
        </div>
<!--
        <div>
            <p>Schedule...</p>
        </div>

        <div>
            <p>Subscription: <a href="createSubscription!default.action?project=$project.name">create</a></p>
        </div>
-->
        <h2 class="command-info">history (<a href="scheduleBuild.action?id=$id">build</a>)</h2>
        <div class="command-content">
        <table>
            <tr>
                <th class="command-detail">build id</th>
                <th class="command-detail">when</th>
                <th class="command-detail">elapsed</th>
                <th class="command-detail">result</th>
            </tr>
            #foreach($result in $history)
                #set($id = $result.id)
                #set($built = $result.stamps.prettyStartTime) 
                #set($elapsed = $result.stamps.prettyElapsed)
                #if($result.state.toString() == "SUCCESS")
                    #set($success = "success")
                #else
                    #set($success = "failure")
                #end
            <tr>
                <td class="build-$success"><a href="viewBuild.action?id=$project.id&buildId=$id">build $result.number</a></td>
                <td class="build-$success">$built</td>
                <td class="build-$success">$elapsed</td>
                <td class="build-$success">$result.state.toString().toLowerCase()</td>
            </tr>
            #end
        </table>
        </div>
    </body>
</html>