<html>
<head>
    <title>[CiB] manage users</title>
    <link href="build.css" rel="stylesheet" type="text/css">
</head>
    <body>

        #bodytag (Form "action='findUsers.action'" "method='post'")
            <fieldset>
                #tag (TextField "name='login'")
            </fieldset>
            <fieldset class="submit">
                #tag (Submit "value=getText('search.name')" "name='search'")
            </fieldset>
        #end

        #if ($results.size() > 0)
            $req.setAttribute('results', $results)        
        #end
        
        <br></br>

        <div class="results">
            #bodytag( Table "class=simple" "name=results" "pagesize=5" "sort=list")
                #tag( Column "property=login" "title=Login" "href=viewUser.action" "paramId=id" "paramProperty=id")
                #tag( Column "property=name" "title=Name" "sortable=true")
            #end
        </div>
            
    </body>
</html>