<html>
  <head>
    <title>[CiB] $name</title>
    <link href="build.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1 class="build-log">:: $name ::</h1>
    <table height="100%" width="100%" cellspacing="6px">
      <tr>
        <td height="100%" valign="top">
          <h3 class="side-title">project&nbsp;actions</h2>
	      <div class="side-content">
	        <table>
              <tr>
	            <td class="action">pause&nbsp;project</td>
              </tr>
              <tr>
	            <td class="action"><a href="scheduleBuild.action?project=$project.Name">schedule&nbsp;build</a></td>
              </tr>
	        </table>
	      </div>
        </td>
        <td width="100%" height="100%" valign="top">
          <h2 class="command-info">description</h2>
          <div class="command-content">
              $project.Description
          </div>
          <h2 class="command-info">history</h2>
          <div class="command-content">
          <table>
            <tr>
              <th class="command-detail">build id</th>
              <th class="command-detail">when</th>
              <th class="command-detail">elapsed</th>
              <th class="command-detail">result</th>
            </tr>
      #set($history = $project.getHistory(10))
      #foreach($result in $history)
        #set($id = $result.Id)
        #set($built = $result.Stamps.PrettyStartTime) 
        #set($elapsed = $result.Stamps.PrettyElapsed)
        #if($result.succeeded())
          #set($success = "success")
        #else
          #set($success = "failure")
        #end
            <tr>
              <td class="build-$success"><a href="viewBuild.action?project=$project.Name&id=$id">Build $id</a></td>
              <td class="build-$success">$built</td>
              <td class="build-$success">$elapsed</td>
              <td class="build-$success">$success</td>
            </tr>
      #end
          </table>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
