<html>
    <head>
        <title>view user</title>    
        <content tag="action">user.view</content>
    </head>
    <body>
    
        <p>User profile:</p>
        <div>
            <div>Login: $user.login</div>
            <div>Name: $user.name</div>
        </div>
        <p>Subscriptions:</p>
        <p><a href="createSubscription!default.action?user=$user.login">create</a></p>
        <p>No subscriptions registered..</p>

        <p>Contact points:</p>
        <p>#if ($user.contactPoints.size() == 0)
            No contact points configured
        #else
            <ul>
            #foreach ($contact in $user.contactPoints)
                <li>#contactPointIcon($contact) $contact.name: $contact.uid (<a href="deleteContactPoint.action?id=$user.id&name=$contact.name">delete</a>)</li>
            #end
            </ul>
        #end</p>

        <p>Add new email contact point</p>
        #bodytag (Form "action='createContactPoint.action'" "method='post'")
            #tag (Hidden "name='id'" "value=user.id")
            <fieldset>
                #tag (TextField "name='contact.name'")
                #tag (TextField "label='contact.email'" "name='contact.email'")
            </fieldset>

            <fieldset class="submit">
                #tag (Submit "value=getText('cancel.name')" "name='cancel'")
                #tag (Submit "value=getText('save.name')" "name='save'")
            </fieldset>
        #end

    </body>
</html>