<html>
  <head>
    <title>[CiB] all projects</title>
    <link href="build.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1 class="build-log">:: all projects ::</h1>
    <h2 class="command-info">builds</h2>
    <div class="command-content">
    <table>
      <tr>
        <th class="command-detail">project</th>
        <!--<th class="command-detail">state</th>-->
        <th class="command-detail">last built</th>
        <th class="command-detail">build id</th>
        <th class="command-detail">elapsed</th>
        <th class="command-detail">result</th>
      </tr>
#foreach($project in $projects)
  #set($index = $velocityCount - 1)
  #set($lastResult = $latestBuilds.get($index))
#if($latestBuilds.get($index))
  #set($built = $lastResult.stamps.prettyStartTime) 
  #set($id = $lastResult.number)
  #set($elapsed = $lastResult.stamps.prettyElapsed)
  #if($result.succeeded())
    #set($success = "success")
  #else
    #set($success = "failure")
  #end
#else
  #set($built = "Never")
  #set($id = "n/a")
  #set($elapsed = "n/a")
  #set($success = "n/a")
#end
      <tr>
        <td class="build-$success"><a href="manageProject.action?id=$project.id">$project.name</a></td>
        <!--<td class="build-$success">$project.State.toString().toLowerCase()</td>-->
        <td class="build-$success">$built</td>
        <td class="build-$success">$id</td>
        <td class="build-$success">$elapsed</td>
        <td class="build-$success">$result.state.toString().toLowerCase()</td>
      </tr>
#end
      <tr>
        <td class="command-detail" colspan="5"><b>+</b> <a href="createProject!default.action">add new project</a></td>
      </tr>
    </table>
    </div>
  </body>
</html>
