#macro(detailrow $header $content)
  <tr><th class="command-detail">$header</th><td class="command-detail">$content</td></tr>
#end
<html>
    <head>
        <title>[CiB] $user.name</title>
        <link href="build.css" rel="stylesheet" type="text/css">
        <content tag="action">user.view</content>
    </head>
    <body>    
        <h1 class="build-log">:: $user.name ::</h1>
        
        <h2 class="command-info">basics</h2>
        <div class="command-content">
            <table>
                #detailrow("login" $user.login)
                #detailrow("full name" $user.name)
            </table>
        </div>
        
        <h2 class="command-info">contact points</h2>
        <div class="command-content">
            <table>
                <tr>
                    <th class="command-detail">name</th>
                    <th class="command-detail">email address</th>
                    <th class="command-detail">actions</th>
                </tr>
            #foreach ($contact in $user.contactPoints)
                <tr>
                    <td class="command-detail">$contact.name</td>
                    <td class="command-detail">#contactPointIcon($contact) $contact.uid</td>
                    <td class="command-detail"><a href="deleteContactPoint.action?id=$user.id&name=$contact.name">delete</a></td>
                </tr>
            #end
                <tr>
                    <td class="command-detail" colspan="3"><b>+</b> <a href="createContactPoint!default.action?id=$user.id">add new contact point</a></td>
                </tr>
            </table>
        </div>
    </body>
</html>