<html>
<head></head>
<body>

    #set ($propertiesMap = $action.getProperties())
    #set ($properties = ["system.date", "system.time", "system.uptime", "java.version", "java.vendor", "java.vm.name", "java.runtime.name", "user.name", "user.timezone", "os.name"])

    <table width="90%" cellspacing="0" class="grid">
        <tr>
            <th colspan="2" width="90%">$action.getText("system.info")</th>
        </tr>
        #foreach ($key in $properties)
        <tr #if ($velocityCount%2 == 0) bgcolor="#f9f9f9" #end >
            <td width="35%"><b>$action.getText($key)</b></td><td>$propertiesMap.get($key)</td>
        </tr>
        #end
    </table>

    <p>&nbsp;</p>

    <!--Table for graph-->
    #set ($percentageUsed = $action.getPercentage($action.getUsedMemory(), $action.getTotalMemory()))
    #set ($percentageFree = $action.getPercentage($action.getFreeMemory(), $action.getTotalMemory()))
    <table width="90%">
    <tr>
        <td width="35%"><b>Memory Graph</b></td>
        <td>
            <table align=left border="0" cellpadding="0" cellspacing="0" width="60%">
                <tr>
                    <td valign=top width="50%">
                        <table  border="0" cellpadding="0" cellspacing="0" width="100%">
                            <td bgcolor="#CC3333" width="${percentageUsed}%">
                                <a title="Used Memory" >
                                    <img src="$req.contextPath/images/spacer.gif"
                                         height=15
                                         width="100%"
                                         border=0 title="Used Memory ( ${percentageUsed} %)">
                                </a>
                            </td>

                            <td bgcolor="#00CC00" width="${percentageFree}%">
                                <a title="Free Memory">
                                    <img src="$req.contextPath/images/spacer.gif"
                                         height=15
                                         width="100%"
                                         border=0 title="Free Memory ( ${percentageFree} %)">
                                </a>
                            </td>
                        </table>
                    </td>
                    <td valign=top width="10%" align=left nowrap><b>&nbsp;&nbsp;$percentageFree % Free (<a href="garbageCollect.action">GC</a>)</b></td>
                </tr>
            </table>
        </td>
    </tr>
    </table>

</body>
</html>