#macro(detailrow $header $content)
  <tr><th class="command-detail">$header</th><td class="command-detail">$content</td></tr>
#end

<html>
  <head>
    <title>[CiB] $name</title>
    <link href="build.css" rel="stylesheet" type="text/css">
  </head>

  #set($history = $project.getHistory(10))
  #if($history.size() > 0)
    #set($healthy = $history.get(0).succeeded())
  #else
    #set($healthy = true)
  #end
  
  <body>
    <h1 class="build-log">:: $name ::</h1>
    <table height="100%" width="100%" cellspacing="6px">
      <tr>

<!-- Side bar, with status, actions etc -->

        <td height="100%" valign="top">
          <h3 class="side-title">project status</h3>
	      <div class="side-content">
	        <table>
              <tr>
	            <td class="action">health:</td>
	            #if($healthy)
	              <td class="health-ok">ok</td>
	            #else
	              <td class="health-failed">failed</td>
	            #end
              </tr>
              <tr>
	            <td class="action">state:</td><td>$project.State.toString().toLowerCase()</td>
              </tr>
	        </table>
	      </div>

          <h3 class="side-title">project actions</h3>
	      <div class="side-content">
	        <table>
              <tr>
	            <td class="action">
	            #if($project.running())
	              <a href="updateProject.action?project=$project.Name&action=pause">pause project</a>
	            #else
	              <a href="updateProject.action?project=$project.Name&action=resume">resume project</a>
	            #end
	            </td>
              </tr>
              <tr>
	            <td class="action"><a href="scheduleBuild.action?project=$project.Name">schedule build</a></td>
              </tr>
	        </table>
	      </div>
        </td>
        
<!-- Main body -->

        <td width="100%" height="100%" valign="top">
          <h2 class="command-info">description</h2>
          <div class="command-content">
              $project.Description
          </div>
          
  <!-- Current build -->
          #if($project.CurrentBuild)
            #set($current = $project.CurrentBuild.takeSnapshot())
            #if($current.completed)
              #set($status = "complete")
            #else
              #set($status = "in progress")
            #end
          <h2 class="command-info">current build [$current.Id]</h2>
          <div class="command-content">
          <table>          
            #detailrow("commenced" $current.Stamps.PrettyStartTime)
            #detailrow("elapsed"   $current.Stamps.PrettyElapsed)
            #detailrow("status"    $status)
          </table>
          <h2 class="command-element">command log</h2>
          <table>
            <tr>
              <th class="command-detail">command</th>
              <th class="command-detail">when</th>
              <th class="command-detail">elapsed</th>
              <th class="command-detail">result</th>
            </tr>
      #foreach($result in $current.CompletedCommands)
        #set($name = $result.Name)
        #set($built = $result.Stamps.PrettyStartTime) 
        #set($elapsed = $result.Stamps.PrettyElapsed)
        #if($result.succeeded())
          #set($success = "success")
        #else
          #set($success = "failure")
        #end
            <tr>
              <td class="build-$success"><a href="">$name</a></td>
              <td class="build-$success">$built</td>
              <td class="build-$success">$elapsed</td>
              <td class="build-$success">$success</td>
            </tr>
      #end
      #if($current.CurrentCommand)
            <tr>
              <td class="build-info"><a href="">$current.CurrentCommand</a></td>
              <td class="build-info">n/a</td>
              <td class="build-info">n/a</td>
              <td class="build-info">in progress</td>
            </tr>
      #end
          </table>
          </div>
          #end
          
   <!-- History -->
   
          <h2 class="command-info">history</h2>
          <div class="command-content">
          <table>
            <tr>
              <th class="command-detail">build id</th>
              <th class="command-detail">when</th>
              <th class="command-detail">elapsed</th>
              <th class="command-detail">result</th>
            </tr>
      #foreach($result in $history)
        #set($id = $result.Id)
        #set($built = $result.Stamps.PrettyStartTime) 
        #set($elapsed = $result.Stamps.PrettyElapsed)
        #if($result.succeeded())
          #set($success = "success")
        #else
          #set($success = "failure")
        #end
            <tr>
              <td class="build-$success"><a href="viewBuild.action?project=$project.Name&id=$id">Build $id</a></td>
              <td class="build-$success">$built</td>
              <td class="build-$success">$elapsed</td>
              <td class="build-$success">$success</td>
            </tr>
      #end
          </table>
          <p>
            <form action="viewBuild.action" method="get">
              jump to build:&nbsp;<input name="id" size="5"/>&nbsp;<input type="hidden" name="project" value="$project.Name"/><input type="submit" value="Go!"/>
            </form>
          </p>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
