<div class="config-panel">
    <h3 class="config-header">#wwtext("name=build.properties.specify")</h3>
    <div class="config-container">
        $formSource
    </div>
    #standardFormEvents("form")
</div>

<script type="text/javascript">
    detailPanel.setHelp('#jss(${projectPath})', 'manualTrigger');
</script>