<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="com.zutubi.pulse.core.commands">
        <command name="command" class="com.zutubi.pulse.core.CommandGroup"/>
        <command name="executable" class="com.zutubi.pulse.core.ExecutableCommand"/>
        <command name="print" class="com.zutubi.pulse.core.PrintCommand"/>
        <command name="sleep" class="com.zutubi.pulse.core.SleepCommand"/>
        <command name="resource" class="com.zutubi.pulse.core.ResourceReference"/>
    </extension>
    <extension point="com.zutubi.pulse.core.postprocessors">
        <post-processor name="post-processor" class="com.zutubi.pulse.core.PostProcessorGroup"/>
        <post-processor name="junit.pp" class="com.zutubi.pulse.core.JUnitReportPostProcessor"/>
        <post-processor name="junit.summary.pp" class="com.zutubi.pulse.core.JUnitSummaryPostProcessor"/>
        <post-processor name="regex-test.pp" class="com.zutubi.pulse.core.RegexTestPostProcessor"/>
        <post-processor name="regex.pp" class="com.zutubi.pulse.core.RegexPostProcessor"/>
    </extension>
</plugin>