#helpTag("Project+Directory+Artifacts")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.artifact")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editDirectoryArtifact.action" "id=edit.directory" "heading=%{getText('artifact.directory.edit')}" "method=post")
    #wwhidden("name=projectId")
    #wwhidden("name=id")

    #wwtextfield("name=name" "label=%{getText('artifact.name')}" "required=true" "tabindex=1" "onkeypress=return submitenter(this,event)")
    #wwtextfield("name=capture.base" "label=%{getText('artifact.directory.base')}" "tabindex=2" "size=60" "onkeypress=return submitenter(this,event)")
    #inlineHelp("artifact.directory.base.help")
    #wwtextfield("name=capture.includes" "label=%{getText('artifact.directory.inclusions')}" "size=60" "tabindex=3" "onkeypress=return submitenter(this,event)")
    #inlineHelp("artifact.directory.inclusions.help")
    #wwtextfield("name=capture.excludes" "label=%{getText('artifact.directory.exclusions')}" "size=60" "tabindex=4" "onkeypress=return submitenter(this,event)")
    #inlineHelp("artifact.directory.exclusions.help")
    #wwtextfield("name=capture.mimeType" "label=%{getText('artifact.directory.type')}" "tabindex=6" "onkeypress=return submitenter(this,event)")
    #inlineHelp("artifact.directory.type.help")

    #wwcheckboxlist("name=processors" "label=%{getText('artifact.processors')}" "multirow=true" "list=processorList" "multiple=true" "size=10" "tabindex=7")

    #saveCancel(8)
#end

    #tabEnd()
</body>
</html>
