#helpTag("Project+Build+Specifications")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.spec")</title>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editBuildSpecification.action" "heading=%{getText('edit.spec')}" "id=spec.edit" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=spec.name" "label=%{getText('spec.name')}" "required=true"  "tabindex=1")
    #wwcheckbox("name=isolateChangelists" "label=%{getText('buildspec.isolate.changelists')}" "tabindex=2")
    #inlineHelp("buildspec.isolate.changelists.help")
    #wwcheckbox("name=retainWorkingCopy" "label=%{getText('buildspec.retain.working.copy')}" "tabindex=3")
    #inlineHelp("buildspec.retain.working.copy.help")
    #wwselect("name=checkoutSchemeName" "label=%{getText('buildspec.checkout.scheme')}" "list=checkoutSchemes" "tabindex=4")
    #inlineHelp("buildspec.checkout.scheme.help")
    #wwcheckbox("name=timeoutEnabled" "label=%{getText('enable.timeout')}" "fieldValue=true" "onclick=setEnableState('spec.edit_timeout', 'spec.edit_timeoutEnabled')" "tabindex=5")
    #set($minutes = $action.getText('spec.timeout.minutes'))
    #wwtextfield("name=timeout" "label=%{getText('spec.timeout')}" "size=6" "after= $minutes" "tabindex=6")

    <script type="text/javascript">
        setEnableState('spec.edit_timeout', 'spec.edit_timeoutEnabled');
    </script>

    #saveCancel(7)
#end

    #tabEnd()
</body>
</html>
