#helpTag("Versioned+Projects")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.custom")</title>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript">
    <!--
    	function openFileWindow()
    	{
    	    openBrowseWindow('$base', false, "versioned.edit_details_pulseFileName", "&id=$project.id");
    	}
    -->
    </script>
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editVersionedDetails.action" "id=versioned.edit" "heading=%{getText('edit.versioned')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=details.pulseFileName" "label=%{getText('pulse.filename')}" "after= <a href='#' onclick='openFileWindow(); return false;'>browse</a>" "required=true" "size=40" "tabindex=1")
    #inlineHelp("pulse.filename.help")
    
    #saveCancel(2)
 #end

     #tabEnd()
</body>
</html>
