#helpTag("Perforce")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=edit.p4")</title>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    #p4TestScript("editP4")
</head>
<body>
    #projectTabs("configuration")

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=editP4.action" "heading=%{getText('edit.p4')}" "method=post")
    #wwhidden("name=id")
    #wwhidden("name=projectId")

    #wwtextfield("name=p4.port" "label=%{getText('p4.port')}" "required=true" "tabindex=1")
    #inlineHelp("p4.port.help")
    #wwtextfield("name=p4.user" "label=%{getText('p4.user')}" "required='true'" "tabindex=2")
    #wwpassword("name=p4.password" "label=%{getText('p4.password')}" "showPassword=true" "tabindex=3")
    #wwtextfield("name=p4.client" "label=%{getText('p4.client')}" "required=true" "tabindex=4")
    #inlineHelp("p4.client.help")
    #wwcheckbox("name=monitor" "label=%{getText('scm.monitor')}" "tabindex=5")
    #wwtextfield("name=p4.pollingInterval" "label=%{getText('scm.polling.interval')}" "tabindex=6")

    #testSettingsRow()

    #saveCancel(7)
 #end

     #tabEnd()
</body>
</html>