#helpTag("Build+Summary+Tab")
#authorisationTags($principle)
#buildTags($project $result)
<html>
<head>
    <title>#wwtext("name=build") $result.number</title>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript">
        #updater("$base/ajax/viewBuildPanel.action?id=$result.id" "panel" $principle)
    </script>
</head>
<body>
    #buildTabs($result "summary")

    <div id="panel">
        #parse("ajax/view-build-panel.vm")
    </div>

#acl("domainObject=project" "hasPermission=4,1")
    #if($result.completed())
    <p>
        #set($confirm = $action.getText("build.delete.confirm", [$result.number]))
        <a href="#" onclick="confirmUrl('$confirm', 'deleteBuild.action?id=$result.id')"><img alt="delete" src="$base/images/delete.gif"/> #wwtext("name=build.delete")</a>
    </p>
    #end
#end
    #tabEnd()
</html>
