<html>
<head>
    <title>#wwtext("name=error")</title>
    <link href="$base/css/main.css?#version()" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <div style="padding: 16px;">
        <h1 style="color: #c04040">:: HTTP ERROR: $action.errorStatusCode ::</h1>

        <p>The resource '$action.errorRequestUri' was not found and resulted in the following error message:</p>
        <p class="error">
            $action.errorMessage
        </p>
        <p>If you think this is an error, please report it to <a href="">zutubi support</a>, including details about
            what action you where performing.</p>
        <p>
            So where to next? Here are some helpful links to get get you started again.
            <ul>
                <li><a href="$base/dashboard/home/">dashboard</a></li>
                <li><a href="$base/browse/">browse</a></li>
            </ul>
        </p>
    </div>
</body>
</html>