#authorisationTags($principle)
#buildTags($buildResult.project $buildResult)
<html>
<head>
    <title>$!webwork.htmlEncode($path)</title>

#if ($buildResult.getHasWorkDir())
    <link rel="stylesheet" type="text/css" href="$base/css/treeview/tree.css"/>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript" src="$base/js/yahoo/utilities.js"></script>
    <script type="text/javascript" src="$base/js/yahoo/treeview.js"></script>
    <script type="text/javascript" src="$base/js/widget/treeview.js"></script>
    <script type="text/javascript">
        SetupTree = function()
        {
            return {
                init: function()
                {
                    // only initialise if the browseTree element exists. If the browse tree element does not
                    // exist, then we do not want to render the node.
                    if (!document.getElementById('browseTree'))
                    {
                        return;
                    }

                    var tree = new ZUTUBI.widget.PulseTreeView('browseTree');
                    tree.setSeparator('$separator');
                    tree.setFSRoot('pulse:///projects/$project.id/builds/$buildResult.id/wc/');
                    tree.setBase('$base');

                    // load the root nodes for the file system, then draw the tree.
                    Element.show($('loading'));
                    tree.ls(tree.getRoot(), function()
                    {
                        Element.hide($('loading'));
                        tree.draw();
                    }, true, false);
                }
            }
        }();

        Ext.onReady(SetupTree.init, SetupTree, true);
    </script>
#end
</head>
<body>
    #buildTabs($buildResult "wc")

    <h3 id='#id("${buildResult.ownerName}-build-${buildResult.number}-wc")'>#wwtext("name=working.copy")</h3>

#if ($buildResult.getHasWorkDir())
        <p id="wc.blurb">
            The tree below allows you to navigate through the working directory for this build.  Click on the <img src="$base/images/arrow_down.gif"/> to download it.
        </p>

        #if($buildResult.completed())
            <div id="loading" style="display:none;"><img src="$base/images/treeview/loading.gif" alt="loading..."/></div>
            <div id="error"></div>
            <div id="wcTree">
                <div id="browseTree"></div>
            </div>
        #else
            <p id="wc.pending">
                #wwtext("name=working.dir.pending")
            </p>
        #end
#else
    <p id="wc.not.present" style="max-width:600px">
        The working copy for this build is not available.
        #if ($buildOptions.retainWorkingCopy)
            This is likely the result of one of the following:
            <ul class="actions">
                <li><strong>1</strong>&nbsp;&nbsp; The project was not configured to retain the working copy at the time of the build.</li>
                <li><strong>2</strong>&nbsp;&nbsp; The project's <a href="$urls.adminProject($project)cleanup/">cleanup rules</a> have removed this working copy.</li>
                <li><strong>3</strong>&nbsp;&nbsp; The working copy has been manually deleted from the filesystem.</li>
            </ul>
        #else
            This is because no working copy snapshot is being retained after a build.  To retain the working copy,
            go to the <a href="$base/admin/projects/#uce($project.name)/options/">build options</a> for the project
            and tick the retain working copy option.
        #end
    </p>
#end
</body>
</html>
