#helpTag("Browse+Section")
#authorisationTags($principle)
<content tag="selectedTab">projects</content>
<html>
<head>
    <title>#wwtext("name=projects")</title>
    <script type="text/javascript" src="$base/js/StatusBar.js"></script>
    <script type="text/javascript" src="$base/js/projects.js"></script>
    <script type="text/javascript">
        #if($refreshInterval)
            var refreshInterval = $refreshInterval;
        #elseif($principle.preferences.refreshingEnabled)
            var refreshInterval = $principle.preferences.refreshInterval;
        #else
            var refreshInterval = 0;
        #end

        var invalidEl;
        var projectsTable;
        var view;

        function update(data)
        {
            var invalidProjects = data.invalidProjects;
            if (invalidProjects.length == 0)
            {
                invalidEl.hide();
            }
            else
            {
                var invalidListEl = Ext.get('invalid-projects-list');
                invalidListEl.update('');

                for (var i = 0; i < invalidProjects.length; i++)
                {
                    var project = invalidProjects[i];
                    invalidListEl.createChild({
                        tag: 'li',
                        id: 'invalid-' + toHtmlName(project),
                        children: {
                            tag: 'a',
                            href: window.baseUrl + '/admin/projects/' + encodeURIComponent(project) + '/',
                            html: Ext.util.Format.htmlEncode(project)
                        }
                    });
                }

                invalidEl.show();
            }

            projectsTable.update(data.projectGroups);
        }

        Ext.onReady(function() {
            invalidEl = Ext.get('invalid-projects');
            invalidEl.setVisibilityMode(Ext.Element.DISPLAY);
            projectsTable = new ZUTUBI.ProjectsTable(Ext.get('projects'), Ext.get('projects.toolbar'), $columnCount, $rssEnabled, false);
            view = new ZUTUBI.ActiveView(window.baseUrl + '/ajax/browseData.action', refreshInterval, update, window, Ext.get('projects'), 'Unable to load projects.');
            view.init();
        });
    </script>
    #if ($rssEnabled)
        <link rel="alternate" type="application/rss+xml" title="RSS" href="$base/rss.action"/>
    #end
</head>
<body>
    <div style="margin-bottom: 16px">
        <span id="projects.toolbar" style="float: right">
        </span>
        <h2>:: all projects ::</h2>
    </div>

    <div id="invalid-projects" style="display: none;" class="invalid-configs">
        #wwtext("name=invalid.projects")
    
        <ul id="invalid-projects-list">
        </ul>
    </div>
    
    <div id="projects">
        <img alt="loading" src="$base/images/inprogress.gif"/> Loading projects...
    </div>
</body>
</html>
