#helpTag("Browse+Section")
#authorisationTags($principle)
<content tag="selectedTab">projects</content>
<content tag="header.javascript">
    ext/StatusBar.js
    projects.js    
</content>
<html>
<head>
    <title>#wwtext("name=projects")</title>
    <script type="text/javascript">
        var invalidEl;
        var projectsTable;
        var view;

        function update(data)
        {
            var invalidProjects = data.invalidProjects;
            if (invalidProjects.length == 0)
            {
                invalidEl.hide();
            }
            else
            {
                var invalidListEl = Ext.get('invalid-projects-list');
                invalidListEl.update('');

                for (var i = 0; i < invalidProjects.length; i++)
                {
                    var project = invalidProjects[i];
                    invalidListEl.createChild({
                        tag: 'li',
                        id: 'invalid-' + toHtmlName(project),
                        children: {
                            tag: 'a',
                            href: window.baseUrl + '/admin/projects/' + encodeURIComponent(project) + '/',
                            html: Ext.util.Format.htmlEncode(project)
                        }
                    });
                }

                invalidEl.show();
            }

            projectsTable.update(data.projectsFilter, data.projectGroups);
        }

        Ext.onReady(function() {
            invalidEl = Ext.get('invalid-projects');
            invalidEl.setVisibilityMode(Ext.Element.DISPLAY);
            projectsTable = new Zutubi.ProjectsTable(Ext.get('projects'), $columnCount, $rssEnabled, false);
            view = new Zutubi.ActiveView(window.baseUrl + '/ajax/browseData.action', $refreshInterval, update, window, Ext.get('projects'), 'Unable to load projects.');
            view.init();
        });
    </script>
    #if ($rssEnabled)
        <link rel="alternate" type="application/rss+xml" title="RSS" href="$base/rss.action"/>
    #end
</head>
<body>
        <table class="columns" width="98%">
            <tr>
                <td>
                    <h2 style="margin-top: 0; margin-bottom: 1em;">
                        :: all projects ::
#if($rssEnabled)
                        <a style="border-bottom: none" href="$base/rss.action"><img alt="$action.getText('rss')" src="$base/images/feed-icon-16x16.gif"/></a>
#end
                    </h2>
                </td>
                <td>
                    <div id="build-toolbar" style="margin-top: 0;"></div>
                </td>
            </tr>
        </table>

    <div id="invalid-projects" style="display: none;" class="invalid-configs">
        #wwtext("name=invalid.projects")
    
        <ul id="invalid-projects-list">
        </ul>
    </div>
    
    <div id="projects">
        <img alt="loading" src="$base/images/inprogress.gif"/> Loading projects...
    </div>
</body>
</html>
