#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=scm.browse")</title>
    <link rel="stylesheet" type="text/css" href="$base/css/treeview/tree.css"/>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript" src="$base/js/yahoo/utilities.js"></script>
    <script type="text/javascript" src="$base/js/yahoo/treeview.js"></script>
    <script type="text/javascript" src="$base/js/widget/treeview.js"></script>
    <script type="text/javascript">
        SetupTree = function()
        {
            return {
                init: function()
                {
                    var tree = new ZUTUBI.widget.PulseTreeView('browseTree');
                    tree.setFSRoot('pulse:///projects/$project.id/scm/');
                    tree.setBase('$base');

                    // load the root nodes for the file system, then draw the tree.
                    Element.show($('loading'));
                    tree.ls(tree.getRoot(), function()
                    {
                        Element.hide($('loading'));
                        tree.draw();
                    }, true, false, 2);
                }
            }
        }();

        Ext.onReady(SetupTree.init, SetupTree, true);
    </script>
</head>
<body>
    #projectTabs("configuration")

    <h1>:: browse scm ::</h1>
    
    <div id="loading" style="display:none;"><img src="$base/images/treeview/loading.gif" alt="loading..."/></div>
    <div id="error"></div>
    <div id="artifactTree">
        <div id="browseTree"></div>
    </div>

</html>
