#authorisationTags($principle)
<html>
<head>
    <title>#wwtext("name=error")</title>
    <link href="$base/css/main.css?#version()" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    #parse("/ajax/generic-error-panel.vm")
</body>
</html>
