#helpTag("Project+History+Tab")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
    #javascript()
        yahoo/utilities.js
        buildcolumns.js
    #end
    <script type="text/javascript">
        var popup;
        YAHOO.util.Event.addListener(window, "load", function() { popup = new BuildColumnPopup("project.history", "$base", "$base/ajax/historyPanel.action?projectName=$u_projectName", "panel"); });

        var firstRender = true;
        var renderForm = function() {
            var form = new Ext.form.FormPanel({
                labelWidth: 100,
                labelAlign: 'right',
                method: 'POST',
                border: false,
                items: [{
                    layout: 'column',
                    border: false,
                    items: [{
                        columnWidth: .7,
                        layout: 'form',
                        border: false,
                        items: [{
                            xtype: 'combo',
                            name: 'stateFilter',
                            id: 'state-filter',
                            fieldLabel: 'result state',
                            editable: false,
                            forceSelection: true,
                            triggerAction: 'all',
                            store: ['[any]', 'failure or error', 'failure', 'error', 'success'],
                            value: '$stateFilter',
                            anchor: '95%',
                            listeners: {
                                select: function() {
                                    form.getForm().getEl().dom.submit();
                                }
                            }
                        }]
                    }, {
                        columnWidth: .3,
                        xtype: 'panel',
                        border: false,
                        items: [{
                            xtype: 'button',
                            text: 'clear filter',
                            anchor: '95%',
                            listeners: {
                                click: function() {
                                    document.location = '#jss($urls.projectHistory($u_projectName))';
                                }
                            }
                        }]
                    }]
                }]
            });

            form.on('afterlayout', function() {
                this.getForm().el.dom.action = '#jss(${urls.projectHistory($u_projectName)})';
            }, form, {single: true});
            form.render("filter-form");
        }

        Ext.onReady(function() {
            renderForm();
            firstRender = false;
        });
    </script>
</head>
<body>
    #projectTabs("history")

    <div id="panel">
        #parse("ajax/history-panel.vm")
    </div>

    #buildColumnsPopup("project.history" "popup")    
</html>
