<html>
<head>
    <link href="$base/css/main.css?#version()" rel="stylesheet" type="text/css" media="screen"/>
    <title>#wwtext("name=internal.error")</title>
</head>
<body>
    <div style="padding: 12px">
    <h1 style="color: #c04040">:: #wwtext("name=internal.error") ::</h1>

    <p class="error">
        #wwtext("name=internal.error.blurb")
    </p>

    <h2 class="section">#wwtext("name=errors")</h2>

#foreach($record in $records)
    #serverMessage($record)
#end
    </div>
</body>
</html>
