<html>
<head>
    <title>login</title>
</head>

<body>
    <img id="login-logo" style="margin-top: 30px; margin-bottom: 20px;" alt="pulse logo" src="$base/images/pulse-pagan-smallmedium.jpg"/>

    <div class="config-panel" style="width: 400px">
        <h3 class="config-header">login</h3>
        <div class="config-container">
            #pform("path=$path" "action=login")
        </div>
    </div>

    <script type="text/javascript">
        mainForm.on('render', function(form) { form.findById('zfid.username').focus(true); });
    </script>
    
    #if ($config.anonymousSignupEnabled)
    <p>
        Not a member? <a id="signup" href="signup!input.action">Signup</a> for an account.
    </p>
    #end

</body>
</html>
