<!DOCTYPE html>
<html>
<head>
    <link href="${base}/css/config.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/login.css?#version()" rel="stylesheet"/>

    <title>login</title>
</head>
<body>
<div id="outer-container">
    <img id="login-logo" alt="pulse logo" src="$base/images/pulse-pagan-smallmedium.jpg"/>

    #if($actionErrors && $actionErrors.size() > 0)
        #set($actionErrorDetected = true)

    <ul id="action-errors">
        #foreach($error in $actionErrors)
            <li>$!webwork.htmlEncode($error)</li>
        #end
    </ul>
    #end

    <div id="login-container">
    </div>

    #if ($config.anonymousSignupEnabled)
    <div id="signup-link">
        Not a member? <a id="signup" href="signup!input.action">Signup</a> for an account.
    </div>
    #end
</div>

<script>
    window.loginForm = new Zutubi.core.LoginForm({
        container: $("#login-container"),
    #if($username)
        username: "#jss($username)",
    #end
    #if($rememberMe)
        rememberMe: $rememberMe,
    #end
        action: "${base}/login"
    });

    window.loginForm.focus();
</script>
</body>
</html>
