#helpTag("Project+Properties")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=build.properties.specify")</title>
	<script type="text/javascript">
        var detailPanel = new Zutubi.DetailPanel();
        detailPanel.setHelp('#jss(${project.config.configurationPath})', 'manualTrigger');

        var Layout = function()
        {
            return {
                init : function()
                {
                    var center = Ext.getCmp('nested-center');
                    center.add(detailPanel);
                    Ext.getCmp('nested-east').show()
                    viewport.doLayout();
                }
            }
        }();

        Ext.onReady(Layout.init, Layout, true);
	</script>
</head>
<body>
    #projectTabs("home")

    <table class="config-panel">
    <tr><td>
        <h3 class="config-header">#wwtext("name=build.properties.specify")</h3>
        <div class="config-container">
            $formSource
        </div>
    </td></tr>
    </table>
</body>
</html>
