#helpTag("Dashboard+Section")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<content tag="header.javascript">
    zutubi/pulse/project/dashboard/MyBuildsPanel.js
    projects.js
</content>
<html>
<head>
    <title>#wwtext("name=my.builds")</title>
    <script type="text/javascript">
        #if($refreshInterval)
        var refreshInterval = $refreshInterval;
        #elseif($principle.preferences.refreshingEnabled)
        var refreshInterval = $principle.preferences.refreshInterval;
        #else
        var refreshInterval = 0;
        #end
        var view;
        var panel = null;
        
        function update(data)
        {
            if (panel)
            {
                panel.update(data);
            }
            else
            {
                panel = new Zutubi.pulse.project.dashboard.MyBuildsPanel({
                    loadingEl: 'my-builds',
                    columns: '#jss($columns)'.split(','),
                    version: '${version_number}',
                    data: data
                });

                var nestedCenter = Ext.getCmp('nested-center');
                nestedCenter.add(panel);
                viewport.doLayout();
            }
        }
        
        Ext.onReady(function() {
            view = new Zutubi.ActiveView(window.baseUrl + '/ajax/myBuildsData.action', refreshInterval, update, window, Ext.get('my-builds'), 'Unable to load personal builds.');
            view.init();
        });
    </script>
#if ($rssEnabled)
    <link rel="alternate" type="application/rss+xml" title="RSS" href="$base/rss.action?userId=$principle.id"/>
#end
</head>
<body>
    #dashboardTabs("my-builds")

    <div id="my-builds">
    </div>
</body>
</html>
