#helpTag("Dashboard+Section")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=my.builds")</title>
    <script type="text/javascript" src="$base/js/yahoo/utilities.js"></script>
    <script type="text/javascript" src="$base/js/buildcolumns.js"></script>
    <script type="text/javascript">
    //<![CDATA[
        #updater("$base/ajax/myBuildsPanel.action" "panel" $principle "Ext.emptyFn")

        var popup;
        YAHOO.util.Event.addListener(window, "load", function() { popup = new BuildColumnPopup("my", "$base", "$base/ajax/myBuildsPanel.action", "panel"); });
    //]]>
    </script>
#if ($rssEnabled)
    <link rel="alternate" type="application/rss+xml" title="RSS" href="$base/rss.action?userId=$principle.id"/>
#end
</head>
<body>
    #dashboardTabs("my-builds")

    <div id="panel">
        #parse("ajax/my-builds-panel.vm")
    </div>

    #buildColumnsPopup("my" "popup")
    
    <h2 id="personal-builds" class="section">#wwtext("name=personal.builds")</h2>
    <table class="columns" width="98%">
        <tr>
            <td class="columns">
                <p style="padding-left: 10px; padding-right: 100px">
                    #wwtext("name=personal.builds.blurb")
                </p>
            </td>
            <td class="right">
                <table class="content" style="float: right">
                    #headingRow("tools.downloads" 1)
                    <tr>
                        #actionCell("download.format.zip" "$base/packages/pulse-dev-${version_number}.zip" "compress.gif")
                    </tr>
                    <tr>
                        #actionCell("download.format.tar" "$base/packages/pulse-dev-${version_number}.tar.gz" "compress.gif")
                    </tr>
                    <tr>
                        #actionCell("download.format.exe" "$base/packages/pulse-dev-${version_number}.exe" "pulse.gif")
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
