#authorisationTags($principle)
<html>
<head>
    <title>#wwtext("name=not.licensed.error")</title>
    <link href="$base/css/main.css?#version()" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <h1>:: #wwtext("name=not.licensed.error") ::</h1>
    <p>
        You are not licensed to execute the requested action. If you believe this to be a mistake, please
        contact zutubi at <a href="mailto:sales@zutubi.com">sales@zutubi.com</a>.
    </p>
    <p>
        The currently installed license contains the following restrictions:
    </p>
    <table class="content">
        #headingRow("license.restrictions" 4)
        <tr>
            #contentHeading("licensed.restriction" 1)
            #contentHeading("licensed.quantity" 1)
            #contentHeading("quantity.in.use" 1)
            #contentHeading("license.restriction.status" 1)
        </tr>
        #foreach($res in $restrictions)
            <tr>
                #contentCell("license.restriction.$res.entity")
                #if($res.supported == -1)
                    #contentCell("license.unrestricted")
                    #dynamicCell($res.inUse)
                    #contentCell("license.restriction.status.okay")
                #else
                    #dynamicCell($res.supported)
                    #dynamicCell($res.inUse)
                    #if ($res.inUse < $res.supported)
                        #contentCell("license.restriction.status.okay")
                    #else
                        #contentCell("license.restriction.status.limited")
                    #end
                #end
            </tr>
        #end
    </table>
    <p>
        For more information about our licenseing structure, go to <a href="http://www.zutubi.com/">http://www.zutubi.com/</a>
        and follow the links to sales and licensing.
    </p>
</body>
</html>
