#helpTag("Dashboard+Section")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=preferences")</title>
    <script>
        $(document).ready(function()
        {
            window.configPanel = new Zutubi.admin.ConfigPanel("#config-view");
            window.configPanel.setPaths("users/" + window.userName + "/preferences", "");
        });
    </script>
</head>
<body>
</body>
</html>
