#helpTag("Project+Dependencies+Tab")
#authorisationTags($principle)
#projectTags($project)
<content tag="header.javascript">
    zutubi/pulse/project/browse/ProjectDependenciesPanel.js
</content>
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
    <script type="text/javascript">
        var panel = null;

        function refresh(cb)
        {
            panel.load(cb);
        }
        
        Ext.onReady(function() {
            panel = new Zutubi.pulse.project.browse.ProjectDependenciesPanel({
                id: 'project-dependencies',
                url: window.baseUrl + '/ajax/projectDependenciesData.action?projectId=$project.id',
                loadingId: '#id("project-dependencies-$project.name")',
                containerId: 'nested-center',
                refreshInterval: $refreshInterval,
                projectId: '$project.id',
                transitiveMode: '#jss($transitiveMode)'
            });
        });
    </script>
</head>
<body>
    #projectTabs("dependencies")

    #parse("/template/includes/actionerrors.vm")

    <div id='#id("project-dependencies-$project.name")'>
    </div>
</body>
</html>
