#helpTag("Project+Home+Tab")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
    <script type="text/javascript" src="$base/js/yahoo/utilities.js"></script>
    <script type="text/javascript" src="$base/js/buildcolumns.js"></script>
    <script type="text/javascript">
    //<![CDATA[
        #set($ajaxUrl = "$base/ajax/projectHomePanel.action?projectName=$u_projectName")
        #updater($ajaxUrl "project-home-#uce($project.name)" $principle)

        var summaryPopup;
        var recentPopup;
        YAHOO.util.Event.addListener(window, "load", function() {
            summaryPopup = new BuildColumnPopup("project.summary", "$base", "$ajaxUrl", "project-home-#uce($project.name)");
            recentPopup = new BuildColumnPopup("project.recent", "$base", "$ajaxUrl", "project-home-#uce($project.name)");
        });
    //]]>
    </script>
</head>
<body>
    #projectTabs("home")

    #parse("/template/includes/actionerrors.vm")
    
    <div id="project-home-#uce($project.name)">
        #parse("ajax/project-home-panel.vm")
    </div>

    #buildColumnsPopup("project.summary" "summaryPopup")
    #buildColumnsPopup("project.recent" "recentPopup")
</body>
</html>
