#helpTag("Project+History+Tab")
#authorisationTags($principle)
#projectTags($project)
<content tag="header.javascript">
    zutubi/pulse/project/browse/ProjectHistoryPanel.js
</content>
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
    <script type="text/javascript">
        var panel = null;
        
        Ext.onReady(function() {
            panel = new Zutubi.pulse.project.browse.ProjectHistoryPanel({
                id: 'project-history',
                url: window.baseUrl + '/ajax/projectHistoryData.action?projectId=$project.id&startPage=$startPage&stateFilter=' + encodeURIComponent('$stateFilter'),
                loadingId: '#id("project-history-$project.name")',
                containerId: 'nested-center',
                refreshInterval: $refreshInterval,
                projectId: '$project.id',
                columns: '#jss($columns)'.split(','),
                pagerUrl: '#jss($urls.projectHistory($project))',
                stateFilter: '#jss($stateFilter)',
                anonymous: #if($principle) false #else true #end
            });
        });
    </script>
</head>
<body>
    #projectTabs("history")

    <div id='#id("project-history-$project.name")'>
    </div>
</html>
