#helpTag("Project+Home+Tab")
#authorisationTags($principle)
#projectTags($project)
<content tag="header.javascript">
    zutubi/pulse/project/browse/ProjectHomePanel.js
</content>
<html>
<head>
    <title>$!webwork.htmlEncode($project.name)</title>
    <script type="text/javascript">
        var panel = null;
        
        function refresh(cb)
        {
            panel.load(cb);
        }
            
        Ext.onReady(function() {
            panel = new Zutubi.pulse.project.browse.ProjectHomePanel({
                id: 'project-home',
                url: window.baseUrl + '/ajax/projectHomeData.action?projectId=$project.id',
                loadingId: '#id("project-home-$project.name")',
                containerId: 'nested-center',
                refreshInterval: $refreshInterval,
                projectId: '$project.id',
                recentColumns: '#jss($projectRecentColumns)'.split(','),
                anonymous: #if($principle) false #else true #end
            });
        });
    </script>
</head>
<body>
    #projectTabs("home")

    <div id='#id("project-home-$project.name")'>
    </div>
</body>
</html>
