#helpTag("Projects")
#authorisationTags($principle)
#projectTags($project)
<content tag="header.javascript">
    zutubi/pulse/project/browse/ProjectReportsPanel.js
</content>
<html>
<head>
    <title>$h_projectName</title>
    <script type="text/javascript">
        var panel;
        Ext.onReady(function() {
            panel = new Zutubi.pulse.project.browse.ProjectReportsPanel({
                projectId: '$project.id',
                data: Ext.util.JSON.decode('#json($model)')
            });

            var nestedCenter = Ext.getCmp('nested-center');
            nestedCenter.add(panel);
            viewport.doLayout();
            panel.load();
        });
    </script>

</head>
<body>
    #projectTabs("reports")
#if($model.group)
    <div id='#id("project-reports-${projectName}-${model.group}")'>
#else
    <div id='#id("project-reports-${projectName}")'>
#end
    </div>
</body>
</html>
