#helpTag("Server+History+Tab")
#authorisationTags($principle)
<content tag="selectedTab">server</content>
<content tag="header.javascript">
    zutubi/pulse/project/HistoryPanel.js
</content>
<html>
<head>
    <title>#wwtext("name=server.history")</title>
    <script type="text/javascript">
        var panel = null;
        
        Ext.onReady(function() {
            panel = new Zutubi.pulse.project.HistoryPanel({
                id: 'server-history',
                url: window.baseUrl + '/ajax/historyData.action?startPage=$startPage&stateFilter=' + encodeURIComponent('$stateFilter'),
                loadingId: 'server-history-loading',
                containerId: 'nested-center',
                refreshInterval: $refreshInterval,
                projectId: '0',
                columns: '#jss($columns)'.split(','),
                pagerUrl: '#jss($urls.serverHistory())',
                stateFilter: '#jss($stateFilter)',
                anonymous: #if($principle) false #else true #end
            });
        });
    </script>
</head>
<body>
    #serverTabs("history")

    <div id='server-history-loading'>
    </div>
</html>
