#if($agentName)
    #helpTag("Agents+Section")
#else
    #helpTag("Server+Section")
    <content tag="selectedTab">server</content>
#end
#authorisationTags($principle)
#if($agentName)
    #agentTags()
#end
<content tag="header.javascript">
    zutubi/pulse/server/MessagesPanel.js
</content>
<html>
<head>
    <title>#if($agentName) #wwtext("name=agents") #else #wwtext("name=server.messages") #end</title>
#if(!$action.hasErrors())
    <script type="text/javascript">
        var panel = null;
        
        Ext.onReady(function() {
            panel = new Zutubi.pulse.server.MessagesPanel({
                id: 'server-messages-${startPage}',
                url: window.baseUrl + '/ajax/serverMessagesData.action?startPage=$startPage' #if($agentName) + '&agentName=' + encodeURIComponent('$agentName') #end ,
                loadingId: 'server-messages-loading',
                containerId: 'nested-center',
                refreshInterval: $refreshInterval,
                pagerUrl: #if($agent) '#jss($urls.agentMessages($agent))' #else '#jss($urls.serverMessages())' #end
            });
        });
    </script>
#end
</head>
<body>
#if($agentName)
    #agentTabs("messages")
#else
    #serverTabs("messages")
#end

#if($action.hasErrors())
    #parse("/template/includes/actionerrors.vm")
#else
    <div id="server-messages-loading">
    </div>
#end
</html>
