#helpTag("Project+Log+Tab")
#authorisationTags($principle)
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=project") $project.name</title>
    <script type="text/javascript">
        function updaterCallback()
        {
            var now = new Date();
            Ext.get('refresh-time').update('refreshed ' + now.format('g:i:s a, D F j'));
        }

        #updater("$base/ajax/tailProjectLogPanel.action?projectName=${u_projectName}&maxLines=${maxLines}&refreshInterval=${refreshInterval}&personal=$personal" "panel" $principle)

        Ext.onReady(function() {
            updaterCallback();
        });

        function configureSettings()
        {
            var popup = new ZUTUBI.TailSettingsWindow({
                initialMaxLines: '$maxLines',
                initialRefreshInterval: '$refreshInterval',
            });
            popup.show();
        }
    </script>
</head>
<body>
    #projectTabs("log")

    <div class="build-page-header">
        <table class="log-header">
            <tr>
#if($logExists)
                <td>
                    <a class="unadorned" href="raw/true/"><img alt="down" src="$base/images/script_save.gif"/></a>
                    <a id="download-full-log" href="raw/true/">#wwtext("name=download.full.log")</a>
                </td>
                <td>
                    <span class="understated">//</span>
                </td>
#end
                <td id="current-settings">
                    $action.getText("settings.max.lines", ["$maxLines"]), $action.getText("settings.refresh.interval", ["$refreshInterval"])
                    <a class="unadorned" href="#" onclick="configureSettings(); return false;"><img alt="configure" src="$base/images/pencil.gif"/></a>
                    <a id="configure-settings" href="#" onclick="configureSettings(); return false;">#wwtext("name=configure")</a>
                </td>
            </tr>
        </table>
    </div>

    <h3 class="two-heading">
        <span id="refresh-time"></span>
        #wwtext("name=tail.box")
    </h3>
    <div id='#id("project-log-${project.name}")' class="two-box">
        <div id="panel">
            #parse("ajax/tail-log-panel.vm")
        </div>
    </div>
</html>
