#helpTag("Build+Log+View")
#authorisationTags($principle)
#stageTags($buildResult "logs")
<content tag="header.javascript">
    zutubi/reporting/project/TailSettingsWindow.js
</content>
<html>
<head>
    <title>
        #wwtext("name=build") $buildResult.number
#if($h_stageName)
        :: #wwtext("name=build.stage") $h_stageName
#end
    </title>
    <script type="text/javascript">
        function updaterCallback()
        {
            var now = new Date();
            Ext.get('refresh-time').update('refreshed ' + now.format('g:i:s a, D F j'));
        }
        
#if($u_stageName)
        #set($url = "$base/ajax/tailBuildLogPanel.action?projectName=${u_projectName}&buildVID=${buildResult.number}&stageName=${u_stageName}&maxLines=${maxLines}&tailRefreshInterval=${tailRefreshInterval}&personal=$personal")
#else
        #set($url = "$base/ajax/tailBuildLogPanel.action?projectName=${u_projectName}&buildVID=${buildResult.number}&buildSelected=true&maxLines=${maxLines}&tailRefreshInterval=${tailRefreshInterval}&personal=$personal")
#end

        #updater($url "panel" $tailRefreshInterval "updaterCallback")
        
        function refreshNow()
        {
            refreshPanel('panel', '#jss($url)', updaterCallback);
        }

        Ext.onReady(function() {
            var combo = new Ext.form.ComboBox({
                transform: 'log-combo',
                id: 'select-log-combo',
                editable: false,
                triggerAction: 'all',
                width: 240,
#if($u_stageName)
                value: '#jss($u_stageName)'
#else
                value: ''
#end
            });

            combo.on('select', function(combo, record)
            {
                var choice = record.get('value');
                if (choice == '')
                {
                    window.location = '#jss($urls.buildLogs($buildResult))build/';
                }
                else
                {
                    window.location = '#jss($urls.buildLogs($buildResult))stage/' + choice + '/';
                }
            });

            updaterCallback();
        });

        function configureSettings()
        {
#if($loggedInUser)
            var popup = new Zutubi.reporting.project.TailSettingsWindow({
                username: '#jss($loggedInUser.name)',
                tailLines: $maxLines,
                tailRefreshInterval: $tailRefreshInterval
            });
            popup.bind("saved", function() { window.location.reload(); });
            popup.show();
#end
        }
    </script>
</head>
<body>
    #buildTabs($buildResult "logs")

    <form>
        <div class="build-page-header">
            <table class="log-header">
                <tr>
                    <td>
                        #wwtext("name=select.log"):
                    </td>
                    <td>
                        <select id="log-combo" name="chooseLog">
#foreach($stage in $stages.entrySet())
                            <option value="#uce($stage.getKey())">#html($stage.getValue())</option>
#end
                        </select>
                    </td>
#if($logExists)
    #if($u_stageName)
        #set($thisUrl = "$urls.buildLogs($buildResult)stage/${u_stageName}")
    #else
        #set($thisUrl = "$urls.buildLogs($buildResult)build")
    #end
                    <td>
                        <span class="understated">//</span>
                    </td>
                    <td>
                        <a class="unadorned" href="${thisUrl}/raw/true/"><img alt="down" src="$base/images/script_save.gif"/></a>
                        <a id="download-full-log" href="${thisUrl}/raw/true/">#wwtext("name=download.full.log")</a>
                    </td>
#end
                    <td>
                        <span class="understated">//</span>
                    </td>
                    <td id="current-settings">
                        $action.getText("settings.max.lines", ["$maxLines"]), $action.getText("settings.refresh.interval", ["$tailRefreshInterval"])
#if($loggedInUser)
                        <a class="unadorned" href="#" onclick="configureSettings(); return false;"><img alt="configure" src="$base/images/pencil.gif"/></a>
                        <a id="configure-settings" href="#" onclick="configureSettings(); return false;">#wwtext("name=configure")</a>
#end
                    </td>
                    <td>
                        <a class="unadorned" href="#" onclick="refreshNow(); return false;"><img alt="refresh now" src="$base/images/arrow_refresh.gif"/></a>
                        <a id="refresh-now" href="#" onclick="refreshNow(); return false;">#wwtext("name=refresh.now")</a>                        
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <h3 class="two-heading">
        <span id="refresh-time"></span>
        #wwtext("name=tail.box")
    </h3>
#if($stageName)
    #set($boxId = "stage-log-${project.name}-${buildResult.number}-${recipeResultNode.stageName}")
#else
    #set($boxId = "build-log-${project.name}-${buildResult.number}")
#end
    <div id='#id($boxId)' class="two-box">
        <div id="panel">
            #parse("ajax/tail-log-panel.vm")
        </div>
    </div>
</html>
