#helpTag("Changelist+View")
#authorisationTags($principle)
#if($buildResult)
    #buildTags($buildResult.project $buildResult)
#elseif($project)
    #projectTags($project)
#end
<html>
<head>
    <title>#wwtext("name=changelist") $changelist.revision</title>
</head>
<body>
#if($buildResult)
    #buildTabs($buildResult "changes")
    #set($thisUrl = $urls.buildChangelist($buildResult, $changelist.id))
#elseif($project)
    #projectTabs("home")
    #set($thisUrl = $urls.projectChangelist($project, $changelist.id))
#else
    #dashboardTabs("homepage")
    #set($thisUrl = $urls.dashboardChangelist($changelist.id))
#end

    <h1 id='#id("changelist.${changelist.revision}")'>:: #wwtext("name=changelist") $changelist.revision ::</h1>

    <table id="changelist.details" class="content">
        #headingRow("changelist.details" 2)
        #dynamicLinkRow("changelist.revision" $changelist.revision $changeUrl)
        #dynamicRow("changelist.who" $changelist.author)
        <tr>
            #contentRowHeading("changelist.when")
            #dateCell($changelist)
        </tr>
        <tr>
            #contentRowHeading("changelist.comment")
            <td class="content-wrap"><pre>$action.getCommitMessageSupport($changelist).wrap(80)</pre></td>
        </tr>
    </table>

    <table id="changelist.builds" class="content">
       #headingRow("changelist.builds" 4)
       <tr>
           #contentHeading("project" 1)
           #contentHeading("build.id" 1)
           #contentHeading("status" 2)
        </tr>
#foreach($result in $buildResults)
        <tr id="changelist.build.${velocityCount}">
            <td class="content"><a href="$urls.projectHome($result.project)">$!webwork.htmlEncode($result.project.name)</a></td>

            #set($result = $latestBuilds.get($index))

            #dynamicRightLinkCell($result.number "$urls.build($result)")
            #statusCell($result true)
        </tr>
#end
    </table>
    
    <table id="changelist.files" class="fill-content">
        #headingRow("changelist.files" 4)
        <tr>
            #contentHeading("changelist.file" 1)
            #contentHeading("changelist.revision" 1)
            #contentHeading("changelist.action" 1)
#if($changeViewerFound)
            #contentHeading("changelist.links" 1)
#end
        </tr>
#foreach($file in $fileModels)
        <tr id="changelist.file.${velocityCount}">
            #dynamicCell($file.path)
            #dynamicRightLinkCell($file.revision.revisionString $file.viewUrl)
            #dynamicCell($file.action.toString())
#if($changeViewerFound)
            <td class="content">
    #if($file.viewUrl)
                <a class="unadorned" href="$file.viewUrl" title="view"><img alt="view" src="$base/images/page.gif"/></a>
    #end
    #if($file.downloadUrl)
                <a class="unadorned" href="$file.downloadUrl" title="download"><img alt="download" src="$base/images/page_put.gif"/></a>
    #end
    #if($file.diffUrl)
                <a class="unadorned" href="$file.diffUrl" title="diff"><img alt="diff" src="$base/images/page_diff.gif"/></a>
    #end
            </td>
#end
        </tr>
#end
    </table>

#if($fileModels.size() > 0)
    <table class="fill-content">
        #pagingRow("$thisUrl" "" $pagingSupport)
        <tr><th class="content-centre" id="files-count" colspan="5">$action.getText("changelist.files.count", [$pagingSupport.totalItems])</th></tr>
    </table>
#end
</html>
