#helpTag("Build+Detailed+View+Tab")
#authorisationTags($principle)
#buildTags($project $result)
<html>
<head>
    <title>#wwtext("name=build") $result.number</title>
    <script type="text/javascript">
#if($action.haveCommandResult())
        var selectedNode = "$commandResult.id"
#elseif($action.haveRecipeResultNode())
        var selectedNode = "$recipeResultNode.id";
#else
        var selectedNode = "$result.root.id";
#end
    </script>
</head>
<body>
    #buildTabs($result "details")

    <table id='#id("${result.ownerName}-build-${result.number}-detailed")' class="twopane">
        <tr>
            <td class="leftpane">
                <p>
                    Select build/stage/command:
                </p>
                <ul class="panenav">
                    <li>
                        <a href="#" id="nav_$result.root.id" onclick="selectNode('$result.root.id'); return false;">
                            #statusImage($result false)
                            #wwtext("name=build") $result.number
                        </a>
    #if($result.root.children.size() > 0)
                        <ul>
        #foreach($node in $result.root.children)
                            <li id='#id("stage-${node.stageName}")'>
                                <a href="#" id="nav_$node.id" onclick="selectNode('$node.id'); return false;">
                                    #statusImage($node.result false)
                                    $!webwork.htmlEncode($node.stageName)
                                </a>
            #if($node.result.commandResults.size() > 0)
                               <ul>
                #foreach($commandResult in $node.result.commandResults)
                                   <li id='#id("stage-${node.stageName}-command-${commandResult.commandName}")'>
                                       <a href="#" id="nav_$commandResult.id" onclick="selectNode('$commandResult.id'); return false;">
                                           #statusImage($commandResult true)
                                           $!webwork.htmlEncode($commandResult.commandName)
                                       </a>
                                   </li>
                #end
                               </ul>
            #end
                            </li>
        #end
                        </ul>
    #end
                    </li>
                </ul>
            </td>


            <td class="rightpane">
                <div id="node_$result.root.id" style="display: none">
                    <div class="panecontent">
                        #showBuild($result false true)

    #set($customFields = $action.getCustomFields($result))
    #if($customFields.size() > 0)
                        <table class="content" id='#id("custom.fields")'>
                            #headingRow("build.custom.fields" 2)
                            <tr>
                                #contentHeading("custom.field.name" 1)
                                #contentHeading("custom.field.value" 1)
                            </tr>
        #foreach($customField in $customFields.entrySet())
                            #propertyRow($customField)
        #end
                        </table>
    #end
                    </div>
                </div>

    #foreach($node in $result.root.children)
        #set($recipeResult = $node.result)
                <div id="node_$node.id" style="display: none">
                    <div class="panecontent">
                        <table class="content">
                            #headingRow("build.stage.summary" 11)
                            #recipeSummaryHeader()
                            #recipeSummary($node $result true false)
                            #directMessages($node.result 11)
                        </table>
                        #recipeCommands($node $result)

        #set($customFields = $action.getCustomFields($recipeResult))
        #if($customFields.size() > 0)
                        <table class="content" id='#id("custom.fields.${node.stageName}")'>
                            #headingRow("build.custom.fields" 2)
                            <tr>
                                #contentHeading("custom.field.name" 1)
                                #contentHeading("custom.field.value" 1)
                            </tr>
            #foreach($customField in $customFields.entrySet())
                            #propertyRow($customField)
            #end
                        </table>
        #end
                    </div>
                </div>

        #foreach($commandResult in $recipeResult.commandResults)
                <div id="node_$commandResult.id" style="display: none">
                    <div class="panecontent">
                        <table class="content">
                            #headingRow("command.summary" 5)
                            <tr>
                                #contentHeading("command.name" 1)
                                #contentHeading("build.status" 2)
                                #contentHeading("build.when" 1)
                                #contentHeading("build.elapsed" 1)
                            </tr>
                            <tr>
                                #set($cssClass = $commandResult.state.string)
                                #contentCell($commandResult.commandName)
                                #statusCell($commandResult true)
                                #dateClassCell($commandResult)
                                #elapsedCell($commandResult)
                            </tr>
                            #directMessages($commandResult 5)
                        </table>

            #if($commandResult.properties.size() > 0)
                        <table class="content">
                            #headingRow("command.properties" 2)
                #foreach($property in $commandResult.properties.entrySet())
                            #propertyRow($property)
                #end
                        </table>
            #end

            #if($commandResult.hasArtifacts())
                        <h3>#wwtext("name=command.artifacts")</h3>
                        #commandArtifacts($result $recipeResult $commandResult true $recipeResult.completed())
            #end

                    </div>
                </div>
        #end
    #end
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        selectNode(selectedNode);
    </script>
</html>
