#helpTag("Build+Tests+Tab")
#authorisationTags($principle)
#buildTags($project $result)
<html>
<head>
    <title>#wwtext("name=build") $result.number</title>
</head>
<body>
    #buildTabs($result "tests")

    <div id='#id("${result.ownerName}-build-${result.number}-tests")'>
#if($result.completed())
    #if($result.hasTests())
    #testSummaryTable($result.testSummary)

    <table class="fill-content">
        #headingRow("build.stages" 8)
        <tr>
            #contentHeading("build.stage" 1)
            #contentHeading("test.status" 2)
            #contentHeading("test.total" 1)
            #contentHeading("test.failures" 1)
            #contentHeading("test.errors" 1)
            #contentHeading("test.skipped" 1)
            #contentHeading("test.success.rate" 1)
        </tr>
        #foreach($node in $result.root.children)
            #set($summary = $node.result.testSummary)
        <tr>
            <td class="content"><a id='#id("stage-${node.stageName}")' href="$urls.stageTests($result, $node)">#html($node.stageName)</a></td>
            #testStatusCell($summary)
            #rightCell($summary.total)
            #rightCell($summary.failures)
            #rightCell($summary.errors)
            #rightCell($summary.skipped)
            #rightCell("${summary.successRate}%")
        </tr>
        #end
    </table>

    #buildTestFailures($result)
    #else
    <p id="no.tests">
        #wwtext("name=build.no.tests")
    </p>
    #end
#else
    <p id="build.incomplete">
        #wwtext("name=tests.build.incomplete")
    </p>
#end
    </div>
</html>
