#helpTag("Browse+Section")
#authorisationTags($principle)
<content tag="selectedTab">projects</content>
<html>
<head>
    <title>#wwtext("name=projects")</title>
    <script type="text/javascript">
        #updater("$base/ajax/viewProjectsPanel.action" "projects" $principle)

        var modelMap = {};

        var toggleModel = function(key) {
            modelMap[key].toggle();
        }
    </script>
    #if ($rssEnabled)
        <link rel="alternate" type="application/rss+xml" title="RSS" href="$base/rss.action"/>
    #end
</head>
<body>
    <div id="projects">
        #parse("ajax/view-projects-panel.vm")
    </div>
</body>
</html>
