#helpTag("Agents+Section")
#authorisationTags($principle)
<content tag="selectedTab">agents</content>
<html>
<head>
    <title>#wwtext("name=agents")</title>
    <script type="text/javascript">
        #updater("$base/ajax/viewAgentsPanel.action" "panel" $principle "Ext.emptyFn")
    </script>
</head>
<body>
    <h1>:: #wwtext("name=agents") ::</h1>

    <table class="columns" width="98%">
        <tr>
            <td class="columns">
                <div id="panel">
                    #parse("ajax/view-agents-panel.vm")
                </div>
            </td>
            <td class="right">
                <table class="content" style="float: right">
                    #headingRow("agent.downloads" 1)
                    <tr>
                        #actionCell("download.format.zip" "$base/packages/pulse-agent-${version_number}.zip" "compress.gif")
                    </tr>
                    <tr>
                        #actionCell("download.format.tar" "$base/packages/pulse-agent-${version_number}.tar.gz" "compress.gif")
                    </tr>
                    <tr>
                        #actionCell("download.format.exe" "$base/packages/pulse-agent-${version_number}.exe" "pulse.gif")
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
