#helpTag("Server+Section")
#authorisationTags($principle)
<content tag="selectedTab">server</content>
<html>
<head>
    <title>#wwtext("name=server.activity")</title>
    <script type="text/javascript">
        #updater("$base/ajax/viewServerQueuesPanel.action" "panel" $principle "Ext.emptyFn")
    </script>
</head>
<body>
    #serverTabs("activity")
    
    <div id="panel">
        #parse("ajax/view-server-queues-panel.vm")
    </div>
</body>
</html>
