#helpTag("Build+Summary+Tab")
#authorisationTags($principle)
#buildTags($project $buildResult "summary")

#if($personal)
    #set($ownerArg = "personal=true")
#else
    #set($ownerArg = "projectName=$u_projectName")
#end

<html>
<head>
    <title>#wwtext("name=build") $result.number</title>
    <script type="text/javascript">
        #updater("$base/ajax/viewBuildPanel.action?${ownerArg}&buildVID=$buildResult.number" "panel" $principle "Ext.emptyFn")

        function triggerHook(hookHandle)
        {
            hideStatus(false);
            
            Ext.Ajax.request({
                url: '${base}/ajax/triggerBuildHook.action',
                params: {
#if($personal)
                    personal: 'true',
#else
                    projectName: '#jss($h_projectName)',
#end
                    buildVID: '$buildResult.number',
                    hook: hookHandle
                },

                success: function(transport, options)
                {
                    var response = eval("(" + transport.responseText + ")");
                    if(response.success)
                    {
                        showStatus(response.detail, 'success');
                    }
                    else
                    {
                        showStatus('Unable to trigger hook: ' + response.detail, 'failure');
                    }
                },

                failure: function(transport, options)
                {
                    showStatus.update('Hook trigger failed.', 'failure');
                }
            });
        };
    </script>
</head>
<body>
    #buildTabs($buildResult "summary")

    <div id="panel">
        #parse("ajax/view-build-panel.vm")
    </div>
</html>
