#helpTag("Build+Artifacts+Tab")
#authorisationTags($principle)
#buildTags($project $buildResult "artifacts")
<html>
<head>
    <title>#wwtext("name=build") $buildResult.number</title>

    <script type="text/javascript">
        Ext.onReady(function() {
            var tree = new ZUTUBI.ArtifactsTree({
                projectId: '$project.id',
                buildId: '$buildResult.id',
                id: 'artifacts-tree',
                filter: '$filter'
            });

            var nestedCenter = Ext.getCmp('nested-center');
            nestedCenter.update('');
            nestedCenter.add(tree);
            viewport.doLayout();
        });
    </script>
</head>
<body>
    #buildTabs($buildResult "artifacts")
</body>
</html>
