#helpTag("Changelist+View")
#authorisationTags($principle)
#if($buildResult)
    #buildTags($buildResult.project $buildResult "changes")
    #set($thisUrl = $urls.buildChangelist($buildResult, $changelist.id))
#elseif($project)
    #projectTags($project)
    #set($thisUrl = $urls.projectChangelist($project, $changelist.id))
#else
    #set($thisUrl = $urls.dashboardChangelist($changelist.id))
#end
<content tag="header.javascript">
    zutubi/pulse/project/ChangelistPanel.js
</content>
<html>
    <head>
        <title>#wwtext("name=changelist") $changelist.revision</title>
        <script type="text/javascript">
            var panel = null;

            function refresh(cb)
            {
                panel.load(cb);
            }

            Ext.onReady(function() {
                panel = new Zutubi.pulse.project.ChangelistPanel({
                    id: 'changelist',
                    url: window.baseUrl + '/ajax/changelistData.action?id=$changelist.id&startPage=$startPage&projectName=$u_projectName',
                    loadingId: 'changelist-#jss($changelist.revision.revisionString)',
                    containerId: 'nested-center',
                    refreshInterval: $refreshInterval,
                    revision: '$changelist.revision',
                    pagerUrl: '$thisUrl'
                });
            });
        </script>
    </head>
<body>
#if($buildResult)
    #buildTabs($buildResult "changes")
#elseif($project)
    #projectTabs("home")
#else
    #dashboardTabs("homepage")
#end
    <div id='#id("changelist-$changelist.revision.revisionString")'>
    </div>
</body>
</html>
