#macro(revisionChoice $key $build)
    #if($build)
        #set($showLink = !$sinceBuild || $sinceBuild != $build)
        <tr>
            <td><a id="compare-to-$key" href="$urls.buildChanges($buildResult)sinceBuild/$build.number/">$action.getText($key)</a></td>
            <td><a href="$urls.build($build)">#wwtext("name=build") $build.number</a></td>
            <td>#wwtext("name=revision") $build.revision</td>
        </tr>
    #end
#end

#macro(upstreamContext $context)
    #foreach($upstreamBuild in $context)
        #if ($velocityCount > 1) &gt; #end
            <a href="$urls.project($upstreamBuild.project)">$webwork.htmlEncode($upstreamBuild.project.name)</a> :: <a href="$urls.build($upstreamBuild)">build $upstreamBuild.number</a>
    #end
#end

#macro(changelistModel $prefix $model)
    #set($change = $model.changelist)
    #set($changeIndex = $velocityCount)
    $action.updateChangeUrl($model)
    #set($url = $action.getChangeUrl())
    #set($preferredBuild = $model.preferredBuild)
    #set($commitMessageSupport = $action.getCommitMessageSupport($model))
    #set($commentId = "${change.id}_comment")
    <table id="${prefix}.${changeIndex}" class="change">
        <tr>
            <td class="change-heading">
                <img src="$base/images/page_code.gif" alt="change">
                #if($url)<a href="$url">#end$!webwork.htmlEncode($change.revision)#if($url)</a>#end
                <span class="unspacer"></span>
                <img src="$base/images/user.gif" alt="author">
                $change.author
                <span class="unspacer"></span>
                <a href="#" class="unadorned" title="$change.getPrettyDate($locale)" onclick="toggleDisplay('time_${change.id}'); toggleDisplay('date_${change.id}'); return false;">
                    <img alt="toggle format" src="$base/images/calendar.gif"/>
                </a>
                <span id="time_${change.id}" #if($absoluteTimestamps) style="display: none #end">$change.prettyTime</span>
                <span id="date_${change.id}" #if(!$absoluteTimestamps) style="display: none #end">$change.getPrettyDate($locale)</span>
                <span class="unspacer"></span>
                <a class="unadorned" href="$urls.buildChangelist($preferredBuild, $change.id)"><img src="$base/images/magnifier.gif" alt="view details"></a>
                <a id="view.${change.id}" href="$urls.buildChangelist($preferredBuild, $change.id)">#wwtext("name=change.details")</a>
            </td>
        </tr>
        #if($model.upstreamContexts.size() > 0)
        <tr>
            <td class="change-via" id="${prefix}.${changeIndex}.via">
                Via:
            #if($model.upstreamContexts.size() > 1)
                <ul class="points">
                #foreach($context in $model.upstreamContexts)
                    <li id="${prefix}.${changeIndex}.via.${velocityCount}">
                        #upstreamContext($context)
                    </li>
                #end
                </ul>
            #else
                <span id="${prefix}.${changeIndex}.via.1">#upstreamContext($model.upstreamContexts.get(0))</span>
            #end
            </td>
        </tr>
        #end
        <tr>
            <td class="change-comment" id="${prefix}.${changeIndex}.comment">
    #if ($commitMessageSupport.length > 300)
        $commitMessageSupport.trim(300)
        #showHideButton("comments" "${commentId}" "tr-br?")
                <div id="$commentId" style="display: none">
                    <table class="content" style="margin: 0">
                        <tr>
                            <th class="heading">
                                <span class="action">
                                    <a href="#" onclick="Zutubi.FloatManager.showHideFloat('comments', '$commentId'); return false;"><img alt="$action.getText('close')" src="$base/images/delete.gif"/>#wwtext("name=close")</a>
                                </span>
                                #wwtext("name=change.comment")
                            </th>
                        </tr>
                        <tr>
                            <td><pre>$commitMessageSupport.wrap(80)</pre></td>
                        </tr>
                    </table>
                </div>
    #else
                $commitMessageSupport.wrap(80)
    #end
            </td>
        </tr>
    #if($model.changeCount > 0)
        <tr>
            <td class="change-files">
                <ul>
        #if($model.changeCount < 5)
            #set($limit = $model.changeCount - 1)
            #set($remaining = 0)
        #else
            #set($limit = 4)
            #set($remaining = $model.changeCount - 5)
        #end
        #foreach($i in [0..$limit])
            #set($file = $model.changes.get($i))
                    <li id="${prefix}.${changeIndex}.file.${velocityCount}">$!webwork.htmlEncode($file.filename) #$file.revisionString - $file.action.toString()</li>
        #end
        #if($remaining > 0)
                    <li>... ($remaining #wwtext("name=change.more.files"))</li>
        #end
                </ul>
            </td>
        </tr>
    #end
    </table>
#end

#helpTag("Build+Changes+Tab")
#authorisationTags($principle)
#buildTags($project $buildResult "changes")
<html>
<head>
    <title>#wwtext("name=build") $buildResult.number</title>
</head>
<body>
    #buildTabs($buildResult "changes")

    #parse("/template/includes/actionerrors.vm")

    <div id='#id("${buildResult.ownerName}-build-${buildResult.number}-changes")'>

#if($buildResult.revision && !$buildResult.userRevision)
    <div class="build-page-header">
        #wwtext("name=changes.build.revision") $buildResult.revision.

    ##-------------------------------------------------------------------------
    ## Information about what we are comparing against, and other options.
    ##-------------------------------------------------------------------------
    #if($sinceResult)
            #wwtext("name=changes.since") <a href="$urls.build($sinceResult)">#wwtext("name=build") $sinceResult.number</a> (#wwtext("name=revision") $sinceResult.revision).
            #showHideButton("compare-to" "compare-to" "tl-bl?")
        #if($changelists.size() == 0)
            #wwtext("name=changes.found.none")
        #elseif($changelists.size() == 1)
            #wwtext("name=changes.found.one")
        #else
            $action.getText("changes.found.multiple", [$changelists.size()])
        #end
    #end
    </div>

    #if($changelists.size() > 0)
        <div id="changelist-tables">
        ##-------------------------------------------------------------------------
        ## Changes list (one table per change)
        ##-------------------------------------------------------------------------
        #foreach($model in $changelists)
            #changelistModel("change" $model)
        #end
        </div>
    #else
        <p>
            #wwtext("name=changes.none")
        </p>
    #end

    #if($upstreamChangelists.size() > 0)
        <h2 class="section">#wwtext("name=upstream.changes")</h2>
    
        <div id="upstream-changelist-tables">
        ##-------------------------------------------------------------------------
        ## Upstream changes list (one table per change)
        ##-------------------------------------------------------------------------
        #foreach($model in $upstreamChangelists)
            #changelistModel("upstream" $model)
        #end
        </div>
    #end

    ##-------------------------------------------------------------------------
    ## Popup to select change to compare against.
    ##-------------------------------------------------------------------------
    <div id="compare-to" style="display: none">
        <table class="content" style="margin: 0">
            <tr>
                <th class="heading" colspan="3">
                    <span class="action">
                        <a href="#" onclick="Zutubi.FloatManager.showHideFloat('compare-to', 'compare-to'); return false;"><img alt="$action.getText('close')" src="$base/images/delete.gif"/>#wwtext("name=close")</a>
                    </span>
                    #wwtext("name=changes.compare.to")
                </th>
            </tr>
            #revisionChoice("changes.previous" $previous)
            #revisionChoice("changes.previous.successful" $previousSuccessful)
            #revisionChoice("changes.previous.unsuccessful" $previousUnsuccessful)
        </table>
    </div>
#else
    ##-------------------------------------------------------------------------
    ## No changes, tell the user why.
    ##-------------------------------------------------------------------------
    <p>
    #if(!$buildResult.revision)
        #wwtext("name=changes.no.revision")
    #else
        #wwtext("name=changes.user.revision")
    #end
    </p>
#end
    </div>
</body>
</html>
