#helpTag("Build+Changes+Tab")
#authorisationTags($principle)
#buildTags($project $buildResult "changes")
<html>
<head>
    <title>#wwtext("name=build") $buildResult.number</title>
</head>
<body>
    #buildTabs($buildResult "changes")

    #parse("/template/includes/actionerrors.vm")

    <div class="build-page-header" id="checked-out-revision">
        #wwtext("name=checked.out.revision")
        #if($changeUrl)<a href="$changeUrl">#end${buildResult.revision}#if($changeUrl)</a>#end
    </div>

    <table id='#id("${buildResult.ownerName}-build-${buildResult.number}-changes")' class="two-content">
        <tr><th colspan="2" class="two-heading leftmost rightmost">#wwtext("name=patch.changes")</th></tr>
#if($fileStatuses.size() > 0)
        <tr>
            <th class="content leftmost">#wwtext("name=patch.id")</th>
            <th class="content rightmost">#wwtext("name=patch.status")</th>
        </tr>
    #foreach($fileStatus in $fileStatuses)
        <tr>
            <td class="content leftmost">$!webwork.htmlEncode($fileStatus.id)</td>
            <td class="content rightmost">$!webwork.htmlEncode($fileStatus.state.toString().toLowerCase())</td>
        </tr>
    #end
#else
    <tr>
        <td class="content leftmost rightmost" colspan="2">#wwtext("name=personal.changes.none")</td>
    </tr>
#end
    </table>
</html>
