#helpTag("Build+Summary+Tab")
#authorisationTags($principle)
#buildTags($project $buildResult "summary")

#if($personal)
    #set($ownerArg = "personal=true")
#else
    #set($ownerArg = "projectName=$u_projectName")
#end

<html>
<head>
    <title>#wwtext("name=build") $result.number</title>
    <script type="text/javascript">
        var buildPanel;
        var initialised = false;
        var runner = null;
        
        function updateContent()
        {
            Ext.Ajax.request({
                url: '#jss("$base/ajax/viewBuildSummaryPanel.action?${ownerArg}&buildVID=$buildResult.number")',
                success: function(transport, options)
                {
                    var response = eval("(" + transport.responseText + ")");
                    buildPanel.layout.center.panel.update(response.mainPanel);
                    buildPanel.layout.east.panel.update(response.rightPanel);
                    initialised = true;
                },
                
                failure: function(transport, options)
                {
                    if (runner)
                    {
                        runner.stopAll();
                    }

                    if (!initialised)
                    {
                        Ext.get('build-loading').update('#wwtext("name=loading.failed")');
                    }
                }
            });
        }
                
        function triggerHook(hookHandle)
        {
            hideStatus(false);
            
            Ext.Ajax.request({
                url: '${base}/ajax/triggerBuildHook.action',
                params: {
#if($personal)
                    personal: 'true',
#else
                    projectName: '#jss($h_projectName)',
#end
                    buildVID: '$buildResult.number',
                    hook: hookHandle
                },

                success: function(transport, options)
                {
                    var response = eval("(" + transport.responseText + ")");
                    if(response.success)
                    {
                        showStatus(response.detail, 'success');
                    }
                    else
                    {
                        showStatus('Unable to trigger hook: ' + response.detail, 'failure');
                    }
                },

                failure: function(transport, options)
                {
                    showStatus.update('Hook trigger failed.', 'failure');
                }
            });
        };

        Ext.onReady(function() {
            buildPanel = new Ext.Panel({
                layout: 'border',
                border: false,
                defaults: {
                    layout: 'fit',
                    border: false,
                    autoScroll: true,
                    bodyStyle: "padding: 15px"
                },
                items: [{
                    region: 'center',
                    id: 'build-center',
                    split: false,
                    contentEl: 'center'
                }, {
                    region: 'east',
                    id: 'build-east',
                    split: true,
                    collapsible: true,
                    collapseMode: 'mini',
                    hideCollapseTool: true,
                    width: 300
                }]
            });
        
            var nestedCenter = Ext.getCmp('nested-center');
            nestedCenter.add(buildPanel);
            viewport.doLayout();

    #if($refreshInterval || $principle.preferences.refreshingEnabled)
            var task = {
                run: updateContent,
                interval: 1000 * #if($refreshInterval) $refreshInterval #else $principle.preferences.refreshInterval #end
            }
            
            runner = new Ext.util.TaskRunner();
            runner.start(task);
    #else
            updateContent();
    #end
        });
    </script>
</head>
<body>
    #buildTabs($buildResult "summary")
    
    <div id="build-loading">
        <img alt="loading" src="$base/images/inprogress.gif"/> #wwtext("name=loading.data")
    </div>
</html>
