#helpTag("Build+Summary+Tab")
#authorisationTags($principle)
#buildTags($project $buildResult "summary")
<content tag="header.javascript">
    zutubi/pulse/project/browse/BuildSummaryPanel.js
</content>
<html>
<head>
    <title>#wwtext("name=build") $buildResult.number</title>
    <script type="text/javascript">
        var panel = null;
        
        function refresh(cb)
        {
            panel.load(cb);
        }
            
        Ext.onReady(function() {
            panel = new Zutubi.pulse.project.browse.BuildSummaryPanel({
                id: 'build-summary',
                url: window.baseUrl + '/ajax/buildSummaryData.action?personal=$buildResult.personal&projectId=$project.id&buildVID=$buildResult.number',
                loadingId: '#id("${buildResult.ownerName}-build-${buildResult.number}-summary")',
                containerId: 'nested-center',
                refreshInterval: $refreshInterval,
                projectId: '$project.id',
                projectName: '#jss($project.name)',
                buildsUrl: '#jss($urls.projectBuilds($project))',
                buildId: '$buildResult.id',
                buildNumber: '$buildResult.number',
                personal: $buildResult.personal
            });
        });
    </script>                
</head>
<body>
    #buildTabs($buildResult "summary")

    <div id='#id("${buildResult.ownerName}-build-${buildResult.number}-summary")'>
    </div>
</html>
