#helpTag("Build+Tests+Tab")
#authorisationTags($principle)
#buildTags($project $buildResult "tests")
<html>
<head>
    <title>#wwtext("name=build") $buildResult.number</title>

    <script type="text/javascript">
        var filtering = false;

        function applyFilter(filter)
        {
            filtering = true;
            toggleSuccessfulTestRows('child-suites', filter == '');
            toggleSuccessfulTestRows('child-cases', filter == '');

            runAjaxRequest({
                url: '$base/ajax/setTestFilter.action',
                params: {
                    buildId: '$buildResult.id',
                    filter: filter
                },
                callback: function() {
                    filtering = false;
                }
            });
        }

        Ext.onReady(function() {
            new Zutubi.toolbar.Toolbar({
                id: 'build-toolbar',
                renderTo: 'build-toolbar-holder',
                enableOverflow: true,
                items: [{
                        xtype: 'label',
                        text: 'filter:'
                    }, ' ', {
                    xtype: 'combo',
                    id: 'filter-combo',
                    width: 200,
                    mode: 'local',
                    triggerAction: 'all',
                    editable: false,
                    store: new Ext.data.ArrayStore({
                        idIndex: 0,
                        fields: [
                            'filter',
                            'text'
                        ],
                        data: [
                            ['', 'all tests'],
                            ['broken', 'broken tests only']
                        ]
                    }),
                    valueField: 'filter',
                    displayField: 'text',
                    value: #if($filterTests) 'broken' #else '' #end,
                    listeners: {
                        select: function(combo, record) {
                            applyFilter(record.get('filter'));
                        }
                    }
                }, '  ', {
                    xtype: 'tbtext',
                    text: '<span class="understated">//</span>'
                }, {
                    xtype: 'xztblink',
                    id: 'allcrumb',
                    text: '#wwtext("name=tests.all")',
                    url: '#jss($urls.buildTests($buildResult))'
                }, '::', {
                    xtype: 'xztblink',
                    id: 'stagecrumb',
                    text: Ext.util.Format.htmlEncode('#wwtext("name=build.stage") #jss($stageName)'),
                    url: '#jss($urls.stageTests($buildResult, $recipeResultNode))'
                }
#set($suitePath="")
#set($rawSuitePath="")
#foreach($element in $paths)
    #if($element.length() > 0)
        #if($suitePath.length() > 0)
            #set($suitePath = "$suitePath/$action.uriComponentEncode($element)")
            #set($rawSuitePath = "$rawSuitePath/$element")
        #else
            #set($suitePath = "$action.uriComponentEncode($element)")
            #set($rawSuitePath = "$element")
        #end
                , '::', {
                xtype: 'xztblink',
                id: '#id("suitecrumb-${rawSuitePath}")',
                text: Ext.util.Format.htmlEncode('#wwtext("name=test.suite") #jss($element)'),
                url: '#jss("$urls.stageTests($buildResult, $recipeResultNode)${suitePath}/")'

                }
    #end
#end
                ]
            });
        });
    </script>
</head>
<body>
    #buildTabs($buildResult "tests")

#if($id)
    #set($pathComponent = "-$id")
#else
    #set($pathComponent = "")
#end

    <div id='#id("${buildResult.ownerName}-build-${buildResult.number}-tests-${stageName}${pathComponent}")'>
        <div id="build-toolbar-holder"></div>

#if($recipeResultNode.result.completed())
    #if($suiteExists)
        #testSummaryTable($suite.summary)
    
        #if($suite.suites.size() > 0)
            <table id="child-suites" class="fill two-content spaced">
                <th class="two-heading" colspan="9">
                    #wwtext("name=test.suites")
                </th>
                <tr>
                    #contentClassHeading("test.name" 1 "leftmost")
                    #contentHeading("test.status" 2)
                    #contentHeading("test.total" 1)
                    #contentHeading("test.failures" 1)
                    #contentHeading("test.errors" 1)
                    #contentHeading("test.expected.failures" 1)
                    #contentHeading("test.skipped" 1)
                    #contentClassHeading("test.duration" 1 "rightmost")
                </tr>
            #foreach($childSuite in $suite.suites)
                #if($childSuite.hasBrokenTests())
                    #set($cssClass = "failed")
                #else
                    #set($cssClass = "successful")
                #end
                <tr class="$cssClass" #if($filterTests && !$childSuite.hasBrokenTests()) style="display: none" #end>
                    <td class="content leftmost"><a id='#id("suite-${childSuite.name}")' href="$urls.stageTests($buildResult, $recipeResultNode)$action.getChildUriPath($childSuite.name)/">#html($childSuite.name)</a></td>
                    #testStatusCell($childSuite "")
                    #rightCell($childSuite.total)
                    #rightCell($childSuite.failures)
                    #rightCell($childSuite.errors)
                    #rightCell($childSuite.expectedFailures)
                    #rightCell($childSuite.skipped)
                    <td class="content-right rightmost">$childSuite.prettyDuration</td>
                </tr>
            #end
            </table>
        #end
    
        #if($suite.cases.size() > 0)
            <table id="child-cases" class="fill two-content spaced">
                <th class="two-heading" colspan="5">
                    #wwtext("name=test.cases")
                </th>
                <tr>
                    #contentClassHeading("test.name" 1 "leftmost")
                    #contentHeading("test.status" 2)
                    #contentHeading("test.details" 1)
                    #contentClassHeading("test.duration" 1 "rightmost")
                </tr>
            #foreach($childCase in $suite.cases)
                #if($childCase.hasBrokenTests())
                    #set($cssClass = "failed")
                #else
                    #set($cssClass = "successful")
                #end
                <tr class="$cssClass" #if($filterTests && !$childCase.hasBrokenTests()) style="display: none" #end>
                    <td class="content leftmost">$!webwork.htmlEncode($childCase.name)</td>
                    #testStatusCell($childCase "")
                    #if($childCase.message)
                    <td class="content-wrap">
                        $action.plainToHtml($childCase.message)
                    </td>
                    #else
                        #contentCell("empty.cell")
                    #end
                    <td class="content-right rightmost">$childCase.prettyDuration</td>
                </tr>
            #end
            </table>
        #end
    #else
        <span id="test-load-failure">#wwtext("name=test.load.failure")</span>
    #end
#else
    <span id="test-stage-incomplete">#wwtext("name=test.stage.incomplete")</span>
#end
    </div>
</html>
