#helpTag("Build+Tests+Tab")
#authorisationTags($principle)
#buildTags($project $result "tests")
<html>
<head>
    <title>#wwtext("name=build") $result.number</title>
    <script type="text/javascript">
#if($personal)
    #set($ownerArg = "personal=true")
#else
    #set($ownerArg = "projectName=$u_projectName")
#end
        #updater("$base/ajax/viewTestsPanel.action?${ownerArg}&buildVID=$buildResult.number" "panel" $refreshInterval "Ext.emptyFn")
    </script>
</head>
<body>
    #buildTabs($result "tests")

    <div id="panel">
        #parse("ajax/view-tests-panel.vm")
    </div>
</html>
