#authorisationTags($principle)
<html>
  <head>
    <title>triggers</title>
    <link href="$base/css/build.css?#version()" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1 class="build-log">:: triggers ::</h1>
    <h2 class="command-info">triggers</h2>
    <div class="command-content">
        <table>
          <tr>
            <th class="command-detail">name</th>
            <th class="command-detail">group</th>
            <th class="command-detail">project</th>
            <th class="command-detail">count</th>
            <th class="command-detail">previous trigger</th>
            <th class="command-detail">state</th>
            <th class="command-detail" colspan="3">action</th>
          </tr>
#foreach($trigger in $triggers)
          <tr>
            <td class="command-detail">$trigger.name</td>
            <td class="command-detail">$trigger.group</td>
            <td class="command-detail">$!trigger.projectId</td>
            <td class="command-detail">$trigger.triggerCount</td>
            <td class="command-detail">$trigger.previousTriggerTime</td>
            <td class="command-detail">#renderTriggerState($trigger.state)</td>
            <td class="command-detail">pause/resume</td>
            <td class="command-detail">edit</td>
            <td class="command-detail">delete</td>
          </tr>
#end
        </table>
    </div>
  </body>
</html>
