#helpTag("Build+Changes+Tab")
#authorisationTags($principle)
#buildTags($project $buildResult)
<html>
<head>
    <title>#wwtext("name=build") $buildResult.number</title>
    <script type="text/javascript" src="$base/js/prototype.js"></script>
</head>
<body>
    #buildTabs($buildResult "changes")

    #parse("/template/includes/actionerrors.vm")

#macro(revisionCell $key $build $showLink)
    #if($build)
        #set($revision = "build $build.number")
        #if($build.revision)
            #set($revision = "$revision: revision $build.revision")
        #else
            #set($revision = "$revision: no revision")
        #end
        #if($showLink)
            #set($linkText = $action.getText("changes.since"))
            #set($revision = "$revision [<a href='$urls.buildChanges($buildResult)sinceBuild/$build.number/'>$linkText</a>]")
        #end
    #else
        #set($revision = "no build")
    #end
    <tr>
        #contentRowHeading($key)
        #staticCell($revision)
    </tr>
#end

    <table id='#id("${buildResult.ownerName}-build-${buildResult.number}-changes")' class="content">
        #headingRow("changes.revisions" 2)
        #revisionCell("changes.build.revision" $buildResult false)
#if(!$buildResult.userRevision)
        #revisionCell("changes.previous.revision" $previous true)
        #revisionCell("changes.previous.successful.revision" $previousSuccessful true)
        #revisionCell("changes.previous.unsuccessful.revision" $previousUnsuccessful true)
#end
    </table>

#if($changelists.size() > 0)
    #if($sinceResult)
        #set($title = $action.getText("changes.between", [$sinceResult.number, $buildResult.number]))
    #else
        #set($title = $action.getText("changes.in.build", [$buildResult.number]))
    #end
    <table id="changelist.summaries" class="content">
        #headingRow($title 5)
    #foreach($model in $changelists)
        #set($change = $model.changelist)
        #set($changeIndex = $velocityCount)
        <tr id="change.${changeIndex}">
            #contentHeading("change.revision" 1)
            #contentHeading("change.who" 1)
            #contentHeading("change.when" 1)
            #contentHeading("change.comment" 1)
            #contentHeading("actions" 1)
        </tr>
        $action.updateChangeUrl($change)
        #set($url = $action.getChangeUrl())
        <tr>
            #dynamicRightLinkCell($change.revision $url)
            #dynamicCell($change.author)
            #dateCell($change)
            #commitCommentCell($change "changes")
            #linkCell("view.$change.id" "view" "$urls.buildChangelist($buildResult, $change.id)")
        </tr>
        #if($model.changeCount > 0)
        <tr>
            <td class="content" colspan="5">
                <b>#wwtext("name=changes.files")</b>
                <ul>
            #if($model.changeCount < 5)
                #set($limit = $model.changeCount - 1)
                #set($remaining = 0)
            #else
                #set($limit = 4)
                #set($remaining = $model.changeCount - 5)
            #end
            #foreach($i in [0..$limit])
                #set($file = $model.changes.get($i))
                    <li id="change.${changeIndex}.file.${velocityCount}">$!webwork.htmlEncode($file.filename) #$file.revisionString - $file.action.toString()</li>
            #end
            #if($remaining > 0)
                    <li>... ($remaining #wwtext("name=changes.more.files"))</li>
            #end
                </ul>
            </td>
        </tr>
        #end
    #end
    </table>
#else
    <p>
        <td class="content" colspan="5">
    #if($buildResult.userRevision)
            #wwtext("name=changes.user.revision")
    #else
            #wwtext("name=changes.none")
    #end
        </td>
    </p>
#end
</html>
