#helpTag("Build+Tests+Tab")
#authorisationTags($principle)
#buildTags($project $buildResult)
<html>
<head>
    <title>#wwtext("name=build") $buildResult.number</title>
    <script type="text/javascript">
    <!--
        var successfulShowing = {
            "suites": true,
            "cases": true
        };

        function toggleSuccessful(name)
        {
            if(successfulShowing[name])
            {
                text = "#wwtext("name=tests.show.successful")";
                successfulShowing[name] = false;
            }
            else
            {
                text = "#wwtext("name=tests.hide.successful")";
                successfulShowing[name] = true;
            }

            toggleSuccessfulTestRows("child-" + name, successfulShowing[name]);
            setText(name + "-toggle", text);
        }
	-->
    </script>
</head>
<body>
    #buildTabs($buildResult "tests")
#if($path)
    #set($pathComponent = "-$path")
#else
    #set($pathComponent = "")
#end
    <p id='#id("${buildResult.ownerName}-build-${buildResult.number}-tests-${stageName}${pathComponent}")'>
        <a id="allcrumb" href="$urls.buildTests($buildResult)">#wwtext("name=tests.all")</a>
        :: <a id="stagecrumb" href="$urls.stageTests($buildResult, $recipeResultNode)">#wwtext("name=build.stage") $h_stageName</a>
#set($suitePath="")
#set($rawSuitePath="")
#foreach($element in $paths)
    #if($element.length() > 0)
        #if($suitePath.length() > 0)
            #set($suitePath = "$suitePath/$action.uriComponentEncode($element)")
            #set($rawSuitePath = "$rawSuitePath/$element")
        #else
            #set($suitePath = "$action.uriComponentEncode($element)")
            #set($rawSuitePath = "$element")
        #end
        :: <a id='#id("suitecrumb-${rawSuitePath}")' href="$urls.stageTests($buildResult, $recipeResultNode)${suitePath}/">#wwtext("name=test.suite") #html($element)</a>
    #end
#end
    </p>

#if($suiteExists)
    #testSummaryTable($suite.summary)

    #if($suite.suites.size() > 0)
        <table id="child-suites" class="fill-content">
            <th class="heading" colspan="9">
               <span class="action">
                   <a href="#" id="suites-toggle" onclick="toggleSuccessful('suites'); return false;">
                        #wwtext("name=tests.hide.successful")
                    </a>
                </span>
                #wwtext("name=test.suites")
            </th>
            <tr>
                #contentHeading("test.name" 1)
                #contentHeading("test.status" 2)
                #contentHeading("test.total" 1)
                #contentHeading("test.failures" 1)
                #contentHeading("test.errors" 1)
                #contentHeading("test.expected.failures" 1)
                #contentHeading("test.skipped" 1)
                #contentHeading("test.duration" 1)
            </tr>
        #foreach($childSuite in $suite.suites)
            #if($childSuite.hasBrokenTests())
                #set($cssClass = "failed")
            #else
                #set($cssClass = "successful")
            #end
            <tr class="$cssClass">
                <td class="content"><a id='#id("suite-${childSuite.name}")' href="$urls.stageTests($buildResult, $recipeResultNode)$action.getChildUriPath($childSuite.name)/">#html($childSuite.name)</a></td>
                #testStatusCell($childSuite)
                #rightCell($childSuite.total)
                #rightCell($childSuite.failures)
                #rightCell($childSuite.errors)
                #rightCell($childSuite.expectedFailures)
                #rightCell($childSuite.skipped)
                #rightCell($childSuite.prettyDuration)
            </tr>
        #end
        </table>
    #end

    #if($suite.cases.size() > 0)
        <table id="child-cases" class="fill-content">
            <th class="heading" colspan="5">
               <span class="action">
                   <a href="#" id="cases-toggle" onclick="toggleSuccessful('cases'); return false;">
                        #wwtext("name=tests.hide.successful")
                    </a>
                </span>
                #wwtext("name=test.cases")
            </th>
            <tr>
                #contentHeading("test.name" 1)
                #contentHeading("test.status" 2)
                #contentHeading("test.details" 1)
                #contentHeading("test.duration" 1)
            </tr>
        #foreach($childCase in $suite.cases)
            #if($childCase.hasBrokenTests())
                #set($cssClass = "failed")
            #else
                #set($cssClass = "successful")
            #end
            <tr class="$cssClass">
                #dynamicCell($childCase.name)
                #testStatusCell($childCase)
                #if($childCase.message)
                <td class="content-wrap">
                    $action.plainToHtml($childCase.message)
                </td>
                #else
                    #contentCell("empty.cell")
                #end
                #rightCell($childCase.prettyDuration)
            </tr>
        #end
        </table>
    #end
#else
    <span id="test.load.failure">#wwtext("name=test.load.failure")</span>
#end

</html>
