#macro(actionHeader $id $action $img $url)
    <th><img alt="$action" src="$base/images/${img}.gif"/> #if($url)<a href="$url" id="$id">#end$action#if($url)</a>#end</th>
#end

#authorisationTags($principle)
<html>
<head>
    <title>welcome</title>
    <style>
        h1 { margin-top: 0.8em; }
        table.template-actions, p { width: 770px; }
    </style>
</head>
<body>
    <h1 id="welcome.heading">:: #wwtext("name=welcome") :: </h1>
    <p>
        Welcome to Pulse 2.7!  This page provides information to help you get started and important
        new features in the 2.7 release.
    </p>
    <p>
        You can return to this page at any time by clicking on the "pulse 2.7" link in the top left
        corner.
    </p>
    <h1> :: getting started :: </h1>
    <p>
        New to Pulse?  Here are a few ways to get started:
    </p>
    <table class="template-actions" cellspacing="5px">
        <tr>
            <th class="category" colspan="2">configure</th>
        </tr>
#auth("path=projects" "action=create")
        <tr>
            #actionHeader("add.projects" "add new projects" "add" "$urls.adminProjects()")
            <td>using the add project wizard (administration &gt; projects tab)</td>
        </tr>
#end
#auth("path=users" "action=create")
        <tr>
            #actionHeader("add.users" "add new users" "add" "$urls.adminUsers()")
            <td>at the users view (administration &gt; users tab)</td>
        </tr>
#end
#auth("path=agents" "action=create")
        <tr>
            #actionHeader("add.agents" "add new agents" "add" "$urls.adminAgents()")
            <td>using the add agent wizard (administration &gt; agents tab)</td>
        </tr>
#end
#auth("path=settings" "action=write")
        <tr>
            #actionHeader("configure.settings" "configure server settings" "pencil" "$urls.adminSettings()")
            <td>at the server settings view (administration &gt; settings tab)</td>
        </tr>
#end
        <tr>
            #actionHeader("configure.preferences" "configure your preferences" "pencil" "$urls.dashboardPreferences()")
            <td>at the preferences view (dashboard &gt; preferences tab)</td>
        </tr>
        <tr>
            <th class="category" colspan="2">explore</th>
        </tr>
        <tr>
            #actionHeader("view.dashboard" "go to your home page" "zoom" "$urls.dashboard()")
            <td>at the dashboard view (dashboard &gt; home)</td>
        </tr>
        <tr>
            #actionHeader("browse.projects" "browse build reports" "zoom" "$urls.browse()")
            <td>at the browse view (browse)</td>
        </tr>
        <tr>
            #actionHeader("view.activity" "view server activity" "zoom" "$urls.server()")
            <td>at the server view (server)</td>
        </tr>
        <tr>
            #actionHeader("view.agents" "view all agents" "zoom" "$urls.agents()")
            <td>at the agents view (agents)</td>
        </tr>
    </table>

    <h1> :: what's new :: </h1>
    <p>
        Pulse 2.7 includes new features and improvements in a wide range of areas.  Key updates include:
    </p>
    <table class="template-actions" cellspacing="5px" style="margin-bottom: 10px;">
        <tr>
            <th class="category" colspan="2">new in 2.7</th>
        </tr>
        <tr>
            #actionHeader("performance" "performance improvements" "accept" false)
            <td>
                Performance tuning of the configuration system should make it a lot snappier,
                particularly for larger installations and especially for custom projects.
            </td>
        </tr>
        <tr>
            #actionHeader("servicerunning" "new service support" "accept" false)
            <td>
                Support for running as a service has improved on all platforms, now using
                Apache Commons Daemon on Windows and with systemd and upstart integration on
                Linux.
            </td>
        </tr>
        <tr>
            #actionHeader("scmupgrades" "scm upgrades" "accept" false)
            <td>
                Upgrades to SCM plugins support the latest Subversion (1.8) and Git (2.0)
                versions. Git partial clone support has been revamped as part of the upgrade.
            </td>
        </tr>
        <tr>
            #actionHeader("more" "and more..." "accept" false)
            <td>
                This release also includes numerous smaller improvements and fixes based on
                user feedback!
            </td>
        </tr>
    </table>
</body>
</html>

