#helpTag("Project+Change+Viewers")
<content tag="selectedTab">projects</content>
#projectTags($project)
<html>
<head>
    <title>#wwtext("name=change.viewer.configure")</title>
</head>
<body>
    #projectTabs("configuration")

#if($inCustomState)
    <table class="columns">
        <tr>
            <td class="columns">
#end

        #wizard("object=wizardInstance")

#if($inCustomState)
            </td>
            <td class="columns">
                <table class="fill-content">
                    #headingRow("change.viewer.changelist.variables" 2)
                    #docRow("change.viewer.variable.revision" "change.viewer.variable.revision.help")
                    #docRow("change.viewer.variable.author" "change.viewer.variable.author.help")
                    #docRow("change.viewer.variable.branch" "change.viewer.variable.branch.help")
                    #docRow("change.viewer.variable.time.pulse" "change.viewer.variable.time.pulse.help")
                    #docRow("change.viewer.variable.time.fisheye" "change.viewer.variable.time.fisheye.help")
                </table>
                <table class="fill-content">
                    #headingRow("change.viewer.file.variables" 2)
                    #docRow("change.viewer.file.variable.path" "change.viewer.file.variable.path.help")
                    #docRow("change.viewer.file.variable.revision" "change.viewer.file.variable.revision.help")
                    #docRow("change.viewer.file.variable.previous.revision" "change.viewer.file.variable.previous.revision.help")
                </table>
            </td>
        </tr>
    </table>
#end


</body>
</html>
