#helpTag("Contact+Points")
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=contact.create")</title>
</head>
<body>
    #dashboardTabs("preferences")

        #wizard("object=wizardInstance")

    #tabEnd()
</body>
</html>