<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <import resource="classpath:/com/zutubi/pulse/bootstrap/context/eventContext.xml"/>
    <import resource="classpath:/com/zutubi/pulse/bootstrap/context/pluginContext.xml"/>

    <!--<alias name="devPaths" alias="pluginPaths"/>-->

    <bean id="recipeProcessor" class="com.zutubi.pulse.core.RecipeProcessor" autowire="byName" init-method="init"/>

    <bean id="fileLoaderFactory" class="com.zutubi.pulse.core.PulseFileLoaderFactory" autowire="byName"/>

    <bean id="objectFactory" class="com.zutubi.pulse.spring.SpringObjectFactory"/>

    <bean id="localBuild" class="com.zutubi.pulse.local.LocalBuild" autowire="byName"/>
</beans>