<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <display-name>Pulse Slave</display-name>
    <description>Continuous Integration Slave Web UI</description>

    <servlet>
        <servlet-name>hessian</servlet-name>
        <servlet-class>com.zutubi.pulse.hessian.CustomHessianServlet</servlet-class>
        <init-param>
            <param-name>home-class</param-name>
            <param-value>com.zutubi.pulse.slave.SlaveServiceImpl</param-value>
        </init-param>
        <init-param>
            <param-name>home-api</param-name>
            <param-value>com.zutubi.pulse.services.SlaveService</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>XmlRpcServlet</servlet-name>
        <servlet-class>com.zutubi.pulse.slave.xmlrpc.SlaveXmlRpcServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>com.zutubi.pulse.servlet.DownloadResultsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hessian</servlet-name>
        <url-pattern>/hessian</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>XmlRpcServlet</servlet-name>
        <url-pattern>/xmlrpc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

</web-app>