<html>
<head>
    <title>create resource</title>
</head>
<body>

    #parse("/template/includes/actionerrors.vm")
    
#bodytag (Form "action='createResource.action'" "method='post'")
    <h3>create resource</h3>
    <fieldset>
        #tag (TextField "required='true'" "name='resource.name'" "label='name'" "tabindex='1'")
    </fieldset>
        
    <fieldset class="submit">
        #tag (Submit "value=getText('save.name')" "name='save'" "tabindex='2'")
        #tag (Submit "value=getText('cancel.name')" "name='cancel'" "tabindex='3'")
    </fieldset>
#end 

</body>
</html>
