<html>
<head>
    <title>#wwtext("name=property.add")</title>
</head>
<body>
    <h1>:: #wwtext("name=property.add") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=createProperty.action" "heading=%{getText('property.add')}" "method=post")
    #wwhidden("name=versionId")
    #wwhidden("name=resourceId")
    #wwtextfield("name=property.name" "label=%{getText('property.name')}" "required=true" "tabindex=1")
    #wwtextfield("name=value" "label=%{getText('property.value')}" "tabindex=2")

    #saveCancel(3)
#end
</body>
</html>
