<html>
<head>
    <title>#wwtext("name=version.add")</title>
</head>
<body>
    <h1>:: #wwtext("name=version.add") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=createResourceVersion.action" "heading=%{getText('version.add')}" "method=post")
    #wwhidden("name=resourceId")
    #wwtextfield("name=resourceVersion.value" "label=%{getText('version.value')}" "required=true"  "tabindex=1")

    #saveCancel(2)
#end
</body>
</html>
