<html>
    <head>
        <title>resource $resource.name</title>
        <link href="build.css" rel="stylesheet" type="text/css">
    </head>
    <body>    
        <h1 class="build-log">:: resource $resource.name ::</h1>

#parse("/template/includes/actionerrors.vm")

#macro(showproperties $properties $version)
    #if($version)
        #set($versionLink = "&versionId=$version.id")
    #else
        #set($versionLink = "")
    #end
            <table>
                <tr>
                    <th class="command-detail">name</th>
                    <th class="command-detail">value</th>
                    <th class="command-detail">action</th>
                </tr>
    #foreach($property in $properties)
                <tr>
                    <td class="command-detail">$property.name</td>
                    <td class="command-detail">$!webwork.htmlEncode($property.value)</td>
                    <td class="command-detail"><a href="deleteProperty.action?resourceId=$resource.id$versionLink&name=$!webwork.htmlEncode($property.name)">delete</a></td>
                <tr>
    #end
                <tr>
                    <td class="command-detail" colspan="3"><b>+</b> <a href="createProperty!default.action?resourceId=$resource.id$versionLink">add new property</a></td>
                </tr>
    #if($version)
    #end
            </table>
#end

        <h2 class="command-info">properties</h2>
        <div class="command-content">
        <h4>[default]</h4>
#showproperties($resource.properties null)

#foreach($version in $resource.versions.values())
        <h4>version $version.value (<a href="deleteResourceVersion.action?id=$version.id&resourceId=$resource.id">delete</a>)</h4>
    #showproperties($version.properties $version)
#end
            <br>
            <table>
                <tr>
                    <td class="command-detail"><a href="createResourceVersion!default.action?resourceId=$resource.id">+ add new version</a></td>
                </tr>
            </table>
        </div>
    </body>
</html>