#helpTag("Resource+View")
#authorisationTags($principle)
#resourceTags($resource)
#macro(showProperties $properties $version)
    #if($version)
        #set($versionLink = "&amp;versionId=$version.id")
    #else
        #set($versionLink = "")
    #end
    <tr>
        #contentHeading("property.name" 1)
        #contentHeading("property.value" 1)
        #contentHeading("actions" 1)
    </tr>
    #foreach($property in $properties)
        #set($confirmMessage = $action.getText("property.confirm.delete", [$property.name]))
    <tr>
        #dynamicCell($property.name)
        #dynamicCell($property.value)
        #deleteCell($confirmMessage "/admin/deleteProperty.action?resourceId=$resource.id$versionLink&amp;name=$!webwork.htmlEncode($property.name)" "delete_$!webwork.htmlEncode($property.name)")
    <tr>
    #end
    #addRow("property.add" 3 "/admin/createProperty!input.action?resourceId=$resource.id$versionLink" "property.add")
#end

<html>
<head>
    <title>#wwtext("name=resource") $!webwork.htmlEncode($resource.name)</title>
</head>
<body>
    #serverTabs("resources")

    <h2 class="section">$!webwork.htmlEncode($resource.name)</h2>

    <table class="content">
        #addRow("version.add" 1 "/admin/createResourceVersion!input.action?resourceId=$resource.id" "version.add")
    </table>

    <h2 class="section">#wwtext("name=defaults")</h2>
    <table class="content">
        #headingRow("properties" 3)
#showProperties($resource.properties null)
    </table>

#foreach($version in $resource.versions.values())
    #set($confirmMessage = $action.getText("version.confirm.delete", [$version.value]))
    <h2 class="section">
        #wwtext("name=version") $!webwork.htmlEncode($version.value) [<a href="#" class="unadorned" onclick="confirmUrl('$confirmMessage', '/admin/deleteResourceVersion.action?id=$version.id&amp;resourceId=$resource.id')"><img alt="$action.getText('delete')" src="images/delete.gif"/></a>]
    </h2>
    <table class="content">
        #headingRow("properties" 3)
    #showProperties($version.properties $version)
    </table>
#end

    #tabEnd()
</body>
</html>
