#helpTag("Dashboard+Home+Tab")
#authorisationTags($principle)
<content tag="selectedTab">dashboard</content>
<html>
<head>
    <title>#wwtext("name=dashboard.configuration")</title>
</head>
<body>

    #dashboardTabs("homepage")

#parse("/template/includes/actionerrors.vm")

#wwcform("action=configureDashboard.action" "heading=%{getText('dashboard.configuration')}" "id=dashboard.configuration" "method=post")
    <tr><th class="form" colspan="2">#wwtext("name=my.projects")</th></tr>
    #wwtextfield("name=buildCount" "label=%{getText('dashboard.build.count')}" "size=4" "tabindex=1")
    #wwcheckbox("name=showAllProjects" "label=%{getText('dashboard.projects.show.all')}" "onclick=setEnableState('dashboard.configuration_projects', 'dashboard.configuration_showAllProjects', true)" "tabindex=2")
    #wwselect("name=projects" "label=%{getText('dashboard.projects.projects')}" "list=allProjects" "multiple=true" "tabindex=3")
#if($allGroups.size() > 0)
    #wwselect("name=shownGroups" "label=%{getText('dashboard.projects.groups')}" "list=allGroups" "multiple=true" "tabindex=4")
#end
    <tr><th class="form" colspan="2">#wwtext("name=dashboard.panels")</th></tr>
    #wwcheckbox("name=showMyChanges" "label=%{getText('dashboard.show.my.changes')}" "onclick=setEnableState('dashboard.configuration_user_myChangesCount', 'dashboard.configuration_showMyChanges')" "tabindex=5")
    #wwtextfield("name=user.myChangesCount" "label=%{getText('dashboard.my.changes.count')}""size=4" "tabindex=6")
    #wwcheckbox("name=showProjectChanges" "label=%{getText('dashboard.show.project.changes')}" "onclick=setEnableState('dashboard.configuration_user_projectChangesCount', 'dashboard.configuration_showProjectChanges')" "tabindex=7")
    #wwtextfield("name=user.projectChangesCount" "label=%{getText('dashboard.project.changes.count')}""size=4" "tabindex=8")

    #saveCancel(9)
#end

    <script type="text/javascript">
    <!--
        setEnableState('dashboard.configuration_projects', 'dashboard.configuration_showAllProjects', true)
        setEnableState('dashboard.configuration_user_myChangesCount', 'dashboard.configuration_showMyChanges');
        setEnableState('dashboard.configuration_user_projectChangesCount', 'dashboard.configuration_showProjectChanges');
    -->
    </script>
    #tabEnd()
</body>
</html>
