<html>
<head>
    <link rel="stylesheet" type="text/css" href="$base/css/setup.css?#version()"/>
</head>

<body>

#if (!$monitor.isSuccessful())
<div id="rightcolumn">
    <div id="description-panel">
        <div id="description">
            <p>A restoration task has failed.  The cause of this failure is listed in the task overview on the left.
            If you believe this to be a bug, please report this failure to <a href="mailto:support@zutubi.com">zutubi
            support</a>.  Please include the message on this page and your server log files with this report.</p>
        </div>
    </div>
</div>
#end

#if ($monitor.isSuccessful())
<h1 id="restore.complete">Restore Complete</h1>
<p>
    The restore has been successful (time elapsed: $monitor.elapsedTimePretty). Please click <a id="continue" href="continue.action">continue</a> to proceed with
    the server startup.  
</p>
#if ($archiveBackedUp)
<p>
    <img alt="info" src="$base/images/information.gif"/> Archive backed up to '$backedUpArchive.absolutePath'.
</p>
#end
#else
<div id="leftcolumn">
<h1 id="restore.complete">Restore Failed</h1>
<p>
    The restore has failed.  See below for details.
</p>
<p>
    <table class="columns" width="70%">
        <tr>
            <td class="columns" width="90%">
                <table id="upgrade.task.details" class="fill-content">
#foreach($task in $monitor.tasks)
    #set($feedback = $monitor.getProgress($task))
                    #dynamicRow($task.name $feedback.status)
    #if($feedback.hasFailed())
                    <tr>
                        <td colspan="2"><b>Cause of failure:</b> $feedback.statusMessage</td>
                    </tr>
    #end
#end
                </table>
            </td>
        </tr>
    </table>
</p>

</div>
#end

</body>
</html>
