<html>
<head>
    <link rel="stylesheet" type="text/css" href="$base/css/setup.css"></link>
</head>

<body>

<div id="rightcolumn">
    <div id="description-warning">
        <div id="description">
            <h3>Warning</h3>
            <p>
               If you are importing data from a 1.2.x installation, this restore will drop all
               existing tables in your specified Pulse database.  If you have any custom tables in
               the same database as Pulse, please ensure that you back them up before continuing
               with this restore.
            </p>
        </div>
    </div>
</div>

<div id="leftcolumn">
    <h1 id="restore.preview">Restore Preview</h1>
    <p>
        <table class="content" border="1">
            <tr>
                <th class="content-row">Archive Date</th>
                <td class="content">$archiveCreated</td>
            </tr>
            <tr>
                <th class="content-row">Archive Name</th>
                <td class="content">$archiveName</td>
            </tr>
            <tr>
                <th class="content-row">Archive Location</th>
                <td class="content">$archiveLocation</td>
            </tr>
        </table>
    </p>
    <p style="margin-bottom: 16px">
        <img alt="warning" src="$base/images/exclamation.gif"/> Please be aware that this restore will overwrite all of your existing configuration and settings.
    </p>
    <table class="form">
        <tr width="2">
            <form id="execute" name="execute" action="$base/restore/execute.action" method="post">
                <td class="submit" colspan="1"><input type="submit" name="continue" value="continue" class="submit"tabindex="1"/></td>
            </form>

            <form id="abort" name="abort" action="$base/restore/abort.action" method="post">
                <td class="submit" colspan="1"><input type="submit" name="abort" value="cancel" class="submit" tabindex="2"/>
                </td>
            </form>
        </tr>
    </table>
</div>

</body>
</html>