<html>
<head>
    <meta http-equiv="refresh" content='5;url=#wwurl("includeParams=all")'/>
    <link rel="stylesheet" type="text/css" href="$base/css/setup.css?#version()"/>
</head>
<body>
<div id="rightcolumn">
    <div id="description-panel">
        <div id="description">
            <h3>Records</h3>
            <p>The records restore task imports the bulk of your configuration. This data includes,
               amongst other things, your projects, agents and users.</p>
            <h3>Database</h3>
            <p>The database restoration imports the Pulse runtime data into your selected database.
               This task is only required when importing data from a 1.2.x installation.  Depending
               on the amount of runtime data, this may take from several seconds to tens of minutes.</p>
            <p>The status message for the database restoration will give you an indication of which
               table is being imported, and in the case of very large tables, what row it is up to.</p>
            <h3>Custom Configuration</h3>
            <p>This task will restore any custom templates that you may have stored in the $PULSE_DATA/config
            directory.</p>
            <h3>Artifacts</h3>
            <p>This task will run only if you have chosen to import the artifacts from a 1.2.x
               installation.   It will reorganise your artifacts directory to reflect changes to the
               layout between 1.2.x and 2.0.x.  Depending on the number of directories that need to
               be moved, this may take some time.</p>
        </div>
    </div>
</div>
<div id="leftcolumn">
    <h1 id="restore.progress">Restore Progress</h1>

    #taskProgressUI($monitor)

</div>
</body>
</html>