<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    #favicon()

    <title>:: pulse :: #if ($title) $title #end</title>

    <link type="text/css" rel="stylesheet" href="$base/css/ext-all.css?#version()"/>
    <link type="text/css" rel="stylesheet" href="$base/css/core.css?#version()" media="screen"/>
    <link type="text/css" rel="stylesheet" href="$base/css/main.css?#version()" media="screen"/>
    #javascript()
        ext/package.js
        main.js
        zutubi.js
    #end
    <script type="text/javascript">
        Ext.BLANK_IMAGE_URL = '$base/images/default/s.gif';
        window.baseUrl = '$base';

        var tree;

        function onResponse(el, success, response, options)
        {
            if (!success)
            {
                var message = '<h1>:: error ::</h1><ul class="error"><li class="error">Server returned status: ' + response.status;
                if (response.statusText)
                {
                    message += ' (' + decodeURIComponent(response.statusText) + ')';
                }

                message += '</li></ul><p>Check the server logs for details.</p>'
                el.update(message);
            }
        }
        
        function onSelect(selectionModel, node)
        {
            Ext.get('main').load({
                url: '$base/ajax/reference.action',
                params: { 'path': node.getPath('baseName') },
                method: 'GET',
                callback: onResponse
            });
        }

        function selectNode(path)
        {
            tree.selectPath(path, 'baseName');
        }

        var Layout = function() {
            return {
                init : function() {
                    var loader = new Zutubi.fs.FSTreeLoader({baseUrl:'$base', showFiles:true, fs:'pulse', basePath:''});
                    tree = new Ext.tree.TreePanel({
                        loader: loader,
                        layout: 'fit',
                        border: false,
                        animate: false,
                        autoScroll: true,
                        bodyStyle: 'padding: 10px'
                    });

                    var root = new Ext.tree.AsyncTreeNode({
                        baseName: 'reference',
                        iconCls: 'reference-icon',
                        text: 'pulse reference',
                        allowDrag: false,
                        allowDrop: false
                    });

                    tree.setRootNode(root);
                    tree.getSelectionModel().on('selectionchange', onSelect);

                    var viewport = new Ext.Viewport({
                        layout: 'border',
                        defaults: {
                            layout: 'fit',
                            border: false
                        },
                        items: [{
                            region: 'south',
                            contentEl: 'south',
                            split: false
                        }, {
                            region: 'center',
                            contentEl: 'main',
                            autoScroll: true,
                            split: false
                        }, {
                            region: 'west',
                            split: true,
                            collapsible: true,
                            collapseMode:'mini',
                            hideCollapseTool:true,
                            width: 250,
                            items: [tree]
                        }]
                    });

                    root.expand(false, false, function() {
#if($path)
                        selectNode('$path');
#else
                        selectNode('reference');
#end
                    });
                }
            };
        }();
        
        Ext.EventManager.onDocumentReady(Layout.init, Layout, true);
    </script>
</head>
<html>
    <body>
        <div id="main" class="reference">
        </div>
        #footer("south")
    </body>
</html>
