<html>
<head>
    <title>#wwtext("name=resource.browser")</title>
    <link href="$base/css/main.css?#version()" rel="stylesheet" type="text/css" media="screen"/>
    <script type="text/javascript">
        function select(resource, version, defaultValue)
        {
            var field = opener.Ext.getCmp("$resourceId");
		    field.setValue(resource);
            field = opener.Ext.getCmp("$versionId");
	        field.setValue(version);
            field = opener.Ext.getCmp("$defaultVersionId");
            field.setValue(defaultValue);
            field.form.updateButtons();
		    window.close();
        }
    </script>
</head>
<body>
    <div style="padding: 12px">

    <h1>:: #wwtext("name=resource.browser") ::</h1>

    #parse("template/includes/actionerrors.vm")

    <p>#wwtext("name=resource.select")</p>

    <table class="content">
        #headingRow("resources.all" 3)
        <tr>
            #contentHeading("resource.name" 1)
            #contentHeading("resource.versions" 1)
            #contentHeading("resource.agents" 1)
        </tr>
#foreach($resource in $allResources.entrySet())
    #set($firstRow = true)
    #foreach($versionEntry in $resource.value.entrySet())
        <tr>
        #if($firstRow)
            #set($firstRow = false)
            #dynamicCellSpan($resource.key $resource.value.size())
            <td class="content">
                <a href="#" onclick="select('$resource.key', '', 'true'); return false">[default]</a>
            </td>
        #else
            <td class="content">
                <a href="#" onclick="select('$resource.key', '$versionEntry.key', 'false'); return false">$!webwork.htmlEncode($versionEntry.key)</a>
            </td>
        #end
            <td class="content">
        #foreach($agent in $versionEntry.value)
            $!webwork.htmlEncode($agent)#if($velocityCount < $versionEntry.value.size()),#end
        #end
            </td>
        </tr>
    #end
#end

    </div>
</body>
</html>
