<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <link href="${base}/css/reset.css" rel="stylesheet"/>

    <link href="${base}/css/kendo/kendo.common.min.css" rel="stylesheet"/>
    <link href="${base}/css/kendo/kendo.default.min.css" rel="stylesheet"/>
    <link href="${base}/css/nimda.css" rel="stylesheet"/>

    <script src="${base}/js/kendo/jquery.min.js"></script>
    <script src="${base}/js/kendo/kendo.all.js"></script>

    <script>
        window.baseUrl = '$base';
    </script>

    #javascript()
        nimda/NimdaTreeView.js
    #end

    <title>Pulse Nimda</title>
</head>
<body>
    <div id="navbar">
        Nav
    </div>

    <div id="content">
        <div id="outer-split" style="height: 100%; width: 100%">
            <div id="left-pane">
                <div id="hierarchy-tree" class="pane-content">
                </div>
                <div id="config-tree" class="pane-content">
                </div>
            </div>
            <div id="center-pane">
                <div class="pane-content">
                    <p>Main pane.</p>
                </div>
            </div>
            <div id="right-pane">
                <div class="pane-content">
                    <p>Help pane.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        footer bar
    </div>

<script>
    $(document).ready(function () {
        $("#outer-split").kendoSplitter({
            panes: [
                { collapsible: true, size: "220px" },
                { collapsible: false },
                { collapsible: true, size: "220px" }
            ]
        });

        $("#left-pane").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: true, size: "50%" },
                { collapsible: true, size: "50%" }
            ]
        });

        var templateSource = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: "${base}/ajax/nimda/ls/projects",
                    data: {
                        depth: 3,
                        template: true
                    },
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: 'path'
                }
            }
        });

        $("#config-tree").kendoNimdaTreeView({
            select: function(e) {
                // this is the tree, e.node is DOM
                jQuery.ajax("${base}/ajax/nimda/detail/" + this.id(e.node), {
                    dataType: "json",
                    success: function(data) {
                        console.log(data);
                    }
                });
            }
        });

        var configTree = $("#config-tree").getKendoNimdaTreeView();

        $("#hierarchy-tree").kendoNimdaTreeView({
            dataSource: templateSource,
            select: function(e) {
                configTree.setRootPath(this.dataItem(e.node).id);
            }
        });
    });
</script>
</body>
</html>