<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <link href="${base}/css/reset.css?#version()" rel="stylesheet"/>

    <link href="${base}/css/kendo/kendo.common.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/kendo/kendo.metro.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/font-awesome.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/core.css?#version()" rel="stylesheet"/>

    <script>
        window.baseUrl = "${base}";
    </script>

#javascript()
    zutubi/config/package.js
#end

    <title>:: pulse :: #if($title) $title #end</title>
    $head

</head>
<body>

    $body

<div id="footer">
    <b>::</b> <a href="http://zutubi.com/products/pulse/">pulse</a> ($version_number #$build_number)
    <b>::</b> copyright &copy; 2005-2016 <a href="http://zutubi.com/">zutubi pty ltd</a>
</div>
</body>
</html>
