#macro(processors $artifact)
    #foreach($processor in $artifact.postprocessors)
        <process processor="$details.getReference($processor)"/>
    #end
#end
#foreach($artifact in $artifacts)
    #if($artifact.type.equals("file"))
<artifact name="$artifact.name" file="$artifact.file" fail-if-not-present="false"
        #if($artifact.mimeType)
        type="$artifact.mimeType"
        #end
        >
    #processors($artifact)
</artifact>
    #else
<dir-artifact name="$artifact.name" fail-if-not-present="false"
        #if($artifact.base)
        base="$artifact.base"
        #end
        #if($artifact.index)
        base="$artifact.index"
        #end
        #if($artifact.mimeType)
        type="$artifact.mimeType"
        #end
        >
        #foreach($pattern in $artifact.includePatterns)
    <include pattern="$pattern"/>
        #end
        #foreach($pattern in $artifact.excludePatterns)
    <exclude pattern="$pattern"/>
        #end
    #processors($artifact)
</dir-artifact>
    #end
#end
