<?xml version="1.0"?>
<project defaultRecipe="bjam build">

    #parse("pulse-file/prologue.vm")

    <recipe name="bjam build">
        <command name="build">
            <bjam
#if($arguments)
                    args="$arguments"
#end
#if($workingDir)
                    working-dir="${base.dir}/$workingDir"
#end
#if($jamfile)
                    jamfile="$jamfile"
#end
#if($targets)
                    targets="$targets"
#end
                    >
                #parse("pulse-file/output.processors.vm")
            </bjam>

            #parse("pulse-file/artifacts.vm")

        </command>
    </recipe>
</project>
