<?xml version="1.0"?>
<project defaultRecipe="executable build">

    #parse("pulse-file/prologue.vm")

    <recipe name="executable build">
        <command>
            <executable name="build"
#if($executable)
                    exe="$executable"
#end
#if($arguments)
                    args="$arguments"
#end
#if($workingDir)
                    working-dir="${base.dir}/$workingDir"
#end
                    >
#foreach($key in $environment.keySet())
                <environment name="$key" value="$environment.get($key)"/>
#end
                #parse("pulse-file/output.processors.vm")
            </executable>

            #parse("pulse-file/artifacts.vm")

        </command>
    </recipe>
</project>
