<?xml version="1.0"?>
<project defaultRecipe="default">

    #parse("pulse-file/prologue.vm")

    <recipe name="default">
        <maven2 name="build"
#if($workingDir)
                working-dir="${base.dir}/$workingDir"
#end
#if($goals)
                goals="$goals"
#end
#if($arguments)
                args="$arguments"
#end
        >
#if($suppressWarning)
            <suppress-warning expression="$suppressWarning"/>
#end
#if($suppressError)
            <suppress-error expression="$suppressError"/>
#end
            #parse("pulse-file/output.processors.vm")
            #parse("pulse-file/artifacts.vm")
        </maven2>
    </recipe>
</project>
