<?xml version="1.0"?>
<project defaultRecipe="maven build">

    #parse("pulse-file/prologue.vm")

    <recipe name="maven build">
        <maven name="build"#if($workingDir) working-dir="${base.dir}/$workingDir"#end#if($targets) targets="$targets"#end#if($arguments) args="$arguments"#end>
            #parse("pulse-file/output.processors.vm")
            #parse("pulse-file/artifacts.vm")
        </maven>
    </recipe>
</project>
