<!-- page properties are specified using <content tag="selectedTab">navigate</content> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  	<head>
		<title>:: pulse :: #if ($title) $title #end</title>
        <link rel="shortcut icon" href="$base/favicon.ico">
        <link rel="icon" type="image/png" href="$base/favicon.png">
		<link href="$base/css/main.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="$base/css/form.css" rel="stylesheet" type="text/css" media="screen"/>
        <script type="text/javascript" src="$base/js/main.js"></script>
		$head
	</head>

      <div style="text-align:center" class="content">
          <table width="100%">
              <tr>
                  <td align="center">
                      $body
                  </td>
              </tr>
          </table>
      </div>
      <div id="footer">
        <strong>:: pulse ($version_number #$build_number) ::</strong>
        copyright &copy; 2005-2007 zutubi pty ltd
      </div>
    </body>
</html>
