<!-- page properties are specified using <content tag="selectedTab">navigate</content> -->
#set ($projectId = $page.getProperty("page.projectId"))
#set ($projectName = $page.getProperty("page.projectName"))
#set ($buildId = $page.getProperty("page.buildId"))
#set ($buildNumber = $page.getProperty("page.buildNumber"))
#set ($user = $page.getProperty("page.user"))

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  	<head>
		<title>:: cinnabo :: #if ($title) $title #end</title>
		<link href="$base/main2.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="$base/form2.css" rel="stylesheet" type="text/css" media="screen"/>
        <script type="text/javascript" src="/main.js"></script>
		$head
	</head>
        
    <body>
      <div id="header">
        <table>
            <tr>
              <td class="logo">
                  :: cinnabo ::
#if($projectId && $projectId != "0")
                  <a href="/currentBuild.action?id=${projectId}">$projectName</a>
#end
#if($buildId && $buildId != "0")
                  :: <a href="/viewBuild.action?id=${buildId}">build $buildNumber</a>
#end
              </td>
              #if($user) <td align="right" class="user">$user.login [ <a href="/logout.action">logout</a> ]</td> #end
            </tr>
        </table>
      </div>

      #set ($selectedTab = $page.getProperty("page.selectedTab"))

      <ul id="nav">
        <li><a #if($selectedTab && $selectedTab == "dashboard")      class="active" #end href="/dashboard.action">dashboard</a></li>
        <li><a #if($selectedTab && $selectedTab == "projects")       class="active" #end href="/viewProjects.action">projects</a></li>
        <li><a #if($selectedTab && $selectedTab == "server")         class="active" #end href="/viewRecipeQueue.action">server</a></li>
        <li><a #if($selectedTab && $selectedTab == "administration") class="active" #end href="/administration.action">administration</a></li>
      </ul>
      <div class="clear"></div>

      <div class="content">
        $body
      </div>
      <div id="footer">
        <strong>:: cinnabo ::</strong>
        copyright &copy; 2005-2006 daniel ostermeier and jason sankey
      </div>
    </body>
</html>
