<!-- page properties are specified using <content tag="selectedTab">navigate</content> -->
#if($page.getProperty("page.projectId"))
    #set ($projectId = $page.getProperty("page.projectId"))
#end
#if($page.getProperty("page.projectName"))
    #set ($projectName = $page.getProperty("page.projectName"))
#end
#if($page.getProperty("page.buildId"))
    #set ($buildId = $page.getProperty("page.buildId"))
#end
#if($page.getProperty("page.buildNumber"))
    #set ($buildNumber = $page.getProperty("page.buildNumber"))
#end
#if($page.getProperty("page.resourceId"))
    #set ($resourceId = $page.getProperty("page.resourceId"))
#end
#if($page.getProperty("page.resourceName"))
    #set ($resourceName = $page.getProperty("page.resourceName"))
#end
#if($page.getProperty("page.user.name"))
    #set ($userName = $page.getProperty("page.user.name"))
#end
#if($page.getProperty("page.user.login"))
    #set ($userLogin = $page.getProperty("page.user.login"))
#end
#if($page.getProperty("page.helpPage"))
    #set ($helpPage = $page.getProperty("page.helpPage"))
#end

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  	<head>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <meta http-equiv="Cache-Control" content="no-cache"/>
		<title>:: pulse :: #if ($title) $title #end</title>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="icon" type="image/png" href="/favicon.png"/>
        <link href="$base/main2.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="$base/form2.css" rel="stylesheet" type="text/css" media="screen"/>
        <script type="text/javascript" src="/main.js"></script>
		$head
	</head>

      <body
#if($page.getProperty("page.onLoad"))
          onload="$page.getProperty('page.onLoad')"
#end
      >
      <div id="header">
        <table>
            <tr>
              <td class="logo">
                  :: <a href="/default.action">pulse</a> ::
#if($projectId && $projectId != "0")
                  <a href="/currentBuild.action?id=${projectId}">$projectName</a>
#end
#if($buildId && $buildId != "0")
                  :: <a href="/viewBuild.action?id=${buildId}">build $buildNumber</a>
#end
#if($resourceId && $resourceId != "0")
                  <a href="/viewResource.action?id=${resourceId}">$resourceName</a>
#end
              </td>
              <td class="user" align="right">
#if($principle)
                  $principle.name [ <a id="logout" href="/logout.action">logout</a> ]
#else
                  <a id="login" href="/login.action">login</a>
#end
                  &nbsp;
#if($helpPage)

#else
    #set($helpPage = "Home")
#end
                  <a class="unadorned" href="$helpUrl/$helpPage">
                      <img alt="help" src="/images/help.gif"/>
                  </a>
              </td>
            </tr>
        </table>
      </div>

#if($page.getProperty("page.selectedTab"))
    #set ($selectedTab = $page.getProperty("page.selectedTab"))
#end
      <ul id="nav">
#if($principle)
        <li><a #if($selectedTab && $selectedTab == "dashboard")      class="active" #end href="/dashboard.action">dashboard</a></li>
#end
        <li><a #if($selectedTab && $selectedTab == "projects")       class="active" #end href="/viewProjects.action">projects</a></li>
        <li><a #if($selectedTab && $selectedTab == "server")         class="active" #end href="/viewRecipeQueue.action">server</a></li>
        #authorize("ifAllGranted=ROLE_ADMINISTRATOR")
        <li><a #if($selectedTab && $selectedTab == "administration") class="active" #end href="/admin/serverSettings.action">administration</a></li>
      #end
      </ul>
      <div class="clear"></div>

      <div class="content">
          $body
          #if($license.expired)
            <div id="statusmessage">#wwtext("name=license.expiry.notice")</div>
          #end
      </div>
      <div id="footer">
         <b>::</b> <a href="http://zutubi.com/products/pulse/">pulse</a> ($version_number #$build_number) <b>::</b>
         copyright &copy; 2005-2006 <a href="http://zutubi.com/">zutubi pty ltd</a> <b>::</b>
         <a href="http://jira.zutubi.com/">report bug/request feature</a>
      </div>
    </body>
</html>
