#set ($actionErrors = $stack.findValue("actionErrors"))
#if($actionErrors && $actionErrors.size() > 0)
    #set($actionErrorDetected = true)

    <ul id="action-errors" class="error">
#foreach($error in $actionErrors)
        <li class="error">$!webwork.htmlEncode($error)</li>
#end
    </ul>
#end
