#set ($actionErrors = $stack.findValue("actionErrors"))
#if($actionErrors && $actionErrors.size() > 0)
    #set($actionErrorDetected = true)

    <!--<h3>#wwtext("name=errors.occured")</h3>-->

    <ul class="error">
#foreach($error in $actionErrors)
        <li class="error">$!webwork.htmlEncode($error)</li>
#end
    </ul>
#end
