##
## Macros for dealing with ProjectsModel's.  These show the status of a bunch
## of projects, and are used on the dashboard and browse views.
##

##
## Shows the corresponding image for a given project health.
##
#macro(healthImage $health)
    <img alt="health: $health.toString().toLowerCase()" src="$base/images/health/${health.toString().toLowerCase()}.gif"/>
#end

##
## Shows a link for a dropdown project or build menu.
##
#macro(dropdownLink $id $titleKey $url $image)
    <a id="$id" class="unadorned" href="$url" title="$action.getText($titleKey)"><img alt="$action.getText($titleKey)" src="$base/images/$image"/> $action.getText($titleKey)</a>
#end

##
## Outputs a summary of the healths in a projects model.
##
#macro(projectsSummary $model)
    #foreach($health in $model.summaryHealths)
        #healthImage($health) $health.toString().toLowerCase(): $model.getCount($health)
    #end
#end

##
## Shows all children of the given projects model.
##
#macro(showProjectsModelChildren $model $columns $showHideLinks)
    #set($totalCount = $model.children.size())
    #foreach($child in $model.children)
        #if($child.concrete)
            #set($rowspan = $child.buildRows)
        #else
            #set($rowspan = 1)
        #end

        <tr id="$child.id" class="project-row #if(!$child.leaf) project-expandable #end #if($child.leaf && $velocityCount == $totalCount) project-last #end">
            <td class="health-$child.health.toString().toLowerCase()" rowspan="$rowspan">&nbsp;</td>
            <td rowspan="$rowspan" class="fit-width">
        #foreach($i in [1..$child.depth])
                <img class="project-indent #if($i == $child.depth) project-name #end" src="$base/images/default/s.gif" alt="-"/>
        #end
                <span class="nowrap">
                    #if($child.concrete)<a href="$urls.projectHome($child.project)">#end#html($child.name)#if($child.concrete)</a>#end
                </span>
            </td>
        #if($child.concrete)
            <td rowspan="$rowspan" class="actions-menu project-actions">
            #set($project = $child.project)
            #set($menuId = "${child.id}_actions")
                #showHideButton("actions" $menuId "tl-bl?")
                <div id="${menuId}" style="display: none">
                    <ul class="actions">
                        <li>#dropdownLink("home-${menuId}" "home.tab" "$urls.projectHome($project)" "house.gif")</li>
                        <li>#dropdownLink("reports-${menuId}" "reports.tab" "$urls.projectReports($project)" "chart_bar.gif")</li>
                        <li>#dropdownLink("history-${menuId}" "history.tab" "$urls.projectHistory($project)" "time.gif")</li>
                        <li>#dropdownLink("log-${menuId}" "log.tab" "$urls.projectLog($project)" "script.gif")</li>
                        <li>#dropdownLink("config-${menuId}" "configuration.tab" "$base/admin/projects/#uce($project.name)/" "pencil.gif")</li>
            #if($action.hasPermission("trigger", $project))
                        <li>#dropdownLink("trigger-${menuId}" "project.trigger" "$base/triggerBuild.action?projectName=#uce($project.name)" "lightning.gif")</li>
            #end
            #if($showHideLinks)
                        <li>#dropdownLink("hide-${menuId}" "hide" "$base/user/hideDashboardProject.action?id=$project.id" "close.gif")</li>
            #end
                    </ul>
                </div>
            </td>
        #else
            <td class="project-template-actions">&nbsp;</td>
        #end
        #if($child.concrete)
            #if($child.built)
                #foreach($buildResult in $child.builds)
                    #if($velocityCount > 1)
        </tr>
        <tr id="b${velocityCount}.${child.id}" class="project-row">
                    #end
            <td class="build-id fit-width">
                #buildColumnValue($buildResult "id")
            </td>
            <td class="actions-menu">
                #set($menuId = "b${velocityCount}.${child.id}_bactions")
                #showHideButton("actions" $menuId "tl-bl?")
                <div id="$menuId" style="display: none">
                    <ul class="actions">
                        <li>#dropdownLink("summary-${menuId}" "summary.tab" $urls.build($buildResult) "information.gif")</li>
                        <li>#dropdownLink("details-${menuId}" "details.tab" $urls.buildDetails($buildResult) "magnifier.gif")</li>
                        <li>#dropdownLink("changes-${menuId}" "changes.tab" $urls.buildChanges($buildResult) "page_code.gif")</li>
                        <li>#dropdownLink("artifacts-${menuId}" "artifacts.tab" $urls.buildArtifacts($buildResult) "folder_page.gif")</li>
                    #if($action.hasPermission("view source", $project))
                        <li>#dropdownLink("wc-${menuId}" "wc.tab" $urls.buildWorkingCopy($buildResult) "page_gear.gif")</li>
                    #end
                        <li>#dropdownLink("log-${menuId}" "log" $urls.buildLog($buildResult) "script.gif")</li>
                    </ul>
                </div>
            </td>
            <td class="fit-width">
                ::
                #buildColumnValue($buildResult "status")
            </td>
            <td class="build-details">
                    #foreach($column in $columns)
                #buildColumnValue($buildResult $column)
                        #if($velocityCount < $columns.size())
                <span class="understated">//</span>
                        #end
                    #end
            </td>
                #end
            #else
            <td colspan="4" class="understated">
                #wwtext("name=never.built")
            </td>
            #end
        #else
            <td id="${child.id}.building" colspan="3" class="fit-width">
            #set($building = $child.getInProgressCount())
            #if($building == 0)
                #wwtext("name=builds.inprogress.none")
            #elseif($building == 1)
                <img alt="in progress" src="$base/images/cog.gif"/>
                #wwtext("name=builds.inprogress.one")
            #else
                <img alt="in progress" src="$base/images/cog.gif"/>
                $action.getText("builds.inprogress", [$building])
            #end
            </td>
            <td class="build-details">
                #wwtext("name=template.summary") ::
                #projectsSummary($child)
            </td>
        #end
        </tr>
        #if(!$child.leaf)
            #showProjectsModelChildren($child $columns $showHideLinks)
        #end
    #end
#end

##
## Main macro to output a list of ProjectsModels as a bunch of groups.
##
#macro(showProjectsModels $models $columns $showHideLinks)
<div id="project-models">
    #set($groupSpan = 5)
    #set($spacerSpan = 6)

    <table class="project-group">
    #foreach($projectsModel in $models)
        <tr id="$projectsModel.id" class="project-row #if(!$projectsModel.root.leaf) project-expandable #end">
            <td class="group-header health-$projectsModel.root.health.toString().toLowerCase()">&nbsp;</td>
            <td colspan="$groupSpan" class="group-header fit-width">
                <img class="group-name" alt="-" src="$base/images/default/s.gif"/>
                #html($projectsModel.groupName)
            </td>
            <td class="group-header build-details">
                #projectsSummary($projectsModel.root)
        #if ($projectsModel.labelled)
            #if($rssEnabled)
                &nbsp;<a class="unadorned" id="rss.builds.#id($projectsModel.groupName)" href="$base/rss.action?groupName=#uce($projectsModel.groupName)"><img alt="$action.getText('rss')" src="$base/images/feed-icon-16x16.gif"/></a>
            #end
            #if($showHideLinks)
                &nbsp;<a id='#id("hide.${projectsModel.id}")' href="$base/user/hideDashboardGroup.action?groupName=#uce($projectsModel.groupName)" class="unadorned"><img alt="hide group" src="$base/images/close.gif"/></a>
            #end
        #end
            </td>
        </tr>
        #showProjectsModelChildren($projectsModel.root $columns $showHideLinks)
        <tr class="project-group-spacer #if($velocityCount == $models.size()) project-group-last #end"><td colspan="$spacerSpan">&nbsp;</td></tr>
    #end
    </table>
</div>

<script type="text/javascript">
    var groupModel;
    var model;
    var toCollapse = [];

    function addModel(model)
    {
        oldModel = modelMap[model.key];
        if(oldModel && oldModel.collapsed)
        {
            toCollapse.push(model);
        }

        modelMap[model.key] = model;
    }

    #foreach($projectsModel in $models)
        groupModel = new ZUTUBI.ProjectModel('#jss($projectsModel.id)');
        addModel(groupModel);
        #foreach($projectModel in $projectsModel.flattened)
            model = new ZUTUBI.ProjectModel('#jss($projectModel.id)');
            #if($projectModel.concrete && $projectModel.buildRows > 1)
                model.rowCount = $projectModel.buildRows;
            #end
            addModel(model);
            #if($projectModel.parent.name)
            modelMap['#jss($projectModel.parent.id)'].addChild(model);
            #else
            groupModel.addChild(model);
            #end
        #end
    #end

    for(var i = 0; i < toCollapse.length; i++)
    {
        toCollapse[i].collapse();
    }

    var projectsEl = Ext.get('project-models');
    var projectRows = projectsEl.select('.project-expandable', true);
    projectRows.on('click', function(e, el) {
        var rowEl = Ext.fly(el).parent('.project-expandable');
        toggleModel(rowEl.dom.id);
    });

    projectRows.addClassOnOver('project-highlighted');
</script>
#end