<div id='#id("${result.ownerName}-build-${result.number}-summary")'>
    #responsibilityPanel($result)
    
    <table class="columns" width="98%">
        <tr>
            <td class="columns">
                #buildBasicsTable($buildResult)
            </td>
            <td class="columns" style="padding-right: 0">
                <table id="build-stages" class="two-content">
                    <tr><th class="two-heading" colspan="4">#wwtext("name=build.stages")</th></tr>
                    <tr>
                        #contentClassHeading("name" "1" "leftmost")
                        #contentHeading("build.status" "1")
                        #contentClassHeading("build.elapsed" "1" "rightmost")
                    </tr>
    #foreach($node in $result.root.children)
        #set($recipeResult = $node.result)
                    <tr>
                        <td class="content leftmost"><a href="$urls.stageDetails($buildResult, $node)">#html($node.stageName)</a></td>
                        <td class="content">#statusImage($recipeResult false) $recipeResult.state.prettyString</td>
                        <td class="content rightmost">
        #if($result.stamps.hasEstimatedTimeRemaining())
            #set($percentComplete = $result.stamps.estimatedPercentComplete)
            #set($percentRemaining = 100 - $percentComplete)
                        
                            #if($percentComplete > 0)<img class="centre" title="$result.stamps.prettyElapsed (${percentComplete}%) elapsed" src="$base/images/box-elapsed.gif" height="10" width="$percentComplete"/>#end#if($percentRemaining > 0)<img class="centre" title="$result.stamps.prettyEstimatedTimeRemaining (${percentRemaining}%) remaining" src="$base/images/box-remaining.gif" height="10" width="$percentRemaining"/>#end
        #else
                            $result.stamps.prettyElapsed
                        </td>
        #end
                    </tr>
    #end
                </table>
            </td>
        </tr>
    </table>
    
    #if($buildResult.comments.size() > 0)
    <ul id="build-comments" class="comments spaced">
            #foreach($comment in $buildResult.comments)
        <li>
            <div class="comment-body">
                $action.plainToHtml($comment.message)
            </div>
            <div class="comment-author">
                by #html($comment.author), $comment.prettyTime ($comment.getPrettyDate($action.locale))
                #if($action.canDeleteComment($comment.id))
                [<a id="delete.comment.$velocityCount" href="#" onclick="deleteComment($buildResult.id, $comment.id); return false;">delete</a>]
                #end
            </div>
        </li>
            #end
    </ul>
    #end
    
    #buildMessageSummary($buildResult $errorLevel)
    #buildMessageSummary($buildResult $warningLevel)
    #buildTestFailures($buildResult)
</div>