<table id="command-basics" class="two-content">
    <tr><th class="two-heading" colspan="2">#wwtext("name=command") #html($commandResult.commandName)</th></tr>
    #resultBasicsRow("status" "#statusImage($commandResult true) $commandResult.state.prettyString")
    #resultBasicsRow("when" "$commandResult.stamps.getPrettyStartDate($locale) ($commandResult.stamps.prettyStartTime)")
#if($commandResult.completed())
    #resultBasicsRow("completed" "$commandResult.stamps.getPrettyEndDate($locale) ($commandResult.stamps.prettyEndTime)")
#end
    #resultBasicsRow("elapsed" "$commandResult.stamps.prettyElapsed")
#if($buildResult.completed())
    #resultBasicsRow("errors" "$commandResult.errorFeatureCount")
    #resultBasicsRow("warnings" "$commandResult.warningFeatureCount")
#end
</table>

#resultPropertyTable($commandResult.properties "command-properties" "command.properties")

#macro(artifactLink $key $url)
    <a href="$url" class="unadorned" title='#wwtext("name=artifact.$key")'><img src="$base/images/artifacts/${key}.gif" alt='#wwtext("name=artifact.$key")'/></a>
    <a href="$url">$key</a>
#end

#if($implicitArtifacts.size() > 0)
<table id="implicit-artifacts" class="two-content spaced">
    <tr><th class="two-heading" colspan="2">#wwtext("name=implicit.artifacts")</th></tr>
    #foreach($artifact in $implicitArtifacts)
        #foreach($fileArtifact in $artifact.children)
    <tr>
        <td class="content leftmost">
            <img src="$base/images/page.gif" alt='$action.getText("file")'/>
            #html($fileArtifact.path)
        </td>
        <td class="content rightmost fit-width">
            #artifactLink("download" "$urls.fileFileArtifact($artifact, $fileArtifact)")
            #if($fileArtifact.canDecorate())
            <span class="understated">|</span> #artifactLink("decorate" "${urls.commandArtifacts($buildResult, $commandResult)}${fileArtifact.pathUrl}/")
            #end
        </td>
    </tr>
        #end
    #end
</table>
#end

#foreach($level in $featureLevels)
    #if($commandResult.hasMessages($level))
<table id="features-${level.prettyString}" class="two-content spaced">
    <tr><th class="two-heading">#wwtext("name=features.${level.prettyString}")</th></tr>
    <tr>
        <td class="content leftmost rightmost">
            <ul>
                #commandMessageSummary($buildResult $recipeResultNode.result $commandResult $level)
            </ul>
        </td>
    </tr>
</table>
    #end
#end
