#buildBasicsTable($buildResult)
#resultFeatureTables($result)
#resultCustomFields($result)

#if($dependencyDetailsPresent)
    <table id="build-dependencies" class="two-content spaced">
        <tr><th colspan="4" class="two-heading">#wwtext("name=dependencies.header")</th></tr>
        <tr>
            <th class="content leftmost">#wwtext("name=dependencies.column.project")</th>
            <th class="content">#wwtext("name=dependencies.column.build")</th>
            <th class="content">#wwtext("name=dependencies.column.stage")</th>
            <th class="content rightmost">#wwtext("name=dependencies.column.artifact")</th>
        </tr>
    #foreach($stageArtifacts in $dependencyDetails)
        #if ($stageArtifacts.artifactInformationAvailable)
            #foreach($artifactSource in $stageArtifacts.retrievedArtifacts)
            <tr>
                #if ($artifactSource.projectUrl)
                    <td class="content leftmost"><a href="$artifactSource.projectUrl">#html($artifactSource.projectName)</a></td>
                #else
                    <td class="content leftmost">#html($artifactSource.projectName)</td>
                #end
                #if($artifactSource.buildUrl)
                    <td class="content"><a href="$artifactSource.buildUrl">$artifactSource.buildNumber</a></td>
                #elseif ($artifactSource.hasBuildNumber)
                    <td class="content">$artifactSource.buildNumber</td>
                #else
                    <td class="content">unknown</td>
                #end
                <td class="content">#html($artifactSource.stageName)</td>
                #if ($artifactSource.artifactUrl)
                    <td class="content rightmost"><a id='#id("${artifactSource.projectName}-${artifactSource.stageName}-${artifactSource.artifactName}")' href="$artifactSource.artifactUrl">#html($artifactSource.artifactName)</a></td>
                #else
                    <td class="content rightmost">#html($artifactSource.artifactName)</td>
                #end
            </tr>
            #end
        #else
            <td colspan="4" class="content leftmost rightmost"><b>#html($stageArtifacts.stageName)</b> stage dependency details are not available.  They have most likely been cleaned up.</td>
        #end
    #end
    </table>
</div>
#end
