#macro(changesTable $titleKey $changelists $showWho $source)
    <table class="two-content">
        <tr><th class="two-heading" colspan="6">#wwtext("name=$titleKey")</th></tr>
        <tr>
            #contentClassHeading("change.revision" 1 "leftmost")
    #if($showWho)
            #contentHeading("change.who" 1)
    #end
            #contentHeading("change.when" 1)
            #contentHeading("change.comment" 1)
            #contentHeading("build.results" 1)
            #contentClassHeading("actions" 1 "rightmost")
        </tr>
    #if($changelists.size() > 0)
        #foreach($changelist in $changelists)
            #set($index = $velocityCount - 1)
            $action.updateChangeUrl($changelist)
        <tr>
            <td class="content leftmost">
                #if($action.getChangeUrl())<a href="$action.getChangeUrl()">#end$!webwork.htmlEncode($changelist.revision)#if($action.getChangeUrl())</a>#end
            </td>
    #if($showWho)
            #dynamicCell($changelist.author)
    #end
            #dateCell($changelist)
            #commitCommentCell($changelist $source)
            #aggregateResultCell($changelist $showWho)
            #linkClassCell("view.$changelist.id" "view" "$base/dashboard/changes/$changelist.id/" "rightmost")
        </tr>
        #end
    #else
        <tr>
            <td class="content leftmost rightmost understated" colspan="6">#wwtext("name=no.changes")</td>
        </tr>
    #end
    </table>
#end

#foreach($contact in $contactPointsWithErrors)
<p class="note">
    Your contact point '#html($contact)' has caused a notification error. View its <a href="$base/dashboard/preferences/contacts/#uce($contact)/">configuration</a> for details.
</p>
#end

<h2 class="section">#wwtext("name=my.projects")
#if($rssEnabled)
    <a class="unadorned" href="$base/rss.action?userId=$principle.id"><img alt="$action.getText('rss')" src="$base/images/feed-icon-16x16.gif"/></a>
#end
</h2>

#if($models.size() > 0)
    #showProjectsModels($models $columns true)
#else
    <p>
        No projects to display.
    </p>
#end

#if($dashboardConfig.showMyChanges)
    <h2 class="section">#wwtext("name=my.changes")</h2>
    #changesTable("my.latest.changes" $changelists false "my")
#end

#if($dashboardConfig.showProjectChanges)
    <h2 class="section">#wwtext("name=project.changes")</h2>
    #changesTable("my.project.changes" $projectChangelists true "project")
#end

<br/>
