    <table>
        <tr>
            <td>
                <div class="config-panel">
                    <h3 class="config-header config-header-small">filter builds</h3>
                    <div class="config-container" id="filter-form">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
    <table width="100%" class="content">
        <tr>
            <th class="heading" colspan="$columns.getTotalSpan($project)">
                <span class="action">
                #if($loggedInUser)
                    <a class="unadorned" href="#" id="columns-popup-link-project.history" onclick="popup.popup(); return false"><img src="$base/images/text_columns.gif"/></a>
                #end
                #if($rssEnabled)
                    <a class="unadorned" id="rss.builds" href="$base/rss.action?projectId=$project.id"><img alt="$action.getText('rss')" src="$base/images/feed-icon-16x16.gif"/></a>
                #end
                </span>
                #wwtext("name=historic.builds")
            </th>
        </tr>
        #buildTableHeading($columns $project)
#if($history.size() > 0)
    #foreach($buildResult in $history)
        #buildTableRow($buildResult $columns false)
    #end
    </table>

            </td>
        </tr>
        <tr>
            <td>

            <table width="100%">
                #pagingRow("$urls.projectHistory($u_projectName)"  $action.uriComponentEncode("stateFilter/$stateFilter/") $pagingSupport)
                <tr><th class="content-centre" colspan="5">$action.getText("history.count", ["$pagingSupport.totalItems"])</th></tr>
            </table>
#else
        <tr>
            <td class="content" colspan="$columns.getTotalSpan($project)">
                #wwtext("name=no.history")
            </td>
        </tr>
    </table>
#end
            </td>
        </tr>
    </table>

#buildTableColumns($columns "project.history")

<script type="text/javascript">
    if(!firstRender)
    {
        renderForm();
    }
</script>
