<table>
    <tr>

<!-- ********** Left column ********** -->

        <td class="columns" width="100%">

            #responsibilityPanel($currentBuild)

            <h2 class="section top">#wwtext("name=current.build")</h2>

        #if($currentBuild)
            #showBuild($currentBuild)
            #buildTableColumns($summaryColumns "project.summary")            
        #else
            <p>
                #wwtext("name=never.built")
            </p>
        #end

        #if($recentBuilds.size() > 0)
            <h2 class="section">#wwtext("name=recent.builds")</h2>
            <table id="recent.builds" class="content">
                <tr>
                    <th class="heading" colspan="$recentColumns.getTotalSpan($project)">
                        <span class="action">
                        #if($loggedInUser)
                            <a class="unadorned" href="#" id="columns-popup-link-project.recent" onclick="recentPopup.popup(); return false"><img src="$base/images/text_columns.gif"/></a>
                        #end
                        #if($rssEnabled == "true")
                            <a class="unadorned" id="rss.builds" href="rss.action?projectId=$project.id"><img alt="$action.getText('rss')" src="$base/images/feed-icon-16x16.gif"/></a>
                        #end
                        </span>
                        #wwtext("name=recent.builds")
                    </th>
                </tr>
                #buildTableHeading($recentColumns $project)
            #foreach($buildResult in $recentBuilds)
                #buildTableRow($buildResult $recentColumns false)
            #end
            </table>

            #buildTableColumns($recentColumns "project.recent")
        #end

            <h2 class="section">#wwtext("name=latest.changes")</h2>

            <table class="content">
                #headingRow("latest.changes" 5)
                <tr>
                    #contentHeading("change.revision" 1)
                    #contentHeading("change.who" 1)
                    #contentHeading("change.when" 1)
                    #contentHeading("change.comment" 1)
                    #contentHeading("actions" 1)
                </tr>
        #if($latestChanges.size() > 0)
            #foreach($changelist in $latestChanges)
                #set($index = $velocityCount - 1)
                $action.updateChangeUrl($project, $changelist.revision)
                <tr>
                    #dynamicRightLinkCell($changelist.revision $action.getChangeUrl())
                    #dynamicCell($changelist.author)
                    #dateCell($changelist)
                    #commitCommentCell($changelist "project")
                    #linkCell("view.$changelist.id" "view" "$urls.projectChangelist($u_projectName, $changelist.id)")
                </tr>
            #end
        #else
                <tr>
                    <td class="content" colspan="8">#wwtext("name=no.changes")</td>
                <tr>
        #end
            </table>

        </td>

<!-- ********** Right column ********** -->

        <td class="columns" width="400px" style="padding-left: 20px;">

            <table class="fill-content">
                #headingRow("project.status" 2)
                <tr>
                    <th class="content-row">
                        #wwtext("name=state")
                    </th>
                    <td #if($paused) class="note" #else class="content" #end>
                        $project.state.toString()&nbsp;
#auth("resource=project" "action=pause")
            #if($resumable)
                        <a class="unadorned" href="$base/projectState.action?projectName=$u_projectName&amp;pause=false">
                            <img style="vertical-align: top" src="$base/images/control_play_blue.gif"/>
                            #wwtext("name=resume")
                        </a>
            #elseif($pausable)
                        <a class="unadorned" href="$base/projectState.action?projectName=$u_projectName&amp;pause=true">
                            <img src="$base/images/control_pause_blue.gif"/>
                            #wwtext("name=pause")
                        </a>
            #end
#end
                    </td>
                </tr>
                <tr>
                    <th class="content-row">
                        #wwtext("name=project.success.rate")
                    </th>
                    <td class="content">
                        ${percentSuccessNoErrors}% (#wwtext("name=errors.excluded"))
                    </td>
                </tr>
                <tr>
                    <th class="content-row">
                        #wwtext("name=project.statistics")
                    </th>
                    <td class="content">
                        <img class="centre" title="$successfulBuilds (${percentSuccessful}%) successful" src="$base/images/box-success.gif" height="10" width="$percentSuccessful"/><img class="centre" title="$failedBuilds (${percentFailed}%) failed" src="$base/images/box-failure.gif" height="10" width="$percentFailed"/><img class="centre" title="$errorBuilds (${percentError}%) errors" src="$base/images/box-error.gif" height="10" width="$percentError"/>
                        <br/>$totalBuilds builds (s: $successfulBuilds, f: $failedBuilds, e: $errorBuilds)
                    </td>
                </tr>
                <tr>
                    <th class="content-row">
                        #wwtext("name=project.queue")
                    </th>
                    <td class="content">
                        #if($queuedBuilds == 0) #wwtext("name=project.queue.empty") #else ${queuedBuilds} (#wwtext("name=builds")) #end
                    </td>
                </tr>
            </table>

            <table class="fill-content">
                #headingRow("project.basics" 2)
                #dynamicRow("project.name" $project.name)
            #if($project.description && $project.description.length() > 0)
                <tr>
                    #contentRowHeading("project.description")
                    #wrapCell($project.description)
                </tr>
            #end
            #if($project.url && $project.url.length() > 0)
                #dynamicLinkRow("project.url" "homepage" $project.url)
            #end

            #if($actions.size() > 0)
                #foreach($act in $actions)
                <tr>
                    #if($velocityCount == 1)
                    <th class="content-row" rowspan="$actions.size()">#wwtext("name=actions")</th>
                    #end
                    <td class="content">
                        <img src="$base/images/config/actions/${act.icon}.gif"/>
                        <a id="action.$act.action"
                #if($act.action == "trigger")
                            href="$base/triggerBuild.action?projectName=$u_projectName"
                #elseif($act.action == "takeResponsibility")
                        href="#" onclick="takeResponsibility('$project.id'); return false;"
                #elseif($act.action == "clearResponsibility")
                        href="#" onclick="clearResponsibility('$project.id'); return false;"
                #elseif($act.action == "clean")
                        href="#" onclick="markForClean('#jss($u_projectName)'); return false;"
                #elseif($act.action == "viewSource")
                        href="#" onclick="viewWorkingCopy('$project.id'); return false;"
                #else
                        href="$urls.projectAction($project, $act.action)"
                #end
                        >$act.label</a>
                    </td>
                </tr>
                #end
            #end
            </table>
        </td>
    </tr>
</table>
