<div class="config-panel">
    <h3 class="config-header">#i18n("key=license.request.evaluation")</h3>
    <div class="config-container">
        #pform("formName=requestForm" "id=$id" "action=ajax/requestLicense.action" "ajax=true")
    </div>
</div>
<script type="text/javascript">
    requestForm.on('actioncomplete', function(requestForm, action)
    {
        mainForm.findById('zfid.license').setValue(action.result.detail);
        var status = Ext.get('requestForm.status');
        status.setStyle('padding', '5px');
        status.setStyle('text-align', 'center');
        status.update('<img src="$base/images/accept.gif"/> #i18n("key=license.obtained")');
    });

    requestForm.on('actionfailed', function(form, action)
    {
        if(action.failureType != Ext.form.Action.SERVER_INVALID)
        {
            Ext.get('requestForm.status').update('<ul class="error"><li class="error">' + action.result.detail + '</li></ul>');
        }
    });
</script>
