#macro(pluginHeader $key)
    <th class="detail">#wwtext("name=$key")</th>
#end

#macro(pluginCell $value)
    <td class="detail">$!webwork.htmlEncode($value)</td>
#end

#macro(pluginRow $key $value)
    <tr>
        #pluginHeader($key)
        #pluginCell($value)
    </tr>
#end

<h2 style="margin-bottom: 10px">:: #html($plugin.name) ::</h2>

<table id="details:$plugin.id" class="detail">
    #pluginRow("plugin.name" $plugin.name)
    <tr>
        #pluginHeader("plugin.state")
        <td id="plugin.status" class="detail">
            #pluginStateImage($plugin) $plugin.state.toString().toLowerCase()
        </td>
    </tr>
    
#if($plugin.errorMessages.size() > 0)
    <tr>
        #pluginHeader("plugin.error")
        <td id="plugin.error" class="detail">
            <ul>
    #foreach($message in $plugin.errorMessages)
                <li class="error">#html($message)</li>
    #end
            </ul>
        </td>
    </tr>
#end
    #pluginRow("plugin.id" $plugin.id)
    #pluginRow("plugin.version" $plugin.version)
    #pluginRow("plugin.description" $plugin.description)
    #pluginRow("plugin.vendor" $plugin.vendor)

    <tr>
        #pluginHeader("plugin.depends.on")
        <td class="detail">
#if($requiredPlugins.size() > 0)
            <table class="content">
                <tr>
                    <th>#wwtext("name=plugin.providing")</th>
                    <th>#wwtext("name=plugin.id")</th>
                    <th>#wwtext("name=plugin.version.range")</th>
                </tr>
    #foreach($required in $requiredPlugins)
                <tr>
                    <td>
        #if($required.supplier)
                        #pluginStateImage($required.supplier)
                        #pluginLink($required.supplier)
        #else
                        #wwtext("name=plugin.providing.none")
        #end
                    </td>
                    <td>$!webwork.htmlEncode($required.id)</td>
                    <td>$required.versionRange</td>
                </tr>
    #end
            </table>
#else
            #wwtext("name=plugin.no.requirements")
#end
        </td>
    </tr>

    <tr>
        #pluginHeader("plugin.required.by")
        <td class="detail">
#if($dependentPlugins.size() > 0)
            <table class="content">
                <tr>
                    <th>#wwtext("name=plugin.dependent")</th>
                    <th>#wwtext("name=plugin.id")</th>
                </tr>
    #foreach($dep in $dependentPlugins)
                <tr>
                    <td>
                        #pluginStateImage($dep) #pluginLink($dep)
                    </td>
                    <td>$!webwork.htmlEncode($dep.id)</td>
                </tr>
    #end
            </table>
#else
            #wwtext("name=plugin.no.dependencies")
#end
            </ul>
        </td>
    </tr>

    <tr>
        #pluginHeader("actions")
        <td class="detail">
            <ul>
#if($plugin.canDisable())
                <li>#pluginDisable($plugin)</li>
#end
#if($plugin.canEnable())
                <li>#pluginEnable($plugin)</li>
#end
#if($plugin.canUninstall())
                <li>#pluginUninstall($plugin)</li>
#end
        </td>
    </tr>
</table>
