#if($invalidAgents.size() > 0)
    <div class="invalid-configs" style="margin-top: 0;">
        The following agents have invalid configuration, and cannot be used
        for building or reporting until rectified:
        <ul>
    #foreach($agent in $invalidAgents)
            <li>
        #if($agent.name)
                <a href="$urls.adminAgent($agent)">#html($agent.name)</a>
        #else
                [agent has no name]
        #end
            </li>
    #end
        </ul>
    </div>
#end

<table id="agents-table" class="content">
    #headingRow("agents" 5)
    <tr>
        #contentHeading("agent.name" 1)
        #contentHeading("agent.location" 1)
        #contentHeading("agent.status" 1)
        #contentHeading("actions" 1)
        #contentHeading("edit" 1)
    </tr>
#foreach($model in $models)
    <tr>
        #set($h_agentName = $!webwork.htmlEncode($model.name))
        #dynamicLinkCell($model.name "$urls.agentStatus($model.agent)")
        #dynamicIdCell("agent.${model.name}.location" $model.location)
        #dynamicIdCell("agent.${model.name}.status" $model.status)
        <td class="content">
    #if($model.hasActions())
        #foreach($action in $model.actions)
            #if($action.icon)<img alt="${action.label}" src="${base}/images/config/actions/${action.icon}.gif"/>#end
            <a id='#id("agent.${model.name}.action.${action.action}")' href="$urls.agentAction($model.agent, $action.action)">$action.label</a>
            #if($velocityCount < $model.actions.size())
            <span class="understated">//</span>
            #end
        #end
    #end
        </td>
        #editCellSpan("$base/admin/#uce(${model.agent.config.configurationPath})/" "edit_$h_agentName" 1)
    </tr>
#end
</table>

