#responsibilityPanel($result "10px")

#if($personal)
    #set($ownerArg = "personal=true")
#else
    #set($ownerArg = "projectName=$u_projectName")
#end
#if($actions.size() > 0 || $hooks.size() > 0)
    <div id="action-column" style="margin-left: 20px; float: right;">
    #if($actions.size() > 0)
        <table width="150" class="content">
            <tr>
                <th class="heading">actions</th>
            </tr>
        #foreach($actionLink in $actions)
            <tr>
                <td class="content">
                    <img alt="$actionLink.label" src="$base/images/config/actions/${actionLink.icon}.gif"/>
                    <a id="action.${actionLink.action}"
            #if($actionLink.action == "cancel")
                        href="$base/cancelBuild.action?buildId=$result.id&fromBuild=true"
            #elseif($actionLink.action == "delete")
                        #set($confirm = $action.getText("build.delete.confirm", [$buildResult.number]))
                        href="#" onclick="confirmUrl('$confirm', '$base/deleteBuild.action?${ownerArg}&amp;buildVID=$buildResult.number')"
            #elseif($actionLink.action == "takeResponsibility")
                        href="#" onclick="takeResponsibility('$result.project.id'); return false"
            #elseif($actionLink.action == "clearResponsibility")
                        href="#" onclick="clearResponsibility('$result.project.id'); return false"
            #end
                    >$actionLink.label</a>
                </td>
            </tr>
        #end
        </table>
    #end
    #if($hooks.size() > 0)
        <table width="150" class="content">
            <tr>
                <th class="heading">hooks</th>
            </tr>
        #foreach($hook in $hooks)
            <tr>
                <td class="content">
                    <img alt="trigger" src="$base/images/lightning.gif"/>
                    <a id='#id("hook.${hook.name}")' href="#" onclick="triggerHook('$hook.handle'); return false">#html($hook.name)</a>
                </td>
            </tr>
        #end
        </table>
    #end
    </div>
#end

    <div id='#id("${result.ownerName}-build-${result.number}-summary")'>
        #showBuild($buildResult false false)
    </div>
