<div id='#id("${result.ownerName}-build-${result.number}-tests")'>
    #testSummaryTable($result.testSummary)

    <table class="fill spaced two-content">
        <th class="two-heading" colspan="9">
            #wwtext("name=build.stages")
        </th>
        <tr>
            #contentClassHeading("build.stage" 1 "leftmost")
            #contentHeading("test.status" 2)
            #contentHeading("test.total" 1)
            #contentHeading("test.failures" 1)
            #contentHeading("test.errors" 1)
            #contentHeading("test.expected.failures" 1)
            #contentHeading("test.skipped" 1)
            #contentClassHeading("test.success.rate" 1 "rightmost")
        </tr>
        #foreach($node in $result.root.children)
        <tr>
            #if($node.result.completed())
                <td id='#id("stage-${node.stageName}")' class="content leftmost"><a href="$urls.stageTests($result, $node)">#html($node.stageName)</a></td>
                #set($summary = $node.result.testSummary)
                #testStatusCell($summary "")
                #rightCell($summary.total)
                #rightCell($summary.failures)
                #rightCell($summary.errors)
                #rightCell($summary.expectedFailures)
                #rightCell($summary.skipped)
                <td class="content-right rightmost">${summary.successRate}%</td>
            #else
                <td id='#id("stage-${node.stageName}")'class="content leftmost">#html($node.stageName)</td>
                <td id='#id("stage-${node.stageName}-inprogress")' class="content leftmost"><img alt="in progress" src="$base/images/inprogress.gif"/></td>
                <td class="content">$node.result.state.prettyString</td>
                <td class="content rightmost" colspan="6">#wwtext("name=tests.stage.in.progress")</td>
            #end
        </tr>
        #end
    </table>

    #buildTestFailures($result)
</div>
