#if($invalidProjects.size() > 0)
    <div class="invalid-configs">
        The following projects have invalid configuration, and cannot be used
        for building or reporting until rectified:
        <ul>
    #foreach($project in $invalidProjects)
            <li>
        #if($project.name)
                <a href="$urls.adminProject($project)">#html($project.name)</a>
        #else
                [project has no name]
        #end
            </li>
    #end
        </ul>
    </div>
#end

#if($models.size() > 0)
    #showProjectsModels($models $columns false)
#else
    <p>
        No projects found.
    #auth("path=projects" "action=create")
        You can add new projects at the <a href="$urls.adminProjects()">projects tab</a> in the administration section.
    #end
    </p>
#end
