#macro(revisionValue $revision)
    #if($revision.abbreviated)
        <span title="$!webwork.htmlEncode($revision.revisionString)">
    #end
    #html($revision.abbreviatedRevisionString)
    #if($revision.abbreviated)
        </span>
    #end
#end

    <table id="server.activity" class="columns">
    <tr><td>

    <table id="server.activity.build.queue" class="fill-content">
        #headingRow("build.queue" 7)
        <tr>
            #contentHeading("queue.owner" 1)
            #contentHeading("build.id" 1)
            #contentHeading("project" 1)
            #contentHeading("queue.revision" 1)
            #contentHeading("queue.when" 1)
            #contentHeading("reason" 1)
            #contentHeading("actions" 1)
        </tr>
#if($buildQueue.size() > 0)
    #foreach($buildRequest in $buildQueue)
        <tr>
        #if($buildRequest)
                #ownerCell($buildRequest "content")
            #if($buildRequest.personal)
                #staticCell($buildRequest.number)
            #else
                #contentCell("build.id.unknown")
            #end
                #dynamicLinkCell($buildRequest.projectConfig.name "$urls.projectHome($buildRequest.projectConfig)")
            #if($buildRequest.revision.revision)
            <td class="content">
                #revisionValue($buildRequest.revision.revision) #if($buildRequest.replaceable) [replaceable] #end
            </td>
            #else
                #contentCell("queue.revision.floating")
            #end
                #contentCell($buildRequest.prettyQueueTime)
                #dynamicCell($buildRequest.reason.summary)
            #if($action.canCancel($buildRequest))
                #actionCellId("cancel" "$base/cancelQueuedBuild.action?id=$buildRequest.id" "cancel.gif" "cancel.queued.${buildRequest.id}" false)
            #else
                #contentCell("empty.cell")
            #end
            #set($buildRequest = false)
        #else
            <td class="content understated" colspan="7">#wwtext("name=queue.entry.not.viewable")</td>
        #end
        </tr>
    #end
#else
    <tr>
        <td class="content" colspan="7">#wwtext("name=build.queue.empty")</td>
    </tr>
#end
    </table>

    </td></tr><tr><td>

    <table id="server.activity.active.builds" class="fill-content">
        #headingRow("active.builds" 10)
        <tr>
            #contentHeading("queue.owner" 1)
            #contentHeading("build.id" 1)
            #contentHeading("project" 1)
            #contentHeading("queue.revision" 1)
            #contentHeading("build.status" 2)
            #contentHeading("build.when" 1)
            #contentHeading("reason" 1)
            #contentHeading("build.elapsed" 1)
            #contentHeading("actions" 1)
        </tr>
#if($executingBuilds.size() > 0)
    #foreach($buildResult in $executingBuilds)
        <tr>
        #if($buildResult)
            #set($cssClass = $buildResult.state.string)
            #set($project = $buildResult.project)

            #ownerCell($buildResult "content")
            #dynamicRightLinkCell($buildResult.number "$urls.build($buildResult)")
            <td class="content"><a href="$urls.projectHome($project)">$!webwork.htmlEncode($project.name)</a></td>
            #if($buildResult.revision)
            <td class="content">
                #revisionValue($buildResult.revision)
            </td>
            #else
                #contentCell("revision.none")
            #end
            #statusCell($buildResult true)
            #dateClassCell($buildResult)
            #dynamicCell($buildResult.reason.summary)
            #elapsedCell($buildResult)

            #if($action.canCancel($buildResult))
                #set($cancelStr = "cancel.active.${buildResult.owner.name}.${buildResult.number}")
                #actionCellId("cancel" "$base/cancelBuild.action?buildId=$buildResult.id" "cancel.gif" "#id($cancelStr)" false)
            #else
                #contentCell("empty.cell")
            #end
            #set($buildResult = false)
        #else
            <td class="content understated" colspan="9">#wwtext("name=queue.entry.not.viewable")</td>
        #end
        </tr>
    #end
#else
    <tr>
        <td class="content" colspan="10">#wwtext("name=no.active.builds")</td>
    </tr>
#end
    </table>

    </td></tr><tr><td>

    <table id="server.activity.stage.queue" class="fill-content">

#if($recipeQueueRunning)
        #restrictedHeadingRow("stage.queue" 7 "ADMINISTER" "queue.pause" "$base/admin/actions?toggleRecipeQueue" "control_pause_blue.gif" false)
#else
        #restrictedHeadingRow("stage.queue" 7 "ADMINISTER" "queue.resume" "$base/admin/actions?toggleRecipeQueue" "control_play_blue.gif" false)
        #noteRow("queue.paused" 7)
#end
        <tr>
            #contentHeading("queue.owner" 1)
            #contentHeading("build.id" 1)
            #contentHeading("project" 1)
            #contentHeading("queue.stage" 1)
            #contentHeading("queue.recipe" 1)
            #contentHeading("queue.host" 1)
            #contentHeading("queue.when" 1)
        </tr>
#if($recipeQueueSnapshot.size() > 0)
    #foreach($assignmentRequest in $recipeQueueSnapshot)
        <tr>
        #if($assignmentRequest)
            #set($build = $assignmentRequest.build)
            #set($project = $build.project)
            #ownerCell($build "content")
            #rightCell($build.number)
            #dynamicLinkCell($project.name "$urls.projectHome($project)")
            #dynamicCell($assignmentRequest.request.stageName)
            #dynamicCell($assignmentRequest.request.recipeNameSafe)
            #dynamicCell($assignmentRequest.hostRequirements.summary)
            #contentCell($assignmentRequest.prettyQueueTime)
            #set($assignmentRequest = false)
        #else
            <td class="content understated" colspan="6">#wwtext("name=queue.entry.not.viewable")</td>
        #end
        </tr>
    #end
#else
    <tr>
        <td class="content" colspan="7">#wwtext("name=stage.queue.empty")</td>
    </tr>
#end
    </table>

    </td></tr>
    </table>
