#responsibilityPanel($result "10px")

#if($personal)
    #set($ownerArg = "personal=true")
#else
    #set($ownerArg = "projectName=$u_projectName")
#end
#if($actions.size() > 0 || $hooks.size() > 0)
    <div id="action-column" style="margin-left: 20px; float: right;">
    #if($actions.size() > 0)
        <table width="150" class="content">
            <tr>
                <th class="heading">actions</th>
            </tr>
        #foreach($actionLink in $actions)
            <tr>
                <td class="content">
                    <img alt="$actionLink.label" src="$base/images/config/actions/${actionLink.icon}.gif"/>
                    <a id="action.${actionLink.action}"
            #if($actionLink.action == "cancel")
                        href="$base/cancelBuild.action?buildId=$result.id&fromBuild=true"
            #elseif($actionLink.action == "delete")
                        #set($confirm = $action.getText("build.delete.confirm", [$buildResult.number]))
                        href="#" onclick="confirmUrl('$confirm', '$base/deleteBuild.action?${ownerArg}&amp;buildVID=$buildResult.number')"
            #elseif($actionLink.action == "takeResponsibility")
                        href="#" onclick="takeResponsibility('$result.project.id'); return false"
            #elseif($actionLink.action == "clearResponsibility")
                        href="#" onclick="clearResponsibility('$result.project.id'); return false"
            #end
                    >$actionLink.label</a>
                </td>
            </tr>
        #end
        </table>
    #end
    #if($hooks.size() > 0)
        <table width="150" class="content">
            <tr>
                <th class="heading">hooks</th>
            </tr>
        #foreach($hook in $hooks)
            <tr>
                <td class="content">
                    <img alt="trigger" src="$base/images/lightning.gif"/>
                    <a id='#id("hook.${hook.name}")' href="#" onclick="triggerHook('$hook.handle'); return false">#html($hook.name)</a>
                </td>
            </tr>
        #end
        </table>
    #end
    </div>
#end

    <div id='#id("${result.ownerName}-build-${result.number}-summary")'>
        #showBuild($buildResult false false)
    </div>

#if($dependencyDetails.size() > 0)
    <div id='#id("${result.ownerName}-build-${result.number}-dependencies")'>
        <table id="table.dependencies" width="150" class="content">
             <th colspan="4" class="heading">#wwtext("name=dependencies.header")</th>
            <tr>
                <th class="content">#wwtext("name=dependencies.column.stage")</th>
                <th class="content">#wwtext("name=dependencies.column.project")</th>
                <th class="content">#wwtext("name=dependencies.column.build")</th>
                <th class="content">#wwtext("name=dependencies.column.artifact")</th>
            </tr>
        #foreach($detail in $dependencyDetails)
            #if ($detail.reportAvailable)
                #foreach($dependency in $detail.dependencies)
                <tr>
                    <td class="content">#html($detail.stageName)</td>
                    <td class="content"><a href="$dependency.projectUrl">#html($dependency.projectName)</a></td>
                    #if($dependency.buildUrl)
                        <td class="content"><a href="$dependency.buildUrl">#html($dependency.buildName)</a></td>
                    #else
                        <td class="content">#html($dependency.buildName)</td>
                    #end
                    <td class="content"><a href="$dependency.artifactUrl">#html($dependency.artifactName)</a></td>
                </tr>
                #end
            #else
                <td colspan="4" class="content"><b>#html($detail.stageName)</b> stage dependency details are not available.  They have most likely been cleaned up.</td>
            #end
        #end
        </table>
    </div>
#end
