<html>
<body>

#set($config = $action.configuration)

<div style="font-style:italic;">
    #set($breadcrumbPath = "")
    #set($sep = "")
    #foreach($pathElement in $config.parentPathElements)
        #if($breadcrumbPath.length() > 0)
            #set($breadcrumbPath = "${breadcrumbPath}/${pathElement}")
        #else
            #set($breadcrumbPath = "${pathElement}")
        #end
        ${sep} <a href="configuration.action?path=${breadcrumbPath}">${pathElement}</a>
        #set($sep = ">")
    #end
    ${sep} $!config.currentPath
</div>

<h2>#i18n("key=label")</h2>
<div style="color:gray">
    #i18n("key=introduction")
</div>

#if( $config.simpleProperties.size() > 0)
    <!-- this configuration definition contains fields to be configured. -->
    <p>
        #pform("path=$config.path" "action=save.action?path=$config.path")
    </p>

    #if ($config.configurationCheckAvailable)
    <p>
        Test configuration
        #checkform("path=$config.path" "action=check.action?path=$config.path")
    </p>
    #end
#end

#if( $config.nestedProperties.size() > 0)
<p>&nbsp;</p>
<h4>nested configurations</h4>
<p>the following nested configurations are also available:</p>
<ul>
    #foreach($prop in $config.nestedProperties)
        <li>#i18n("path=$config.path/$prop" "key=label") <a href="configuration.action?path=${config.path}/${prop}">(view - ${prop})</a>  </li>
    #end
</ul>
#end

</body>
</html>