<html>
<body>

#set($config = $action.configuration)

<div>
    #set($breadcrumbPath = "")
    #set($sep = "")
    #foreach($pathElement in $config.parentPathElements)
        #set($breadcrumbPath = "${breadcrumbPath}/${pathElement}")
        ${sep} <a href="configuration.action?path=${breadcrumbPath}">${pathElement}</a>
        #set($sep = ">")
    #end
    ${sep} $!config.currentPath
</div>

<h2>#i18n("path=$config.path" "key=label")</h2>
<h4>composite</h4>
<p>
    #i18n("path=$config.path" "key=introduction")
</p>

#if( $config.extensions.size() > 0)
<p>
    <h3>extensions to the base type</h3>
    <ul>
    #foreach($prop in $config.extensions)
        <li>$prop</li>
    #end
    </ul>
</p>
#end

#if( $config.simpleProperties.size() > 0)
<p>
    <h3>simple properties</h3>
    <ul>
    #foreach($prop in $config.simpleProperties)
        <li>$prop : #i18n("path=$config.path" "key=${prop}.description")</li>
    #end
    </ul>

    <p>
        #pform("path=$config.path" "action=save.action?path=$config.path")
    </p>

    #if ($config.configurationCheckAvailable)
    <p>
        Test configuration
        #checkform("path=$config.path" "action=check.action?path=$config.path")
    </p>
    #end
</p>
#end

#if( $config.listProperties.size() > 0)
<p>
    <h3>list properties</h3>
    <ul>
    #foreach($prop in $config.listProperties)
        <li><a href="configuration.action?path=${config.path}/${prop}">$prop</a> $!config.record.get($prop)</li>
    #end
    </ul>
</p>
#end

#if( $config.mapProperties.size() > 0)
<p>
    <h3>map properties</h3>
    <ul>
    #foreach($prop in $config.mapProperties)
        <li><a href="configuration.action?path=${config.path}/${prop}">$prop</a> $!config.record.get($prop)</li>
    #end
    </ul>
</p>
#end

#if( $config.nestedProperties.size() > 0)
<p>
    <h3>nested properties</h3>
    <ul>
    #foreach($prop in $config.nestedProperties)
        <li><a href="configuration.action?path=${config.path}/${prop}">$prop</a>  #if($config.record.get($prop)) (edit) #else (not configured) #end</li>
    #end
    </ul>
</p>
#end

#if( $config.extensions.size() > 0)
<p>
    <h3>extension</h3>
    <a href="wizard.action?path=$config.path">create...</a>
</p>
#end

<p>
    #if($config.pathElements.size() > 1)
        <a href="configuration.action?path=${config.parentPath}">done</a>
    #end
</p>


<h2>debugging</h2>
<p>
    <ul>
        <li>path: $!config.path</li>
    </ul>
    <ul>
        <li>type symbolic name: $!config.typeSymbolicName</li>
        <li>target symbolic name: $!config.targetSymbolicName</li>
    </ul>
</p>
<p>
    Current data size: $!config.record.size()
</p>
#if($config.record)
<p>
<table>
#foreach($key in $config.record.keySet())
    <tr>
        <td> $key </td><td>&nbsp;</td><td> $config.record.get($key) </td>
    </tr>
#end
</table>
</p>
<p>
    <a href="reset.action?path=$config.path">reset</a>
</p>
#end

</body>
</html>