#helpTag("Administration+Projects+Tab")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=administration")</title>
	<script type="text/javascript">
        Layout = function(){
                var layout;
                return {
                    init : function(){
                        nestedLayout.addRegion('north', {
                            split: false,
                            titlebar: false
                        });

                        nestedLayout.addRegion('west', {
                            split:true,
                            initialSize: 200,
                            minSize: 175,
                            maxSize: 400,
                            titlebar: true,
                            collapsible: true,
                            animate: true,
                            tabPosition: 'top'
                        });

                        nestedLayout.beginUpdate();
                        nestedLayout.add('north', new YAHOO.ext.ContentPanel('innernorth', {title: 'Inner North'}));
                        nestedLayout.add('west', new YAHOO.ext.ContentPanel('project-tree', {title: 'Projects'}));
                        nestedLayout.add('west', new YAHOO.ext.ContentPanel('config-tree', {title: 'Configuration'}));
                        nestedLayout.endUpdate();
                   }
             }
        }();
        YAHOO.ext.EventManager.onDocumentReady(Layout.init, Layout, true);
	</script>
    <link href="$base/css/prototype.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    #adminTabs("projects")

    #parse("/template/includes/actionerrors.vm")

    <div id="innernorth" style="padding: 4px; padding-bottom: 12px; border-bottom: 1px solid #ccc">
    </div>

    <div id="project-tree" class="ylayout-inactive-content">
        A tree of templates/projects.
    </div>

    <div id="config-tree" class="ylayout-inactive-content">
        <h1>options nav</h1>
        <p>show the full option tree...</p>
    </div>

    <h1>#i18n("path=$action.path" "key=label")</h1>

    <div>
        #set($breadcrumbPath = "")
        #set($sep = "")
        #foreach($pathElement in $action.pathElements)
            #set($breadcrumbPath = "${breadcrumbPath}/${pathElement}")
            ${sep} <a href="config.action?path=${breadcrumbPath}">${pathElement}</a>
            #set($sep = ">")
        #end
    </div>
    <p>todo: do not link the last breadcrumb, we are on that page already.</p>
    <p>todo: fix the links at the start of the breadcrumbs - the scope.</p>
    <h2>introduction</h2>
    <p>#i18n("path=$action.path" "key=introduction")</p>

    <h2>inline form</h2>
    <p>
        #pform("path=$action.path")
    </p>

    <p>
        <a href="summary.action?path=$action.parentPath">apply</a> or <a href="summary.action?path=$action.parentPath">done</a>
    </p>

    #if($action.config.valueListProperties.size() > 0)
        <h2>value lists</h2>
        #foreach($valuelist in $action.config.valueListProperties)
        <p>
            #plist("path=$action.path" "propertyName=$valuelist")
        </p>
        #end
    #end

    #if($action.config.nestedProperties.size() > 0)
    <p>
        <h2>nested</h2>
        <ul>
            #foreach($subrecord in $action.config.nestedProperties)
            <li><a href="config.action?path=${action.path}/${subrecord}">$subrecord</a></li>
            #end
        </ul>
    </p>
    #end

    <h2>example</h2>
    <p>
        Vestibulum aliquam, erat in nonummy varius, nisi lectus faucibus pede, ac scelerisque
        sem mi at ligula. Duis hendrerit. Quisque porttitor diam vitae dolor. Morbi eget nisi
        ac felis nonummy congue. Ut interdum orci non felis. Aliquam sed sapien.
    </p>

</body>
</html>

