<html>
<body>

<h1>Test index</h1>
<ul>
    <li><a href="#url("action=display" "path=global")">global</a></li>
    <li><a href="#url("action=display" "path=project")">project</a></li>
    <li><a href="#url("action=wizard" "path=project")">new project wizard</a></li>
</ul>

</body>
</html>