<html>
<body>

#set($config = $action.configuration)

<div>
    #set($breadcrumbPath = "")
    #set($sep = "")
    #foreach($pathElement in $config.parentPathElements)
        #set($breadcrumbPath = "${breadcrumbPath}/${pathElement}")
        ${sep} <a href="configuration.action?path=${breadcrumbPath}">${pathElement}</a>
        #set($sep = ">")
    #end
    ${sep} $!config.currentPath
</div>

<h2>#i18n("path=$config.path" "key=label")</h2>
<h4>list</h4>
<p>
    #i18n("path=$config.path" "key=introduction")
</p>


#if( $config.extensions.size() > 0)
<p>
    <h3>extensions to the base type</h3>
    <ul>
    #foreach($prop in $config.extensions)
        <li>$prop</li>
    #end
    </ul>
</p>
#end

<p>
    #plist("path=$config.path")
</p>

<p>
    #if( $config.extensions.size() > 0)
        #if($config.extensions.size() == 1)
            #pform("path=$config.path" "action=save.action?path=$config.path" "symbolicName=$config.extensions.get(0)")
        #else
            <a href="wizard.action?path=$config.path">add...</a>
        #end
    #end
</p>


<p>
    #if($config.pathElements.size() > 2)
        <a href="configuration.action?path=${config.parentPath}">done</a>
    #end
</p>


<h2>debugging</h2>
<p>
    <ul>
        <li>path: $!config.path</li>
    </ul>
    <ul>
        <li>type symbolic name: $!config.typeSymbolicName</li>
        <li>target symbolic name: $!config.targetSymbolicName</li>
    </ul>
</p>
<p>
    Current data size: $!config.record.size()
</p>
#if($config)
<p>
<table>
#foreach($key in $config.record.keySet())
    <tr>
        <td> $key </td><td>&nbsp;</td><td> $config.record.get($key) </td>
    </tr>
#end
</table>
</p>
#end

</body>
</html>