<html>
<body>

#set($config = $action.configuration)

<div>
    #set($breadcrumbPath = "")
    #set($sep = "")
    #foreach($pathElement in $config.parentPathElements)
        #set($breadcrumbPath = "${breadcrumbPath}/${pathElement}")
        ${sep} <a href="configuration.action?path=${breadcrumbPath}">${pathElement}</a>
        #set($sep = ">")
    #end
    ${sep} $!action.configuration.currentPath
</div>

<h2>map</h2>

<p>
    <ul>
        <li>path: $!config.path</li>
        <li>parent path: $!config.parentPath</li>
        <li>current path: $!config.currentPath</li>
    </ul>
    <ul>
        <li>instance symbolic name: $!config.instanceTypeSymbolicName</li>
        <li>type symbolic name: $!config.typeSymbolicName</li>
        <li>parent symbolic name: $!config.parentTypeSymbolicName</li>
        <li>collection symbolic name: $!config.collectionSymbolicName</li>
    </ul>
</p>
<p>
    Current data size: $!config.record.size()
</p>
#if($config.record)
<p>
<table>
#foreach($key in $config.record.keySet())
    <tr>
        <td> $key </td><td>&nbsp;</td><td> $config.record.get($key) </td>
    </tr>
#end
</table>
</p>
#end

#if( $config.extensions.size() > 0)
<p>
    <h2>extensions to the base type</h2>
    <ul>
    #foreach($prop in $config.extensions)
        <li>$prop</li>
    #end
    </ul>
</p>
#end

<p>
    <h2>show map, empty or not.</h2>
</p>
<p>
    <h2>show add new link.</h2>
    #if( $config.extensions.size() > 0)
        #if($config.extensions.size() == 1)
            #pform("path=$config.path" "action=save.action?path=$config.path" "symbolicName=$config.extensions.get(0)")
        #else
            <a href="wizard.action?path=$config.path">add...</a>
        #end
    #end
</p>



<p>
    #if($action.configuration.pathElements.size() > 2)
        <a href="configuration.action?path=${action.configuration.parentPath}">done</a>
    #end
</p>
</body>
</html>