<table class="fill-content">
    #headingRow("post.build.action.available.variables" 2)
    #docRow("post.build.action.variable.project" "post.build.action.variable.project.help")
    #docRow("post.build.action.variable.number" "post.build.action.variable.number.help")
    #docRow("post.build.action.variable.specification" "post.build.action.variable.specification.help")
    #docRow("post.build.action.variable.status" "post.build.action.variable.status.help")
#if($exe)
    #docRow("post.build.action.variable.reason" "post.build.action.variable.reason.help")
    #docRow("post.build.action.variable.test.summary" "post.build.action.variable.test.summary.help")
    #docRow("post.build.action.variable.build.dir" "post.build.action.variable.build.dir.help")
    #docRow("post.build.action.variable.stage.agent" "post.build.action.variable.stage.agent.help")
    #docRow("post.build.action.variable.stage.recipe" "post.build.action.variable.stage.recipe.help")
    #docRow("post.build.action.variable.stage.status" "post.build.action.variable.stage.status.help")
    #docRow("post.build.action.variable.stage.dir" "post.build.action.variable.stage.dir.help")
    #docRow("post.build.action.variable.command.status" "post.build.action.variable.command.status.help")
    #docRow("post.build.action.variable.command.dir" "post.build.action.variable.command.dir.help")
#end
    </table>
