#macro(refLink $page)
    <a href="$helpUrl/$page" onclick="window.open('$helpUrl/$page', 'Reference', 'width=600,height=500,scrollbars=yes,resizable=yes'); return false;" target="_blank" title="$page">$page</a>
#end
<div id="reference">
    <table class="fill-content">
        #headingRow("pulse.file.reference" 1)
        <td class="content">
            <ul>
                <li>
                    <a href="$helpUrl/pulse+Files" onclick="window.open('$helpUrl/pulse+Files', 'Reference', 'width=600,height=500,scrollbars=yes,resizable=yes'); return false;" target="_blank" title="pulse Files">pulse Files</a>
                    <ul>
                        <li>
                            #refLink("ant.pp")
                        </li>
                        <li>
                            #refLink("cppunit.pp")
                        </li>
                        <li>
                            #refLink("junit.pp")
                        </li>
                        <li>
                            #refLink("junit.summary.pp")
                        </li>
                        <li>
                            #refLink("macro")
                        </li>
                        <li>
                            #refLink("macro-ref")
                        </li>
                        <li>
                            #refLink("make.pp")
                        </li>
                        <li>
                            #refLink("maven2.pp")
                        </li>
                        <li>
                            #refLink("ocunit.pp")
                        </li>
                        <li>
                            #refLink("post-processor")
                        </li>
                        <li>
                            #refLink("property")
                        </li>
                        <li>
                            #refLink("recipe")
                            <ul>
                                <li>
                                    #refLink("ant")
                                </li>
                                <li>
                                    #refLink("command")
                                <ul>
                                    <li>
                                        #refLink("artifact")
                                        <ul>
                                            <li>
                                                #refLink("process")
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        #refLink("dir-artifact")
                                        <ul>
                                            <li>
                                                #refLink("exclude (dir-artifact)")
                                            </li>
                                            <li>
                                                #refLink("include")
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                                <li>
                                    #refLink("executable")
                                    <ul>
                                        <li>
                                            #refLink("arg")
                                        </li>
                                        <li>
                                            #refLink("environment")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    #refLink("make")
                                </li>
                                <li>
                                    #refLink("maven")
                                </li>
                                <li>
                                    #refLink("maven2")
                                </li>
                                <li>
                                    #refLink("resource")
                                </li>
                                <li>
                                    #refLink("sleep")
                                </li>
                                <li>
                                    #refLink("xcodebuild")
                                </li>
                            </ul>
                        </li>
                        <li>#refLink("regex.pp")
                            <ul>
                                <li>
                                    #refLink("pattern")
                                    <ul>
                                        <li>
                                            #refLink("exclude")
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            #refLink("regex-test.pp")
                        </li>
                        <li>
                            #refLink("unittestpp.pp")
                        </li>
                        <li>
                            #refLink("xcodebuild.pp")
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
    </table>
</div>
