<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="com.zutubi.pulse.core.commands">
        <command name="ant" class="com.zutubi.pulse.core.commands.ant.AntCommandConfiguration">
            <resource name="ant" optional="true"/>
        </command>
    </extension>
    <extension point="com.zutubi.pulse.core.postprocessors">
        <post-processor name="ant.pp" display-name="ant output processor"
                        default-processor="true" class="com.zutubi.pulse.core.commands.ant.AntPostProcessorConfiguration"/>
    </extension>
    <extension point="com.zutubi.pulse.core.resourcelocators">
        <resource-locator name="ant" class="com.zutubi.pulse.core.commands.ant.AntResourceLocator"/>
    </extension>
</plugin>
