<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    
    <import resource="classpath:/com/zutubi/pulse/core/bootstrap/context/eventContext.xml"/>
    <import resource="classpath:/com/zutubi/pulse/core/bootstrap/context/pluginContext.xml"/>

    <bean id="configRoot" class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
        <property name="targetBeanName" value="configurationManager"/>
        <property name="propertyPath" value="systemPaths.configRoot"/>
    </bean>

    <bean id="logConfigurationManager" class="com.zutubi.pulse.servercore.util.logging.LogConfigurationManager" init-method="init">
        <property name="logConfiguration">
            <ref local="logConfiguration"/>
        </property>
        <property name="systemPaths">
            <ref local="systemPaths"/>
        </property>
        <property name="logManager">
            <ref local="logManager"/>
        </property>
        <property name="eventManager">
            <ref bean="eventManager"/>
        </property>
    </bean>

    <bean id="logConfiguration" class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
        <property name="targetBeanName" value="configurationManager"/>
        <property name="propertyPath" value="appConfig"/>
    </bean>

    <bean id="systemPaths" class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
        <property name="targetBeanName" value="configurationManager"/>
        <property name="propertyPath" value="systemPaths"/>
    </bean>

    <bean id="logManager" class="com.zutubi.pulse.core.util.logging.LogManager">
        <property name="factories">
            <map>
                <entry key="FileHandler"><ref local="fileHandlerFactory"/></entry>
                <entry key="ConsoleHandler"><ref local="consoleHandlerFactory"/></entry>
                <entry key="MemoryHandler"><ref local="memoryHandlerFactory"/></entry>
            </map>
        </property>
    </bean>

    <bean name="jettyServerManager" class="com.zutubi.pulse.servercore.jetty.JettyServerManager"/>

    <bean id="fileHandlerFactory" class="com.zutubi.pulse.servercore.util.logging.FileHandlerFactory">
        <property name="objectFactory" ref="objectFactory"/>
    </bean>

    <bean id="consoleHandlerFactory" class="com.zutubi.pulse.core.util.logging.ConsoleHandlerFactory"/>
    <bean id="memoryHandlerFactory" class="com.zutubi.pulse.core.util.logging.MemoryHandlerFactory"/>

    <bean id="tokenManager" class="com.zutubi.pulse.servercore.api.AdminTokenManager" init-method="init"/>

    <bean id="threadPool" class="com.zutubi.pulse.slave.SlaveThreadPool" />

    <bean id="slaveQueue" class="com.zutubi.pulse.slave.SlaveQueue" init-method="start"/>

    <bean id="slaveRecipeProcessor" class="com.zutubi.pulse.slave.SlaveRecipeProcessor" />

    <bean id="recipeProcessor" class="com.zutubi.pulse.core.RecipeProcessor" />

    <bean id="typeRegistry" class="com.zutubi.tove.type.TypeRegistry" />

    <bean id="configurationRegistry" class="com.zutubi.pulse.core.tove.config.CoreConfigurationRegistry" init-method="init"/>

    <bean id="fileLoaderFactory" class="com.zutubi.pulse.core.engine.marshal.PulseFileLoaderFactory" init-method="init"/>

    <bean id="commandFactory" class="com.zutubi.pulse.core.commands.DefaultCommandFactory"/>

    <bean id="outputFactory" class="com.zutubi.pulse.core.commands.DefaultArtifactFactory"/>

    <bean id="postProcessorFactory" class="com.zutubi.pulse.core.postprocessors.DefaultPostProcessorFactory"/>

    <bean id="customSerialiserFactory" class="com.zutubi.pulse.servercore.hessian.CustomSerialiserFactory"/>

    <bean id="hessianProxyFactory" class="com.zutubi.pulse.servercore.hessian.CustomHessianProxyFactory"/>

    <bean id="masterProxyFactory" class="com.zutubi.pulse.slave.MasterProxyFactory"/>

    <bean id="serviceTokenManager" class="com.zutubi.pulse.servercore.services.ServiceTokenManager" init-method="init">
        <property name="generate" value="false"/>
    </bean>

    <bean id="serverMessagesHandler" class="com.zutubi.pulse.servercore.util.logging.ServerMessagesHandler" init-method="init"/>

    <!-- Needs a user config root -->
    <bean id="resourceRepository" class="com.zutubi.pulse.core.InMemoryResourceRepository"/>

    <bean id="shutdownManager" class="com.zutubi.pulse.servercore.ShutdownManager">
        <property name="stoppables">
            <list>
                <ref bean="slaveQueue"/>
                <ref bean="jettyServerManager"/>
            </list>
        </property>
    </bean>

    <bean id="hessianModuleDescriptorSupportInitialiser" class="com.zutubi.pulse.servercore.dependency.ivy.HessianModuleDescriptorSupportInitialiser" init-method="init">
        <property name="customSerialiserFactory"><ref bean="customSerialiserFactory"/></property>
        <property name="ivyManager" ref="dependencyManager"/>
    </bean>

    <bean id="dependencyManager" class="com.zutubi.pulse.core.dependency.ivy.IvyManager" init-method="init">
        <property name="dataDir">
            <bean class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
                <property name="targetBeanName" value="configurationManager"/>
                <property name="propertyPath" value="userPaths.data"/>
            </bean>
        </property>
    </bean>
    <alias name="dependencyManager" alias="ivyManager"/>

</beans>
