<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <import resource="classpath:/com/zutubi/pulse/core/bootstrap/context/eventContext.xml"/>
    <import resource="classpath:/com/zutubi/pulse/core/bootstrap/context/pluginContext.xml"/>

    <bean id="configRoot" class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
        <property name="targetBeanName">
            <value>configurationManager</value>
        </property>
        <property name="propertyPath">
            <value>systemPaths.configRoot</value>
        </property>
    </bean>

    <bean id="logConfigurationManager" class="com.zutubi.pulse.servercore.logging.LogConfigurationManager" init-method="init">
        <property name="logConfiguration">
            <ref local="logConfiguration"/>
        </property>
        <property name="systemPaths">
            <ref local="systemPaths"/>
        </property>
        <property name="logManager">
            <ref local="logManager"/>
        </property>
        <property name="eventManager">
            <ref bean="eventManager"/>
        </property>
    </bean>

    <bean id="logConfiguration" class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
        <property name="targetBeanName">
            <value>configurationManager</value>
        </property>
        <property name="propertyPath">
            <value>appConfig</value>
        </property>
    </bean>

    <bean id="systemPaths" class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
        <property name="targetBeanName">
            <value>configurationManager</value>
        </property>
        <property name="propertyPath">
            <value>systemPaths</value>
        </property>
    </bean>

    <bean id="logManager" class="com.zutubi.pulse.core.logging.LogManager">
        <property name="factories">
            <map>
                <entry><key><value>FileHandler</value></key><ref local="fileHandlerFactory"/></entry>
                <entry><key><value>ConsoleHandler</value></key><ref local="consoleHandlerFactory"/></entry>
                <entry><key><value>MemoryHandler</value></key><ref local="memoryHandlerFactory"/></entry>
            </map>
        </property>
    </bean>

    <bean id="jettyManager" class="com.zutubi.pulse.servercore.jetty.JettyManager">
        <property name="jettyServer">
            <ref local="jettyServer"/>
        </property>
        <property name="configurationManager">
            <ref bean="configurationManager"/>
        </property>
    </bean>

    <bean id="jettyServer" class="com.zutubi.pulse.servercore.jetty.JettyServerFactoryBean" destroy-method="shutdown">
        <property name="configurationManager">
            <ref bean="configurationManager"/>
        </property>
    </bean>

    <bean id="fileHandlerFactory" class="com.zutubi.pulse.servercore.logging.FileHandlerFactory">
        <property name="objectFactory">
            <ref bean="objectFactory"/>
        </property>
    </bean>

    <bean id="consoleHandlerFactory" class="com.zutubi.pulse.core.logging.ConsoleHandlerFactory"/>
    <bean id="memoryHandlerFactory" class="com.zutubi.pulse.core.logging.MemoryHandlerFactory"/>

    <bean id="tokenManager" class="com.zutubi.pulse.servercore.api.AdminTokenManager" autowire="byName" init-method="init"/>

    <bean id="threadPool" class="com.zutubi.pulse.slave.SlaveThreadPool" autowire="byName"/>

    <bean id="slaveQueue" class="com.zutubi.pulse.slave.SlaveQueue" init-method="start"/>

    <bean id="slaveRecipeProcessor" class="com.zutubi.pulse.slave.SlaveRecipeProcessor" autowire="byName"/>

    <bean id="recipeProcessor" class="com.zutubi.pulse.core.RecipeProcessor" autowire="byName" init-method="init"/>

    <bean id="fileLoaderFactory" class="com.zutubi.pulse.core.PulseFileLoaderFactory" autowire="byName"/>

    <bean id="customSerialiserFactory" class="com.zutubi.pulse.servercore.hessian.CustomSerialiserFactory"/>

    <bean id="hessianProxyFactory" class="com.zutubi.pulse.servercore.hessian.CustomHessianProxyFactory" autowire="byName"/>

    <bean id="masterProxyFactory" class="com.zutubi.pulse.slave.MasterProxyFactory" autowire="byName"/>

    <bean id="serviceTokenManager" class="com.zutubi.pulse.servercore.services.ServiceTokenManager" autowire="byName" init-method="init">
        <property name="generate">
            <value>false</value>
        </property>
    </bean>

    <bean id="serverMessagesHandler" class="com.zutubi.pulse.servercore.logging.ServerMessagesHandler" autowire="byName" init-method="init"/>

    <!-- Needs a user config root -->
    <bean id="resourceRepository" class="com.zutubi.pulse.core.FileResourceRepository"/>

    <bean id="shutdownManager" class="com.zutubi.pulse.servercore.ShutdownManager">
        <property name="stoppables">
            <list>
                <ref bean="slaveQueue"/>
                <ref bean="jettyManager"/>
            </list>
        </property>
    </bean>
</beans>
