<html>
<head>
    <title>#wwtext("name=data.setup")</title>
    <script type="text/javascript" src="$base/js/main.js"></script>
    <script type="text/javascript">
    <!--
    	function openBrowseFileDialog()
    	{
    	    openFileDialog('$base/popups/fileDialog.action', 'setup.data', 'data', 'file:///', false, false, true);
    	    return false;
    	}
    -->
    </script>
</head>

<body>
    <h1>:: #wwtext("name=data.setup") ::</h1>
<p>&nbsp;</p>
    #parse("/template/includes/actionerrors.vm")

#wwcform("action=setupData.action" "heading=%{getText('data.setup')}" "name=setup.data" "method=post")
    #wwtextfield("name=data" "required=true" "label=%{getText('data.field')}" "size=60" "tabindex=1"  "after= <a href='#' onclick='return openBrowseFileDialog();'>browse</a>"  "onkeypress=return submitenter(this,event);")
    #inlineHelp("data.help")
    #next(2)
#end
<p>
    <img alt="info" src="$base/images/information.gif"/> $action.getText("data.using.config", [$pulseConfigPath])
</p>
#if(!$pulseConfigExists)
<p>
    <img alt="error" src="$base/images/exclamation.gif"/> #wwtext("name=data.config.missing")
</p>
#end
<div style="text-align:left;width:70%">
    #wwtext("name=data.directory.what.is.it")
    #wwtext("name=data.directory.where.should.it.go")
</div>

</body>
</html>
