<html>
<head>
    <title>#wwtext("name=data.setup")</title>
    <script type="text/javascript">
        <!--
        function openPopup()
        {
            var formElement = document.forms['setup.data'].elements['data'];
            window.open('$base/popups/browse-dirs.action?formname=setup.data&fieldname=data&initPath=' + formElement.value, 'browse_popup', 'width=400, height=550, resizable=yes', false);
            return false
        }
        //-->
    </script>

</head>

<body>
    <h1>:: #wwtext("name=data.setup") ::</h1>
<p>&nbsp;</p>
    #parse("/template/includes/actionerrors.vm")

#wwcform("action=setupData.action" "heading=%{getText('data.setup')}" "name=setup.data" "method=post")

    #wwtextfield("template=controlheader" "name=data" "required=true" "label=%{getText('data.field')}")
    #wwtextfield("theme=simple" "template=ctext" "name=data" "size=60" "tabindex=1" "onkeypress=return submitenter(this,event);")
    #wwsubmit("theme=simple" "name=browse" "value=browse" "onclick=openPopup(); return false;")
    #wwtextfield("template=controlfooter" "name=data")
    #inlineHelp("data.help")

    #next(2)
#end

<div style="text-align:left;width:70%">
    #wwtext("name=data.directory.what.is.it")
    #wwtext("name=data.directory.where.should.it.go")
</div>

</body>
</html>
