<html>
<head>
    <title>#wwtext("name=license.setup")</title>
</head>
<body>
    <div class="config-panel">
        <h3 class="config-header">#i18n("key=license.setup")</h3>
        <div class="config-container">
            #pform("path=$path" "action=setup/setupLicense.action" "namespace=setup")
        </div>
    </div>
    #wwaction("namespace=/ajax" "name=requestLicense!input" "executeResult=true" "flush=true")
</body>
</html>
