<html>
<head>
    <title>#wwtext("name=license.setup")</title>
</head>

<body>
    <h1>:: #wwtext("name=license.setup") ::</h1>

    #pform("path=$path" "action=setup/setupLicense.action" "namespace=setup")

    #wwaction("namespace=/ajax" "name=requestLicense!input" "executeResult=true")
</body>
</html>
