<html>
<head>
    <title>#wwtext("name=license.setup")</title>
</head>

<body>
    <h1>:: #wwtext("name=license.setup") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=setupLicense.action" "heading=%{getText('license.setup')}" "name=setup.license" "method=post")

    #wwtextarea("name=license" "labelCssClass=textarea" "label=%{getText('license.key.field')}" "required=true" "rows=10" "cols=65" "tabindex=1")
    #inlineHelp("license.help")

    #next(2)
#end

</body>
</html>
