<html>
<head>
    <title>#wwtext("name=bobHome.setup")</title>
</head>

<body>
    <h1>:: #wwtext("name=bobHome.setup") ::</h1>

    #parse("/template/includes/actionerrors.vm")

#wwcform("action=setup.action" "heading=%{getText('bobHome.setup')}" "name=setup.bobHome" "method=post")

    #wwtextfield("name=bobHome" "label=%{getText('bobHome.field')}" "required=true" "size=60" "tabindex=1" "onkeypress=return submitenter(this,event)")
    #inlineHelp("bobHome.help")

    #next(2)
#end

</body>
</html>
