<html>
<head>
    <title>#i18n("key=database.type.setup")</title>
</head>
<body>
    <div class="config-panel">
        <h3 class="config-header">#i18n("key=database.type.setup")</h3>
        <div class="config-container">
            #pform("path=$path" "formName=mainform" "action=setup/setupDatabaseType.action" "namespace=setup")
        </div>
        #checkForm($path $type "mainform" "setupwizard")
    </div>
    <div style="text-align:left;width:70%">
        #i18n("key=database.type.blurb")
    </div>
</body>
</html>
