<html>
<head>
    <title>#wwtext("name=server.settings")</title>

    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript">
        #ajaxError("test-results")

        function testSettings()
        {
            #testInProgress("test-results")

            var host = escape($F("setupWizard_smtpHost"));
            var ssl = escape($F("setupWizard_smtpSSL"));
            var from = escape($F("setupWizard_fromAddress"));
            var username = escape($F("setupWizard_username"));
            var password = escape($F("setupWizard_password"));
            var prefix = escape($F("setupWizard_prefix"));
            var to = escape($F("test.address"));
            var customPort = escape($F("setupWizard_smtpCustomPort"));
            var port = escape($F("setupWizard_smtpPort"));

            var params = "host=" + host + "&ssl=" + ssl + "&from=" + from + "&username=" + username + "&password=" + password + "&prefix=" + prefix + "&to=" + to + "&customPort=" + customPort + "&port=" + port;

            var updater = new Ajax.Updater({success: 'test-results'},
                                           "$base/ajax/testSmtp.action",
                                           {
                                               method: 'get',
                                               parameters: params,
                                               onFailure: reportError
                                           });

        }
    </script>
</head>
<body>
    <h1>:: #wwtext("name=server.settings") ::</h1>

#wwcform("action=setupWizard" "heading=%{getText('server.settings')}" "name=server.settings" "method=post")
    #wwhidden("name=state")
    #wwhidden("name=submit")

    #wwtextfield("name=baseUrl" "label=%{getText('general.base.url')}" "required=true" "size=40" "tabindex=1" "onkeypress=return submitenter(this,event)")
    #inlineHelp("general.base.url.help")

    #wwtextfield("name=smtpHost" "label=%{getText('smtp.host')}" "size=40" "tabindex=2"  "onkeypress=return submitenter(this,event)")
    #inlineHelp("smtp.host.help")
    #wwcheckbox("name=smtpSSL" "label=%{getText('smtp.ssl')}" "tabindex=3")
    #inlineHelp("smtp.ssl.help")
    #wwtextfield("name=fromAddress" "label=%{getText('smtp.from')}" "size=40" "tabindex=4"  "onkeypress=return submitenter(this,event)")
    #inlineHelp("smtp.from.help")
    #wwtextfield("name=username" "label=%{getText('smtp.username')}" "tabindex=5" "onkeypress=return submitenter(this,event)")
    #inlineHelp("smtp.username.help")
    #wwpassword("name=password" "label=%{getText('smtp.password')}" "showPassword=true" "tabindex=6" "onkeypress=return submitenter(this,event)")
    #inlineHelp("smtp.password.help")
    #wwtextfield("name=prefix" "label=%{getText('smtp.prefix')}" "size=60" "tabindex=7" "onkeypress=return submitenter(this,event)")
    #inlineHelp("smtp.prefix.help")
    #wwcheckbox("name=smtpCustomPort" "label=%{getText('smtp.custom.port')}" "onclick=setEnableState('setupWizard_smtpPort', 'setupWizard_smtpCustomPort')" "tabindex=8")
    #wwtextfield("name=smtpPort" "label=%{getText('smtp.port')}" "tabindex=9")
    #inlineHelp("smtp.port.help")

    #previousFinish(10)
#end

    <table class="content">
        #headingRow("settings.test" 2)
        <tr>
            <th class="label">
                <label for="test.address" class="label">test address <span class="required">*</span></label>:
            </th>
            <td class="field">
                <input type="text" name="test address" id="test.address"/>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td style="padding: 6px;">
                <p>
                    <a href="#" onclick="testSettings(); return false;">#wwtext("name=smtp.settings.test")</a>
                </p>
                <div id="test-results">
                </div>
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        setEnableState('setupWizard_smtpPort', 'setupWizard_smtpCustomPort')
    </script>
    
</body>
</html>
