<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="com.zutubi.pulse.core.commands">
        <command name="executable" class="com.zutubi.pulse.core.commands.core.ExecutableCommandConfiguration"/>
        <command name="named-argument" class="com.zutubi.pulse.core.commands.core.NamedArgumentCommandConfiguration"/>
        <command name="print" class="com.zutubi.pulse.core.commands.core.PrintCommandConfiguration"/>
        <command name="sleep" class="com.zutubi.pulse.core.commands.core.SleepCommandConfiguration"/>
    </extension>
    <extension point="com.zutubi.pulse.core.postprocessors">
        <post-processor name="regex-test.pp" display-name="regular expression test processor"
                        default-processor="false" class="com.zutubi.pulse.core.commands.core.RegexTestPostProcessorConfiguration"/>
        <post-processor name="regex.pp" display-name="regular expression processor"
                        default-processor="false" class="com.zutubi.pulse.core.commands.core.RegexPostProcessorConfiguration"/>
        <post-processor name="junit.pp" display-name="junit xml report processor"
                        default-processor="true" class="com.zutubi.pulse.core.commands.core.JUnitReportPostProcessorConfiguration"/>
        <post-processor name="junitee.pp" display-name="junitee xml report processor"
                        default-processor="true" class="com.zutubi.pulse.core.commands.core.JUnitEEReportPostProcessorConfiguration"/>
        <post-processor name="junit-summary.pp" display-name="junit summary output processor"
                        default-processor="true" class="com.zutubi.pulse.core.commands.core.JUnitSummaryPostProcessorConfiguration"/>
        <post-processor name="post-processor" class="com.zutubi.pulse.core.commands.core.PostProcessorGroupConfiguration"/>
        <post-processor name="custom-fields.pp" display-name="custom field processor"
                        default-processor="true" class="com.zutubi.pulse.core.commands.core.CustomFieldsPostProcessorConfiguration"/>
    </extension>
</plugin>