/*---( Yahoo treeview folder styles )---*/

/* first or middle sibling, no children */
.ygtvtn { background: url(../../images/treeview/tn.gif) 0 0 no-repeat; width:17px; height:22px; }

/* first or middle sibling, collapsable */
.ygtvtm { background: url(../../images/treeview/tm.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
.ygtvtmh { background: url(../../images/treeview/tmh.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* first or middle sibling, expandable */
.ygtvtp { background: url(../../images/treeview/tp.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* first or middle sibling, expandable, hover */
.ygtvtph { background: url(../../images/treeview/tph.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* last sibling, no children */
.ygtvln { background: url(../../images/treeview/ln.gif) 0 0 no-repeat; width:17px; height:22px; }

/* Last sibling, collapsable */
.ygtvlm { background: url(../../images/treeview/lm.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* Last sibling, collapsable, hover */
.ygtvlmh { background: url(../../images/treeview/lmh.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* Last sibling, expandable */
.ygtvlp { background: url(../../images/treeview/lp.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* Last sibling, expandable, hover */
.ygtvlph { background: url(../../images/treeview/lph.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* Loading icon */
.ygtvloading { background: url(../../images/treeview/loading.gif) 0 0 no-repeat; width:16px; height:22px; }

/* the style for the empty cells that are used for rendering the depth 
 * of the node */
.ygtvdepthcell { background: url(../../images/treeview/vline.gif) 0 0 no-repeat; width:17px; height:22px; }

.ygtvblankdepthcell { width:17px; height:22px; }

/* the style of the div around each node */
.ygtvitem { }  

/* the style of the div around each node's collection of children */
.ygtvchildren { }  
* html .ygtvchildren { height:1%; }  

/* the style of the text label */
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { 
	margin-left:2px;
	text-decoration: none;
}

/*---( Treeview node styles )---*/
.file {
    background: url(../../images/treeview/file.gif); 0 0 no-repeat; width:16px; height:22px; cursor:pointer;
}

.folder {
    background: url(../../images/treeview/c.gif); 0 0 no-repeat; width:16px; height:22px; cursor:pointer;
}

.openfolder {
    background: url(../../images/treeview/o.gif); 0 0 no-repeat; width:16px; height:22px; cursor:pointer;
}

.selected {
    color:white;
    background-color:#316AC5;
    border-width:1px; border-color:#316AC5; border-style:solid;
}

/*---( Toolbar styles )---*/

.up {
    background-image: url(../../images/arrow_up.gif);
}

.home {
    background-image: url(../../images/house.gif);
}

.create {
    background-image: url(../../images/folder_add.png);
}

.delete {
    background-image: url(../../images/folder_delete.png);
}

.refresh {
    background-image: url(../../images/arrow_refresh.png);
}

.toolbaritem {
    width:27px;
    height:27px;
    background-position:5px;
    background-repeat:no-repeat;

    border-width:1px;
    border-style:solid;
    border-color:white;
}

#view {
    cursor:default;
}

#toolbar {
    padding-bottom:5px;
}

#toolbar .selected {
    background-color:#B5BED6;
    border-width:1px;
    border-color:blue;
    /*border-color:#08246B;*/
    border-style:solid;
}

/*---( Tooltip styles)---*/

#tooltip {
    padding: 3px;
    background: #f9f9f9;
    border: 1px solid black;
    text-align: center;
    font-size: smaller;
}

.tip {
    border-bottom: 1px solid #eee;
}