/*---( Yahoo treeview folder styles )---*/

/* first or middle sibling, no children */
.ygtvtn { background: url(../../images/treeview/tn.gif) 0 0 no-repeat; width:17px; height:22px; }

/* first or middle sibling, collapsable */
.ygtvtm { background: url(../../images/treeview/tm.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
.ygtvtmh { background: url(../../images/treeview/tmh.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* first or middle sibling, expandable */
.ygtvtp { background: url(../../images/treeview/tp.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* first or middle sibling, expandable, hover */
.ygtvtph { background: url(../../images/treeview/tph.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* last sibling, no children */
.ygtvln { background: url(../../images/treeview/ln.gif) 0 0 no-repeat; width:17px; height:22px; }

/* Last sibling, collapsable */
.ygtvlm { background: url(../../images/treeview/lm.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* Last sibling, collapsable, hover */
.ygtvlmh { background: url(../../images/treeview/lmh.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* Last sibling, expandable */
.ygtvlp { background: url(../../images/treeview/lp.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* Last sibling, expandable, hover */
.ygtvlph { background: url(../../images/treeview/lph.gif) 0 0 no-repeat; width:17px; height:22px; cursor:pointer }

/* Loading icon */
.ygtvloading { background: url(../../images/treeview/loading.gif) 0 0 no-repeat; width:16px; height:22px; }

/* the style for the empty cells that are used for rendering the depth 
 * of the node */
.ygtvdepthcell { background: url(../../images/treeview/vline.gif) 0 0 no-repeat; width:17px; height:22px; }

.ygtvblankdepthcell { width:17px; height:22px; }

/* the style of the div around each node */
.ygtvitem { }

/* the style of the div around each node's collection of children */
.ygtvchildren { }  
* html .ygtvchildren { height:1%; }

/* the style of the text label */
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover {
	margin-left:2px;
	text-decoration: none;
    color:black;
}

/*---( Treeview node styles )---*/
.file, .file_o {
    background: url(../../images/treeview/file.gif) 0 0 no-repeat; width:16px; height:22px; cursor:pointer;
}

.folder {
    background: url(../../images/treeview/c.gif) 0 0 no-repeat; width:16px; height:22px; cursor:pointer;
}

.folder_o {
    background: url(../../images/treeview/o.gif) 0 0 no-repeat; width:16px; height:22px; cursor:pointer;
}

/*---( Actions )---*/

td.archive {
    background: url(../../images/compress.gif) 0 4px no-repeat; width:16px; height:22px; cursor:pointer;
}

td.decorate {
    background: url(../../images/page_white_paint.png) 0 4px no-repeat; width:16px; height:22px; cursor:pointer;
}

td.download {
    background: url(../../images/arrow_down.gif) 0 4px no-repeat; width:16px; height:22px; cursor:pointer;
}

td.html {
    background: url(../../images/page_world.gif) 0 4px no-repeat; width:16px; height:22px; cursor:pointer;
}

/*---( action legend. )---*/
#legend {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.decorate
{
    background-image: url(../../images/page_white_paint.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

li.archive
{
    background-image: url(../../images/compress.gif);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

li.download
{
    background-image: url(../../images/arrow_down.gif);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

li.html
{
    background-image: url(../../images/page_world.gif);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

/* TODO: view reference needs to be removed, and replaced with a generic reference defined within the treeview.js */

#view .selected {
    background-color:#316AC5;
    border-width:1px; border-color:#316AC5; border-style:solid;
}

#view .selected:link, .selected:visited, .selected:hover {
    color:white;
}

/*--- ( Artifact tree view. ) ---*/
#artifactTree a, #artifactTree a:hover {
    border-bottom: none;
    font-weight: normal;
}

#artifactTree .selected {
    color:black;
}

/*--- ( Working Copy tree view. ) ---*/
#wcTree a, #wcTree a:hover {
    border-bottom: none;
    font-weight: normal;
}

#wcTree .selected {
    color:black;
}