<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    #favicon()

    <link href="${base}/css/reset.css?#version()" rel="stylesheet"/>

    <link href="${base}/css/kendo/kendo.common.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/kendo/kendo.metro.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/kendo/kendo.custom.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/font-awesome.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/core.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/config.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/admina.css?#version()" rel="stylesheet"/>

    <script>
        window.baseUrl = "${base}";
        window.apiPath = "/api";
    </script>

    #javascript()
        zutubi/admin/package.js
    #end

    <title>:: pulse :: administration</title>
</head>
<body>
<div id="navbar">
</div>

<div id="content">
    <div id="notification"></div>
    <div id="config-view" style="height: 100%; width: 100%">

    </div>
</div>

#footer("footer")

<script>
    var userName,
        canLogout = false;

#if($loggedInUser)
    userName = '#jss($loggedInUser.name)';
#end
#if($canLogout)
    canLogout = true;
#end

    Zutubi.admin.init(userName, canLogout, $admin, $projectCreateAllowed, $agentCreateAllowed);

    $(document).ready(function()
    {
        Zutubi.admin.start();
    });
</script>
</body>
</html>
