<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <link href="${base}/css/reset.css?#version()" rel="stylesheet"/>

    <link href="${base}/css/kendo/kendo.common.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/kendo/kendo.metro.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/font-awesome.min.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/core.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/config.css?#version()" rel="stylesheet"/>
    <link href="${base}/css/admina.css?#version()" rel="stylesheet"/>

    <script>
        window.baseUrl = "${base}";
        window.apiPath = "/api";
    </script>

    #javascript()
        zutubi/admin/package.js
    #end

    <title>Pulse Admin</title>
</head>
<body>
<div id="navbar">
</div>

<div id="content">
    <div id="notification"></div>
    <div id="config-view" style="height: 100%; width: 100%">

    </div>
</div>

<div id="footer">
    <b>::</b> <a href="http://zutubi.com/products/pulse/">pulse</a> ($version_number #$build_number)
    <b>::</b> copyright &copy; 2005-2016 <a href="http://zutubi.com/">zutubi pty ltd</a> <b>::</b>
    <a href="http://jira.zutubi.com/">report bug/request feature</a>
</div>

<script>
    var userName,
        canLogout = false;

#if($loggedInUser)
    userName = '#jss($loggedInUser.name)';
#end
#if($canLogout)
    canLogout = true;
#end

    Zutubi.admin.init(userName, canLogout, $admin, $projectCreateAllowed, $agentCreateAllowed);

    $(document).ready(function()
    {
        Zutubi.admin.start();
    });
</script>
</body>
</html>
