#macro(statRow $stat $value)
    <tr>
        <th class="content">$stat</th>
        <td class="content-right">$value</td>
    </tr>
#end

#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=administration")</title>
</head>
<body>
    #parse("/template/includes/actionerrors.vm")

    <h1 id="hibernate.statistics.heading">:: hibernate statistics ::</h1>
    <p>
        Hibernate statistics are #if($on) enabled. #else disabled. #end
    </p>
    <p>
        <a id="link.toggle" href="$base/admin/actions?hibernateStatistics=toggle&_dc=$random">#if($on) Switch off #else Switch on #end</a>
    </p>
#if($on)
    <h2 class="section">Second-Level Cache</h2>
    <p>Total size of second level cache: $secondLevelCacheSizeKB KB ($secondLevelCacheSizeMB MB)</p>

    #set($regions = $secondLevelCacheStats.keySet())
    #foreach($region in $regions)
    <table class="content">
        #headingRow($region 2)
        #set($cacheStats = $secondLevelCacheStats.get($region))
        #statRow("element count in memory" $cacheStats.elementCountInMemory)
        #statRow("element count on disk" $cacheStats.elementCountOnDisk)
        #statRow("hit count" $cacheStats.hitCount)
        #statRow("miss count" $cacheStats.missCount)
        #statRow("put count" $cacheStats.putCount)
        #statRow("size in memory" $cacheStats.sizeInMemory)
    </table>
    #end

    <h2 class="section">Queries</h2>

    #set($queries = $queryStats.keySet())
    #foreach($query in $queries)
    <table class="content">
        #headingRow($query 2)
        #set($qs = $queryStats.get($query))
        #statRow("cache hit" $qs.cacheHitCount)
        #statRow("cache miss" $qs.cacheMissCount)
        #statRow("cache put" $qs.cachePutCount)
        #statRow("execution count" $qs.executionCount)
        #statRow("execution average time" $qs.executionAvgTime)
        #statRow("execution max time" $qs.executionMaxTime)
        #statRow("execution min time" $qs.executionMinTime)
        #statRow("execution row count" $qs.executionRowCount)
    </table>
    #end

    <h2 class="section">Entities</h2>

    #set($entities = $entityStats.keySet())
    #foreach($entity in $entities)
    <table class="content">
        #headingRow($entity 2)
        #set($entityStats = $entityStats.get($entity))
        #statRow("fetch count" $entityStats.fetchCount)
        #statRow("load count" $entityStats.loadCount)
        #statRow("insert count" $entityStats.insertCount)
        #statRow("update count" $entityStats.updateCount)
        #statRow("delete count" $entityStats.deleteCount)
    </table>
    #end
#end
</body>
</html>
