#helpTag("Plugins+(Setup+and+Administration)")
#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=plugins")</title>
    <script type="text/javascript">
        var pluginsTree;
        var detailPanel = new Zutubi.DetailPanel();

        Ext.onReady(function() {
    #if($id)
            var path = '$id';
    #else
            var path = 'plugins';
    #end
            var center = Ext.getCmp('nested-center');
            center.add(detailPanel);

            pluginsTree = new Zutubi.PluginsTree({
                el: 'plugin-tree',
                detailPanel: detailPanel
            });

            var nestedWest = Ext.getCmp('nested-west');
            nestedWest.add(pluginsTree);

            pluginsTree.render();
            nestedWest.show();
            nestedWest.setWidth(300);
            Ext.getCmp('nested-east').show();
            viewport.doLayout();
            pluginsTree.selectConfigPath(path);
            pluginsTree.getRootNode().expand();
        });
    </script>
</head>
<body>
    #adminTabs("plugins")

    <div id="plugin-tree">
    </div>

    <div id="detail-pane" style="padding: 10px; min-height: 100%"></div>
</body>
</html>
