#macro( renderQuartzTriggerState $state)
    #if ($state == -1)<span style='color:black;'>none</span>#end
    #if ($state == 0)<span style='color:blue;'>normal</span>#end
    #if ($state == 1)<span style='color:orange;'>paused</span>#end
    #if ($state == 2)<span style='color:green;'>complete</span>#end
    #if ($state == 3)<span style='color:red;'>error</span>#end
    #if ($state == 4)<span style='color:red;'>blocked</span>#end
#end

#macro( renderTriggerState $state)
    #if ($state.ordinal() == 0)<span style='color:blue;'>scheduled</span>#end
    #if ($state.ordinal() == 1)<span style='color:black;'>none</span>#end
    #if ($state.ordinal() == 2)<span style='color:orange;'>paused</span>#end
#end

#authorisationTags($principle)
<content tag="selectedTab">administration</content>
<html>
<head>
    <title>#wwtext("name=administration")</title>
</head>
<body>
    #parse("/template/includes/actionerrors.vm")
    
<h1 id="quartz.statistics.heading">Quartz Statistics</h1>
    
<h2>Quartz Scheduler</h2>
<h3>Triggers:</h3>
<table id="triggers" class="columns">
    #foreach($groupName in $scheduler.triggerGroupNames)
        <tr class="columns">
            <th class="content">Group</th>
            <th class="content">Name</th>
            <th class="content">Type</th>
            <th class="content">Pulse State</th>
            <th class="content">Quartz State</th>
            <th class="content">Trigger Count</th>
            <th class="content">Project ID</th>
            <th class="content">Cron (if applicable)</th>
        </tr>
        #foreach($name in $scheduler.getTriggerNames($groupName))
            #set($trigger = $scheduler.getTrigger($name, $groupName))
            #set($pulseTrigger = $trigger.jobDataMap.source.getTrigger())
            <tr class="columns">
                <td class="content">$!groupName</td>
                <td class="content">$!pulseTrigger.name</td>
                <td class="content">$!pulseTrigger.type</td>
                <td class="content">#renderTriggerState($pulseTrigger.state)</td>
                <td class="content">#renderQuartzTriggerState($scheduler.getTriggerState($name, $groupName))</td>
                <td class="content">$!pulseTrigger.triggerCount</td>
                <td class="content">$!pulseTrigger.project</td>
                <td class="content">$!pulseTrigger.cron</td>
            </tr>
        #end
        <tr><td>&nbsp;</td></tr>
    #end
</table>
<p>&nbsp;</p>
<h3>Trigger times:</h3>
<table id="times" class="columns">
    #foreach($groupName in $scheduler.triggerGroupNames)
        <tr class="columns">
            <th class="content">Group</th>
            <th class="content">Name</th>
            <th class="content">Next Fire Time</th>
            <th class="content">Previous Fire Time</th>
            <th class="content">Start Time</th>
        </tr>
        #foreach($name in $scheduler.getTriggerNames($groupName))
            #set($trigger = $scheduler.getTrigger($name, $groupName))
            #set($pulseTrigger = $trigger.jobDataMap.source.getTrigger())
            <tr class="columns">
                <td class="content">$!groupName</td>
                <td class="content">$!pulseTrigger.name</td>
                <td class="content">$!trigger.nextFireTime</td>
                <td class="content">$!trigger.previousFireTime</td>
                <td class="content">$!trigger.startTime</td>
            </tr>
        #end
        <tr><td>&nbsp;</td></tr>
    #end
</table>

<h2>Task Executor:</h2>
<table id="executor" class="columns">
    <tr class="columns">
        <th class="content">Active Count</th><td class="content">$!taskExecutor.activeCount of $!taskExecutor.poolSize </td>
    </tr>
</table>

</body>
</html>