#authorisationTags($principle)
<content tag="selectedTab">$section</content>
<html>
<head>
    <title>#wwtext("name=${section}")</title>
	<script type="text/javascript">
	    var actionInProgress = false;
        var configTree;
        var treesInitialised = false;
        var detailPanel = new Zutubi.DetailPanel();

        function handleSuccessfulConfigurationResponse(result)
        {
            configTree.handleResponse(result);
            configTree.redirectToNewPath(result);
        }

        var Layout = function()
        {
#if($id)
            var path = '#jss($id)';
#else
            var path = '';
#end

            return {
                init : function()
                {
                    var center = Ext.getCmp('nested-center');
                    center.add(detailPanel);

                    var loader = new Zutubi.tree.ConfigTreeLoader('#jss($base)/ajax/config');

                    configTree = new Zutubi.tree.ConfigTree({
#if($prefixPath)
                        pathPrefix: '#jss($prefixPath)',
#end
                        el: 'config-tree',
                        layout: 'fit',
                        border: false,
                        animate: false,
                        loader: loader,
                        autoScroll: true,
                        bodyStyle: 'padding: 10px'
                    });

                    var root = new Ext.tree.AsyncTreeNode({
                        id: '${tab}',
                        baseName: '${tab}',
                        text: '${tab}',
                        iconCls: 'config-${configClassification}-icon',
                        allowDrag: false,
                        allowDrop: false
                    });
                    
                    configTree.setRootNode(root);
                    configTree.getSelectionModel().on('selectionchange', onConfigSelect);

                    var nestedWest = Ext.getCmp('nested-west');
                    nestedWest.add(configTree);

                    configTree.render();
                    if (!path)
                    {
                        path = 'global';
                    }

                    nestedWest.show();
                    nestedWest.setWidth(300);
                    Ext.getCmp('nested-east').show();
                    viewport.doLayout();

                    treesInitialised = true;
                    configTree.selectConfigPath(path);
                    root.expand();
                }
            };
        }();
        
        Ext.onReady(Layout.init, Layout, true);
	</script>
</head>
<body>
#if($section == "administration")
    #adminTabs("${tab}")
#else
    #dashboardTabs("${tab}")
#end

    <div id="config-tree">
    </div>

    <div id="detail-pane" style="padding: 10px; min-height: 100%">
        #parse("/template/includes/actionerrors.vm")
    </div>
</body>
</html>
